[2022-05-23 12:07] yegor256 commented on #661
@Graur good question. Let's do it in Java, since in EO it would have too many copying operations.

[2022-05-23 12:25] Graur commented on #662
@yegor256 I can do it. But I have doubts about storing the array in the accumulator and calling the `array.append` object on each iteration, which uses `System.arraycopy()`. I think it will cost a lot for such operation. Or it's ok?

e.g.
[code]

[2022-05-23 12:27] yegor256 commented on #662
@Graur it's OK. we should do all optimizations later inside `append`.

[2022-05-23 12:27] yegor256 commented on #661
@Graur you know... I changed my mind. Let's do it in EO. All optimizations we'll do later, inside `with` method.

[2022-05-23 14:30] Graur opened #665 "infinity numbers"
Do we need a `POSITIVE_INFINITY` (= 1.0 / 0.0) and `NEGATIVE_INFINITY` = (-1.0 / 0.0) in EO?
Also `NaN`, `max`, `min` int and float values and others constants?

[2022-05-23 14:50] yegor256 commented on #665
@Graur most probably. That's why we have this: https://github.com/objectionary/home/issues/10

[2022-05-23 14:57] Graur commented on #665
@yegor256 Thanks! So I create this issue after `eo-math` release

[2022-05-23 15:00] yegor256 commented on #665
@Graur better report everything about math directly to eo-math repository

[2022-05-23 15:00] #665 closed, assigned to nobody

[2022-05-23 16:48] #620 closed

[2022-05-23 16:49] #629 closed

[2022-05-23 16:50] EugeneDar commented on #644
@yegor256 this problem has been solved.

[2022-05-24 02:49] yegor256 commented on #645
@EugeneDar thanks for solving it

[2022-05-24 02:49] #645 closed

[2022-05-24 02:49] yegor256 commented on #644
@EugeneDar thanks!

[2022-05-24 02:49] #644 closed

[2022-05-24 03:12] yegor256 commented on #651
@proxzi do you realize that this code dataizes `last` twice:

[code]

The first time when you say `last > k` and the second time when you do `k.eq 4`.

[2022-05-24 03:30] yegor256 commented on #643
@Graur you try it please

[2022-05-24 07:45] Graur commented on #623
@yegor256 Could you please tell what is the status of this issue?
And is this the same issue as #622?

[2022-05-24 15:08] EugeneDar opened #668 "int.mod work incorrect"
I added new test (localy) to int-tests.eo.
[code]
Result is Failure.
@Graur, please, check it.

[2022-05-24 15:19] Graur commented on #668
@EugeneDar Yes, you right. I will fix it.
@yegor256 please assign to me.

@EugeneDar BTW, you can write your tests in this way:
[code]

[2022-05-24 15:21] EugeneDar commented on #668
@Graur this code also doesn't work correct?
[code]

[2022-05-25 05:38] yegor256 opened #670 "can't we implement reducei using WHILE recursion"
Can't we get rid of Java in `reducei` and implement it with only EO. Most probably with recursion.

[2022-05-25 05:38] yegor256 commented on #670
@Graur please, try this one

[2022-05-25 05:42] yegor256 commented on #625
@MCJOHN974 try to fix this one

[2022-05-25 06:36] #668 closed

[2022-05-25 09:34] 0pdd commented on #623
The puzzle `414-aa62591c` has disappeared from the source code, that's why I closed this issue.

[2022-05-25 09:34] #623 closed

[2022-05-25 09:34] 0pdd commented on #414
@dours the puzzle [#622](https://github.com/objectionary/eo/issues/622) is still not solved; solved: [#623](https://github.com/objectionary/eo/issues/623).

[2022-05-25 09:34] yegor256 commented on #623
@rultor release, tag is `0.23.5`

[2022-05-25 09:34] rultor commented on #623
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25924-1137017368)

[2022-05-25 09:46] rultor commented on #623
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25924-1137017368) (took me 11min)

[2022-05-25 09:49] yegor256 commented on #623
@Graur should work fine in the latest version

[2022-05-25 09:49] #622 closed

[2022-05-25 09:49] 0pdd commented on #622
The puzzle `414-78631059` has disappeared from the source code, that's why I closed this issue.

[2022-05-25 09:49] 0pdd commented on #414
@dours all 2 puzzles are solved here: [#622](https://github.com/objectionary/eo/issues/622), [#623](https://github.com/objectionary/eo/issues/623).

[2022-05-25 10:36] yegor256 commented on #414
@dours should work now, try version 0.23.5

[2022-05-25 12:37] Graur opened #671 "`string.as-regex` object needed"
According to [this](https://github.com/objectionary/eo-hamcrest/issues/8) discussion we need to implement `.from-string` object.

[code]

[2022-05-25 12:56] MCJOHN974 opened #672 "Lines of code badge in README"
Lines of code badge in README now shows that there is zero lines of code in the repository. Is it a mistake ? I checked it in chromium for android and firefox for ubuntu. Zero lines of code in both devices

[2022-05-25 14:03] MCJOHN974 commented on #625
@yegor256 doed it mean i should leave unchanged this constant url, and find full hash via this url and abbreviated hash ?

[2022-05-25 14:41] yegor256 opened #673 "+home meta"

[2022-05-25 14:45] #672 closed

[2022-05-25 15:26] Graur commented on #671
@yegor256 maybe it would be better to do `string.as-regex` instead?

e.g.
[code]

[2022-05-25 15:51] #673 closed, assigned to nobody

[2022-05-25 17:33] Graur opened #675 "EOregex$EOmatch return type"
Why does `regex.match` have the `array` return type and return `matcher.groupCount()` in Java representation?

So, when I'm trying to match some word ignoring case:
[code]
I've got `FALSE`, because `groupCount()` returned the number of capturing groups in this matcher's pattern. And then when comparing the whole word, this method returned 0, according to Java docs:

@yegor256 How do you think, may

[2022-05-25 17:54] Graur commented on #662
@yegor256 please close the ticket if you don’t have any further questions.

[2022-05-25 17:55] Graur commented on #661
@yegor256 please close the ticket if you don’t have any further questions.

[2022-05-25 21:44] yegor256 opened #676 "get rid of int.as-float and float.as-int"
Let's get rid of `int.as-float` and `float.as-int`.

Users can do `int.as-bytes.as-float` instead.

[2022-05-25 21:45] yegor256 commented on #676
@MCJOHN974 please help

[2022-05-25 22:04] yegor256 opened #677 "bytes.and and bytes.or must accept vararg"
At the moment only a single argument can be applied to `bytes.and` and `bytes.or`. Let's make it possible to apply vararg, like it works for `bool.and` and `bool.or`.

[2022-05-25 22:05] yegor256 commented on #677
@MCJOHN974 please help

[2022-05-26 09:15] Graur opened #678 "regex atom DOTALL flag"
Why is the name of `DOTALL` flag mode in EO regex atom is `a`? (In [data.xls](https://github.com/objectionary/eo/blob/master/eo-maven-plugin/src/main/resources/org/eolang/maven/pre/data.xsl), s. 107)
According to[ Perl expression documentation](https://perldoc.perl.org/perlop#Regexp-Quote-Like-Operators) this flag should be `s`.

[2022-05-26 09:20] Graur commented on #670
@yegor256 Sure, I will do it

[2022-05-26 13:38] yegor256 commented on #678
@Graur let's fix this

[2022-05-26 14:16] Graur commented on #678
@yegor256 I changed the regex flag. Can you tell me how I can make sure I don't break other EO based projects?

[2022-05-27 09:43] Graur commented on #642
I decided to choose the `(long) Math.pow()` implementation way :
if exponent is negative, return 0: `(20.pow -1).eq 0`
if exponent is zero, return 1: `(-20.pow 0).eq 1`

[2022-05-27 12:14] Graur commented on #642
@yegor256 How do you think, maybe we need just delegate computing `int.pow` to the `float.pow` object ? Something like this:

[code]

[2022-05-27 13:10] yegor256 commented on #642
@Graur this is a good idea, I don't mind at all

[2022-05-29 03:27] yegor256 opened #684 "heap.malloc and heap.free implement in EO"
At the moment they are implemented in Java, which is redundant. We can easily implement them in EO.

[2022-05-29 03:27] yegor256 commented on #684
@Graur please, help us here

[2022-05-29 03:30] yegor256 commented on #675
@Graur a better option would be to include the "entire pattern" matching group into the resulting array, I believe

[2022-05-29 03:31] yegor256 commented on #662
@Graur thanks!

[2022-05-29 03:31] #662 closed

[2022-05-29 03:31] yegor256 commented on #661
@Graur thanks!

[2022-05-29 03:31] #661 closed

[2022-05-29 05:52] IngeniariusSoftware opened #685 "Show file and location in compilation errors"
For example, I'm trying to compile my project and I get this error.
The result does not provide information about the file and the location of the error. -X -e flags also don't help

![image](https://user-images.githubusercontent.com/33983579/170854168-cfe9f6ad-78ac-4168-93da-46c35182e088.png)

[2022-05-29 08:08] someilay opened #686 "Unexpected behaviour during dataization"
Code:
[code]

It runs well and prints expected "main" and 4. However, during dataization of last object in `seq` I thought that would be printed also "class.constructor", but it was not. Can somebody explain why it works so?

[2022-05-29 08:13] someilay commented on #686
@yegor256, can you help?

[2022-05-29 13:17] #671 closed

[2022-05-29 13:17] #678 closed

[2022-05-30 06:13] yegor256 opened #690 "QQ object as an alias of Q.org.eolang"
Let's make a built-in alias, which will help using standard objects in a more compact way:

[code]

instead of

[code]

Let's not forget to update the paper in the `paper/` directory.

[2022-05-30 06:14] yegor256 commented on #690
@Graur can you try this one?

[2022-05-30 08:56] Graur commented on #675
@yegor256 I've created [PR](https://github.com/objectionary/eo/pull/692) of this issue, but now I have doubts to apply these changes. Perhaps the presence of additional parentheses improves the readability of the regex. So, it's up to you.

[2022-05-30 09:02] Graur commented on #643
@yegor256 Sure, I'll do it

[2022-05-30 09:03] Graur commented on #670
@yegor256 please close the ticket if you don’t have any further questions.

[2022-05-30 09:04] Graur commented on #684
@yegor256 Sure, I will do it

[2022-05-30 09:51] MCJOHN974 opened #693 "Issues with build."
I am trying to build an eo program. I cloned this repo, created src/main/eo/main.eo file with code and run mvn clean test from eo/. I faced next error:
[code]
How eo programs should be build ?

[2022-05-30 11:16] yegor256 commented on #670
@Graur thanks!

[2022-05-30 11:16] #670 closed

[2022-05-30 11:17] yegor256 commented on #642
@Graur thanks!

[2022-05-30 11:17] #642 closed

[2022-05-30 11:21] yegor256 commented on #693
@MCJOHN974 see how it's done in https://github.com/objectionary/sandbox

[2022-05-30 11:22] yegor256 commented on #686
@someilay your example is too big, try to do some home work and make it shorter, read: https://www.yegor256.com/2022/03/29/bugs-occam-razor.html

[2022-05-30 11:23] yegor256 commented on #685
@IngeniariusSoftware try to run `mvn compile -e` -- you will see much more information

[2022-05-30 11:32] IngeniariusSoftware commented on #685
@yegor256 -X -e flags also don't help

[2022-05-30 11:35] yegor256 commented on #685
@IngeniariusSoftware show what you get with `-e` flag

[2022-05-30 12:40] someilay commented on #686
@yegor256, ok. What about this?
[code]

It doesn't print "init".

[2022-05-30 13:06] Graur commented on #686
@someilay I think it's because `cage.write` just store the object and do not dataized it. According to `cage.eo` description:

[code]

[2022-05-30 13:16] someilay commented on #686
@Graur. Last statement in `seq` is dataized as well. It prints 4, but it cannot be obtained without dataizaition of `init`. Moreover, if change name of free attribute `v` to `k` inside an `init` object, then program starts printing "init".

[2022-05-30 13:55] Graur commented on #686
@someilay

If I understood your example correctly, I think it can
e.g. this test is green

[code]

Could you provide an example?

[2022-05-30 14:50] IngeniariusSoftware commented on #685
@yegor256

<pre>[<font color="#12488B"><b>INFO</b></font>] <b>---------------------&lt; </b><font color="#2AA1B3">org.eolang:c2eo-transpiler</font><b> &gt;---------------------</b>
[<font color="#12488B"><b>INFO</b></font>] <b>Building c2eo-transpiler 1.0-SNAPSHOT</b>
[<font color="#12488B"><b>INFO</b></font>] <b>--------------------------------[ jar ]---------------------------------</b>
[<font c

[2022-05-30 16:02] yegor256 commented on #685
@Graur can you fix this please? I think `ParseMojo.parse` should catch `RuntimeException` and re-throw it with a message that includes the name of the file.

[2022-05-31 08:03] someilay commented on #686
@yegor256, I fixed [example](https://github.com/objectionary/eo/issues/686#issuecomment-1141111858)

[2022-05-31 08:04] yegor256 commented on #686
@someilay is `println "main"` absolutely necessary for this test? If I remove this line, the test will stop failing?

[2022-05-31 08:27] someilay commented on #686
@yegor256, it's just for telemetry. `println` signalizes what is dataized and what is not.

[2022-05-31 08:39] yegor256 commented on #686
@someilay try to find what else we can safely remove. Reading the code of that size is hard.

[2022-05-31 09:56] yegor256 commented on #686
@someilay why do you think it's a bug? In the first example, when `init` has `v` attribute, `o.v` reads it directly and prints (number `4`). In the second example, `init` doesn't have `v`, that's why its attribute `@` first gets dataized, which lead to `println`. I don't see a contradiction.

[2022-05-31 10:06] someilay commented on #686
Ok, thanks

[2022-05-31 10:06] #686 closed

[2022-05-31 10:23] someilay opened #694 "Need a flag for skiping invalid eo files during compilation"
Let's suppose I have two eo files: first is valid and runnable and second is invalid, non-compiliable. If I will try to execute `mvn clean compile`, it would fail due to invalid file. Therefore, I possibly cannot run valid one. It would be great if there will be special flag for compiling that allows to skip invalid files and handle valid ones.

[2022-05-31 10:23] someilay commented on #694
@yegor256. Can you implement this?

[2022-05-31 12:40] someilay opened #695 "Multiple dataization of the same object"
Code:
[code]

It seems that `constructor` object is dataized `n + 1` times, because program prints `n`.
@yegor256. Is it a bug or a feature?

[2022-05-31 12:49] Graur commented on #685
@yegor256 Is it a good way to catch `RuntimeException`?

[2022-05-31 13:20] yegor256 commented on #685
@Graur yes, it's OK to catch, at the highest level of an app. This level if the highest. See: https://www.yegor256.com/2015/07/09/catch-if-cant-otherwise.html

[2022-05-31 15:12] Graur commented on #643
@yegor256 Do you mean double quotes in `"\t"` and `"\n"` and `"\07"`? If I understood correctly, quotes `''` should be removed

[2022-05-31 15:56] yegor256 commented on #695
@someilay I'm not sure about `n+1`, but indeed every tie you say `a` inside `seq`, `constructor.@` gets dataized.

[2022-05-31 15:57] yegor256 commented on #675
@Graur fixed?

[2022-05-31 15:58] Graur commented on #675
@yegor256 yes, I will close it

[2022-05-31 15:58] #675 closed

[2022-05-31 15:58] yegor256 opened #697 "build is broken on Windows after #696"
@Graur take a look: https://github.com/objectionary/eo/runs/6671475799?check_suite_focus=true It seems we broke something in #696

[2022-05-31 16:06] Graur commented on #697
@yegor256 indeed, I've got a problem in this PR, but my last commit should fix the failed test. How can I restart all checks?

[2022-05-31 19:21] dours opened #699 "Why the regexp for aliases is SO strict? Shouldn't it be the same as for other identifiers?"
Here: https://github.com/objectionary/eo/blob/a56537b3a1b102dc5e1b0be18627c9212fcea7f0/eo-parser/src/main/resources/org/eolang/parser/errors/broken-aliases.xsl#L31
For example, it does not allow to use `pyInt` as an external identifier

[2022-05-31 19:22] dours commented on #699
because, say, `+alias pyInt preface.pyInt` does not match, as far as I understand. And it definityle generates the "broken alias" error

[2022-05-31 19:31] yegor256 commented on #699
@dours I agree, it's a bug, thanks for reporting

[2022-06-01 07:42] Graur commented on #699
@yegor256 Sure, I'll fix this

[2022-06-01 08:32] someilay commented on #695
@yegor256, Ok. What about `println a.v`? What is dataized? `constructor.v` or `constructor.@`?

[2022-06-01 17:41] yegor256 commented on #697
@Graur fixed, thanks

[2022-06-01 17:41] #697 closed

[2022-06-01 17:50] yegor256 commented on #643
@Graur would be great if you fix the paper as well, in `paper/` directory. It mentions `char` object in a few places.

[2022-06-01 18:07] Graur commented on #643
@yegor256 Yes, I missed that. Thanks!

[2022-06-01 18:14] Graur commented on #699
@yegor256 Can identifiers be only digits? Like: `+alias 0 1.2.3`.
Or can they contain digits? Like: `+alias myAlias1 org.eolang.smthng`

[2022-06-01 18:16] #660 closed

[2022-06-01 18:18] yegor256 commented on #699
@Graur check this: https://github.com/objectionary/eo/blob/master/paper/sections/syntax.tex#L20-L27

[2022-06-02 02:27] yegor256 opened #702 "error.eo is redundant"
Let's get rid of `error.eo`. It's not actively used anyway.

[2022-06-02 02:27] yegor256 commented on #702
@Graur please help

[2022-06-02 02:32] yegor256 opened #703 "array.get must not throw RuntimeException"
When an element of an array is not found by `get` it should not throw Java `RuntimeException`, but instead should return an error object, with `msg` attribute set to the error message.

[2022-06-02 09:02] someilay commented on #695
@yegor256. Just for clarifying. Does it skip dataization of `constructor.@` when `constructor.@.v` is being dataized?

[2022-06-02 09:24] yegor256 commented on #695
@someilay it's impossible to get `a.@.v` without dataizing `a.@`. How can we know where to get `v` if we don't dataize `@` first?

[2022-06-02 09:25] yegor256 commented on #660
@Graur thanks!

[2022-06-02 13:30] someilay commented on #695
@yegor256. Ok. If dataization of `constructor.@.v` implies dataization of `constructor.@`, why does code bellow prints 0 instead of 1?
Code:
[code]
It seems that `constructor` should be dataized twice. So `g` would be incremented also two times.

[2022-06-02 16:00] Graur commented on #684
@yegor256 Should these objects incapsulate `ram.write` and `ram.read` atoms?

[2022-06-02 17:26] MCJOHN974 commented on #625
@yegor256 can you explain please what I should do. Have I understand correctly in comment above?

[2022-06-02 17:31] yegor256 commented on #684
@Graur I'm not sure I understood the question. You will have to use `ram` object, since it's the only possible way to access random-access memory.

[2022-06-02 17:32] yegor256 commented on #695
@someilay your example is too large for such an educating question :) Make a smaller one and I will try to answer.

[2022-06-02 17:33] yegor256 commented on #702
@Graur the second option. we should NOT throw Java exceptions. instead, we should return something like `EOerror`

[2022-06-02 17:41] yegor256 commented on #625
@MCJOHN974 let's just check that the hash provided is either short Git hash or a long one, according to their standards. If not, throw an exception.

[2022-06-02 17:44] MCJOHN974 commented on #625
@yegor256 thanks, now it becames clear. But what I should do with the ```url``` field? Just left it uninitialized?

[2022-06-02 17:49] MCJOHN974 commented on #625
@yegor256 sorry. ```OyRemote``` objects have ```address``` field. Arguments of this constructor provides no information about this field. I should left it unchanged, right?

[2022-06-03 05:15] yegor256 opened #1542 "make sure all objects have +home and +version meta"
Let's add a test to Makefile, which will make sure all `.eo` objects have `+home` meta, which has a URL as a tail. Also, let's check for the presence of `+version` meta with a SemVer in the tail.

[2022-06-03 05:27] yegor256 opened #706 ""severity" attribute for <error> element in XMIR"
Let's add an optional `severity` attribute for `<error>` element in XMIR. Let's make sure all existing error catcher set it to `error`. All possible values (let's make sure XSD checks this) are:

  * `error`
  * `warning`
  * `advice`

Let's make sure Maven plugin fails only on `error`, if `failOnError` is set (see #694)

Let's also add `failOnWarning` flag to Maven plugin.

[2022-06-03 08:04] someilay commented on #695
@Graur. It prints `0` again.

[2022-06-03 08:26] someilay commented on #695
@yegor256. It's minimal example for reproducing such behaviour.

[2022-06-05 13:58] yegor256 commented on #699
@rultor release, tag is `0.23.6`

[2022-06-05 13:59] Graur opened #708 "error associated with LaTeX"
An error occurred when I'm trying to build latex pdf locally and also [broken build happen](https://github.com/objectionary/eo/runs/6726034248?check_suite_focus=true):
[code]
There is the command collision in `eo.sty` and `acmart.cls`.
I tried to fix this by changing `newcommand` to `renewcommand`, but that didn't work.

[2022-06-05 14:00] rultor commented on #699
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25977-1146809958)

[2022-06-05 14:11] rultor commented on #699
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25977-1146809958) (took me 10min)

[2022-06-05 21:31] #651 closed

[2022-06-06 11:10] Graur commented on #643
@yegor256 please close the ticket if you don’t have any further questions.

[2022-06-06 11:11] Graur commented on #702
@yegor256 please close the ticket if you don’t have any further questions.

[2022-06-06 11:22] Graur commented on #699
@dours You can check this update by increasing the version of EO up to `0.23.6`. Please, let me know if you have any further questions

[2022-06-06 11:22] Graur commented on #685
@IngeniariusSoftware You can check this update by increasing the version of EO up to `0.23.6`. Please, let me know if you have any further questions

[2022-06-06 11:35] yegor256 commented on #643
@Graur thanks!

[2022-06-06 11:35] #643 closed

[2022-06-06 11:36] yegor256 commented on #702
@Graur thanks!

[2022-06-06 11:36] #702 closed

[2022-06-06 11:38] IngeniariusSoftware commented on #685
@Graur It works, thanks

[2022-06-06 11:38] #685 closed

[2022-06-06 13:41] Graur commented on #690
@yegor256 Should I remove `Q` object and add `QQ` instead? Or just add `QQ` and leave `Q` as is?

[2022-06-06 13:48] yegor256 commented on #690
@Graur both of them should exist. `QQ` should just point to `Q.org.eolang`

[2022-06-06 15:33] dours opened #710 "exception "attribute is not initialized""
[code]

[2022-06-06 16:00] dours opened #711 "why so many copies of an external object?"
put this trivial.eo file to directory preface:
[code]
then this test fails:
[code]

[2022-06-06 16:08] yegor256 commented on #708
@Graur all fixed, the build is clean, thanks for reporting

[2022-06-06 16:08] #708 closed

[2022-06-06 23:12] IngeniariusSoftware opened #713 "stackOverflowError"
## Problem
if I use `n.mod`, I get the stackOverflowError, if I replace `mod` with `add` or something else, result is ok
## code
[code]
## result of `app` execution

![image](https://user-images.githubusercontent.com/33983579/172244066-0bf38fd0-9b5b-41e4-af17-45011196b0b1.png)

[2022-06-07 05:32] yegor256 commented on #713
@Graur try this one

[2022-06-07 06:53] Graur commented on #713
@yegor256 Sure, I'll fix this

[2022-06-07 07:57] yegor256 commented on #711
@dours it's a bug, I'm working on it, thanks for reporting

[2022-06-07 07:57] yegor256 commented on #710
@dours it's a bug, thanks for reporting. I fixed it already, please wait for the next release.

[2022-06-07 13:44] someilay commented on #695
@yegor256. The idea of example is that internal attribute of object depends from global state and durring its' initialization global state changes. It's also important to mention that it should be used `cage`, because dataization `write` allows to store object without its' own datatization. With those constraints it's imposible to create short example. Maybe It can be cut for few lines,but it is a

[2022-06-07 14:34] Graur opened #715 "to get rid of regex, text, sscanf and sprintf objects from eo-runtime"
We need to:

- [x] move regex atom from `eo.eolang` to `eo.eolang.txt` package
- [x] wait until [eo-string](https://github.com/InnoSWP/eo-strings) would be ready to implement it to their project
- [x] get rid of `regex` from `eo-runtime` in EO

[2022-06-07 14:41] Graur commented on #343
@yegor256 please, assign. It was my ticket all this time

[2022-06-07 20:23] dours opened #717 "an attribute is absent, though it is not"
This one fails
[code]

This worakround does not help (i.e., the following test fails with the same reason):
[code]

This attempt to minimize does not fail
[code]

[2022-06-08 07:55] rultor commented on #711
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25999-1149585622)

[2022-06-08 09:28] dours commented on #711
@yegor256 thank you, the test works with 23.7

[2022-06-08 09:30] #711 closed

[2022-06-08 09:30] yegor256 opened #718 "create package-info.java forcefully for all packages"

[2022-06-08 09:35] #710 closed

[2022-06-08 10:19] dours opened #719 "example from #711 fails to compile with ClassNotFoundException: EOpreface"
You need to recreate the same test as in #711  in an empty directory!

[2022-06-08 10:21] dours commented on #719
The directory EOpreface with sources is generated, but it is not compiled

[2022-06-08 10:22] dours commented on #719
though EOorg is compiled

[2022-06-08 11:47] Graur commented on #690
@yegor256 please close the ticket if you don’t have any further questions

[2022-06-08 13:18] yegor256 commented on #690
@Graur thanks!

[2022-06-08 13:18] #690 closed

[2022-06-08 18:13] dours opened #720 "StackOverflow because of a chain of 2 assignments"
(version 23.7)
[code]

But this one passes:
[code]

[2022-06-08 18:26] dours commented on #720
@yegor256  this problem currently leads to a failure of *all* of our regression tests . Also our CI fails now, even though it passed ok with the same version 23.6 of EO and exactly the same code in our repo (i.e., I added one space to the README, then the CI failed)

[2022-06-09 05:04] Graur commented on #715
@yegor256 according to [this paper](https://arxiv.org/pdf/2206.02585.pdf), I suggest that we don't need `regex` in parser too. New `regex` would just store `string`. And all matching manipulation would be in `regex.match` object. Am I right?

[2022-06-09 06:22] Graur opened #721 "how can we check that memory object is empty?"
In `0.23.7` `memory.is-empty` was deleted. How we can check it right now?

[2022-06-09 06:39] yegor256 commented on #721
@Graur we can't. See: https://news.eolang.org/2022-06-09-memory-enclosure.html

[2022-06-09 06:39] #721 closed

[2022-06-09 06:40] yegor256 commented on #720
@dours see this: https://news.eolang.org/2022-06-09-memory-enclosure.html Hope it helps

[2022-06-09 09:04] #718 closed

[2022-06-09 10:11] yegor256 opened #722 "EOmemory and EOcage fail on copying"

[2022-06-09 10:51] dours commented on #720
@yegor256 , thank you, this example now works, but all the tests fail because of #719 : files from a separate package are compiled, but the classes are lost in runtime

[2022-06-09 10:51] #720 closed

[2022-06-09 12:39] someilay opened #723 "Multiple dataization is a problem"
Let's consider the following code:
[code]

If we run it, we get the following output:
[code]

It seems that `my_object` have been dataized twice. And it is a problem, because this code should be equivalent to python code bellow:
[code]

@yegor256. Can you help?

[2022-06-09 14:14] Graur opened #724 "`string.slice` object"
According to this [paper](https://arxiv.org/pdf/2206.02585.pdf) p. 3.5 we need to add `string.slice` object

[2022-06-09 15:47] IngeniariusSoftware opened #726 "specify runtime version in pom.xml"
@yegor256, can you please explain in more detail exactly how to use this feature with hash? https://github.com/objectionary/eo/issues/479

[2022-06-09 18:07] yegor256 commented on #715
@Graur did you see the suggestion I made in this document: https://arxiv.org/abs/2206.02585 I understand that the "compile" is step is missing in my design. Maybe this one would be better:

[code]

[2022-06-09 18:32] yegor256 commented on #724
@rultor release, tag is `0.23.8`

[2022-06-09 18:44] rultor commented on #724
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26004-1151468225) (took me 10min)

[2022-06-09 19:07] yegor256 commented on #719
@dours do you still have the same problem? did you try version `0.23.8`?

[2022-06-09 20:00] dours commented on #719
@yegor256 No, I don't. No, I didn't, but then I tried and now I don't have the problem. So, all the old regression tests now pass in CI.

[2022-06-09 20:00] #719 closed

[2022-06-10 03:50] yegor256 commented on #726
@rultor release, tag is `0.23.9`

[2022-06-10 03:50] rultor commented on #726
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26005-1151903383)

[2022-06-10 03:52] #722 closed

[2022-06-10 03:54] yegor256 commented on #695
@someilay let's close this one as a duplicate

[2022-06-10 03:54] #695 closed

[2022-06-10 03:55] #658 closed

[2022-06-10 04:04] rultor commented on #726
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26005-1151903383) (took me 13min)

[2022-06-10 04:33] yegor256 commented on #726
@IngeniariusSoftware it was a bug, thanks for reporting. try version 0.23.9, it should work

[2022-06-10 05:47] yegor256 commented on #699
@dours I believe it's fixed, I'm closing the ticket. If you still see the problem, please submit a new ticket.

[2022-06-10 05:47] #699 closed

[2022-06-10 06:28] Graur commented on #715
@yegor256 What suggestion do you mean?
How can I use this design of `regex` object? Like this
[code]
?
I thought that we need two parameters: regex string and matching string.

[2022-06-10 06:35] yegor256 commented on #715
@Graur should be something like this:

[code]

[2022-06-10 06:37] Graur commented on #715
@yegor256 So the design would be:
[code]
?

[2022-06-10 09:37] yegor256 opened #727 "PhConst is making an unnecessary copy"

[2022-06-10 10:02] yegor256 commented on #727
@rultor release, tag is `0.23.10`

[2022-06-10 10:03] rultor commented on #727
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26006-1152193947)

[2022-06-10 10:16] rultor commented on #727
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26006-1152193947) (took me 12min)

[2022-06-10 10:41] #724 closed

[2022-06-10 10:51] IngeniariusSoftware commented on #726
@yegor256, I tried using version 0.23.9, but I still get the same result. For some reason, the main value is still used, and not the specified hash.

[code]

![image](https://user-images.githubusercontent.com/33983579/173047683-b3a3229f-abbc-4141-b557-c0b70fbcfe91.png)

and as I understand it, this request for hash 0.23.8 (13acd7881c77b055e19971f12b4dcd8f290b8ccd) https://raw.githubusercontent.com

[2022-06-10 11:01] #727 closed

[2022-06-10 11:11] yegor256 commented on #726
@IngeniariusSoftware this one works for me: https://raw.githubusercontent.com/objectionary/home/e2ede05d40361938b93302377da5bd6218239e14/objects/org/eolang/array.eo

[2022-06-10 11:22] someilay opened #728 "Cannot get attribute error"
Code:
[code]

Error:
[code]

Another code:
[code]

Anoter error:
[code]

[2022-06-10 11:22] someilay commented on #728
@yegor256. Please, help

[2022-06-10 11:25] yegor256 commented on #728
@someilay try this way:

[code]

[2022-06-10 11:29] #728 closed

[2022-06-10 11:33] someilay commented on #723
@yegor256. You suggest solution that is helpful only for this example. What's about more complex case? Let's suppose that `Number` also should store unique `id`. So, we are forced to use `cage` with this restricition.

[2022-06-10 11:35] yegor256 commented on #723
@yegor256 `cage` is storing an object, which is a "volatile" creature. It's a data structure, but more like a function, which behaves different way every time you touch it. Better use `memory` if you want to store something "static"

[2022-06-10 11:40] someilay commented on #723
@yegor256 . But how can I deal with a such object:
[code]

I want to store result of `add` and avoid its` recalculating.

[2022-06-10 12:00] someilay commented on #723
@yegor256.

Possible EO:
[code]

However, this program has more strange behaviour. It some how get `my_object.value` without dataization `inc.@`

[2022-06-11 04:17] yegor256 commented on #723
@someilay I think you need "constant" objects to help you, see: https://github.com/yegor256/reducing-programs-to-objects/commit/619abc80a6968359636090f460a5f2d14ab53e6b

[2022-06-11 08:39] #713 closed

[2022-06-11 14:30] dours opened #730 "cannot store a result of a function call, only the function call itself"
[code]
@yegor256 , should it be this way?

[2022-06-11 15:10] yegor256 commented on #730
@dours the test works or it doesn't work? I don't understand the description of the problem

[2022-06-11 17:45] dours commented on #730
@yegor256  it does not work

[2022-06-11 18:04] yegor256 commented on #730
@dours I don't understand why it should work. The first dataization of `x` leads to the first increment of `m`. The second leads to the second one. `x.eq x` means two dataizations of `x`. What do I miss?

[2022-06-11 18:10] dours commented on #730
@yegor256 how then do I store a result of a function call, so that the function was called only once?

[2022-06-11 18:17] yegor256 commented on #730
@dours see #723, it's exactly the same problem

[2022-06-11 18:17] #730 closed

[2022-06-11 18:18] yegor256 commented on #726
@Graur can you try to fix this one?

[2022-06-11 18:19] yegor256 commented on #703
@Graur please, fix this one

[2022-06-12 10:37] yegor256 opened #731 "stronger validation of identifiers"

[2022-06-12 10:38] yegor256 commented on #731
@Graur see my latest commit: 4684b491

[2022-06-12 12:35] yegor256 opened #732 "leading zeros must be prohibited in int"
At the moment, this is a valid syntax:

[code]

It should be illegal to add leading zeros to a number. Only a single zero is permitted, if the number is zero.

[2022-06-12 12:56] Graur commented on #715
@yegor256 How do you think, should we get rid of `regex` object from eo-parser too? I still have a problem with combining both of them: `/([.])/` and `(regex "/([.])/").compile`. I suggest that only second option will be available.

[2022-06-12 15:02] Graur commented on #703
@yegor256 Sure. I'll do it. Could you describe, please: what should user do, if he got `EOerror` instead of expected object?

[2022-06-12 15:08] yegor256 commented on #703
@Graur nothing. The user should continue working with the object. The runtime will terminate the program, if the element was not found. Read section 8.5 of this paper: https://arxiv.org/pdf/2111.13384.pdf

[2022-06-12 18:07] Graur commented on #731
@yegor256 Should we exclude also: `#`, `<`, `*`, `\` and `/` symbols?

[2022-06-12 19:39] yegor256 commented on #731
@Graur yes, definitely

[2022-06-13 11:28] someilay commented on #723
@yegor256. Can you explain why it works so? It seems that I don't fully understand how dataization work)

[2022-06-13 11:57] Graur commented on #731
@yegor256 please close the ticket if you don’t have any further questions.

[2022-06-13 11:58] Graur commented on #703
@yegor256 please close the ticket if you don’t have any further questions.

[2022-06-13 11:58] yegor256 commented on #731
@Graur thanks

[2022-06-13 11:58] #731 closed

[2022-06-13 12:00] yegor256 commented on #703
@Graur thanks

[2022-06-13 12:00] #703 closed

[2022-06-13 15:26] yegor256 commented on #723
@someilay I made some tests to confirm that it works. It works. You just need to make your "impure" procedure constant and that's it.

[2022-06-13 15:26] #723 closed

[2022-06-14 09:16] #495 closed

[2022-06-14 10:17] someilay opened #736 "Access to attribute without dataization"
Code:
[code]

It prints twice `1`. It is kinda strange for me because I expect that each access to `value` leads to dataizaation of `inc.@`. However, it doesn't happen at all. @yegor256, can you explain why?

[2022-06-15 09:54] yegor256 commented on #736
@someilay what happens if you remove `number`? still the same problem?

[2022-06-15 13:03] someilay commented on #736
@yegor256. What do you mean by removing `number`?

[2022-06-15 14:22] someilay commented on #736
@yegor256. Bug disapears in this case

[2022-06-15 18:27] yegor256 opened #738 "delete org.eolang.gray package"

[2022-06-15 18:30] #738 closed

[2022-06-16 03:56] yegor256 opened #739 "turn on Checkstyle in eo-runtime"
At the moment it's disabled. Let's turn it on and fix the code.

[2022-06-16 10:07] Graur opened #740 "bytes objects"
@yegor256 Should we get rid of `bytes.not` object it is not included in the "Origin of objects" article ? Or we should add `bytes.not` to it?

[2022-06-16 10:10] someilay commented on #736
@yegor256. Is it a bug?

[2022-06-16 12:12] Graur opened #742 "int objects according to "On the Origins of Objects""
Should we get rid of these objects because they are not included in the "Origin of objects" article ? Or we should add them to it?

1. int.xor
2. int.or
3. int.and
4. int.left
5. int.right
6. int.neq
7. int.mod (moved to eo-math)
8. int.pow (moved to eo-math)
9. int.as-float
10. int.as-string
11. int.abs (moved to eo-math)

[2022-06-16 13:39] MikhailLipanin opened #743 "typo"
In paper/sections/calculus.tex in Section 3.6 need to add " \rho. " to examples 9, 11, 13 at this line:
& \quad \quad \varphi \mapsto \rho.\ff{distance}(\ff{p}).\ff{leq}(\rho.\ff{radius}) \br

[2022-06-16 15:01] yegor256 commented on #743
@MikhailLipanin feel free to submit a pull request

[2022-06-16 15:04] yegor256 commented on #736
@someilay it seems to be a bug, but I'm not sure. The example is pretty complex, hard to tell whether your code is broken or the language is broken. I tried to invent a simpler example, but failed so far. If you can make a simpler one, it would help.

[2022-06-16 17:11] Graur opened #748 "float objects according to "On the Origins of Objects""
Should we get rid of these objects because they are not included in the "Origin of objects" article ? Or we should add them to it?
1. float.neq
2. float.neg
3. float.signum (will be implemented in eo-math)
4. float.pow  (will be implemented in eo-math)
5. float.abs (will be implemented in eo-math)
6. float.sin (will be implemented in eo-math)
7. float.cos (will be implemented in eo-math)
8. float.

[2022-06-16 21:16] dours opened #749 "Why does dataization happen on write to memory but not on memory initialization?"
i.e, why does this test fail (to @yegor256 )
[code]

[2022-06-17 03:23] yegor256 commented on #749
@dours because it's a declarative language :) `memory (x.eq 0) > b` doesn't do anything. It only creates object `b`. Only when you touch the object (dataization starts), the calculation happens.

[2022-06-17 03:23] #749 closed

[2022-06-17 07:57] yegor256 commented on #343
@Graur go ahead

[2022-06-17 08:20] Graur commented on #740
I think we can close it

[2022-06-17 08:20] #740 closed

[2022-06-17 11:53] 0pdd opened #752 "runtime-tests.eo:299-302: We need to remove the anything..."
The puzzle `755-95cd94b4` from #755 has to be resolved:

https://github.com/objectionary/eo/blob/bccce7568e27ea1b6ad7f00490f390bdbc320bc8/eo-runtime/src/test/eo/org/eolang/runtime-tests.eo#L299-L302

The puzzle was created by graur on 17-Jun-22.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2022-06-17 13:40] someilay opened #756 "XOR operation is broken"
Code:
[code]

It represents following operation: `2397719729 ^ 4294967295`. It should be equal to `1897247566`, but code above returns `8142508126287278926`.

Binary representations:
`00000000 00000000 00000000 00000000 10001110 11101010 01001100 10110001 = 2397719729`
`00000000 00000000 00000000 00000000 11111111 11111111 11111111 11111111 = 4294967295`
`00000000 00000000 00000000 00000000 011100

[2022-06-17 13:41] Graur commented on #742
@yegor256 I think, before removing this objects from EO, we need to wait for `eo-math` release with this objects aboard

[2022-06-17 14:52] Graur commented on #756
@yegor256 Sure

[2022-06-17 15:26] yegor256 commented on #736
@someilay not yet... working on it

[2022-06-17 15:48] Graur opened #760 "`nop` object"
We need to add `nop` object in `eo-runtime` which will encapsulate everything and do nothing. Also we need to add this object to papers.
Inspired by Assembler's `nop` (No Operations).

[code]

We can disable tests by this construction.
And lets' don't forget to fix `paper`.

[2022-06-17 16:02] yegor256 commented on #756
@rultor release, tag is `0.23.11`

[2022-06-17 16:03] rultor commented on #756
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26044-1159020523)

[2022-06-17 16:16] rultor commented on #756
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26044-1159020523) (took me 12min)

[2022-06-18 10:34] Graur commented on #756
@someilay You can check this update by increasing the version of EO up to `0.23.11`. Please, let me know if you have any further questions.

[2022-06-18 10:58] IngeniariusSoftware commented on #726
Thanks!

[2022-06-18 10:58] #726 closed

[2022-06-19 04:48] yegor256 opened #761 "'memory' must be strictly typed"
Let's make sure `memory` can only accept one "type" of data primitives. In other words, this code should lead to an error:

[code]

At the first line we save `int` and at the second one attempt to save `float`. The second line should cause an error.

Let's not forget to update the "Origins of Objects" paper.

p.s. Moreover, let's implement `memory` in EO instead of Java and let it use `ram`. This

[2022-06-19 04:48] yegor256 commented on #761
@Graur can you please help

[2022-06-19 08:59] Graur commented on #761
@yegor256 How can we check types in EO? By size?

[2022-06-19 09:55] someilay commented on #756
@Graur.

Error:
[code]

It seems that version `0.23.11` has not been released yet. However, bug disappeared on version `0.23.10`.

[2022-06-19 09:55] #756 closed

[2022-06-19 10:30] yegor256 commented on #761
@Graur yes, just checking by size will be enough

[2022-06-19 11:32] yegor256 opened #762 "resolve-aliases.xsl must not touch locally defined aliases"
This code:

[code]

must not expand to this:

[code]

[2022-06-19 12:52] yegor256 commented on #762
@rultor release, tag is `0.23.12`

[2022-06-19 12:53] rultor commented on #762
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26050-1159718417)

[2022-06-19 12:56] rultor commented on #762
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26050-1159718417) (spent 3min)

[code]

[2022-06-19 13:28] yegor256 commented on #762
@rultor release, tag is `0.23.12`

[2022-06-19 13:29] rultor commented on #762
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26050-1159726981)

[2022-06-19 13:33] rultor commented on #762
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26050-1159726981) (spent 4min)

[code]

[2022-06-19 13:52] yegor256 commented on #762
@rultor release, tag is `0.23.12`

[2022-06-19 13:53] rultor commented on #762
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26050-1159732618)

[2022-06-19 14:04] rultor commented on #762
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26050-1159732618) (took me 10min)

[2022-06-19 14:07] #762 closed

[2022-06-19 14:16] yegor256 opened #763 "unknown-names.xsl must not complain about local aliases"
similar to #762

[2022-06-19 14:21] #763 closed

[2022-06-19 18:36] yegor256 commented on #763
@rultor release, tag is `0.23.14`

[2022-06-19 18:37] rultor commented on #763
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26051-1159790101)

[2022-06-19 18:48] rultor commented on #763
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26051-1159790101) (took me 10min)

[2022-06-19 19:31] yegor256 opened #764 "don't save optimization XMLs unless explicitly required"

[2022-06-19 19:37] yegor256 opened #765 "local Objectionary cache must depend on the version"
Now, the first build of local EO program downloads `.eo` sources into `~/.eo` directory. Then, when I update the version of eo compiler to the latest one, I expect the latest `.eo` sources to come from Objectionary. However, the oldest versions are taken from the local cache.

To solve this, we should make local cache version-dependent. The request to `Objectionary` class should have two arguments

[2022-06-19 19:40] #764 closed

[2022-06-20 04:04] yegor256 commented on #693
@MCJOHN974 I'm closing this one. If any more issues, submit a new ticket.

[2022-06-20 04:04] #693 closed

[2022-06-20 07:44] Graur commented on #748
I think, before removing this objects from EO, we need to wait for eo-math release with this objects aboard

[2022-06-20 08:46] #752 closed

[2022-06-20 13:26] mximp commented on #732
I'm on it

[2022-06-20 13:54] someilay opened #767 "OR operation is broken"
Code:
[code]

It represents following operation: `2397719729 | -4294967296`. It should be equal to `-1897247567`, but code above returns `2397719729`.

Binary representations:
[code]

@yegor256. Can you fix it?

[2022-06-20 15:39] mximp opened #768 "Typo: section 2.1 Identity, State, and Behavior"
[code]

Should be '_has to **_be_** copied_'

[2022-06-20 16:17] yegor256 commented on #768
@mximp definitely a typo, feel free to submit a pull request

[2022-06-20 16:18] yegor256 commented on #767
@Graur can you please help?

[2022-06-20 19:32] Graur commented on #767
@yegor256 Sure, I'll do it

[2022-06-20 22:30] marceloamadeu commented on #739
@yegor256 can you assign to me?
Tks

[2022-06-21 00:51] yegor256 commented on #739
@marceloamadeu sure, go ahead please!

[2022-06-21 00:51] yegor256 commented on #739
@marceloamadeu I suggest you move slow in small increments/pull-requests, to avoid big mistakes

[2022-06-21 08:28] mximp opened #769 "EO Runtime: prints-complex-string test fails when using specific locales"
Test fails due to differences in decimal symbol for different locales.
When running for RU locale:
[code]

**Suggestion:** make test locale-agnostic

[2022-06-21 08:29] Graur commented on #742
Now I want to move operations above to `math` package of `eo-runtime`

[2022-06-21 08:36] yegor256 commented on #769
@mximp definitely a bug, let's fix

[2022-06-21 08:43] mximp commented on #769
Decimal separator in EO should always be '.' (dot)

[2022-06-21 10:08] mximp commented on #732
PR has been raised: #770
@yegor256

[2022-06-21 13:15] maxonfjvipon opened #773 "get rid of `float.sin` and `float.cos`"
Since [eo-math](https://github.com/objectionary/eo-math) was released, it has `angle` object with `sin` and `cos`, so they are not needed here any more

[2022-06-21 13:39] maxonfjvipon commented on #773
@Graur Yeah, my bad

[2022-06-21 13:39] #773 closed

[2022-06-21 13:54] #768 closed

[2022-06-21 13:54] maxonfjvipon opened #774 "double objects implementation"
Is (or will be) there a way we can try to implement object in `eo` before java?

Example: we have object `float.plus` that is implemented in java. We have in `eo-math` object `nan.plus` that is implemented in `eo` . IEEE says that every every math operation with `nan` as argument(s) must return `nan`.

And here we go: `nan.plus 42.2` returns `nan` (this it how it's done), but what `42.2.plus nan`

[2022-06-21 13:55] mximp commented on #768
Fixed & merged

[2022-06-21 16:06] mximp commented on #769
@yegor256, pls check: #776

[2022-06-22 08:17] Graur opened #777 "string objects according to "On the Origins of Objects""
We should get rid of every objects inside `string.eo` (exept `slice`, `length`, `as-bytes`, `as-hash` and `eq`) and move them to `txt` package in `eo-runtime`:

[2022-06-22 08:17] Graur commented on #777
@yegor256 please assign

[2022-06-22 08:23] Graur opened #778 "`switch` object needed"
According to [this](https://github.com/objectionary/on-the-origin-of-objects/blob/3dc098eff3e903690cba60fe8825cbc3172c6d1c/paper.tex#L306) we need to add object `switch` to `eo-runtime`:
[code]

[2022-06-22 09:44] #732 closed

[2022-06-22 09:45] yegor256 commented on #706
@mximp please, implement this

[2022-06-22 11:10] someilay opened #779 "Arithmetic issues"
Suppose we have a following Java code:
[code]

It prints `844062807`

One can provide a such analog in EO:
[code]

However, this code would print `9449772114007`. It happens because EO uses `int_64` (aka `long`) arithmetic. We can try fix it by finding a mod of multiplication:
[code]

Now a result is `844062807`. But, this approach works only for `a * b > 4294967296`. For example, if `a` equals to

[2022-06-22 11:11] someilay commented on #779
@yegor256. What do you think about it?

[2022-06-22 11:43] yegor256 commented on #779
@someilay well, EO is 64-bit language. Imagine, you would try to do something like this with 8-bit numbers at 32-bit x86 processor. You would face the same problems. We just need to create a proper library eo-digits for math operations with 8-bit, 16-bit, 32-bit numbers.

[2022-06-22 11:53] someilay commented on #779
@yegor256. For me, it is most convinient to introduce built-in `byte`, `short`, `int`, `long`, `float` and `double` as it made in Java.

[2022-06-22 12:27] Graur commented on #748
@yegor256 We've got `pow` object in `float.div`:
[code]

Should we add a `QQ.math.number.pow` here, or we need to make `float.div` an atom?

[2022-06-22 12:30] yegor256 commented on #748
@Graur I think we should make `float.div` an atom

[2022-06-22 14:05] mximp commented on #769
Fixed

[2022-06-22 14:05] #769 closed

[2022-06-22 15:46] #742 closed

[2022-06-22 15:46] Graur commented on #748
done in #775

[2022-06-22 15:46] #748 closed

[2022-06-23 07:24] Graur commented on #774
@maxonfjvipon One the one hand I agree with your idea: we need to think about such operations. On the other hand, we are making our `eo-runtime` dependent on objects from `eo-math`, which would be incorrect. Perhaps we can store these objects as constants?
 e.g.
[code]
@yegor256 WDYT?

[2022-06-23 09:46] someilay opened #782 "How to convert `float` to `string`?"
Recently `float` object has lost a `as-string`. So, how to convert `float` to `string`?

@yegor256. Can you explain it?

[2022-06-23 10:04] Graur commented on #782
@someilay I think new `number` object can help here. It is a [decorator](https://github.com/objectionary/on-the-origin-of-objects/blob/master/paper.tex#L396) of `int.eo` and `float.eo`.
e.g.
[code]
will return "3.0"

Or, maybe, `sprintf` object can help.

[2022-06-23 10:10] #782 closed

[2022-06-23 11:19] yegor256 commented on #694
@Graur this is getting more urgent. can you please fix?

[2022-06-23 11:36] maxonfjvipon commented on #774
@yegor256 what about infinities then? They require some extra logic too, like `nan`

[2022-06-23 11:38] yegor256 commented on #774
@maxonfjvipon I had an impression that `nan` is infinity. No?

[2022-06-23 11:48] maxonfjvipon commented on #774
@yegor256 IEEE says that no, they are different. NaN is 0/0, +inf is 1/0, -inf is -1/0. They have different logic and different results of the operations.

[2022-06-23 11:50] yegor256 commented on #774
@maxonfjvipon than we have to have them all in eo-runtime, I believe

[2022-06-23 11:51] yegor256 commented on #774
@maxonfjvipon another approach would be to make `float` _aware_ of nan, inf+ and inf+, but their presence will only be detectable by `number` from eo-math:

[code]

[2022-06-23 11:53] Graur commented on #694
@yegor256 Sure. Should we run it like a part of configuration (similar to `hash`)? Or like a profile `mvn clean compile -DfailOnError=false` ? Or maybe another approach?

[2022-06-23 13:01] someilay opened #783 "Current conversion from `float` to `int` is broken"
Code:
[code]

It prints `4751297606873776128` instead `4294967295`.

@yegor256. Can you fix it?

[2022-06-23 13:02] yegor256 commented on #783
@Graur can you please help

[2022-06-23 13:02] someilay commented on #783
@yegor256. I think that it is hard to distinguish `float` from 'int' in the byte form

[2022-06-23 13:09] someilay commented on #783
@yegor256. For example, how do we distinguish `3.0` from `4613937818241073152`?
[code]

[2022-06-23 13:12] someilay commented on #736
@yegor256. Did you achieve a result?

[2022-06-23 13:12] someilay commented on #767
@Graur. Bug is still present

[2022-06-23 13:36] Graur commented on #767
@someilay I think that is because EO has not been released yet

[2022-06-23 13:47] Graur commented on #783
@someilay I agree. That's why we can do this using our new `number` object.
[code]
should return 3.

[2022-06-23 16:01] yegor256 commented on #783
@someilay indeed, what you are doing is wrong: `float.as-bytes.as-int` doesn't guarantee that the input is equal to the output

[2022-06-23 16:01] #783 closed

[2022-06-23 18:42] yegor256 commented on #779
@someilay we will have them, in eo-digits library, very soon. See this document with the explanation: https://arxiv.org/pdf/2206.02585.pdf

[2022-06-23 18:42] #779 closed

[2022-06-24 13:03] someilay opened #787 "Aliases are broken"
`a.eo`:
[code]
`main.eo`:
[code]

Compiling and running `main.eo` lead to printing `1`

In other hand, if `main.eo` is:
[code]
it would prints `0`

Therefore, runtime behaviour of EO program is dependable from aliases.

@yegor256. Can you fix it?

[2022-06-26 04:09] yegor256 commented on #767
@rultor release, tag is `0.23.15`

[2022-06-26 04:09] rultor commented on #767
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26101-1166413334)

[2022-06-26 04:20] rultor commented on #767
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26101-1166413334) (took me 10min)

[2022-06-26 04:28] yegor256 opened #790 "varargs for plus, minus, times, and div"
Let's make it possible to do this:

[code]

We have similar functionality in `bool.or` and `bool.and` already. Let's introduce it here too, for `int.plus`, `int.minus`, `int.times`, and `int.div`. The same for `float`.

[2022-06-26 04:28] yegor256 commented on #790
@mximp please, help us here

[2022-06-26 04:50] yegor256 commented on #767
@someilay version 0.23.15 release, please try it

[2022-06-26 06:57] yegor256 opened #791 "QQ.math.random must have a seed"
Our current interface (and implementation) of `QQ.math.random` is wrong. It must have a seed provided. I suggest this one instead:

[code]

it will be used this way:

[code]

Let's not forget to update the papers.

[2022-06-26 06:58] yegor256 commented on #791
@mximp can you please help here

[2022-06-26 07:18] yegor256 opened #792 "string.slice throws one error on three different situations"
I believe, it would be better if we return three different errors with three different messages instead.

[2022-06-26 07:19] yegor256 commented on #792
@mximp can you please help

[2022-06-26 07:54] yegor256 opened #793 "as-string must be transparent and not create new object"
I think, this test should pass:

[code]

Now it doesn't pass.

The same should be true for `as-int`, `as-float`, and `as-bool`.

[2022-06-26 11:30] yegor256 opened #794 "add 'discovered-at' attribute to foreign.csv"
With a place of discovery of the object

[2022-06-26 16:43] #794 closed

[2022-06-27 09:36] someilay commented on #787
@yegor256. Please, help

[2022-06-27 09:37] someilay commented on #767
FIXED

[2022-06-27 09:37] #767 closed

[2022-06-27 09:52] Graur commented on #778
@yegor256 please close the ticket if you don’t have any further questions.

[2022-06-27 10:49] yegor256 commented on #778
@Graur thanks!

[2022-06-27 10:49] #778 closed

[2022-06-27 12:01] mximp commented on #792
@yegor256 Can you please provide code example? What situations are assumed?

[2022-06-27 12:04] yegor256 commented on #792
@mximp there are three cases here: https://github.com/objectionary/eo/blob/master/eo-runtime/src/main/java/EOorg/EOeolang/EOstring$EOslice.java#L53

[2022-06-27 12:09] mximp opened #796 "Document EO parsing process"
To simplify understanding by the newcomers it would be good to have parsing process described somewhere.
The description is supposed to include input/output structure of key steps as well as location of collaborators (xsl files, classes).

[2022-06-27 12:12] mximp commented on #796
@yegor256 do you find this appropriate?

[2022-06-27 12:17] yegor256 commented on #796
@mximp yes, definitely, would be nice to extent the README

[2022-06-28 07:52] yegor256 commented on #706
@mximp thanks!

[2022-06-28 07:52] #706 closed

[2022-06-29 07:52] mximp opened #798 "No information about /? atom syntax"
There is no information about the following syntax for atom declaration:
[code]
Checked docs:
- paper (https://arxiv.org/pdf/2111.13384.pdf)
- ```*.md``` files in the sources

I believe it needs to be added to the paper (section about atoms).

[2022-06-29 07:52] mximp commented on #798
@yegor256 FYI

[2022-06-29 10:32] mximp opened #799 "Wrong rho example in calculus paper"
![image](https://user-images.githubusercontent.com/40247101/176415617-75703eee-b904-42aa-afb7-1f333bd8d185.png)
If we write it with EO syntax:
[code]
Should be ```b.rho = c```

[2022-06-29 10:32] mximp commented on #799
@yegor256 is my understanding correct?

[2022-06-29 11:07] mximp commented on #799
As discussed:
1. b -> c doesn't create a copy (it's not an application). It's just labelling.
2. Expression g -> h.i(j) creates a copy of _i_ (with parameter _j_) and the creator is _h_.

[2022-06-29 11:08] mximp commented on #799
@yegor256 can be closed.

[2022-06-30 10:16] Graur commented on #694
@someilay I think you can try it in `0.23.15` just like this:
[code]

When the next release will be published, this feature will be more stable.

[2022-06-30 13:49] Graur opened #802 "ram.slice object"
According to [this](https://github.com/objectionary/on-the-origin-of-objects/blob/master/paper.tex#L357) `ram.slice` should works like this:

[code]

So, what object will we get after dataization of `s`? Will it be `ram` or `bytes` ? I suggest `ram`, then the code above would look like this:
[code]

[2022-06-30 14:13] egorklementev opened #803 "Unused import bypasses `failOnError` compilation flag"
Referring to #694

When I use
[code]
flag, it works well when some `.eo` files contain syntactical errors (`\t` symbols, for example).
However, when unused `+alias` occurrs, compiler does not show warning as in the syntactic error case, but cancels the whole compilation process.

It would be convenient to make EO compiler *not* fail in such cases.

[2022-06-30 14:17] Graur opened #804 "pdd-lint is broken"
Every build has the same error:

[code]

[2022-06-30 18:30] yegor256 commented on #803
@Graur please, fix it

[2022-06-30 18:40] yegor256 commented on #804
@Graur this should fix it: https://github.com/g4s8/pdd-action/pull/5

[2022-06-30 18:45] yegor256 commented on #799
@mximp ok

[2022-06-30 18:45] #799 closed

[2022-07-01 06:10] yegor256 commented on #787
@someilay are you sure? I just added a test and it passes: a6daa747

[2022-07-01 08:06] yegor256 commented on #787
@someilay maybe you are right. when I run it like this I see the error:

[code]

This code prints zero.

[2022-07-01 09:18] someilay commented on #787
@yegor256. It's somehow similar with #736.

[2022-07-01 11:45] mximp commented on #804
Still broken: https://github.com/objectionary/eo/runs/7147936049?check_suite_focus=true

[2022-07-01 18:33] Graur commented on #777
Done in #780

[2022-07-01 18:33] #777 closed

[2022-07-01 20:19] yegor256 commented on #777
@Graur thanks!

[2022-07-03 05:41] yegor256 commented on #739
@marceloamadeu how is it going? this is of high priority now

[2022-07-03 05:48] yegor256 opened #806 "broken-aliases doesn't accept a dash"
I'm getting this:

[code]

I think this alias is valid. Why our XSL complains?

[2022-07-03 05:49] yegor256 commented on #806
@Graur could you please take a look

[2022-07-03 06:09] yegor256 opened #807 "move array.* methods to org.eolang.collections.list object"
Let's move methods like `reduce`, `map`, etc to `org.eolang.collections.list` object, which should encapsulate an array.

[2022-07-03 06:09] yegor256 commented on #807
@Graur would be great if you can help

[2022-07-03 06:13] yegor256 opened #808 "metas-sorted.xsl"
Let's add a new checker into `eo-parser/src/main/resources/org/eolang/parsers/warnings` (new directory). It should add `<error>` element to XMIR if `<meta>` elements are not alphabetically sorted.

[2022-07-03 06:13] yegor256 commented on #808
@mximp please, help with this

[2022-07-03 06:19] yegor256 commented on #802
@Graur but `ram` has `as-bytes` attribute already. `(s.slice 0.5).as-string` should work just fine.

[2022-07-03 06:20] #802 closed

[2022-07-03 08:52] yegor256 opened #809 "metas-duplicated.xsl"
Let's catch when meta commands are duplicated and make a warning about it. Similar to what we do in #808. For example:

[code]

No harm done here, but it's not a clean code.

[2022-07-03 08:52] yegor256 commented on #809
@mximp please, help us here

[2022-07-03 12:29] Graur commented on #807
@yegor256 Sure, I will do it

[2022-07-03 12:30] Graur commented on #806
@yegor256 Sure

[2022-07-03 12:49] Graur commented on #806
@yegor256 This error occurs because there is no space after the `ring-buffer` and there is no identification target after this space. This will works:
[code]
Do we really need constructions without identifiers in aliases?

[2022-07-03 12:51] yegor256 commented on #806
@Graur yes, of course, all these statements are valid:

[code]

[2022-07-04 03:27] yegor256 opened #811 "unit test without '@'"
Let's add XSL checker for the following code:

[code]

Here, the test `foo` doesn't have `@` attribute. That's why it will not be executed. Let's catch this and raise a warning.

[2022-07-04 04:20] yegor256 commented on #787
@rultor release, tag is `0.23.16`

[2022-07-04 04:21] rultor commented on #787
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26136-1173324416)

[2022-07-04 04:27] rultor commented on #787
@someilay @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26136-1173324416) (spent 6min)

[code]

[2022-07-04 04:36] yegor256 commented on #787
@rultor release, tag is `0.23.16`

[2022-07-04 04:58] rultor commented on #787
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26136-1173334770)

[2022-07-04 05:04] rultor commented on #787
@someilay @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26136-1173334770) (spent 5min)

[code]

[2022-07-04 07:31] yegor256 commented on #739
@mximp please help us here

[2022-07-04 07:53] yegor256 commented on #787
@rultor release, tag is `0.23.16`

[2022-07-04 07:55] rultor commented on #787
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26136-1173476805)

[2022-07-04 08:06] rultor commented on #787
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26136-1173476805) (took me 10min)

[2022-07-04 08:16] yegor256 commented on #787
@someilay try version 0.23.16, I hope it should work

[2022-07-04 11:44] marceloamadeu commented on #739
@yegor256 Sorry for the delay in responding.

[2022-07-04 11:47] someilay commented on #787
@yegor256. It seems that this bug is resolved. But, what about #736?

[2022-07-04 12:26] Graur commented on #760
@kerelape please help us here

[2022-07-04 13:32] Graur commented on #806
@yegor256 please close the ticket if you don’t have any further questions.

[2022-07-04 14:46] mximp commented on #739
667 violations are found in prod sources.
Will start with them.

[2022-07-04 15:35] #804 closed

[2022-07-04 15:58] 0pdd commented on #636
@yegor256 the puzzle [#unknown]() is still not solved.

[2022-07-04 15:58] 0pdd commented on #490
@dours the puzzle [#unknown]() is still not solved.

[2022-07-04 15:58] 0pdd commented on #561
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-04 16:11] yegor256 commented on #343
@kreofil мы сделали объект `QQ.io.stdin`. он делает именно то, что описано в тикете выше. поэтому, закрываем)

[2022-07-04 16:11] #343 closed

[2022-07-04 16:41] Graur commented on #676
@yegor256 I think we can close this ticket, since #775  was merged

[2022-07-04 16:43] #676 closed

[2022-07-04 17:09] Graur commented on #807
@yegor256 Should these objects return `list` or `array` ?
e.g. we can write like this:
[code]
or like this:
[code]

[2022-07-04 19:10] yegor256 commented on #807
@Graur I think it's better to return `list`

[2022-07-04 21:02] maxonfjvipon commented on #774
@yegor256 I moved `random`, `number` and `angle` to eo-math.
1. Should I make a PR with removing these objects from eo-runtime?
2. What's the plan about the main topic of this issue? `0.div 0` is not only way to get `nan` as a result. I mean, it's allowed to write `QQ.math.nan.plus 42` and we get the right result - `nan`. And it should be allowed to write `42.0.plus (QQ.math.nan)`.

[2022-07-05 08:26] mximp opened #817 "Validate distribution of sequence generated by random"
Test that random sequence corresponds to normal distribution.

Random generation is implemented as part of #791.

[2022-07-05 08:27] mximp commented on #791
@yegor256 the task can be closed.

Issue was raised for validation of random distribution #817

[2022-07-05 09:00] #760 closed

[2022-07-05 09:41] EugeneDar opened #819 "We need have concatenation method for arrays"
In the future, we should have concatenate method for arrays. We need this to pull the whole table into one list in the hash-table class.

[2022-07-05 12:33] mximp opened #820 "Hamcrest falls into stack overflow when missing attribute is addressed"
Test below fails with stack overflow:
[code]
[code]

Expected behaviour: ```ExUnset``` is thrown

[2022-07-05 12:52] Graur commented on #820
@mximp Thanks! I [moved](https://github.com/objectionary/eo-hamcrest/issues/69) this issue to `eo-hamcrest`. I think you can close it now.

[2022-07-05 13:14] Graur commented on #807
@yegor256 If so, I think it would be better to add `list.as-array` object. WDYT?

[2022-07-05 16:18] EugeneDar opened #822 "We need have map/multimap classes"
Many tasks require a map interface for themselves.

[2022-07-05 16:39] EugeneDar commented on #822
@Graur in future we will have eo-json object, and this is essentially a wrapper on the map.

[2022-07-06 13:24] MCJOHN974 commented on #822
@EugeneDar, I think this objects can be implemented in EO

[2022-07-06 13:42] EugeneDar commented on #822
@MCJOHN974 do you think it is possible to achieve optimal runtime for this data structure without using Java? Please specify what you mean by that.

[2022-07-06 15:20] mximp commented on #820
Closing as will be tracked in eo-hamcrest

[2022-07-06 15:46] EugeneDar opened #828 "We need mutable array-list"
In many tasks we need to change the values in the array and it takes a very long time to do it in a linear time. For example, we need to be able to change array fields when rebuilding a hash table.
This structure will have three additional attributes: inject, replace, and extract . They encapsulate ★cage object.

[2022-07-06 18:01] yegor256 opened #829 "int.as-hash doesn't need to be an atom"
I believe `int.as-hash` can easily be implemented in EO

[2022-07-06 18:02] yegor256 commented on #829
@mximp please, help us here

[2022-07-06 18:02] yegor256 commented on #829
@mximp we can also fix `float.as-hash`

[2022-07-06 18:06] yegor256 opened #830 "bytes.as-hash doesn't need to be an atom"
I think it's not so difficult to implement it in EO

[2022-07-06 18:07] yegor256 opened #831 "string.as-hash doesn't need to an atom"
I think it can easily be implemented as such:

[code]

[2022-07-06 18:07] yegor256 commented on #831
@mximp please, help

[2022-07-06 18:08] yegor256 opened #832 "bool.as-hash doesn't need to be an atom"
It can easily be implemented in EO

[2022-07-06 18:08] yegor256 commented on #832
@mximp please help

[2022-07-06 18:16] EugeneDar commented on #828
@yegor256 sure, I will do it.

[2022-07-07 06:45] mximp commented on #792
@yegor256 the changes are merged. The issue can be closed.

[2022-07-07 07:16] mximp commented on #808
@yegor256 please confirm: ```error``` has to be with severity ```warning```?

[2022-07-07 07:18] yegor256 commented on #808
@mximp yes

[2022-07-07 07:42] mximp commented on #808
@yegor256 Also what is the expected order for metas?

[2022-07-07 07:44] yegor256 commented on #808
@mximp alphabetically

[2022-07-07 07:48] Graur commented on #807
@yegor256 Maybe we can keep  `array.eq` object?

[2022-07-07 07:56] mximp commented on #808
@yegor256 I mean head + tail, i.e. we want to sort at full line level?

[2022-07-07 11:57] Graur commented on #828
@EugeneDar I think `inject` object should:
1. Return current array if the capacity is enough to add new element to it.
2. Return new array if the capacity is not enough.

[2022-07-07 12:05] Graur commented on #828
@EugeneDar My bad, `inject` should returns `bool`

[2022-07-07 12:06] EugeneDar commented on #828
@Graur thanks.

[2022-07-07 15:13] mximp commented on #808
@yegor256 can be closed as implemented

[2022-07-07 15:39] yegor256 commented on #809
@mximp yes, definitely

[2022-07-07 16:07] #822 closed

[2022-07-07 16:09] 0pdd opened #837 "list-tests.eo:321-325: Remove all nop objects from tests...."
The puzzle `841-d9ebec39` from #841 has to be resolved:

https://github.com/objectionary/eo/blob/587c476e89c8e64d8aa6e49cc48c158caaec4fe0/eo-runtime/src/test/eo/org/eolang/collections/list-tests.eo#L321-L325

The puzzle was created by @Graur on 07-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2022-07-07 17:22] yegor256 opened #838 "new semantic of `org.eolang.error` object"
Let's do what is suggested in the "On the Origins of Objects" paper:

<img width="358" alt="Screen Shot 2022-07-07 at 8 20 28 PM" src="https://user-images.githubusercontent.com/526301/177833106-4c8f753d-dedd-483e-9fdb-440c2d2d2c2d.png">

[2022-07-08 05:59] yegor256 commented on #798
@mximp fixed in c6b21dbc

[2022-07-08 05:59] #798 closed

[2022-07-08 06:23] Graur commented on #838
@yegor256 Should we use `System.exit(1)` ?

[2022-07-08 06:54] mximp commented on #809
@yegor256 can be closed

[2022-07-08 06:56] mximp commented on #790
@yegor256 this can be closed

[2022-07-08 07:01] yegor256 commented on #838
@Graur if you use System.exit you won't be able to implement try/catch. I think we should use exceptions, but of a special time. Something like `ExError extends ExAbstract`

[2022-07-08 07:01] yegor256 commented on #809
@mximp thanks!

[2022-07-08 07:01] #809 closed

[2022-07-08 07:04] yegor256 commented on #790
@mximp thanks!

[2022-07-08 07:04] #790 closed

[2022-07-08 07:11] Graur commented on #807
@yegor256 please close the ticket if you don’t have any further questions.

[2022-07-08 08:09] mximp commented on #739
Our EOorg.EOeolang package doesn't fit checkstyle rule:
[code]

I suggest to exclude this package for now from checking.

To find out an approach how to configure suppression in qulice I raised https://github.com/yegor256/qulice/issues/1109.

[2022-07-08 09:48] mximp opened #841 "Implement `bytes.as-array`"
The object should return an arrays of `int`s which represent corresponding bytes.

The necessity arose for implementing hash code calculations for #830

[2022-07-08 09:51] mximp commented on #841
@yegor256 what do you think?

[2022-07-08 10:19] mximp commented on #829
@yegor256 can be closed

[2022-07-08 13:28] EugeneDar opened #842 "The combination of cage and reduce doesn't work correctly"
[code]
[code]
Note that the code of these two tests differs only in the place where the second element is added. In the first test, we add it through the reduce method. And in the second test, we simply add it via the with method.
In both examples, the code should do the same thing, but the first test outputs "28 2" and the second "28 42".

[2022-07-08 13:28] EugeneDar commented on #842
@Graur what do you think about it?

[2022-07-08 14:11] yegor256 commented on #829
@mximp thanks!

[2022-07-08 14:11] #829 closed

[2022-07-08 14:12] yegor256 commented on #829
@rultor release, tag is `0.23.17`

[2022-07-08 14:12] rultor commented on #829
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26183-1179035564)

[2022-07-08 14:24] rultor commented on #829
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26183-1179035564) (took me 11min)

[2022-07-09 20:03] Graur commented on #677
@kerelape please, take this task, the budget is 30 minutes
@mximp please, check it

[2022-07-10 03:35] yegor256 commented on #841
@mximp good idea, but it shouldn't be inside `bytes`. I think we can introduce some decorator of `bytes`, named maybe `byte-array`, and implement such attributes over there.

[2022-07-10 03:36] yegor256 opened #846 "'failOnWarnings' into eo-runtime"
Let's add this flag to `eo-maven-plugin` in `eo-runtime` module and fix all warnings

[2022-07-10 03:36] yegor256 commented on #846
@mximp please, help us

[2022-07-10 03:45] yegor256 opened #847 "ResolveMojo must fail if conflicting versions are found"
At the moment, I see this in the log:

[code]

Obviously, there is a conflict between `org.eolang:eo-runtime:0.23.17` and `org.eolang:eo-runtime:0.23.5`. `ResolveMojo` must terminate the build in this situation.

Also, let's make it possible to ignore this conflict with `ignoreVersionConflicts` flag, which is `FALSE` by default.

[2022-07-10 03:46] yegor256 commented on #847
@mximp could you please help

[2022-07-10 03:53] yegor256 commented on #743
@MikhailLipanin what's up with this one?

[2022-07-10 06:32] yegor256 opened #848 "empty objects must be prohibited"
This is from our paper:

<img width="337" alt="Screen Shot 2022-07-10 at 9 31 34 AM" src="https://user-images.githubusercontent.com/526301/178134056-d725e5c0-79f9-4125-879d-ec443ff283dc.png">

However, this code is still valid in EO of current version:

[code]

Let's make it illegal. I suggest fixing the grammar in `.g4` file.

[2022-07-10 06:33] yegor256 commented on #848
@yasamprom can you help us here?

[2022-07-10 07:58] yasamprom commented on #848
Yes!

[2022-07-10 09:40] mximp commented on #831
@yegor256 this can be closed

[2022-07-10 10:01] #831 closed

[2022-07-11 01:15] MikhailLipanin opened #849 "Error in paper/MakeFile"
After using `$make` command, there is an error:
[code]
But it can be fixed by installing packages `ffcode`, `to-be-determined` and `href-ul` manually to `tex/latex/` (this should be added to the README.md or the MakeFile file should be modified to automatically load these packages (If possible).)

But after that there is another error:
[code]
What represents Error 127?

[2022-07-11 01:16] MikhailLipanin commented on #743
@yegor256 #849

[2022-07-11 01:37] Graur commented on #837
@kerelape Since EO-hamcrest version was up to 0.2.6, we could get rid of nop objects in tests and fix them. Please, take this task, the budget is 30 minutes.
@mximp please, check it

[2022-07-11 03:52] yegor256 commented on #849
@MikhailLipanin the second error means that `jq` is not installed:

[code]

here: https://stedolan.github.io/jq/

[2022-07-11 03:55] #849 closed

[2022-07-11 03:55] yegor256 commented on #849
@MikhailLipanin should be easier now, I believe

[2022-07-11 07:15] mximp commented on #837
I believe this puzzle has wrong reference: it's originated from #807

[2022-07-11 10:32] #828 closed

[2022-07-11 10:33] EugeneDar commented on #828
we will not implement this

[2022-07-11 10:40] EugeneDar opened #851 "map.rebuild doesn't need to be an atom"
If we look at the current asymptotics of the other methods in the map class, we can make a rebuild method without using Java and without worsening the asymptotics.

[2022-07-11 10:58] EugeneDar commented on #851
I'm wrong, in fact the asymptotics will become cubic. Because the running time will be n $\cdot$ (the running time of the mapi method). And with the current implementation of mapi (via reduce and with), we get that the running time of mapi will be quadratic.

[2022-07-11 16:12] mximp commented on #841
@yegor256 Agree. I only think that 'byte-array' is logically an array and should decorate 'array'.
The usage example:
[code]

[2022-07-11 17:03] kerelape commented on #677
Shouldn't `bytes.xor` support vararg as well?

[2022-07-12 06:21] mximp commented on #677
@kerelape Indeed, it should.. Please implement.

[2022-07-12 09:55] mximp opened #854 "Implement `+version 0.0.0` check for eo modules"
The version must not be changed manually during development and must always be `0.0.0`.

Maven verifier plugin can be used to check presence of correct version.
https://maven.apache.org/plugins/maven-verifier-plugin/index.html

[2022-07-12 10:01] mximp commented on #854
@kerelape please implement this.
Budget is 30 minutes.

[2022-07-12 11:56] #677 closed

[2022-07-12 14:26] yegor256 opened #856 "prohibit comments inside objects"
let's prohibit them

[2022-07-12 15:50] MikhailLipanin opened #858 "Need to add "gsed" support in Linux"
Instead of "gsed" there is a "sed" using in Linux. Need to do a symlink (or smth).
@yegor256

[2022-07-12 16:09] kerelape opened #859 "> Shouldn't `bytes.xor` support vararg as well?"
@kerelape Indeed, it should.. Please implement.

_Originally posted by @mximp in https://github.com/objectionary/eo/issues/677#issuecomment-1181362696_

[2022-07-12 16:45] #856 closed

[2022-07-12 17:05] yegor256 commented on #858
@MikhailLipanin fixed in 3acdb00a

[2022-07-12 17:05] #858 closed

[2022-07-12 17:05] yegor256 commented on #851
@EugeneDar that's fine. we will worry about performance optimization later, in compile time.

[2022-07-13 10:20] kerelape commented on #846
@yegor256 where do I put this?

[2022-07-13 10:25] mximp commented on #832
@yegor256, merged. The task can be closed.

[2022-07-13 10:48] mximp commented on #846
Exact setting name is `failOnWarning`

[2022-07-13 10:55] kerelape commented on #846
This helped, thanks

[2022-07-13 11:14] kerelape commented on #846
What is the right order for metas?

[2022-07-13 11:53] EugeneDar opened #861 "The bug in reduce method"
[code]
[code]
Let's look at these two examples, they differ only in the place where we wrap the array with a list the second time. The values to be wrapped are the same.

Both tests should work, but the second test crashes and the first one succeeds.

[2022-07-13 12:19] mximp commented on #846
Metas should be ordered alphabetically.
You can check corresponding XSL within 'eo-parser'

[2022-07-13 12:46] EugeneDar commented on #861
@yegor256 please check

[2022-07-13 12:57] yegor256 commented on #856
@rultor release, tag is `0.23.18`

[2022-07-13 12:59] rultor commented on #856
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26220-1183191034)

[2022-07-13 13:12] rultor commented on #856
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26220-1183191034) (took me 12min)

[2022-07-13 15:11] mximp commented on #847
@yegor256 all done. The task can be closed

[2022-07-13 15:13] yegor256 commented on #832
@mximp thanks!

[2022-07-13 15:13] #832 closed

[2022-07-13 15:14] yegor256 commented on #791
@mximp thanks!

[2022-07-13 15:14] #791 closed

[2022-07-13 16:33] #841 closed

[2022-07-13 17:50] kerelape commented on #846
Build fails due to warnings in an object from another repository (to be exact, `eo-runtime` fails because of unsorted meta in `org.eolang.hamcrest.assert-that`). I think this is a bug - the plugin must not check an object, that is not a part of the current project.

<details>
<summary>Build output</summary>
[code]
</details>

[2022-07-13 19:25] yegor256 opened #863 "bytes-as-array is not equal to array"
After #841

This is my test:

[code]

But it doesn't work. Why?

[2022-07-13 19:25] yegor256 commented on #863
@mximp can you please explain/fix?

[2022-07-13 19:33] kerelape opened #864 "Build fails due to warnings in an object from another repository"
Build fails due to warnings in an object from another repository (to be exact, `eo-runtime` fails because of unsorted meta in `org.eolang.hamcrest.assert-that`). I think this is a bug - the plugin must not check an object, that is not a part of the current project.

<details>
<summary>Build output</summary>
<pre>
[INFO] Scanning for projects...
[INFO] ----------------------------------------------

[2022-07-14 04:57] IngeniariusSoftware opened #865 "`replace` in the `string` and `regex`"
It would be great to have variation of [replace](https://www.geeksforgeeks.org/java-lang-string-replace-java/) attributes in the [string](https://github.com/objectionary/eo/blob/master/eo-runtime/src/main/eo/org/eolang/string.eo) or/and [regex](https://github.com/objectionary/eo/blob/master/eo-runtime/src/main/eo/org/eolang/txt/regex.eo) objects.

[2022-07-14 07:45] br4ch1st0chr0n3 opened #866 "Create a web server for running EO programs"
Hi! I'd like to have an opportunity to have an [eoc](https://github.com/objectionary/eoc)-like tool in web. E.g., I send a request to a server and get either the errors or the result of running such program. Eventually, I'd like to use it in EO and 𝜑-calculus playground [try-phi](https://br4ch1st0chr0n3.github.io/try-phi-front/?editor=phi&snippet=%5B%0A%20%20a%20-%3E%203%2C%0A%20%20b%20-%3E%20%5E0

[2022-07-14 08:41] mximp commented on #846
@kerelape issue in `eo-hamcrest` needs to be fixed.
It shouldn't be difficult as there is a single object there.

[2022-07-14 13:09] #863 closed

[2022-07-14 13:47] mximp commented on #830
@yegor256 this can be closed

[2022-07-14 14:34] yegor256 commented on #865
@mximp let's discuss and implement this

[2022-07-14 14:39] yegor256 commented on #811
@mximp please help

[2022-07-14 14:40] yegor256 commented on #817
@mximp deal with this pls

[2022-07-15 02:22] yegor256 commented on #866
@br4ch1st0chr0n3 good idea, thanks!

[2022-07-15 03:57] yegor256 opened #868 "'unspile' doesn't delete .class files"

[2022-07-15 05:11] yegor256 opened #869 "make TOJOs cached in memory"
Now the instances of `Tojos` used in `eo-maven-plugin` for `foreign.csv` and `placed.csv` are pretty slow, since they read and write from disc on each operation. Let's decorate them with this: https://github.com/yegor256/tojos/issues/14

[2022-07-15 05:11] yegor256 commented on #869
@mximp can you please help

[2022-07-15 05:49] yegor256 commented on #868
@rultor release, tag is `0.23.19`

[2022-07-15 05:51] rultor commented on #868
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26240-1185198401)

[2022-07-15 06:07] rultor commented on #868
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26240-1185198401) (took me 16min)

[2022-07-15 06:10] #868 closed

[2022-07-15 06:13] yegor256 opened #870 "PullMojo must fetch specific hash, not just 'master'"
At the moment, `PullMojo` goes to objectionary using `master` hash. It's better to make it first checking what is the actual Git hash in master at the moment and then use it.

[2022-07-15 06:14] yegor256 commented on #870
@mximp please help

[2022-07-15 06:14] yegor256 commented on #694
@someilay what's up with this? let's close?

[2022-07-15 06:15] yegor256 commented on #640
@mximp can you try?

[2022-07-15 06:15] yegor256 commented on #632
@andreoss what's up with this?

[2022-07-15 06:16] yegor256 commented on #625
@mximp can you help?

[2022-07-15 06:16] yegor256 commented on #624
@mximp please help

[2022-07-15 06:18] yegor256 commented on #554
@mximp maybe you can also help?

[2022-07-15 06:21] yegor256 commented on #510
@i582 we decide to make them sorted alphabetically: #808

[2022-07-15 06:21] #510 closed

[2022-07-15 06:22] yegor256 commented on #494
@andreoss I believe it's fixed, extra test here: c6c47c47

[2022-07-15 06:22] #494 closed

[2022-07-15 06:23] yegor256 commented on #390
@andreoss it's done, I believe?

[2022-07-15 06:25] yegor256 commented on #371
@mximp can you help?

[2022-07-15 06:25] yegor256 commented on #307
@mximp please hep

[2022-07-15 07:33] yegor256 opened #871 "mandatoryUnplace option for maven plugin"

[2022-07-15 09:25] yegor256 commented on #871
@rultor release, tag is `0.24.0`

[2022-07-15 09:26] rultor commented on #871
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26241-1185356705)

[2022-07-15 10:11] yegor256 commented on #871
@rultor release, tag is `0.24.0`

[2022-07-15 10:11] rultor commented on #871
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26241-1185394536)

[2022-07-15 10:20] yegor256 opened #873 "UnplaceMojo.delete() doesn't delete empty directories"
`UnplaceMojo.delete()` deletes directories only sometimes. Some of them (even though they are empty) stay on the disc. Let's find out why it's happening, reproduce this in a test, and fix.

[2022-07-15 10:20] yegor256 commented on #873
@yasamprom please, help us

[2022-07-15 10:24] rultor commented on #871
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26241-1185394536) (took me 12min)

[2022-07-15 10:24] MikhailLipanin opened #874 "system returned with code 256 (in /paper/Make)"
[Error log](https://pastebin.com/gNRSm5E1)

[2022-07-15 10:25] #871 closed

[2022-07-15 10:25] MikhailLipanin commented on #743
@yegor256 #874

[2022-07-15 10:27] yegor256 commented on #874
@MikhailLipanin try to run this:

[code]

[2022-07-15 10:47] mximp commented on #865
Let's introduce new object within `org.eolang.txt` defined as follows:
[code]
where:
  `s` -  base string to replace in;
  `e` - is a string with regexp to search for;
  `r` - string to replace with.

`replace` would decorate EO `string` object.
Logically It will be equivalent to Java `String.replaceAll()`: replace all found matches within `s` to `r`.
Internally `replace` would use `org.eolang.txt

[2022-07-15 10:47] mximp commented on #865
@yegor256 what do you think regarding above?

[2022-07-15 10:49] yegor256 commented on #865
@mximp can you make an example with a number of replacements and also with substitutions: https://docs.microsoft.com/en-us/dotnet/standard/base-types/substitutions-in-regular-expressions

[2022-07-15 13:59] mximp commented on #865
@yegor256 please check now

[2022-07-15 15:42] mximp commented on #865
@yegor256 That's an option.

I was thinking: how would one chain replacements if need two or more?
Having your suggestion:
[code]
With my proposal:
[code]
Second one seems to be less verbose and more clear.

[2022-07-15 15:48] yegor256 commented on #865
@mximp the problem with your code is that there is no place for the "compiled" step. There is `compile` method in `regex` object, which prepares the regex for further processing. In my case:

[code]

[2022-07-15 15:55] mximp commented on #865
@yegor256 don't you think hiding `compile` step within `replace` (or `replaced`) functionality would simplify usage?

In you suggestion I would at least swap arguments: input string and replace pattern. This will make the latter closer to regexp  which may be referenced in it (via `$`).

[2022-07-15 18:57] mximp commented on #865
Let's introduce new attribute within `org.eolang.txt.regex` defined as follows:
[code]
where:
  `s` - input string to replace in;
  `r` - replacement pattern string.

`replaced` would decorate EO `string` object.
Logically It will be equivalent to Java `String.replaceAll()`: replace all found matches within `s` to `r`.
Replacement pattern `r` may contain special characters which are:
`$n` - refere

[2022-07-15 18:58] mximp commented on #865
@yegor256 renewed the induction

[2022-07-18 07:05] mximp commented on #846
https://github.com/objectionary/eo-hamcrest/issues/76 is raised to fix order in `eo-hamcrest`

[2022-07-18 07:07] #859 closed

[2022-07-18 07:40] yegor256 commented on #870
Duplicate of #625

[2022-07-18 07:40] #870 closed

[2022-07-18 07:42] yegor256 commented on #848
@yasamprom I'm closing since it's finished. Next time don't forget to ping the author of a ticket, when implementation is finished

[2022-07-18 07:42] #848 closed

[2022-07-18 07:42] yegor256 commented on #807
@Graur thanks!

[2022-07-18 07:42] #807 closed

[2022-07-18 07:56] Graur opened #876 "comments inside objects cause build to fail"
This simple test failed:
[code]

with exception:
[code]

Is it ok?

[2022-07-18 08:33] mximp opened #877 "Fix stylecheck warnings for `PhDefault`"
[code]

[2022-07-18 08:38] mximp opened #878 "Fix checkstyle warnings for `Vertices`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:39] mximp opened #879 "Fix checkstyle warnings for `AtComposite`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:41] mximp opened #880 "Fix checkstyle warnings for `Param`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:42] mximp opened #881 "Fix checkstyle warnings for `ExprReduce`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:44] mximp opened #882 "Fix checkstyle warnings for `EOstdin$EOφ`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:45] mximp opened #883 "Fix checkstyle warnings for `EOmultimap$EOrebuild`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:49] mximp opened #884 "Fix checkstyle warnings for EOtry"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:50] mximp opened #885 "Fix checkstyle warnings for `EOgoto`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:50] mximp opened #886 "Fix checkstyle warnings for `EOregex$EOmatch`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:51] mximp opened #887 "Fix checkstyle warnings for `EOsscanf`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 08:52] mximp opened #888 "Fix checkstyle warnings for `Oregex$EOcompile`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-18 11:20] yegor256 commented on #876
@Graur yes, this is by design, see: https://github.com/objectionary/eo/issues/856

[2022-07-18 11:20] #876 closed

[2022-07-18 11:23] rultor commented on #838
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26260-1187124484)

[2022-07-18 11:35] rultor commented on #838
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26260-1187124484) (took me 12min)

[2022-07-18 11:47] EugeneDar opened #890 "Map doesn't work correctly with large keys"
[code]
This test doesn't pass, I'll try to fix it.

[2022-07-18 11:54] Graur commented on #846
@kerelape @mximp new version of `eo-hamcrest` was released, thanks!

[2022-07-18 11:55] EugeneDar commented on #842
@yegor256 should I close this issue, because we don't plan to use the 'cage' in the future?

[2022-07-18 11:57] #838 closed

[2022-07-18 13:14] mximp commented on #846
@kerelape please try to rebuild `eo-runtime` with new version

[2022-07-18 15:09] EugeneDar commented on #890
Problem solved, I'm deleting this issue.

[2022-07-18 15:54] Graur commented on #803
@egorklementev Please, try it. Should work from EO version `0.23.17`. Let me know if you have any further questions.

[2022-07-19 04:23] yegor256 commented on #554
@mximp we want to keep eo-runtime completely dependency-free. JUL is part of JDK, that's why we use it.

[2022-07-19 05:07] #873 closed

[2022-07-19 09:29] Graur opened #893 "ram.slice should be a non-copying operation"
According to [this](https://github.com/objectionary/on-the-origin-of-objects/blob/master/paper.tex#L357) `ram.slice` should works like this:

[code]

[Here](https://github.com/objectionary/eo/issues/802) I've got an answer about `ram` decoration of `bytes`. But `bytes.slice` returns a new byte array. Do we need separated `ram.slice` object or we can just use `bytes.slice` instead?

[2022-07-19 10:42] #893 closed

[2022-07-19 13:10] EugeneDar commented on #861
@Graur please check

[2022-07-19 13:38] Graur commented on #861
@EugeneDar Could you please provide an exception message?

[2022-07-19 13:40] yegor256 commented on #765
Duplicate of #625

[2022-07-19 13:40] #765 closed

[2022-07-19 13:41] yegor256 commented on #625
@yasamprom please help

[2022-07-19 13:51] EugeneDar commented on #861
@Graur it is StackOverflow exception

[2022-07-20 06:02] Graur commented on #684
@yegor256 I decided to fix `ram` object first. According to [this](https://github.com/objectionary/on-the-origin-of-objects/blob/master/paper.tex#L357) `ram.slice` should works like this:

[code]

But I still can't find a way to make the `slice` object behave like `bytes` and `ram` at the same time. Maybe we need some intermediate operation before `s.slice 0 5`, like `as-bytes`? e.g. `s.as-bytes.s

[2022-07-20 07:15] yegor256 commented on #684
@Graur I suggest this:

[code]

[2022-07-20 08:49] mximp commented on #865
@yegor256 any objection we proceed implementation according to latest comment?

[2022-07-20 09:51] mximp commented on #307
I've repeated the steps in the description and the code has successfully compiled.
Current version of `eo-maven-plugin` (which I used):
[code]
The version in the description is:
[code]
which is quite behind the current one.

Also both snippets in the description contains double line carriage which is not compilable with current version of the plugin.

@Sitiritis @yegor256
If the issue cannot be re

[2022-07-20 09:57] mximp commented on #869
@yegor256 https://github.com/yegor256/tojos/issues/14 is not implemented yet - waiting for completion.

[2022-07-20 11:11] mximp commented on #640
@yegor256 how do you expect to pass a set of values via command-line props?
Seems there is no way to do this:
https://stackoverflow.com/questions/7351533/set-multiple-system-properties-java-command-line

[2022-07-20 11:38] potatmen opened #895 "Memory works incorrectly inside array"
[code]
In this code I'm creating an array of memory objects storing ints. I have one element, which's value is `0`. Then I change it to `1`, but when I print it, I see `0`, but should be `1`. Something same was stated here https://github.com/objectionary/eo/issues/842.

[2022-07-20 11:42] potatmen commented on #895
@yegor256 @Graur @mximp

[2022-07-20 12:00] EugeneDar commented on #895
@potatmen may be you should use 'seq'. And code can look like this:
[code]
This code prints 1.

[2022-07-20 12:02] potatmen commented on #895
Thanks!

[2022-07-20 12:02] #895 closed

[2022-07-20 12:41] yegor256 commented on #640
@mximp other params I pass with `-D` flag, and they work. This one doesn't work. But it should.

[2022-07-20 12:42] yegor256 commented on #865
@mximp looks good now, let's implement!

[2022-07-20 13:45] mximp commented on #640
@yegor256 In your example `sourceDir` is not a collection, it's a `File`.
I checked (Surefire Plugin sources)[https://github.com/apache/maven-surefire/blob/0e5de8f9f1351c6e88c31cff99fb7600e86ffe07/maven-surefire-plugin/src/main/java/org/apache/maven/plugin/surefire/SurefirePlugin.java#L212] as an example of such properties:
[code]
It uses `property` argument and defaults are defined explicitly in

[2022-07-20 15:09] potatmen opened #898 "Let's make underlining of the unused alias"
For example, if I don't use `list `and have `+alias org.eolang.collections.list` it would be great to make it underlined.

@yegor256 @yasamprom

[2022-07-20 15:55] Graur commented on #898
@potatmen I think it would be better to open such issue in https://github.com/objectionary/eo-intellij-plugin repository.

[2022-07-20 15:57] potatmen commented on #898
@Graur Thanks for advice!

[2022-07-20 15:57] #898 closed

[2022-07-20 16:55] yegor256 commented on #640
@mximp so, it's impossible to set such params from command line? If so, let's add a comment about this to our code base and remove this TODO puzzle, and that's it.

[2022-07-21 11:13] alex-semenyuk commented on #884
Outdated, no warnings

[2022-07-21 12:03] #885 closed

[2022-07-21 12:29] Graur commented on #885
@alex-semenyuk Thanks!

[2022-07-21 14:25] EugeneDar opened #901 "We need to add more methods to the text.eo"
Working with strings is a very common task, for example, we can't do without it at all when parsing json strings.
So we need this methods:
- [ ] contains
- [ ] index-of
- [ ] last-index-of

[2022-07-21 14:26] EugeneDar commented on #901
@yegor256 what do you think?

[2022-07-21 14:35] EugeneDar opened #902 "text.joined doesn't need to be an atom"
We can implement it via reduce method.

[2022-07-21 14:37] Graur commented on #901
@EugeneDar good point, go ahead!

[2022-07-21 16:39] MikhailLipanin opened #903 "Different result of parsing two similar codes to XMIR"
code on EO:
[code]
transforms to:
[code]

while this code:
[code]

transforms to:
[code]

[2022-07-21 17:06] MikhailLipanin opened #904 "When Parsing from XMIR to EO, BOOL objects are represented Wrong (as Lowercase)"
Boolean objects like TRUE/FALSE after applying `xmir-to-eo.xsl` represented as 'true'/'false', not 'TRUE'/'FALSE'.

[2022-07-21 17:15] MikhailLipanin commented on #904
@yegor256 #905

[2022-07-21 17:36] #904 closed

[2022-07-21 17:43] yegor256 commented on #904
@MikhailLipanin thanks!

[2022-07-21 17:45] yegor256 commented on #903
@MikhailLipanin can you make a smaller example? See https://www.yegor256.com/2022/03/29/bugs-occam-razor.html

[2022-07-21 19:52] EugeneDar opened #906 "We need to have list.sorted method"
In many algorithms we need exactly sorted data. It would be nice to have a method for sorting.

[2022-07-21 19:56] EugeneDar commented on #906
@yegor256 what do you think, should it work only with float and int types of values in the array?

[2022-07-21 19:56] EugeneDar commented on #906
Maybe this should work for all the datatypes that have the compare method 'lt', like int.lt and float.lt

[2022-07-22 03:12] 0pdd commented on #636
@yegor256 the only puzzle [#unknown]() is solved here.

[2022-07-22 03:49] yegor256 commented on #906
@EugeneDar I like the idea of relying on the existence of `lt` method in enclosed objects.

[2022-07-22 07:19] mximp commented on #640
Closing as resolved

[2022-07-22 07:19] #640 closed

[2022-07-22 10:06] #694 closed

[2022-07-22 14:04] EugeneDar commented on #901
I should close this issue, because I'll implement this features in eo-strings.

[2022-07-22 14:05] #901 closed

[2022-07-22 14:25] MikhailLipanin opened #908 "Parsing objects "QQ.*" to XMIR. Is it works correctly now?"
If we have this object in EO:
[code]
it transforms to XMIR as:
[code]
Is it correct now or it should be transformed in another way?
like:
[code]

Same thing appears with other QQ.* objects, for example "QQ.math.number" object transforms to:
[code]

[2022-07-22 14:41] yegor256 commented on #908
@MikhailLipanin I believe, this is valid parsing, according to the paper: https://arxiv.org/abs/2111.13384

[2022-07-23 02:54] yegor256 opened #909 "qulice 0.20.0"

[2022-07-23 03:12] yegor256 commented on #909
@rultor release, tag is `0.25.1`

[2022-07-23 03:13] rultor commented on #909
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26307-1193047372)

[2022-07-23 03:24] yegor256 commented on #909
@rultor status

[2022-07-23 03:24] rultor commented on #909
@yegor256 This is what's going on here:

 * request `1193047372` is in processing, command is `release`
 * request has 3 parameter(s):
  * `head`: `git@github.com:objectionary/eo.git`
  * `head_branch`: `master`
  * `tag`: `0.25.1`
 * build started 60 seconds ago
 * build is running in `/tmp/rultor-fbJF` directory
[ * Docker container ID: `ce5e69e0846f0570d8bf...`,  * working directory size: 2.5M,

[2022-07-23 03:26] rultor commented on #909
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26307-1193047372) (took me 13min)

[2022-07-23 03:28] #909 closed

[2022-07-23 04:22] yegor256 opened #910 "'error' object doesn't work as it should"

[2022-07-23 04:59] yegor256 commented on #910
@rultor release, tag is `0.25.2`

[2022-07-23 05:00] rultor commented on #910
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26308-1193060751)

[2022-07-23 05:14] rultor commented on #910
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26308-1193060751) (took me 13min)

[2022-07-23 05:17] #910 closed

[2022-07-23 08:44] EugeneDar commented on #906
It seems to me that we shouldn't aim for a sorting asymptotic better than quadratic, because we have to get the array from memory anyway, and we can only get it in quadratic time.

[2022-07-23 11:48] MikhailLipanin commented on #908
Based on the article, the 'method' attribute of objects in XMIR should be replaced with a similar object, but without using this attribute. (Section 6 in paper)

[2022-07-23 11:54] MikhailLipanin commented on #908
@yegor256, I misunderstood the possible representation of the 'QQ' object above. After conversion, without the 'method' attribute, it should look like this:
[code]

[2022-07-23 12:04] MikhailLipanin commented on #908
It is wrong to leave objects with a 'method' attribute, because after applying the Syntax.java class in XMIR, and then back using the XMIR.java class to EO, the following code will as result:
[code]
which is Wrong and will not dataize.

[2022-07-23 12:06] MikhailLipanin commented on #908
@yegor256 So, we need to add a transformation (if there is none), which will replace objects with the 'method' attribute with similar ones.

[2022-07-23 17:32] EugeneDar opened #912 "Conflict of memory and list.reduce"
[code]
Let's look at these two methods, they should return the same thing, which is number 7.
But now let's run tests with these methods, and see that test 2 succeeds and test 1 fails.
[code]

[2022-07-23 17:33] EugeneDar commented on #912
The whole code:
[code]

[2022-07-23 17:37] EugeneDar commented on #912
I've opened similar issues before.
@Graur perhaps this ticket is similar to the proposed one https://github.com/objectionary/eo/issues/861
Correct me if I'm wrong.

[2022-07-23 17:41] EugeneDar commented on #912
@yegor256 it seems to me that list.reduce has some fundamental problems when dealing with cage/memory. The reasons why I think so: https://github.com/objectionary/eo/issues/842 https://github.com/objectionary/eo/issues/861 https://github.com/objectionary/eo/issues/912 .
What do you think about it?

[2022-07-24 11:21] MikhailLipanin commented on #903
this is a problem with replacing objects with attribute 'method' to semantically equivalent and objects with a dot (".name").
Problem described at #908, #614

[2022-07-24 11:25] #903 closed

[2022-07-24 12:28] MikhailLipanin commented on #908
I figured out that after using the Syntax.java class, we need to apply the XMIR transformations sheet at the output - already ready-made ParsingTrain.java class.

[2022-07-24 12:28] #908 closed

[2022-07-25 07:43] kerelape opened #913 "`list.eq` freezes"
https://github.com/objectionary/eo/blob/587c476e89c8e64d8aa6e49cc48c158caaec4fe0/eo-runtime/src/test/eo/org/eolang/collections/list-tests.eo#L326-L334

If I remove `nop`(#837) from this test and do `mvn clean install -Pqulice` the build gets stuck on this test

[2022-07-25 08:25] Graur commented on #913
@kerelape There is no `eq` object in `array` anymore. So you can't compare arrays without a `list` decorator.

[2022-07-25 09:50] mximp commented on #913
@Graur @kerelape maybe we could amend `list.eq` so that it would wrap internally arrays with list when comparing them?

[2022-07-25 10:29] Graur commented on #913
@mximp `list` has already decorate the given `array`, so I think there is no need to wrap it.
e.g.
[code]
and
[code]
will work

[2022-07-25 11:31] #883 closed

[2022-07-25 11:54] mximp commented on #554
@yegor256 all is done in this task

[2022-07-25 11:55] dours opened #914 "0+1=0"
This fails
[code]

This one (without cage x) passes
[code]

This one (without cage tmp) passes as well
[code]

[2022-07-25 11:56] yegor256 commented on #554
@mximp thanks!

[2022-07-25 11:56] #554 closed

[2022-07-25 18:38] yegor256 opened #915 "throw ExFailure instead of returning EOerror"
Let's make it possible to just throw `ExFailure`

[2022-07-25 18:42] yegor256 commented on #915
@rultor release, tag is `0.25.3`

[2022-07-25 18:43] rultor commented on #915
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26328-1194468270)

[2022-07-25 19:00] rultor commented on #915
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26328-1194468270) (took me 16min)

[2022-07-25 19:00] #915 closed

[2022-07-25 19:24] yegor256 opened #916 "UnplaceMojo fails when files are absent"

[2022-07-25 19:56] yegor256 commented on #916
@rultor release, tag is `0.25.4`

[2022-07-25 19:59] rultor commented on #916
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26330-1194553918)

[2022-07-25 20:17] rultor commented on #916
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26330-1194553918) (took me 17min)

[2022-07-25 20:27] #916 closed

[2022-07-26 05:35] yegor256 opened #917 "code duplication in PhDefault.toString() and PhDefault.φTerm()"
The algorithms in `PhDefault.toString()` and `PhDefault.φTerm()` are very similar. Would be great to create a new class implementing such an algorithm and use it from both methods. Besides, the existing implementation doesn't handle recursion correctly. A recursive object leads to endless calculations and eventual hanging of the JVM.

[2022-07-26 05:36] yegor256 commented on #917
@Graur please, help us here

[2022-07-26 05:36] yegor256 commented on #913
@kerelape I believe, #917 should fix the "hanging" part of the problem

[2022-07-26 05:37] yegor256 commented on #912
@EugeneDar do you have a solution?

[2022-07-26 05:47] yegor256 opened #918 "QQ.collections.list.each must be implemented in EO"
Why do we need Java in this attribute? I suggest we implement it in EO using `bool.while` and `array.at`

[2022-07-26 05:47] yegor256 commented on #918
@Graur please, take care of this (or delegate)

[2022-07-26 05:48] yegor256 opened #919 "why do we need QQ.collections.list.as-array?"
This attribute is redundant. The `list` already _is_ an array. No need to take an array out of it.

[2022-07-26 05:49] yegor256 commented on #919
@Graur please, take care of this (or delegate)

[2022-07-26 05:52] yegor256 opened #920 "+architect meta"
Let's add `+architect` meta to all `.eo` files, using this format:

[code]

Also, let's add an XSL checker into `eo-parser` to make sure the tail of this meta is always an email, nothing else. The checker should complain with a `warning` severity level.

Also, together with this change, let's modify all copyright licenses in all `.java`, `.eo` and other files to this:

[code]

[2022-07-26 05:54] yegor256 commented on #920
@mximp please, take care of this (or delegate)

[2022-07-26 05:57] yegor256 opened #921 "mandatory comments for all abstract objects"
Let's add a new XSL check into `eo-parser` that will verify whether all abstract objects have comments prepending them. The severity level should be `warning`.

Also, let's make sure the comment:

  * starts with a capital letter
  * ends with a dot
  * includes only ASCII printable characters (`0x20-0x7f`)
  * is at least 64 characters long
  * is in Markdown
  * is grammatically correct :)

[2022-07-26 05:57] yegor256 commented on #921
@mximp please, take care of this (or delegate)

[2022-07-26 05:59] yegor256 commented on #914
@dours which version of EO do you use?

[2022-07-26 06:01] yegor256 commented on #874
@MikhailLipanin still having the problem or we can close this one?

[2022-07-26 06:05] yegor256 opened #922 "array.concat must be moved to list.concat"
It seems that the position of `concat` is wrong. First, it doesn't need to be implemented in Java, but must be in EO using `reduce`. Second, it is not essential to the `array` object. Just three methods `at`, `length`, and `with` are enough for the `array` to do _everything_ an array may need.

[2022-07-26 06:06] yegor256 commented on #922
@Graur please, fix this or delegate

[2022-07-26 07:55] mximp commented on #917
@yegor256 @Graur I believe `PhDefault.toString()` shouldn't repeat `PhDefault.φTerm()`. `toString` should be much simpler.
I'm changing slightly the logic of these methods as part of #865. Let's review the changes and maybe this can be closed.

[2022-07-26 07:56] mximp commented on #917
@yegor256 @Graur I believe `PhDefault.toString()` shouldn't repeat `PhDefault.φTerm()`. `toString` should be much simpler.
I'm changing slightly the logic of these methods as part of #865. Let's review the changes and maybe this can be closed.

[2022-07-26 08:17] dours commented on #914
@yegor256 I checked yesterday on 0.25.2

[2022-07-26 09:05] Graur commented on #878
@l3r8yJ please, help us here

[2022-07-26 11:42] EugeneDar commented on #912
@yegor256 unfortunately, I think with the current capabilities of code debugging, I won't be able to find what the error is.

[2022-07-26 12:08] l3r8yJ opened #924 "Compile error"
Split from #878

**Compilation failure in EOgoto:**

`[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /Users/l3r8y/IdeaProjects/eo/eo-runtime/src/main/java/EOorg/EOeolang/EOgoto.java: warnings found and -Werror specified
[INFO] 1 error
[INFO] -------------------------------------------------------------
[INFO] -------------------------------

[2022-07-26 13:07] EugeneDar opened #925 "We need use recursion in list.reduce realization"
Now we have a lot of problems, because we can't work with complex objects (like array of arrays) in reduce, because we put accumulator to the memory.
We can solve this problem by using recursion.

[2022-07-26 13:07] EugeneDar commented on #925
@yegor256 @Graur @mximp what do you think?

[2022-07-26 13:19] Graur commented on #925
@EugeneDar go ahead

[2022-07-26 13:25] Graur commented on #924
@l3r8yJ What version of java and maven are you using?

[2022-07-26 13:29] l3r8yJ commented on #924
@Graur `openjdk version "18.0.2" 2022-07-19` and `Apache Maven 3.8.5 (3599d3414f046de2324203b78ddcf9b5e4388aa0)`

[2022-07-26 13:59] l3r8yJ commented on #924
@Graur
with `-e` and `-X`

`
[INFO] -------------------------------------------------------------
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /Users/l3r8y/IdeaProjects/eo/eo-runtime/src/main/java/EOorg/EOeolang/EOgoto.java: warnings found and -Werror specified
[INFO] 1 error
[INFO] --------------------------------------------------------

[2022-07-26 16:33] MikhailLipanin opened #926 "Explicitly specifying the type of an object throws an error"
this code will be successfully dataized:
[code]
while this one fails:
[code]

[2022-07-26 16:37] Graur commented on #926
@MikhailLipanin Is it legal to use `org.eolang.seq` without Phi? e.g. `Q.org.eolang.seq`

[2022-07-26 16:43] MikhailLipanin commented on #926
@Graur, you are right, thanks! Didn't know about that.

[2022-07-26 16:43] #926 closed

[2022-07-26 17:53] EugeneDar opened #927 "Recursion doesn't work"
[code]
This test crushes.

[2022-07-26 17:53] EugeneDar commented on #927
@Graur please check.

[2022-07-27 04:50] mximp commented on #927
@EugeneDar can you please add an error/behaviour of the failure.

[2022-07-27 04:55] mximp commented on #811
@kerelape please assist

[2022-07-27 05:46] yegor256 opened #929 "better logging on placing errors"

[2022-07-27 05:46] yegor256 commented on #929
@rultor release, tag is `0.25.5`

[2022-07-27 05:47] rultor commented on #929
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26349-1196290820)

[2022-07-27 06:06] rultor commented on #929
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26349-1196290820) (took me 18min)

[2022-07-27 06:09] #929 closed

[2022-07-27 06:18] #882 closed

[2022-07-27 07:34] mximp opened #930 "Make replace pattern in `regex.replace` aware of matching groups."
Make it possible to refer to matching groups by index like in the example below:
[code]
Output:
[code]

For more information see #865 description and [Java Matcher](https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/util/regex/Matcher.html#replaceAll(java.lang.String))

[2022-07-27 07:45] mximp opened #931 "Make dataization logging concise"
Currently `Dataized.take()` uses `φTerm()` for logging Φ's:
[code]
It makes impossible to enable dataization logging.
Let's change this to using `Φ.toString()` which is much more compact.

Also `Dataized.LEVEL` which is logged should be limited to 5 by default.
It also must be possible to configure this value via configuration property:
[code]

[2022-07-27 07:47] mximp commented on #931
**Note** The attempt to just changing `φTerm()` to `toString()` results in some tests just hangs during the build. So it needs to be investigated and resolved.

[2022-07-27 07:51] mximp commented on #917
@yegor256, this is fixed as part of #865.
Additionally #931 is raised to apply `Phi.toString()` in dataization logic.

I believe this task can be closed.

[2022-07-27 07:53] #917 closed

[2022-07-27 08:09] mximp commented on #865
@IngeniariusSoftware @yegor256 This is implemented and can be closed.
Next step: #930

[2022-07-27 08:14] #865 closed

[2022-07-27 08:20] alex-semenyuk opened #932 "Fix checkstyle warnings for `Data`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-07-27 08:41] Graur commented on #927
@EugeneDar please, read this: https://www.yegor256.com/2022/03/29/bugs-occam-razor.html

[2022-07-27 08:53] Graur commented on #913
@kerelape Do you still have an issue?

[2022-07-27 09:12] #932 closed

[2022-07-27 09:36] EugeneDar commented on #927
I apologize, there was a typo in the code.

[2022-07-27 09:36] #927 closed

[2022-07-27 09:50] Graur commented on #924
@l3r8yJ Can you delete `.eo` folder in your `/Users/{name}/` path and rerun `mvn` command?

[2022-07-27 09:59] Graur commented on #918
@l3r8yJ please, help us here

[2022-07-27 10:35] l3r8yJ commented on #924
@Graur

deleted `.eo` and run `mvn`, but if i do `mvn clean install -Pqulice` picture same as it was

[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] eo                                                                 [pom]
[INFO] eo-parser

[2022-07-27 12:04] yegor256 opened #934 "ResolveMojo+Central must fail if there are transitive dependencies"
If the dependency we found contains any transitive dependencies, we should fail the build.

[2022-07-27 12:17] yegor256 opened #935 "move Transpiler back into TranspileMojo"
We extracted `Transpiler` some time ago from `TranspilerMojo` because we planned to use different transpilers. Now, let's put it back.

[2022-07-27 12:18] yegor256 commented on #935
@Graur pls, take care of this

[2022-07-27 12:18] yegor256 commented on #934
@Graur pls, take care of this

[2022-07-27 12:56] yegor256 opened #936 "move collections to a separate repository"
Let's extract `org.eolang.collections` into a separate repository.

[2022-07-27 12:56] yegor256 commented on #936
@Graur please, take care of this

[2022-07-27 13:28] yegor256 opened #938 "lower-case, upper-case, contains, ends-with, starts-with, index-of"
let's implement these attributes for `QQ.txt.text`

[2022-07-27 13:53] EugeneDar commented on #938
@yegor256 I can do that.

[2022-07-27 13:54] EugeneDar commented on #938
we are going to put all these methods in eo-strings later, aren't we?

[2022-07-27 13:55] yegor256 commented on #938
@EugeneDar please, go ahead. Let's do it ASAP. for now, in this repo. later, we'll move to eo-strings.

[2022-07-27 15:35] #919 closed

[2022-07-27 15:36] mximp commented on #307
@Sitiritis @yegor256 please check comment above

[2022-07-27 15:49] l3r8yJ commented on #924
fixed by syncing maven and jdk versions on os level

[2022-07-27 15:49] #924 closed

[2022-07-27 16:01] #922 closed

[2022-07-27 17:46] maxonfjvipon opened #942 "both `0.eq 0.0` and `0.0.eq 0` equal to `TRUE`"
It happens because byte array of `0.0` and byte array of `0` have the same length equal to 8 (since all `int` objects cast to `long` in the core of `eo`) and these arrays are identical (they both consist of zeros).
I think it's a bug because, for example, both `10.eq 10.0` and `10.0.eq 10` are `FALSE`

UPD: this behavior below is also weird:
<img width="389" alt="image" src="https://user-images.gi

[2022-07-28 04:25] kerelape commented on #913
@Graur the test is still broken. Maybe there is another reason for this issue?

[2022-07-28 04:36] Graur commented on #913
@kerelape I believe you can fix it. See my first comment.

[2022-07-28 05:02] kerelape commented on #913
@Graur sorry, didn't notice it. Wrapping `a`, `b`, and `* "w" a` with `list` fixes the test.

[2022-07-28 05:02] #913 closed

[2022-07-28 08:36] Graur commented on #936
@yegor256 Can you create `eo-collections` repository and give me some privileges?

[2022-07-28 08:59] Graur commented on #935
@yasamprom can you help us here?

[2022-07-28 09:18] #837 closed

[2022-07-28 09:18] 0pdd commented on #837
The puzzle `841-d9ebec39` has disappeared from the source code, that's why I closed this issue.

[2022-07-28 09:18] 0pdd commented on #841
@mximp the only puzzle [#837](https://github.com/objectionary/eo/issues/837) is solved here.

[2022-07-28 09:22] yegor256 commented on #936
@Graur see https://github.com/objectionary/eo-collections (you have write-access)

[2022-07-28 10:06] 0pdd opened #945 "ram.eo:29-32: We need to add ram.ram-slice.slice object..."
The puzzle `684-1cc2eb42` from #684 has to be resolved:

https://github.com/objectionary/eo/blob/0132dbe6841ef0c7b6c0946f023deb5bce7c50a6/eo-runtime/src/main/eo/org/eolang/ram.eo#L29-L32

The puzzle was created by @rultor on 28-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fix

[2022-07-28 10:06] 0pdd commented on #684
@yegor256 the puzzle [#945](https://github.com/objectionary/eo/issues/945) is still not solved.

[2022-07-28 10:31] Graur commented on #837
done in #944

[2022-07-28 10:35] levBagryansky opened #946 "Relations between eolang and target language objects"
I think its not enough clear how " / " operator  works.
The paper says the object after " / " is the name of object, which left part decorates. (page 7 where atoms are discribed).
But i didn't find how fields and methods from target lang object became attribute. And generally what attributes have the object in  in eo after /.

[2022-07-28 11:15] Graur commented on #942
@maxonfjvipon I don't think this is a bug since `int` and `float` are 8 bytes. But it's still a good issue. We need to add some kind of type checking. Maybe you have a solution?

[2022-07-28 11:38] EugeneDar opened #948 "There is a test that succeeds or crashes randomly"
Test 'makes-deep-object-recursively' in runtime-tests.eo may crash or succeed even if you do not change it in any way.

[2022-07-28 11:39] EugeneDar commented on #948
@yegor256 please check.

[2022-07-28 11:46] maxonfjvipon commented on #942
@Graur we can try to use sign bit for an indirect purpose. We can say that 0 is 0x00000000 and 0.0 is 0x80000000 (which is -0 in ieee but we don't have it in EO)

[2022-07-28 12:39] OlesiaSub opened #949 "Unable to resolve dependency to eo-runtime jar"
I cloned the repository and tried to build the project. Build failed with mistakes shown below.
![image](https://user-images.githubusercontent.com/57731693/181503357-2738b3fb-ec63-4cdb-b4d3-d1bbd6738ad0.png)
Moreover, in pom.xml (eo-maven plugin) dependency to org.eolang:eo-runtime:jar is not resolved.
![image](https://user-images.githubusercontent.com/57731693/181503149-95ec1635-5458-4bad-9ad3-4e

[2022-07-28 13:56] OlesiaSub commented on #949
Sorry, my misunderstanging

[2022-07-28 13:56] #949 closed

[2022-07-28 14:01] OlesiaSub opened #950 "mvn clean test failes right after cloning"
I cloned this repository, tried running mvn clean test and it failed with the following mistakes:
![image](https://user-images.githubusercontent.com/57731693/181523634-0a94c331-9261-4ffa-b333-10e8580f61e0.png)

[2022-07-28 14:29] Graur commented on #950
@OlesiaSub Can you try: `mvn clean install -Pqulice`?

[2022-07-28 14:40] OlesiaSub commented on #950
It finished successfully.
And I should have done `mvn clean install` first, it worked as well.

[2022-07-28 14:43] Graur commented on #950
@OlesiaSub usually, you need to run `mvn clean install -Pqulice` in root directory first, then run `mvn clean test` from eo-runtime directory

[2022-07-28 15:03] Graur commented on #950
@OlesiaSub Do you still have an issue?

[2022-07-28 15:10] Graur commented on #946
@levBagryansky Could you give an example of the part you didn't understand?

[2022-07-28 15:14] yegor256 commented on #950
@Graur I think `mvn clean test` should work too, from the start. If it doesn't, it's a bug.

[2022-07-28 15:15] yegor256 commented on #950
@Graur I think the solution would be to place [this file](https://github.com/objectionary/eo/blob/master/eo-parser/src/test/resources/META-INF/MANIFEST.MF) in all modules

[2022-07-28 15:18] yegor256 commented on #942
@maxonfjvipon I think I like the idea about `-0.0` (with an extra bit set to one)

[2022-07-28 15:21] yegor256 commented on #938
@rultor release, tag is `0.26.0`

[2022-07-28 15:25] rultor commented on #938
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26370-1198302412)

[2022-07-28 15:44] #938 closed

[2022-07-28 15:44] yegor256 commented on #938
@EugeneDar thanks!

[2022-07-28 18:22] maxonfjvipon commented on #942
@yegor256 @Graur could you please tell me how I can debug java code inside eo-runtime on `mvn clean install -Pqulice` (or I should run anything else)? `System.out.println` does not output anything to console.

[2022-07-28 18:52] #948 closed

[2022-07-29 07:48] levBagryansky commented on #946
I already understood it. There was
`[] > compile /regex` in file [https://github.com/objectionary/eo/blob/master/eo-runtime/src/main/eo/org/eolang/txt/regex.eo](url)
So its means that the object compile is implemented on java. You can find the implemetation by looking at this line at the beginning of the file:
`+package org.eolang.txt`
It signify the implementation is here:
[https://github.com/obj

[2022-07-29 08:14] mximp commented on #946
@levBagryansky to be more accurate here - it means that `compile` decorates `regex` and implementation is supplied by the runtime. By definition of _decoration_ `compile` inherits all attributes of `regex`.
That's exactly what the paper says.

[2022-07-29 08:40] #950 closed

[2022-07-29 09:37] #880 closed

[2022-07-29 09:40] levBagryansky commented on #946
As I said, it's not clear enough, at least to me. For example it caused questions:
- How eo object `compile` can decorate java object `regex`?
- What is attribute in this context? I though "attribute" is a eo term.
- What runtime means: eo runtime, java runtime or smth else?

So for me it turned out that the article is not enough to understand what it wants to say in this place. Of course, maybe I

[2022-07-29 10:59] maxonfjvipon commented on #942
@yegor256 could you please tell me how I can run the test inside eo-runtime separately? I need to test and debug `Param.asBytes()` method

[2022-07-29 11:01] yegor256 commented on #942
@maxonfjvipon make a ticket, complain about the absence of documentation in README.

[2022-07-29 11:22] maxonfjvipon opened #954 "Run tests separately in eo-runtime"
It would be nice if you add an instructions to readme how to run tests separately in eo-runtime.

[2022-07-29 12:06] Graur commented on #954
@maxonfjvipon Do you mean to add something like this?
[code]

[2022-07-29 12:31] maxonfjvipon commented on #954
@Graur yeah, kind of

[2022-07-29 12:41] 0pdd commented on #490
@dours the only puzzle [#unknown]() is solved here.

[2022-07-29 13:05] Graur commented on #878
@yegor256 please close the ticket if you don’t have any further questions.

[2022-07-29 13:13] yegor256 commented on #878
@Graur it's not mine :)

[2022-07-29 14:03] #878 closed, assigned to nobody

[2022-07-29 14:38] Graur commented on #942
@maxonfjvipon The budget is 30 minutes

[2022-07-29 14:49] #954 closed

[2022-07-29 15:33] levBagryansky opened #958 "Implementation regex.match on eo"
I have a task to reimplement regex.match on eolang. As I see, the main part of the task is to determine if one string belongs to the regex.
I find only one solution of it so far:

1. implement nondeterministic finite automaton.
2. implement deterministic finite automaton.
3. Convert regex to NFA
4. implement Rabin Scott algorithm that convert NFA -> DFA.
5. Check if string belongs to the DFA
Its a

[2022-07-29 15:35] #946 closed

[2022-07-30 14:29] l3r8yJ opened #961 "split from #918"
#918

[code]

@Graur please can you tell me if this seems right?

[2022-07-30 14:36] l3r8yJ commented on #887
@mximp can i help you?

[2022-07-30 14:51] Graur commented on #961
@l3r8yJ I think you can ask this directly at #918. No need to create another ticket for this.
If the existing tests for this `each` object pass, please, submit a pull request.

[2022-07-30 14:52] l3r8yJ commented on #961
@Graur thanks!

[2022-07-30 14:52] #961 closed

[2022-07-30 16:14] l3r8yJ commented on #918
@Graur please, can you give me some advice?

Here tests fails
[code]
What's the "as-bytes" attribute mean, and how can I fix it?

Here `list.each`.
[code]

Here test for 'list.each'

[code]

[2022-07-30 17:07] Graur commented on #918
@l3r8yJ

- `idx.lt arr.length` in horizontal notation should be like this: `idx.lt (arr.length)`
or in vertical notation:
[code]
- Then each abstract object must contain a dataization object, like this:
[code]
- Also read about `seq` object [here](https://arxiv.org/abs/2206.02585).
- And read [this](https://www.yegor256.com/2015/01/12/compound-name-is-code-smell.html).

[2022-07-30 17:38] l3r8yJ commented on #918
@Graur thanks

[2022-07-30 20:38] l3r8yJ commented on #918
@Graur please, take a look

[2022-07-31 05:21] #625 closed

[2022-07-31 05:21] 0pdd commented on #625
The puzzle `490-82991e51` has disappeared from the source code, that's why I closed this issue.

[2022-07-31 05:21] 0pdd commented on #490
@dours the only puzzle [#625](https://github.com/objectionary/eo/issues/625) is solved here.

[2022-07-31 05:21] 0pdd commented on #636
@yegor256 the only puzzle [#640](https://github.com/objectionary/eo/issues/640) is solved here.

[2022-07-31 05:21] 0pdd commented on #684
@yegor256 the puzzle [#unknown]() is still not solved.

[2022-08-01 07:38] mximp commented on #887
@l3r8yJ please do!

[2022-08-01 07:51] l3r8yJ commented on #918
@yegor256 merged but not closed, make a look please

[2022-08-01 07:54] yegor256 commented on #918
@l3r8yJ I'll close, thanks!

[2022-08-01 07:54] #918 closed

[2022-08-01 07:57] yegor256 commented on #958
@yegor256 what is NFA and DFA? and who is Rabin Scott?)

[2022-08-01 08:12] alex-semenyuk opened #968 "Fix checkstyle warnings for `EOtext$EOcontains`"
Split from https://github.com/objectionary/eo/issues/739

Refactor the class to pass all checkstyle checks.
Current warnings:
[code]

[2022-08-01 08:20] Graur commented on #934
@l3r8yJ please, try to solve this issue

[2022-08-01 08:42] levBagryansky commented on #958
@yegor256 ,
NFA is a nondeterministic finite automaton, DFA is deterministic finite automaton. The algoritm converts the first to the second.
Usually a regex can be described by the NFA like that:
if we have regex (a+b)*b(b+c)*
![рорр](https://user-images.githubusercontent.com/32939651/182107436-d60ded1c-82b5-47b7-8429-41d7d6218fa4.png)
Each circle matchs to consistanse of the automation.
We can s

[2022-08-01 09:10] l3r8yJ commented on #934
@Graur got it!

[2022-08-01 09:25] l3r8yJ commented on #934
@Graur
Did I understand correctly that if there are such dependencies, it should stop the build?

<img width="778" alt="image" src="https://user-images.githubusercontent.com/46355873/182117609-a86b230e-9963-4311-8480-99ac824c8bb7.png">

[2022-08-01 10:50] #803 closed

[2022-08-01 10:51] yegor256 commented on #851
@EugeneDar what's up with this one?

[2022-08-01 10:51] yegor256 commented on #869
@mximp what's with this?

[2022-08-01 10:51] yegor256 commented on #925
@EugeneDar what's up with this?

[2022-08-01 10:53] yegor256 commented on #614
@Graur please, try to help here

[2022-08-01 11:00] EugeneDar commented on #925
@yegor256 it finished, I'll close it.

[2022-08-01 11:00] #925 closed

[2022-08-01 11:03] EugeneDar commented on #851
@yegor256 this ticket will be implemented after list.sorted is implemented, because it is needed to implement map.rebuild.

[2022-08-01 11:41] IngeniariusSoftware opened #971 "apply new style of sorting `meta` to native objects"
on version [0.26.0](https://github.com/objectionary/eo/tree/0.26.0), meta information in native objects still remains unsorted:

![image](https://user-images.githubusercontent.com/33983579/182139975-3171f468-87ab-4aa3-9dea-f0ddcc39f3cf.png)

[2022-08-01 11:52] IngeniariusSoftware opened #972 "java code to large"
Some simple example of large EO code: [stress.eo.txt](https://github.com/objectionary/eo/files/9233624/stress.eo.txt)

Compilation result:
![image](https://user-images.githubusercontent.com/33983579/182142048-c57e6cd1-2871-43c7-bb4f-077dddae1785.png)

[2022-08-01 12:24] levBagryansky opened #973 "JSR-303 validator thrown during initialization: java.lang.NoClassDefFoundError: javax/xml/bind/ValidationException"
I cloned eo and run tests as wrote in README.md
it shows an ERROR:
![image](https://user-images.githubusercontent.com/32939651/182143225-4943debb-e3c8-4896-9b9b-7d0333800203.png)
mvn -v:
![image](https://user-images.githubusercontent.com/32939651/182144306-54b85bd5-9929-48e1-8c0d-58bdde844e5b.png)
Also attached whole file with tests results:
[tests_results.txt](https://github.com/objectionary/eo/f

[2022-08-01 18:15] l3r8yJ commented on #877
@Graur can i try to solve this one?

[2022-08-01 21:03] Graur commented on #877
@l3r8yJ Sure, go ahead

[2022-08-01 22:43] l3r8yJ commented on #877
@Graur
there are a few more warnings about checkstyle, but not the ones described in the issue
[code]

[2022-08-02 05:20] Graur commented on #877
@l3r8yJ Please, fix them too

[2022-08-02 06:41] l3r8yJ commented on #877
@Graur okay, i’ll fix them all

[2022-08-02 06:42] l3r8yJ commented on #887
@Graur this one on me too

[2022-08-02 06:46] includealex opened #975 "How to make [args...] work as integers?"
I want to give some integers to my program by typing this
[code]
to get answer 120 (simple factorial calculation). But if I write such a code,
[code]
I will get an error. Error says that there is no attribute "lt" for EOstring.
Are there any possibilities to "convert" (args.at 0) into integer?

[2022-08-02 07:37] Graur commented on #975
@includealex I think you migth use [sscanf](https://github.com/objectionary/eo/blob/master/eo-runtime/src/main/eo/org/eolang/txt/sscanf.eo) object. And this example can help: https://github.com/objectionary/sandbox/blob/master/eo/sandbox/app.eo
e.g.
[code]

[2022-08-02 07:45] #975 closed

[2022-08-02 11:46] levBagryansky opened #977 "string abilities"
Its not clear how to get symbol num i from the string.
For  example
![image](https://user-images.githubusercontent.com/32939651/182366968-31a67a13-0030-4002-8a02-5b72bb655be5.png)
does not work. Also
![image](https://user-images.githubusercontent.com/32939651/182366875-de0fe187-8c30-49ff-9238-4074fced2a4d.png)
doesn't work too.
So how to iterate by string symbols?
Thank you

[2022-08-02 12:53] kerelape commented on #977
@levBagryansky `string` doesn't have `at` or `as-array`, only `as-bytes`. But you can use `slice` to only take one exact symbol as another string (`my_str.slice 0 1`)

[2022-08-02 14:05] levBagryansky commented on #977
Ok, thank you

[2022-08-02 14:05] #977 closed

[2022-08-02 14:44] kerelape opened #979 "`string.at`"
Could we add `at` object to the `string`? This would simply wrap `string.slice` with a default value for `len`, being `1`.

_Originally posted by @kerelape in https://github.com/objectionary/eo/issues/977#issuecomment-1202478918_

[2022-08-02 14:51] Graur commented on #979
@kerelape We will have a similar object in the `text` object, which will be called `index-of`, according to [this](https://github.com/objectionary/on-the-origin-of-objects/blob/master/paper.tex#L448) or [this](https://arxiv.org/pdf/2206.02585.pdf), implemented in: https://github.com/objectionary/eo-strings

[2022-08-02 14:55] kerelape commented on #979
@Graur doesn't `index-of` return the numerical index of a sub-string? e.g. `0` for `"abc".index-of "a"`

[2022-08-02 14:55] Graur commented on #979
@kerelape I think you can add it in `text` object

[2022-08-02 15:30] Graur commented on #979
@kerelape I think it's redundant, but maybe I am wrong.
@mximp  @yegor256 What do you think?

[2022-08-03 09:34] Graur commented on #971
@IngeniariusSoftware I think pull request #960 will fix this issue when it is merged.

[2022-08-03 10:59] #968 closed

[2022-08-03 11:09] #846 closed

[2022-08-03 11:34] yegor256 commented on #971
Duplicate of #846

[2022-08-03 11:34] #971 closed

[2022-08-03 11:35] yegor256 commented on #979
@kerelape yes, this could be a good method for `@@.txt.text`. We try to keep `string` as small as possible.

[2022-08-03 11:35] #979 closed

[2022-08-03 11:47] #811 closed

[2022-08-03 12:26] yegor256 commented on #973
@levBagryansky for some weird reason you are using `jcabi-maven-plugin:0.14.1`, while in master we have version 0.16.0. Are you sure you building the latest version from `master` branch?

[2022-08-03 12:27] #972 closed

[2022-08-03 16:22] yasamprom opened #985 "DataizedTest.java fails"
@yegor256 @Graur @mximp
`DataizedTest.java` fails during action executing. [Logs](https://github.com/objectionary/eo/runs/7653059478?check_suite_focus=true)
It works fine on my local machine, however it fails on @EugeneDar local machine

[2022-08-03 17:08] levBagryansky opened #986 "Map iteratiing"
I didn't found how can I itearate map, as I see it's impossible.
I think it is necessory, becouse key mustn;t be a number. So we can't to see any object there.

[2022-08-03 21:10] EugeneDar commented on #986
@levBagryansky what solution do you propose?

[2022-08-03 21:14] EugeneDar commented on #986
Maybe you can use list.reduce method ffor the result of the multimap.concat-all-arrays function

[2022-08-04 07:35] levBagryansky commented on #986
@EugeneDar may be we need to implement smth like iterators for map.

[2022-08-04 12:02] levBagryansky opened #988 "[Warning] Meta is out of order: "home https://github.com/objectionary/eo-math" (unsorted-metas:13)"
I just run tests by command `mvn clean install -Pqulice`
it returns `Meta is out of order: "home https://github.com/objectionary/eo-math" (unsorted-metas:13)` warning and can't build eo-runtime.
I last commits impact because it worked later.
![image](https://user-images.githubusercontent.com/32939651/182841776-09c44aad-c9c1-4d5e-affc-82117c464ca1.png)
I also did not find how to disable warning-as-

[2022-08-04 12:06] Graur commented on #988
@levBagryansky you need to add `failOnWarning` flag to your configuration into `pom` file and set it to `false`.
Or the better way - is to delete `.eo` folder on your local PC (`/Users/{name}/.eo) and run `mvn clean install -Pqulice` again

[2022-08-04 12:12] #988 closed

[2022-08-04 13:41] yegor256 commented on #986
@levBagryansky I think `map.keys` would be nice to have. @EugeneDar WDYT?

[2022-08-04 14:06] EugeneDar commented on #986
@yegor256 @levBagryansky I think 'map.keys' it's good idea. This method can decorate the array, and have a 'memory' field to iterate, and a 'next' method.

[2022-08-04 14:07] yegor256 commented on #986
@EugeneDar please, implement it

[2022-08-04 14:09] yegor256 commented on #986
@EugeneDar I would just return an array from `map.keys`. for iterating keys we may create another method, like `map.iterate-keys`.

[2022-08-04 14:10] EugeneDar commented on #986
@yegor256 sure, I'll do it.

[2022-08-05 06:05] victor-yacovlev opened #992 "Build error with -Werror"
OpenJDK 18 on macOS/aarch64 generates build fatal warnings "non-transient instance field of a serializable class declared with a non-serializable type" due to some classes do not implement `Serializable` interface.

Classes/interfaces that must implement `Serializable`:
 * interface `org.eolang.Phi`
 * all generated classes extending `org.eolang.PhDefault`, also these classes must provide `serialV

[2022-08-05 06:08] yegor256 commented on #992
@Graur please, take care of this or delegate. I think we should add java version 18 to `mvn.yml` GitHub action, to make sure this bug won't happen again

[2022-08-05 07:06] #986 closed

[2022-08-05 10:52] Graur commented on #992
@kerelape please take this task, the budget is 30 minutes

[2022-08-05 12:20] Graur commented on #945
@piotrkot please, help us here

[2022-08-07 13:24] piotrkot opened #994 "Typo in EOLANG and φ-calculus (2111.13384)"
Page 10, 3.9 Identity: "with a unique identify of x" should be in my opinion replaced with "with a unique identity of x".

[2022-08-07 13:26] piotrkot opened #995 "Duplication in EOLANG and φ-calculus (2111.13384)"
Page 9, 3.7 Atoms: "In atoms, 𝜆-terms are bound to 𝜑 attribute. Thus, a more formal form of the Eq. 15 is: stdout ↦ J text ↦ ∅, 𝜑 ↦ 𝜆𝑠.𝑀stdout K." This text is repeated twice.

[2022-08-07 13:30] piotrkot opened #996 "Missing parent reference EOLANG and φ-calculus (2111.13384)"
Page 8, 3.5 Parent and Home: "In case of application, an object is created by the prepending object: 𝑎 ↦ J𝑏 ↦ 𝑐, 𝑑 ↦ 𝑒.𝑓 , 𝑔 ↦ ℎ.𝑖(𝑗 )K 𝑏.𝜌 = 𝑎 𝑑.𝜌 = 𝑒 (7) 𝑔.𝜌 = ℎ."
In my opinion this should be written:
𝑎.𝑏.𝜌 = 𝑎
𝑎.𝑑.𝜌 = 𝑒
𝑎.𝑔.𝜌 = ℎ.

[2022-08-07 19:30] yegor256 commented on #995
@piotrkot fixed in 68952313, thanks!

[2022-08-07 19:30] #995 closed

[2022-08-07 19:31] yegor256 commented on #994
@piotrkot fixed in 47c1b37e, thanks!

[2022-08-07 19:31] #994 closed

[2022-08-07 19:33] yegor256 commented on #996
@piotrkot you are right, fixed in 58e11576, thanks!

[2022-08-07 19:33] #996 closed

[2022-08-07 19:35] yegor256 opened #998 ".catalog() in PlaceMojo and in ad-hoc catalog in UnplaceMojo"
Both PlaceMojo and UnplaceMojo don't use `CachedTojos`. I suggest we fix this by making them use it. Probably, we should make a new protected method `placeCatalog()` in `SafeMojo` and let both mojos use it.

[2022-08-07 19:35] yegor256 commented on #998
@mximp please, take care of this

[2022-08-07 20:58] piotrkot opened #999 "Grammar in EOLANG and φ-calculus (2111.13384)"
Page 17, 8.1 "There is not mechanism of inheritance in EO". How about "There is no mechanism of inheritance in EO"?

[2022-08-07 21:02] piotrkot opened #1000 ""lines the lines" in EOLANG and φ-calculus (2111.13384)"
The phrase "lines the lines" is found in four places in the document (4.1, 8.2, 8.3, 8.3), like:
"instantiated. However, the attribute radius of the EO object circle at the lines the lines 366–371 can’t be modiﬁed."
 I think it's a mistake.

[2022-08-07 21:05] piotrkot opened #1001 "A castrated male sheep in EOLANG and φ-calculus (2111.13384)"
10.3 "The information of wether elements of the set emps are". whether?

[2022-08-08 05:48] yegor256 commented on #1001
@piotrkot fixed in 8824c7b8 thanks!

[2022-08-08 05:48] #1001 closed

[2022-08-08 05:49] yegor256 commented on #999
@piotrkot I deleted this Section all together, thanks

[2022-08-08 05:49] #999 closed

[2022-08-08 05:50] yegor256 commented on #1000
@piotrkot fixed in 0c8dd286 thanks!

[2022-08-08 05:50] #1000 closed

[2022-08-08 05:52] yegor256 opened #1002 "GmiMojo to convert XMIR into GMI"
Let's implement a new translator inside our Maven plugin, which will take XMIR and produce GMIs. Let's make sure that what it produces actually can build a proper graph.

[2022-08-08 08:50] mximp commented on #869
@yegor256 this is completed and can be closed

[2022-08-08 08:51] mximp commented on #921
@kerelape can you please have a look at this?

[2022-08-08 08:57] levBagryansky opened #1003 "multimap stackoverflow bag"
This code
[code]

[2022-08-08 10:51] yegor256 commented on #511
@mximp let's implement a new XSL inside `eo-parser`, which will create a warning if `+package+` meta is not present.

[2022-08-08 11:04] levBagryansky opened #1005 "list create_by_len"
let's add a new attribute to list that create a new list witn length and elements by arguments. Smth like that:
`[length elem]` > list-by-len
@yegor256 @EugeneDar

[2022-08-08 11:13] EugeneDar commented on #1005
@levBagryansky I think we can't implement it via while method, because we have problems with array wrapped in memory. We can implement it via recursion.

[2022-08-08 11:32] yegor256 commented on #1005
@levBagryansky what is the purpose of this?

[2022-08-08 11:43] levBagryansky commented on #1005
@yegor256
This will make it easier to use. May be if list of the specal object ordered to make work with arrays easier we can add this enough popular method to it.
Of course evebody can do it by himself:
[code]

[2022-08-08 11:45] EugeneDar commented on #1003
@levBagryansky if you want to use some class as key in map, it must have methods `eq` and `as-hash`. In your class `pair` method `eq` doesn't exist.

[2022-08-08 11:53] yegor256 commented on #348
@Graur please, help

[2022-08-08 13:48] andreoss opened #1007 "Ram is not thread safe"
Ram is a singleton, if it's being used from two threads, CME will happen.
https://github.com/objectionary/eo/blob/master/eo-runtime/src/main/java/EOorg/EOeolang/Ram.java
https://github.com/objectionary/eo/blob/master/eo-runtime/src/main/eo/org/eolang/ram.eo

[2022-08-08 15:29] yegor256 opened #1008 "eo-test - new module for test utils"
Let's create a new module and move the following existing classes into it:

  * `CheckPack` - let's turn it into Hamcrest matcher
  * `CheckXSL` - also, let's make a matcher out of it

Then, let's create a new JUnit5 `ArgumentsProvider`, and use it in `PacksTest`, `SyntaxTest`, and `OptimizePacksTest`.

[2022-08-08 15:29] yegor256 commented on #1008
@Graur please, take care of this

[2022-08-08 16:25] levBagryansky opened #1009 "Assert documentation"
I didn't find where I can read about `assert-that`. I think it's necessary because this cause questions
For example it's not clear why this code
[code]
do that
![image](https://user-images.githubusercontent.com/32939651/183466227-a7b79d18-879e-48c0-ac41-641a719b4d58.png)

[2022-08-08 16:26] levBagryansky commented on #1003
@EugeneDar Thanks

[2022-08-08 16:26] #1003 closed

[2022-08-09 06:11] yegor256 opened #1010 "Central must understand classifiers of dependencies"
At the moment the classifier is not specified at all: https://github.com/objectionary/eo/blob/master/eo-maven-plugin/src/main/java/org/eolang/maven/Central.java#L99-L105 We should make it possible to use Maven dependencies with a classifier, like this:

[code]

Here, the classifier is `jar-with-dependencies`.

[2022-08-09 06:11] yegor256 commented on #1010
@Graur please, take care of this

[2022-08-09 07:52] levBagryansky commented on #1009
@Graur, Thank you
Is this fine that assert infuence on repeating sequence like in example above?

[2022-08-09 08:34] Graur commented on #1009
@levBagryansky If you want to avoid it, just pass `seq` object as parameter to `assert-that` object. Or decorate it as abstract object

[2022-08-09 09:15] Graur opened #1011 "wrong list object naming"
We need to change names of `reduce`, `reducei`, `map` and `mapi` objects according to [this](https://arxiv.org/pdf/2206.02585.pdf) paper.
Also we need to apply these changes to all tests.

[2022-08-09 09:15] Graur commented on #1011
@levBagryansky please, help us here

[2022-08-09 09:18] Graur opened #1012 "list.found object"
Let's implement it, according to [this](https://arxiv.org/pdf/2206.02585.pdf) paper.
e.g.
[code]

[2022-08-09 09:18] Graur commented on #1012
@levBagryansky please, try to implement

[2022-08-09 10:36] mximp commented on #511
@Karina5005 Could you please help with this issue.

[2022-08-09 10:37] mximp commented on #920
@OlesiaSub Could you please assist with this.

[2022-08-09 10:39] mximp commented on #817
@potatmen Can you please help with this.

[2022-08-09 10:48] mximp commented on #792
@yegor256 reminder - this can be closed.

[2022-08-09 10:49] yegor256 commented on #792
@mximp thanks!

[2022-08-09 10:49] #792 closed

[2022-08-09 11:21] mximp opened #1013 "Make max dataization log level configurable"
In order to simplify debugging let's make below hardcoded value configurable via jvm property `-Dmax.dataization.log`.
It must be defaulted to `4`.

`Dataized.java`
[code]

[2022-08-09 11:22] mximp commented on #1013
Budget: 30min

[2022-08-09 11:34] yegor256 commented on #1013
@yegor256 I don't mind

[2022-08-09 11:42] Graur commented on #1013
@mximp I don't mind too

[2022-08-09 11:54] levBagryansky commented on #1011
@Graur, Ok

[2022-08-09 11:54] levBagryansky commented on #1012
Sure, I will do that

[2022-08-09 12:54] potatmen commented on #817
@mximp sure

[2022-08-09 15:11] #973 closed

[2022-08-10 06:38] OlesiaSub commented on #920
To clarify, should I modify licences like this one `Copyright (c) 2020-2022 Yegor Bugayenko` to `Copyright (c) 2020-2022 Objectionary.com`? (years here differ from the ones in the rest of the project)

[2022-08-10 06:40] OlesiaSub commented on #920
Same question about copyright licences like this `Copyright (c) 2022 Eugene Darashkevich`.

[2022-08-10 07:45] OlesiaSub opened #1014 "Unused aliases false positive"
This code
[code]
should not be executed because of duplicated aliases.

However, compiler will fail with the following mistakes:
![image](https://user-images.githubusercontent.com/57731693/183843577-f236b41d-8ff6-4da5-a4ab-1c0784007419.png)

It says that both `sprintf` aliases are not used, even though one of them is.

[2022-08-10 07:56] OlesiaSub commented on #920
What about `+architect` meta? Should I check for the maintainers and put their emails into corresponding .eo files or should it be `+architect yegor256@gmail.com` everywhere?

[2022-08-10 09:12] Karina5005 commented on #511
@mximp, do I understand correctly that we want to have exactly one meta "+package" and it should not be empty?

[2022-08-10 10:36] yegor256 opened #1015 "eo.skip option for eo-maven-plugin"
Let's introduce `eo.skip` option for our Maven plugin. So that it would be possible to do this in XML:

[code]

Also, from command line:

[code]

[2022-08-10 10:36] yegor256 commented on #1015
@mximp should be pretty easy to implement, please help

[2022-08-10 10:37] yegor256 commented on #1014
@mximp definitely a bug, please help

[2022-08-10 10:59] mximp commented on #931
The issues is fixed

[2022-08-10 10:59] #931 closed

[2022-08-10 11:25] ivan-egorov42 opened #1016 "Can't run program with stdin"
I tried to run a program from the [paper](https://arxiv.org/abs/2111.13384)(p.6, 2.10) like this:
[code]
then `eoc dataize hello`. The problem is that there isn't 'data' attribute, when I run this. I tried to write ` QQ.io.stdout > @` instead of, but now there is a problem with stdin, I think.

First, I think it would be nice to improve example from paper. Second, I get this error after changing a

[2022-08-10 11:27] yegor256 opened #1017 "HashOfTag goes to Internet too often"
At the moment, `HashOfTag` goes to the Internet on every call to `.hash()`. This is not effective and dangerous. If a new release happens during the build -- we'll have mixed .eo files. I suggest to cache the value retrieved inside HashOfTag, in a static HashMap.

[2022-08-10 11:27] yegor256 commented on #1017
@mximp please, help

[2022-08-10 11:46] mximp commented on #985
@yasamprom the underlying problem should be fixed. Please check and close the issue.

[2022-08-10 11:48] mximp commented on #1015
@yegor256 what should it skip?

[2022-08-10 11:49] mximp commented on #511
@Karina5005 exactly

[2022-08-10 11:51] mximp commented on #920
I suggest the latter for now:
`+architect yegor256@gmail.com`

[2022-08-10 11:53] yegor256 commented on #1015
@mximp the execution of a mojo. Just return and that's it, if the flag is set.

[2022-08-10 12:26] levBagryansky opened #1020 "remove depricated attributes"
Please remove depricated `list.reduce` and `list.reducei` in [eo/eo-runtime/src/main/eo/org/eolang/collections/list.eo](https://github.com/objectionary/eo/blob/master/eo-runtime/src/main/eo/org/eolang/collections/list.eo) after update of [eo-harmcrest/src/main/eo/org/eolang/hamcrest/assert-that.eo](https://github.com/objectionary/eo-hamcrest/blob/d39a19051b38a8e4f7c02de4d68b436c45c2d7a4/src/main/e

[2022-08-10 12:42] potatmen commented on #817
@mximp did you mean uniform distribution? Because the probability of getting any of the values should be equal.
Also, according this ![histogram](https://user-images.githubusercontent.com/90863441/183903734-c5a6a71c-b1ed-4191-8715-cb96be8c59eb.png) for 100000 random values we can see a uniform distribution.

[2022-08-10 12:52] OlesiaSub opened #1022 "eo maven plugin build fails"
Invocation of `mvn clean install` fails on an untouched clone of this repository:

![image](https://user-images.githubusercontent.com/57731693/183899504-360c1892-7a93-45cd-ab62-46ae350b0799.png)

Build summary:

![image](https://user-images.githubusercontent.com/57731693/183905450-7c6b1671-09e6-4541-ba36-798a09b57b23.png)

My OS is Windows. Afaik this doesn't happen on linux (might be wrong).

[2022-08-10 12:59] ivan-egorov42 commented on #1016
Update: I realized, that this problem bounds to `string.length`, because program works without `x.length`(e.g. just `x`)

[2022-08-10 13:00] mximp commented on #817
@potatmen that's right - uniform distribution is desired here.
Could you please also attach the file with generated values (any form).

[2022-08-10 13:08] yegor256 commented on #348
@Graur if you can make this top priority, would be great

[2022-08-10 13:11] potatmen commented on #817
@mximp here is more accurate histogram
![Hist](https://user-images.githubusercontent.com/90863441/183909138-3d3bce4c-0be0-4a49-a386-ea1ec47a59a4.png)
Here is generated data
[Data](https://github.com/objectionary/eo/files/9300268/res.txt)
Btw, I can create a repository with source code and generated data.

[2022-08-10 13:44] includealex commented on #1016
@ivan-egorov42 It is quite interesting, that such a code works and gives correct answer.
[code]
![image](https://user-images.githubusercontent.com/70340829/183916746-55b7c53e-e0ed-4503-8f4c-312263c33420.png)

[2022-08-10 13:50] mximp commented on #817
@potatmen that's not required.

Thanks for your help!

[2022-08-10 13:50] #817 closed

[2022-08-10 13:55] ivan-egorov42 commented on #1016
@includealex That's very funny. Now I have a question, why program works, if we just swapped two lines? (`x.length` and `stdin.next-line > x!`)

[2022-08-10 14:03] levBagryansky commented on #1016
I suppose it happens because when eo dataize sprintf, it starts from the  last attributes. In commaon, possibly, it dataize using recursion, that is why it starts from the end. So wnem it firstly try to dataize x.length it gets null.
That's my theory.

[2022-08-10 14:43] Graur commented on #935
@yasamprom What's up with this issue?

[2022-08-10 15:26] EugeneDar commented on #851
@yegor256 can you please move this issue to eo-collections?

[2022-08-10 15:27] EugeneDar commented on #842
@yegor256 can you please move this issue to eo-collections?

[2022-08-10 15:28] EugeneDar commented on #861
@yegor256 can you please move this issue to eo-collections?

[2022-08-10 15:28] EugeneDar commented on #912
It solved in eo-collections

[2022-08-10 15:28] #912 closed

[2022-08-10 15:31] EugeneDar commented on #1017
@mximp sure

[2022-08-10 16:20] includealex commented on #1016
@ivan-egorov42 I think, that problem is bounded with either `stdin` or `sprintf`. Here is a simple test, that shows that swapping lines shouldn't cause an error.
[swapping-lines](https://user-images.githubusercontent.com/70340829/183958741-1b47db98-fa62-4978-a624-2a747b65a07f.png)

@Graur, @mximp, what do you think about this so-called swapped-lines bug?

[2022-08-10 16:41] IngeniariusSoftware opened #1024 "unexpected build failure with `failOnError=false`"
code:

[code]

result [compilation.log](https://github.com/objectionary/eo/files/9302205/compilation.log):

![image](https://user-images.githubusercontent.com/33983579/183965519-7f2c70a8-68c1-488e-a7de-3e365095cacb.png)
![image](https://user-images.githubusercontent.com/33983579/183965659-450cc5b7-34d3-4479-96ba-8776bc5b34f8.png)

[2022-08-10 16:42] levBagryansky opened #1025 "Comparating of different objects"
Not all objects have eq attributes, but list.found, for example, implies that we can compare any two objects. Throwing an error
![image](https://user-images.githubusercontent.com/32939651/183965701-44da7e85-01dd-461e-b9e0-33f57ac77fdb.png)
I think we need to be able to compare any object,
@yegor256 @Graur @mximp

[2022-08-11 06:56] Graur commented on #936
@EugeneDar we released eo-collections, so you can start to getting rid of `collections` package from `eo-runtime`

[2022-08-11 07:35] Graur commented on #1025
@levBagryansky I think you should ask such questions in the related tickets. This one is related to https://github.com/objectionary/eo/issues/1012

[2022-08-11 07:37] Graur commented on #1016
@includealex @ivan-egorov42 Indeed, it is a bug. You are welcome to fix it

[2022-08-11 07:39] Graur commented on #1020
@levBagryansky Please do so after the next release of `eo-hamcrest`

[2022-08-11 07:45] Graur commented on #715
related issue: https://github.com/objectionary/eo-strings/issues/7

[2022-08-11 07:47] Graur commented on #1008
@MikhailLipanin please, help us here

[2022-08-11 07:50] mximp commented on #1025
@levBagryansky I agree let's keep this conversation in initial task so far.
Can you post comment there with problem code and close this issue.

[2022-08-11 07:58] Graur commented on #684
@MCJOHN974 Please, take this task. You need to get rid of `Heaps.java` , `EOheap$EOmalloc` and `EOheap$EOfree.java` and redo `heap.malloc` and `heap.free` objects by EO. I think you can start from `malloc` object and create first PR, then redo `free` object and create another one PR.

[2022-08-11 08:11] includealex commented on #1016
@Graur, I'll try to fix this one.

[2022-08-11 08:18] Graur commented on #1016
@includealex Go ahead

[2022-08-11 08:46] yegor256 commented on #1024
@IngeniariusSoftware indeed a bug, thanks for reporting

[2022-08-11 08:47] yegor256 commented on #1024
@Graur everywhere in our XSL files let's check `<xsl:message>` places. They are the potential sources of such problems. We should replace them with proper XSL checks, which add errors to `<errors/>` instead of crashing.

[2022-08-11 08:49] #624 closed

[2022-08-11 08:49] 0pdd commented on #624
The puzzle `561-386b5824` has disappeared from the source code, that's why I closed this issue.

[2022-08-11 08:49] 0pdd commented on #561
@0pdd the only puzzle [#624](https://github.com/objectionary/eo/issues/624) is solved here.

[2022-08-11 08:52] levBagryansky commented on #1025
Ok

[2022-08-11 08:52] #1025 closed

[2022-08-11 08:59] levBagryansky commented on #1012
@Graur @mximp
With code:
That's my list.found implementation:
[code]
So it is works in test:
[code]
But doesn't work in
[code]
I also separately compared 5 and "qwerty" and get FALSE withou error:
[code]
So now I am searching bag

[2022-08-11 09:11] levBagryansky commented on #1012
I am searching when I get this error
![image](https://user-images.githubusercontent.com/32939651/184101271-2605881f-a81f-4170-95c2-12e0f4d9fc2a.png)

[2022-08-11 09:36] levBagryansky commented on #1012
Now I localized the bag: the test without while object
[code]

[2022-08-11 09:43] levBagryansky commented on #1012
Errors of previous test:
![рорр](https://user-images.githubusercontent.com/32939651/184105977-746571e4-328d-423b-bd81-4797d7623ad1.png)
Full trace:
[tests_results.txt](https://github.com/objectionary/eo/files/9307669/tests_results.txt)

[2022-08-11 10:08] MikhailLipanin commented on #1008
@Graur, new module `eo-test` means placing it like that `eo/eo-parser/src/test/eo-test/CheckPack.java` ?

[2022-08-11 11:22] mximp commented on #1012
@levBagryansky The error says `string` cannot be compared to `int` not vice versa.
So if you try
[code]
it will fail.

I believe the issue is that `.eq` method of `string` doesn't work correctly when applied to non-string argument.
Whereas `int` object has more advanced implementation.

[2022-08-11 11:27] Graur commented on #1008
@MikhailLipanin As I understand, it will be a `eo/eo-test` module.
@yegor256 Am I right?

[2022-08-11 11:29] yegor256 commented on #1008
@Graur @MikhailLipanin yes, at the same level as `eo-parser`. Thus, it will be `eo/eo-test`

[2022-08-11 11:39] OlesiaSub opened #1027 "Failure of non-existent attributes"
This code worked fine.

![image](https://user-images.githubusercontent.com/57731693/184124034-97d88051-2dca-476c-bba6-be4f133e200c.png)

Then I modified the code and replaced `app` with `main`. And I launched `eoc dataize app` (I know I need to have an `app` object to do it, but I was inattentive).
And, as you can see below, instead of giving me the warning about the absence of the `app` object th

[2022-08-11 11:42] levBagryansky commented on #1012
@mximp, I have tested both both variants. They works correctly.
I aslo have two tests:
[code]
It's strange but is-found-5 causes error wnen is-found-4 works correctly

[2022-08-11 11:44] levBagryansky commented on #1012
I ran two tests with while and without:
[code]
I think it is bag: test without while doesn't cause error but with while does.

[2022-08-11 12:00] mximp commented on #881
@potatmen please assist

[2022-08-11 12:28] potatmen commented on #881
@mximp when does this warning occur? During the compiling? As I understand I need to extend the number of parameters passed to `BiFunction ` from 3 to 5 or 4 depending on the case right?

[2022-08-11 12:30] Graur commented on #348
@andreoss Can you help us with this issue? The budget is 30 minutes

[2022-08-11 12:32] potatmen commented on #881
Ignore the last question, I got the idea

[2022-08-11 13:20] EugeneDar commented on #1011
@Graur I think we should move it to eo-collections.

[2022-08-11 13:34] Graur commented on #1011
@EugeneDar Indeed
@yegor256 please, help us to move this issue to `eo-collections` repository

[2022-08-11 13:40] Graur commented on #1022
@OlesiaSub Please, try it now

[2022-08-11 13:48] Graur commented on #1012
@yegor256 @levBagryansky We need to move this issue to https://github.com/objectionary/eo-collections, since there is no `collections` package in `eo-runtime` anymore

[2022-08-11 14:00] yegor256 commented on #1002
@rultor tag is `0.27.0`

[2022-08-11 14:00] rultor commented on #1002
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2022-08-11 14:01] yegor256 commented on #1002
@rultor release tag is `0.27.0`

[2022-08-11 14:02] rultor commented on #1002
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26489-1212030825)

[2022-08-11 14:04] mximp commented on #881
1. Enable Checkstyle validation for `eo-runtime`:
In `eo-runtime/pom.xml` comment out exclude:
[code]

2. Run `qulice:check` goal:
Within `eo-runtime` folder execute the following command:
[code]

This will produce the list of errors from Checkstyle.
Find the ones you are interested in.

[2022-08-11 14:05] Graur commented on #1005
@levBagryansky Can't we use instead:
[code]

[2022-08-11 14:05] potatmen commented on #881
@mximp Thanks for the clarification

[2022-08-11 14:17] rultor commented on #1002
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26489-1212030825) (took me 15min)

[2022-08-11 14:29] #1002 closed

[2022-08-11 14:49] OlesiaSub commented on #1022
@Graur problem was solved, but now it fails because of stylecheck
![image](https://user-images.githubusercontent.com/57731693/184162075-15d9b591-3628-4e40-bb2b-5501e3a8b20a.png)

[2022-08-11 16:18] Graur commented on #1022
@OlesiaSub try it now, please

[2022-08-11 16:53] EugeneDar commented on #1017
@yegor256 it's done.

[2022-08-11 16:54] EugeneDar commented on #936
@yegor256 it's done.

[2022-08-11 16:58] yegor256 commented on #936
@EugeneDar thanks!

[2022-08-11 16:58] #936 closed

[2022-08-11 16:58] yegor256 commented on #1017
@EugeneDar thanks!

[2022-08-11 16:58] #1017 closed

[2022-08-11 17:04] levBagryansky opened #1031 "Updating list.map, list.reduce"
@Graur,
There were changed list.map, list.reduce, list.mapi, list.reduced to list.mapped, list.reduced, list.mappedi, list.reducedi. So we need to update it in this repository

[2022-08-11 17:08] #1020 closed

[2022-08-11 17:17] OlesiaSub commented on #1022
Fixed, thank you!

[2022-08-11 18:15] #1009 closed

[2022-08-11 18:32] Graur commented on #1022
@OlesiaSub please close the ticket if you don’t have any further questions.

[2022-08-11 18:58] Graur commented on #1031
@levBagryansky go ahead

[2022-08-11 22:48] potatmen commented on #881
@mximp done https://github.com/objectionary/eo/pull/1032

[2022-08-12 06:36] mximp commented on #1014
@EugeneDar would you try to fix it?

[2022-08-12 06:42] #1022 closed

[2022-08-12 08:11] levBagryansky commented on #1031
@Graur ok

[2022-08-12 08:37] levBagryansky commented on #1031
@Graur , how is objectionary/eo related with objectionary/collecctions? It seems that eo  repo does not see new `reduced` and `mapped`.

[2022-08-12 09:02] Graur commented on #1031
@levBagryansky `objectionary/eo` includes `objectionary/collections` as a jar library. Right now `objectionary/collections` has version `0.0.2`. So we need to wait until `objectionary/collections` will be released, and only after that we can do these changes

[2022-08-12 09:10] EugeneDar commented on #1014
@mximp sure, I'll try to do it

[2022-08-12 12:27] yegor256 opened #1034 "GMI generator is broken"

[2022-08-12 13:32] #879 closed

[2022-08-12 19:47] EugeneDar commented on #1014
@yegor256 @mximp what type of error should we get in this case? Probably only `the alias "..." is dublicated`?

[2022-08-14 08:27] yegor256 opened #1035 "JUnit5 tests and their methods are 'public' -- it's unnecessary"
see https://stackoverflow.com/questions/55215949/why-junit-5-default-access-modifier-changed-to-package-private

let's make both classes and methods package-private. simply, remove the `public`.

[2022-08-14 08:28] yegor256 commented on #1035
@Graur pls, take care of this

[2022-08-15 03:46] andreoss commented on #1035
There is a PMD check for that

https://pmd.github.io/latest/pmd_rules_java_bestpractices.html#junit5testshouldbepackageprivate

[2022-08-15 07:15] mximp commented on #1014
@EugeneDar That's right. In this case there should be single `alias duplicated` error.

[2022-08-15 08:55] Graur commented on #1035
@andreoss Indeed, thanks!
@yegor256 Should we use this rule as mandatory? And add `JUnit5TestShouldBePackagePrivate` to [qulice pmd ruleset](https://github.com/yegor256/qulice/blob/master/qulice-pmd/src/main/resources/com/qulice/pmd/ruleset.xml)

[2022-08-15 09:02] yegor256 commented on #1035
@Graur @andreoss yes, definitely, let's add this to PMD and release new version of Qulice

[2022-08-15 10:08] MCJOHN974 commented on #684
@Graur does heap allow two or more allocations ?
[code]
Is code above valid or not ?

[2022-08-15 10:29] Graur commented on #684
@MCJOHN974 This code is valid. Moreover, we already have such test in heap-tests.eo: https://github.com/objectionary/eo/blob/master/eo-runtime/src/test/eo/org/eolang/heap-tests.eo#L45-L54

[2022-08-15 10:42] yegor256 commented on #1027
@OlesiaSub indeed, a misleading behavior. This happened because you didn't run

[code]

Some files remained in `.eoc` directory, already compiled. I think we need to improve `TranspileMojo`. When generating Java files it has to maintain a `Tojos` catalog of them (maybe in `target/eo/transpiled.csv`). Before the transpilation of each `.eo` file, it has to read the list of files _previously_ generat

[2022-08-15 10:42] yegor256 commented on #1027
@mximp please, help (or delegate)

[2022-08-15 10:43] yegor256 commented on #1007
@andreoss go ahead pls

[2022-08-15 10:54] yegor256 commented on #348
@andreoss this is urgent, would be great if you put it to the highest priority

[2022-08-15 12:24] #985 closed

[2022-08-15 12:29] Graur commented on #715
@levBagryansky I think we can use this issue to remove objects from eo-runtime according to this issues: https://github.com/objectionary/eo-strings/issues/6, https://github.com/objectionary/eo-strings/issues/7, https://github.com/objectionary/eo-strings/issues/8, https://github.com/objectionary/eo-strings/issues/9

[2022-08-15 14:37] #942 closed

[2022-08-15 14:42] Graur commented on #942
@maxonfjvipon Thanks!

[2022-08-15 15:15] mximp commented on #511
@Karina5005 - anything left for this task?

[2022-08-15 15:16] mximp commented on #920
@yegor256 all is done here, can this be closed?

[2022-08-15 15:22] #920 closed

[2022-08-15 18:06] levBagryansky commented on #715
@yegor256 , @Graur
I think since we want to implement regex by eo it will be better to compile the regex in `complile` attribute. It can be useful if we are going to match severall strings.

[2022-08-15 19:14] includealex opened #1042 "Parse fail of comments"
Adding comments in file like this
[code]
will cause an error.
[Error](https://user-images.githubusercontent.com/70340829/184701125-12174371-a3c8-4d20-96d8-96839d21cc81.png)
Code without string with symbol "#" works correctly.

[2022-08-15 20:19] 0pdd opened #1043 "BytesOf.java:34-37: Implement shift & left methods. New..."
The puzzle `632-18c86a21` from #632 has to be resolved:

https://github.com/objectionary/eo/blob/ffaa3579b37da050f31e3ae1303d9e4147b28a7d/eo-runtime/src/main/java/org/eolang/BytesOf.java#L34-L37

The puzzle was created by @rultor on 15-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2022-08-15 20:19] 0pdd commented on #632
@IngeniariusSoftware the puzzle [#1043](https://github.com/objectionary/eo/issues/1043) is still not solved.

[2022-08-15 20:20] yegor256 commented on #1043
@andreoss please, take care of this, budget is 30. @Graur FYI

[2022-08-15 23:12] andreoss commented on #1043
@yegor256 @Graur

1)

`>>` & `<<` should preserve original size?
`FF-FF-FF-FF.left 8` -> `FF-FF-FF-00`
`00-FF-00-00.shift 8` -> `00-00-FF-00`

2)

`>>` & `<<` should preserve sign?

`FF-FF-00-00.shift 8` -> `FF-FF-FF-00`
or
`FF-FF-00-00.shift 8` -> `00-FF-FF-00`
?

[2022-08-16 02:56] yegor256 commented on #1043
@andreoss the first option, keep the size intact

[2022-08-16 03:24] andreoss commented on #1043
@yegor256 The current implementation is backed by `BigInteger` and will expand/shrink array
For example:
[code]

[2022-08-16 03:29] yegor256 commented on #1043
@andreoss this is wrong. we must keep the size intact.

[2022-08-16 03:30] yegor256 commented on #1043
@andreoss also, I think we need just one method: `shift`. It must accept either positive or negative numbers. No need to have two methods, I believe.

[2022-08-16 03:41] #1007 closed

[2022-08-16 05:16] Karina5005 commented on #511
@mximp no, it's finished

[2022-08-16 07:04] mximp commented on #511
Thank you, @Karina5005!
@yegor256 @i582 this can be closed

[2022-08-16 07:04] yegor256 commented on #511
@Karina5005 @mximp thanks!

[2022-08-16 07:04] #511 closed

[2022-08-16 07:13] 0pdd commented on #1043
The puzzle `632-18c86a21` has disappeared from the source code, that's why I closed this issue.

[2022-08-16 07:13] #1043 closed

[2022-08-16 07:13] 0pdd opened #1046 "BytesOf.java:34-37: Current shift implementation does not..."
The puzzle `632-74990ab1` from #632 has to be resolved:

https://github.com/objectionary/eo/blob/f7d8f3901dc4c2a1653bd784a145c043761e8774/eo-runtime/src/main/java/org/eolang/BytesOf.java#L34-L37

The puzzle was created by @rultor on 16-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2022-08-16 07:13] 0pdd commented on #632
@IngeniariusSoftware the puzzle [#1046](https://github.com/objectionary/eo/issues/1046) is still not solved; solved: [#1043](https://github.com/objectionary/eo/issues/1043).

[2022-08-16 11:14] mximp commented on #1013
@Karina5005 please have a look at this task.

[2022-08-16 11:16] mximp commented on #1015
@OlesiaSub please assist with this.

[2022-08-16 11:40] OlesiaSub commented on #1015
@mximp @yegor256 could you please give a more detailed explanation of the idea or maybe an example of what should happen? I didn't quite get it.

[2022-08-16 13:44] MCJOHN974 opened #1047 "unexpected build failure when JDK version is lower than 11"
I cloned this repository, didn't change anything and run ```mvn clean install -Pqulice```.
I got next error message:
[code]
How can I deal with it ? Maybe we can add ```setup.sh``` file in repository,  which will automatically download\upgrade all dependencies ?

[2022-08-16 13:49] andreoss commented on #1047
Which JDK are you using? You need at least 11

[2022-08-16 14:05] ivan-egorov42 opened #1048 "Can't run program with ^-symbol"
I tried to dataize this program(on the pic), but got error

![image](https://user-images.githubusercontent.com/104271817/184899071-aa714601-eb0d-40b4-9135-9f6265fb4c8e.png)

Then, I just tried to remove `^` symbol and it's work. Is it bug?

![image](https://user-images.githubusercontent.com/104271817/184899437-69dc0432-6bc5-4847-86c3-c12b3d9d5941.png)

[2022-08-16 14:05] andreoss commented on #1042
Comments are not erased and part of the grammar.
This comment would be part of `abstraction` and should be indented.

https://github.com/objectionary/eo/blob/master/eo-parser/src/main/antlr4/org/eolang/parser/Program.g4#L51

[2022-08-16 14:37] IngeniariusSoftware opened #1049 "`sprintf` with `%c`"
code
[code]

current result:
[code]

[2022-08-16 14:53] OlesiaSub opened #1050 "rules of importing objects with identical names"
I had this simple piece of code located in 2 files, `app.eo` and `animal.eo`. When launched, it produced string `I am alive` as a result.

![image](https://user-images.githubusercontent.com/57731693/184908439-9b3f827d-76d6-4fc2-9721-ade373ccd3ed.png)

`animal.eo` was located in folder `animals`.
![image](https://user-images.githubusercontent.com/57731693/184908761-e3e74037-6743-45df-8dc8-e9bcbb04a

[2022-08-16 14:56] Graur commented on #1048
@ivan-egorov42 Looks like expected behavior to me. `^` means the nearest abstract object, so there are no `a` and `b` in `sum`.

[2022-08-16 15:24] andreoss commented on #1046
@yegor256 @Graur `shift` with sign should be by default or a separate operation?

[2022-08-16 15:33] EugeneDar commented on #1014
@yegor256 @mximp @Graur
The problem is that when converting from EO to XMIR, we get duplication, as you can see on the fifth line below.
[code]
In that case, is this XMIR correct?

[2022-08-16 15:36] yegor256 commented on #1014
@EugeneDar this is _definitely_ a broken XMIR

[2022-08-16 15:40] yegor256 commented on #1046
@andreoss I don't even know what is "shift with sign"... I think shift operations must not pay attention to the "sign". they just shift the bits, that's all. what the bytes will become after the shift -- we don't care.

[2022-08-16 16:06] mximp commented on #1015
@OlesiaSub If you check `pom.xml` in `eo-runtime` module you will see `eo-maven-plugin` configuration.
It's required to be able to supply `<skip/>` option in configuration to suppress execution of plugin goals. Defaulted to `false`.
All plugin logic is in `eo-maven-plugin` module. Please check `SafeMojo` class which is common for all plugin goals.
 I believe skip option check can be placed there.

[2022-08-16 16:23] andreoss commented on #1046
@yegor256 Java has two types of shift operators `>>` (signed) and `>>>` (un-signed).
Right now, only the unsigned version is implemented.

[2022-08-16 16:23] ivan-egorov42 commented on #1048
But the same example is in the paper(p.5, 2.7):

[code]

Is it correct? And why can sum see `a` and `b` if they are in other scope?

[2022-08-16 16:25] mximp commented on #1014
@EugeneDar What is your question?

[2022-08-16 16:46] EugeneDar commented on #1014
I wanted to know if this XMIR is correct in order to know if the translator in XMIR needs to be fixed or if the error search needs to be fixed.

[2022-08-16 16:46] EugeneDar commented on #1014
@mximp I wanted to know if this XMIR is correct in order to know if the translator in XMIR needs to be fixed or if the error search needs to be fixed.

[2022-08-16 16:54] includealex commented on #1042
@andreoss If I understand you correctly, this code with indent should work
[code]

But it still has the same error.

[2022-08-16 16:57] Graur commented on #1048
@yegor256 Could you tell us, please, is this description with `^` object in paper is wrong? Or maybe @ivan-egorov42 found a new bug

[2022-08-17 05:31] yegor256 commented on #1046
@andreoss I didn't know this. So, let's implement two methods: `shift` and `sshift`

[2022-08-17 05:43] yegor256 commented on #1048
@Graur @ivan-egorov42 the code is right:

[code]

@ivan-egorov42 by the way, try to avoid pasting images with code samples -- it's very inconvenient, since the code can't be copied

[2022-08-17 05:44] yegor256 commented on #1049
@IngeniariusSoftware btw, I'm curious, why did you paste an image with stacktrace, instead of just copying the text?

[2022-08-17 05:46] yegor256 commented on #1049
@Graur I think it's a bug in our implementation of `sprintf`. We should process the formatter string more carefully. When we meet `%c`, we should take the first byte of the provided argument. The same way, we should deal with other patterns.

[2022-08-17 05:48] yegor256 commented on #1047
@mximp I think we should add some Maven plugin to our `pom.xml`, which will check Java version and fail the build with proper message, if the version is too low. I hope such a plugin exists somewhere.

[2022-08-17 05:49] yegor256 commented on #1050
@OlesiaSub please, try to not paste images with the code, since it's hard to work with it -- can't copy. Instead, use Markdown.

[2022-08-17 05:50] yegor256 commented on #1050
@OlesiaSub seems to be a duplicate of #1027

[2022-08-17 05:51] yegor256 commented on #1050
@OlesiaSub while we are fixing #1027, you can do `eoc clean` every time you change the structure of the code and/or introduce new objects. This should help.

[2022-08-17 05:52] yegor256 commented on #1042
@includealex comments inside objects are prohibited. The only legal place for a comment is _before_ an abstract objects:

[code]

[2022-08-17 05:52] #1042 closed

[2022-08-17 05:53] yegor256 commented on #1048
@ivan-egorov42 please, share your full program sample (in Markdown, not as a picture), and we can run it too.

[2022-08-17 05:55] OlesiaSub commented on #1050
@yegor256 the reason here and in #1027 might be the same, but my questions are different.
What if I really wanted my code to look like this and have two objects with similar names?
I am asking this question because it's reslly important for the project I am currently working on, I need to know exaclty which objects are being imported, but it seems impossible in cases like this one.
So my question

[2022-08-17 05:58] OlesiaSub commented on #1050
If I do `eoc clean` it fails like this by the way
![image](https://user-images.githubusercontent.com/57731693/185045292-b978b4bd-6fd3-4c8a-adba-0d258786a56d.png)
So can I assume that this code is wrong?

[2022-08-17 06:03] yegor256 commented on #739
@mximp what's up with this? how far are we?

[2022-08-17 06:06] yegor256 commented on #1050
@OlesiaSub again, why do you paste images into message? :) why can't you copy the text and use Markdown? images are not convenient for readers -- we can't copy anything from them

[2022-08-17 06:09] OlesiaSub commented on #1050
@yegor256 ok, I thought it was only related to code samples.
[code]

I can send full log if you need as well

[2022-08-17 06:11] yegor256 commented on #1050
@OlesiaSub can you post the full code here again. it's very hard to read the images you posted above.

[2022-08-17 06:16] OlesiaSub commented on #1050
animal.eo
[code]

app.eo
[code]

animal_mod.eo
[code]

[2022-08-17 06:20] yegor256 commented on #1050
@OlesiaSub you define two objects with the same name in the same package: `animal`. Of course, the behavior of the program is unpredictable. see #499

[2022-08-17 06:25] OlesiaSub commented on #1050
Yes, I know I should have used packages to avoid it.
I just wanted to know if it is wrong to write such code. And if it is wrong - why there were no warnings.
But as I can see from #499 it really is a bug. Thanks!

[2022-08-17 06:25] #1050 closed

[2022-08-17 06:25] yegor256 commented on #499
@andreoss is this fixed? see #1050

[2022-08-17 09:19] yegor256 commented on #739
@mximp I suggest we fix them ASAP, because new changes are coming to eo-runtime and they will definitely break Qulice :(

[2022-08-17 09:54] OlesiaSub commented on #1015
@mximp thanks!
Just to clarify, should `skip` option suppress execution of all goals at once or should it be specific for particular goals?

[2022-08-17 11:39] mximp commented on #739
@yegor256 this is completed and can be closed

[2022-08-17 11:44] mximp opened #1055 "Enable Checkstyle for `eo-runtime` tests"
Current the checks are suppressed for tests.
Let's fix the problems and enable it.

[2022-08-17 11:57] mximp commented on #1015
@OlesiaSub Execution of all goals

[2022-08-17 13:09] includealex commented on #1048
@yegor256 I've run these two programs:
[code]
and
[code]
(difference is only in removing symbols "^"). And they both work correctly. Should it be like that? I think, that in the second case there should be thrown an error that we are trying to apply to non-visible objects.

[2022-08-17 15:13] ivan-egorov42 commented on #1048
@yegor256 @Graur
Sorry for using images. Here is my code and it still doesn't work. I run my program with `eoc` and it crashed. Try to run it in the same way.
[code]
P.S. @includealex Now I tried to run your program with `eoc` and it fails, but it works when it is run with `sandbox`.

[2022-08-17 15:20] yegor256 commented on #1048
@ivan-egorov42 try this one instead:

[code]

This code:

[code]

is understood as such:

[code]

See #614 (it's sort of a bug)

[2022-08-17 15:20] #1048 closed

[2022-08-17 15:29] ivan-egorov42 commented on #1048
@yegor256  thank you, now it works. But is it okay that we can run this program with `^` and without `^`  (like in example of _includealex_)  and it works in both cases?

[2022-08-17 15:32] yegor256 commented on #1048
@ivan-egorov42 of course, `^.a` is the same as `a` as long as looking up the object tree the same `a` is found in both cases.

[2022-08-17 15:34] ivan-egorov42 commented on #1048
@yegor256 OK, thank you.

[2022-08-17 15:37] mximp commented on #1055
Completed.

[2022-08-17 15:37] #1055 closed

[2022-08-17 16:04] mximp commented on #1027
@Karina5005 is this something you can assist with?

[2022-08-17 16:05] mximp commented on #998
@OlesiaSub Can you please help with this

[2022-08-17 16:06] mximp commented on #998
**_Implementation notes_**: this can be implemented similarly to `SafeMojo.tojos`.

[2022-08-17 18:55] includealex opened #1057 "Nullptr - what analogue should be proposed in translators"
Null pointers are such a thing, that we don't tolerate (as is in [README](https://github.com/objectionary/eo#readme) mentioned). But when we are trying to translate languages, that have such objects as null, nullptr in EOlang, we face an expected problem. We don't have such an objects in eo.
As I think, the easiest way to make such an analogue is to decorate (int) 0 object with overriden attribute

[2022-08-17 20:22] andreoss opened #1058 "IT case fails build because of Checkstyle issue"
[code]

[2022-08-18 03:54] yegor256 commented on #1058
@andreoss let's close?

[2022-08-18 04:18] yegor256 opened #1060 "'array' must not be a data object, but only a syntax sugar"
At the moment, `array` is a data object, with special processing in `data.xsl` and everywhere. I suggest we remove this and make it a normal object, but with a syntax sugar in the syntax. This code:

[code]

Should generate the same code as this one:

[code]

[2022-08-18 04:18] yegor256 commented on #1060
@andreoss can you help? @Graur FYI

[2022-08-18 04:55] yegor256 opened #1061 "let's cache optimized XMIR in ~/.eo"
Let's extend `OptimizeMojo` with the following: before optimizing a new XMIR `foo/abc.xmir` file it should check whether a cached result already exists in `~/.eo/optimized/75acef9/foo/abc.xmir`. Here, `75acef9` is Git hash of the .eo source being optimized. If cache exists, just take it from there. If it doesn't, do the optimization and save the cache.

[2022-08-18 04:55] yegor256 commented on #1061
@mximp please, take care of this. I believe, the speed of the build will boost after this

[2022-08-18 04:57] yegor256 opened #1062 "let's cache parsed EO sources in ~/.eo"
Let's extend `ParseMojo` with the following: before parsing a new EO source `foo/main.eo` file it should check whether a cached result already exists in ~/.eo/parsed/75acef9/foo/abc.xmir. Here, `75acef9` is Git hash of the .eo source being parsed. If cache exists, just take it from there. If it doesn't, do the parsing and save the cache.

[2022-08-18 04:57] yegor256 commented on #1062
@mximp please, help

[2022-08-18 04:59] yegor256 opened #1063 "eo-maven-plugin:clean"
Let's add a new goal to our Maven plugin: `clean`. It should simply delete the directory `target/eo` (which is configurable through Maven property) and report about it in the log.

[2022-08-18 04:59] yegor256 commented on #1063
@Graur please, take care of this

[2022-08-18 06:13] yegor256 opened #1064 "rename ~/.eo/sources to ~/.eo/pulled"
Let's rename the directory, to be more in alignment with #1062 and #1061

[2022-08-18 06:42] yegor256 opened #1065 "disable invoker tests if we are offline"
Without Internet connection our build fails, at the `invoker` step of `eo-maven-plugin`. Let's find a way to disable the entire invoker if we are offline.

[2022-08-18 06:42] yegor256 commented on #1065
@mximp please, help here

[2022-08-18 10:17] EugeneDar commented on #1014
@OlesiaSub this problem fixed here https://github.com/objectionary/eo/pull/1041

[2022-08-18 10:54] OlesiaSub commented on #1014
@EugeneDar thanks!

[2022-08-18 10:54] #1014 closed

[2022-08-18 11:47] mximp commented on #1065
@Karina5005 Could you please take it.

[2022-08-18 11:48] yegor256 commented on #715
@levBagryansky this is what `compile` is for: to pre-process the expression

[2022-08-18 11:50] mximp commented on #1064
@potatmen please assist with this one.

[2022-08-18 12:15] mximp commented on #739
@yegor256 reminder

[2022-08-18 12:16] yegor256 commented on #739
@mximp thanks!

[2022-08-18 12:16] #739 closed

[2022-08-18 13:04] Karina5005 commented on #1065
@mximp sure.
But can you give me more information, please.
Do I understand correctly that the problem is that when we run `mvn clean install` without an internet connection, an error occurs. And we want to solve this by disabling the steps that require an Internet connection?
I'm not sure that I understand correctly what "disable the entire invoker" means.

[2022-08-18 13:39] mximp commented on #1065
@Karina5005 We have `PullMojo` which requires remote connection for getting objects from Objectionary. It is executed during the build/tests. So we need to skip downloading if there is not connection.
Please check `URL` usage in `eo-maven-plugin`.
I believe `PullMojo` should print a message that we are offline and do nothing.
Also please note that there tests in `eo-maven-plugin` which uses remote

[2022-08-18 14:52] #1058 closed

[2022-08-18 15:20] levBagryansky opened #1067 "stackoverflow?"
@Graur @EugeneDar @includealex
Please help with determinate the error. I wrote this simple test:
[code]
So I get this error:
["Unexpected error 'null' of type StackOverflowError; caused by "SF](https://github.com/objectionary/eo/files/9375066/error1.txt)
But when I run the test with 3 triples(not 4) it works correctly
[code]
So now I am looking for reason, except for realy stackoverflow, why it ca

[2022-08-18 15:21] EugeneDar commented on #1067
@levBagryansky can you please simplify the test?

[2022-08-18 15:22] levBagryansky commented on #1067
@levBagryansky ,
It has already been simplified

[2022-08-18 15:24] EugeneDar commented on #1067
@levBagryansky I'm sorry, but it's still hard to read

[2022-08-18 15:25] EugeneDar commented on #1067
@levBagryansky perhaps the problem is that EOLANG is still not optimized for complex applications

[2022-08-18 15:26] levBagryansky commented on #1067
@EugeneDar ,
I created 2 objects: triple(has 3 free attributes) and eq-sets that compares content of lists without order. In `assert-that` just compare two lists with triples

[2022-08-18 15:28] EugeneDar commented on #1067
@levBagryansky you can use only one `and` attribute in `eq` method because it gains data sequence

[2022-08-18 15:34] levBagryansky commented on #1067
It will not simplify because reduced uses reducedi in its implementation

[2022-08-18 15:52] EugeneDar commented on #1067
@levBagryansky maybe you can try use three-element array instead of triple object

[2022-08-18 18:00] EugeneDar commented on #1067
it really doesn't improve code performance, but it does improve readability. And if I understand correctly, the question is whether StackOverflow is your bug or a problem with the language in general. Please read this https://www.yegor256.com/2022/03/29/bugs-occam-razor.html

[2022-08-18 18:09] levBagryansky commented on #1067
@EugeneDar , thank you, I agree with the statement. That's why a simplified the test. My goal was to simplify test but to save its complexity for computer. I think we did it.

[2022-08-19 07:36] OlesiaSub commented on #998
@mximp I'm not sure I fully understand the problem and the desired solution.
As far as I understood, the problem is that both PlaceMojo and UnplaceMojo always just create a new catalog and don't cache it?
And I need to create a method to cache the catalog. But the created catalog depends on parameters `placed` and `placedFormat`, for example PlaceMojo has this method:
[code]
Is the assumption that

[2022-08-19 09:13] levBagryansky commented on #1067
Seems its realy stackoverflow

[2022-08-19 09:13] #1067 closed

[2022-08-19 09:20] #958 closed

[2022-08-19 09:22] #1005 closed

[2022-08-19 09:44] #1031 closed

[2022-08-19 10:19] mximp commented on #998
@OlesiaSub `placed` and `placedFormat` are the property of the plugin goal. They are set only once and don't change during maven run execution.
`placed` catalog has the same behaviour as `foreign`. It just happened that `foreign` has been implemented in `SafeMojo`.
So I would suggest to move `placed` and `placedFormat` props to `SafeMojo` and create `placedTojos` protected field (as suggested by Y

[2022-08-19 10:28] mximp commented on #307
@yegor256 @Sitiritis if there are still issues?

[2022-08-19 10:45] Karina5005 opened #1069 "eo-runtime RamTest fails"
I found that using `@Execution(CONCURRENT)` needs junit-platform.properties (https://stackoverflow.com/questions/50586201/parallel-test-case-execution-with-junit-5) to make it work. I didn't find such a file, so I added it.
RumTest started to fall. It uses `@Execution(CONCURRENT)` and apparently before that the parallelism did not work and the test passed, but now it is falling sometimes.

[code]

[2022-08-19 12:42] mximp commented on #1013
@Karina5005 Thanks!

[2022-08-19 12:42] #1013 closed

[2022-08-19 13:06] Graur commented on #1063
@includealex please, take this task

[2022-08-19 13:20] Graur commented on #1063
@includealex First you need to create a new Mojo, let's call it `CleanMojo`. Then pay attention to how `ResolveMojo` class store files in `target/eo` directory. Then implement in you new `CleanMojo` deleting of this directory (maybe also `UnplaceMojo` help you with this). And finally, place this new goal in `AssembleMojo`

[2022-08-19 14:28] mximp commented on #1047
@MCJOHN974 This is amended to show meaningful message.
The task can be closed.

[2022-08-19 15:55] mximp commented on #1062
@yegor256 Is there a reason to have specifically **Git hash**? Can we use common `MD5` or `SHA256` natively supported by Java?

[2022-08-19 15:57] potatmen commented on #881
@mximp I haven't actually fixed it yet

[2022-08-19 18:40] yegor256 commented on #1062
@mximp we need to cache by versions. a version in objectionary is git hash.

[2022-08-20 11:06] includealex commented on #1063
@Graur sure.

[2022-08-21 06:47] yegor256 commented on #1069
@andreoss please, check this one. @Graur FYI

[2022-08-22 09:22] Graur commented on #1010
@MikhailLipanin please, take this task

[2022-08-22 09:50] #1047 closed

[2022-08-22 09:53] Graur commented on #761
@MCJOHN974 Can you help us here?

[2022-08-22 10:04] mximp commented on #881
@potatmen was the merge for?

[2022-08-22 10:58] IngeniariusSoftware opened #1073 "Show skipped errors when `failOnError` = false"
When `failOnError` = false, in some cases, the compiler outputs useful information about missed errors, but in some cases it silently skips:

good log example for large number error:

[code]

log example for not using some aliases if `failOnError` = false, compiles without warnings and just doesn't create files
if `failOnError` = true:

[code]

[2022-08-22 11:09] mximp commented on #1062
@yegor256 correct me if I'm wrong: but we need to cache by content. If I get it right we want to avoid parsing an `.eo` file if we already did that before. The file is identified by its content (hash of the content in our case). There is no reference to a version in Objectionary here, isn't it?
The hash can be anything which derives file content. Do you agree?

[2022-08-22 12:32] yegor256 commented on #1062
@mximp I think it's better to attach files to versions from Objectionary, instead of their content. When we download from Objectionary, we know the version of the file. It's in `foreign.csv`. We can use this version as a marker for all caches in `~/.eo`

[2022-08-22 13:22] mximp commented on #1062
@yegor256 what about local files? We don't download them but parse from local folders. And they don't have distinct versions

[2022-08-22 14:18] yegor256 opened #1074 "fresh version with optimized XSL usage"

[2022-08-22 14:20] yegor256 commented on #1074
@rultor release, tag is `0.27.1`

[2022-08-22 14:22] rultor commented on #1074
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26556-1222431079)

[2022-08-22 14:28] rultor commented on #1074
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26556-1222431079) (spent 6min)

[code]

[2022-08-22 14:29] yegor256 commented on #1074
@rultor release, tag is `0.27.1`

[2022-08-22 14:41] rultor commented on #1074
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26556-1222443357)

[2022-08-22 14:56] rultor commented on #1074
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26556-1222443357) (spent 14min)

[code]

[2022-08-22 15:17] #1049 closed

[2022-08-22 15:17] 0pdd opened #1076 "EOsprintf.java:93-96: Current implementation supports..."
The puzzle `1049-0e7c200c` from #1049 has to be resolved:

https://github.com/objectionary/eo/blob/e7761125791271e4f0baccd512c763783ddf4e1c/eo-runtime/src/main/java/EOorg/EOeolang/EOtxt/EOsprintf.java#L93-L96

The puzzle was created by @rultor on 22-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2022-08-22 15:18] 0pdd commented on #1049
@IngeniariusSoftware the puzzle [#1076](https://github.com/objectionary/eo/issues/1076) is still not solved.

[2022-08-22 15:32] Graur commented on #1073
@yegor256 I can take it along with https://github.com/objectionary/eo/issues/1024

[2022-08-22 15:36] Graur commented on #715
@levBagryansky What's up with this issue?

[2022-08-22 15:43] levBagryansky commented on #715
@Graur I copied txt package to eo-strings. So we need release eo-strings and remove them here

[2022-08-22 15:46] Graur commented on #715
@levBagryansky Thanks! Can you, please, check `sprintf` object one more time? It was updated by https://github.com/objectionary/eo/issues/1049

[2022-08-22 20:55] dours opened #1077 "File name too long"
Translation of python code with several (say, 4) levels of structural control flow hierarchy (i.e, an `if` clause inside a double `for` loop inside a function) leads to EO code with an hierarchy of about 40 objects in my case. Java files for this EO code have too long file names (for Ubuntu 20!), so the compilation process fails.

The easiest way to reproduce this problem is to use this EO generat

[2022-08-23 06:31] IngeniariusSoftware opened #1079 "Reusing `TransformerFactory.newInstance()`"
@yegor256, I again got some result of profiling eo compiler 0.27.1 for about 500 eo files:

the total calling TransformerFactory.newInstance() by  counted for 36.31% of all CPU time and 29.39% of all memory allocations

It is possible to reuse TransformerFactory instance?

CPU:
![image](https://user-images.githubusercontent.com/33983579/186085489-458bf010-342c-461c-af80-7d0c3cfdfb8e.png)

Memory a

[2022-08-23 07:38] Graur commented on #1076
closed, since `sprintf` moved to `eo-strings`: https://github.com/objectionary/eo-strings/issues/27

[2022-08-23 07:38] #1076 closed

[2022-08-23 12:02] #1035 closed

[2022-08-23 16:23] mximp commented on #998
@yegor256 done!

[2022-08-23 16:24] mximp commented on #881
@yegor256 this one is completed.

[2022-08-23 16:24] #881 closed

[2022-08-23 18:45] yegor256 commented on #998
@OlesiaSub @mximp thanks!

[2022-08-23 18:45] #998 closed

[2022-08-23 19:02] yegor256 commented on #1079
@IngeniariusSoftware how exactly do you run the test? What are you doing: parsing, optimizing, transpiling?

[2022-08-23 19:03] yegor256 commented on #1077
@mximp can we do something about this?

[2022-08-23 19:04] yegor256 commented on #1073
@Graur go ahead, please

[2022-08-23 19:05] yegor256 commented on #1046
@andreoss it's yours. @Graur FYI

[2022-08-23 19:06] yegor256 commented on #930
@levBagryansky can you help?

[2022-08-23 19:13] yegor256 commented on #877
@mximp is it still a problem or we can close?

[2022-08-23 19:13] yegor256 commented on #888
@mximp is it still a problem or we can close?

[2022-08-23 19:13] yegor256 commented on #887
@mximp is it still a problem or we can close?

[2022-08-23 19:13] yegor256 commented on #886
@mximp is it still a problem or we can close?

[2022-08-23 19:14] yegor256 commented on #874
@MikhailLipanin I'm closing this one. if you still have a problem, please open a new ticket

[2022-08-23 19:14] #874 closed

[2022-08-23 19:15] yegor256 commented on #796
@Graur fix this please (or delegate)

[2022-08-23 19:16] yegor256 commented on #793
@Graur please, help

[2022-08-23 19:17] yegor256 commented on #774
@maxonfjvipon what's up with this ticket? we still need it?

[2022-08-23 19:17] yegor256 commented on #743
@MikhailLipanin I believe, this one is fixed

[2022-08-23 19:17] #743 closed

[2022-08-23 19:20] yegor256 commented on #618
@dours what is the question here? Is it a bug in EO?

[2022-08-23 19:21] yegor256 commented on #612
@Graur please, verify this report (it's pretty old) and fix if the bug is still here

[2022-08-23 19:22] maxonfjvipon commented on #774
@yegor256 I think I can close it for now

[2022-08-23 19:23] yegor256 commented on #529
@i582 we are working on this, in other tickets.

[2022-08-23 19:23] #529 closed

[2022-08-24 04:09] IngeniariusSoftware commented on #1079
@yegor256, I ran `mvn clean compile` and collected data from the beginning to the end of all the transformation steps. This is [the snapshot](https://drive.google.com/file/d/1hjO9GElLh5m0-uNDqq0xcssQWpE0c-iv/view?usp=sharing) that you can unpack and open via profiling intellij idea. Judging by the snapshot, the bulk of the calls `TransformerFactory.newInstance()` fall on `OptimizeMojo`

[2022-08-24 06:51] yegor256 commented on #1079
@IngeniariusSoftware this indeed is very strange. We load all XSL documents statically -- only once per JVM. Why `newInstance()` is called so often -- I can't understand. Let's figure out and fix.

[2022-08-24 06:51] yegor256 commented on #1079
@mximp please, help us here

[2022-08-24 06:54] yegor256 commented on #268
@andreoss I think this one can be closed, since checkstyle is already enabled in eo-runtime

[2022-08-24 06:54] #268 closed

[2022-08-24 08:06] levBagryansky commented on #930
@yegor256 ok

[2022-08-24 09:27] 0pdd opened #1084 "string-tests.eo:97-99: This test is broken on Windows...."
The puzzle `348-ddaf0eaa` from #348 has to be resolved:

https://github.com/objectionary/eo/blob/301c65bcd5c561eb8acd81305acc8405ffa4f120/eo-runtime/src/test/eo/org/eolang/string-tests.eo#L97-L99

The puzzle was created by @rultor on 24-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2022-08-24 09:28] 0pdd opened #1085 "XeListener.java:48-51: Make changes to store INT as..."
The puzzle `348-e3a36069` from #348 has to be resolved:

https://github.com/objectionary/eo/blob/301c65bcd5c561eb8acd81305acc8405ffa4f120/eo-parser/src/main/java/org/eolang/parser/XeListener.java#L48-L51

The puzzle was created by @rultor on 24-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t