[2021-10-07 19:46] yegor256 commented on #346
@kreofil попробуйте с последней версией 0.10.4

[2021-10-07 19:46] #346 closed

[2021-10-07 19:52] yegor256 commented on #362
@rultor release, tag is `0.10.5`

[2021-10-08 00:24] IngeniariusSoftware opened #363 "сode with access to phi attribute is not compiled"
## EO code

[code]

## Expectation

By analogy with the example article, I would like to access the phi attribute

![image](https://user-images.githubusercontent.com/33983579/136478917-f8b22b4d-227c-462b-9f0f-1248b6a809af.png)

##  Result

an error occurs during compilation

![image](https://user-images.githubusercontent.com/33983579/136479219-fe324b20-1539-4a4e-96b7-645b195ce6a5.png)

[2021-10-08 04:41] yegor256 commented on #363
@IngeniariusSoftware failed to reproduce in b249dbd. I think the problem is somewhere else with your code. Check the line that goes right after the one with the error. Is it empty? Remember, we don't tolerate lines with spaces.

[2021-10-08 04:41] #363 closed

[2021-10-08 04:41] yegor256 commented on #360
@nikololiahim this code:

[code]

is equivalent to this one:

[code]

There are three named objects (`d`, `cb`, and `cba`), which (since they are named not inside an abstract object) are the attributes of the global object Ф. The XSL transformation `vars-float-up.xsl` had a bug: it was not moving such objects to the global scope correctly. I fixed it in d9e877e.

[2021-10-08 04:41] yegor256 commented on #360
@rultor release, tag is `0.10.6`

[2021-10-08 04:53] rultor commented on #360
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25160-938338538) (took me 10min)

[2021-10-08 08:38] yegor256 opened #364 ""scope" for eo-maven-plugin "foreign" catalog"

[2021-10-08 15:29] rultor commented on #364
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25164-938724825) (took me 9min)

[2021-10-08 15:29] #364 closed, assigned to nobody

[2021-10-09 12:51] nlchar commented on #328
@IngeniariusSoftware @kreofil
fixed in f79eee28f657052b39bab2835b10198dd954c31d
please, check and reopen if it is not fixed yet

[2021-10-09 12:51] #328 closed

[2021-10-09 12:51] nlchar commented on #204
@yegor256
fixed in f79eee28f657052b39bab2835b10198dd954c31d
please, check and reopen if it is not fixed yet

[2021-10-09 12:51] #204 closed

[2021-10-09 13:11] nlchar commented on #343
#253

[2021-10-10 21:07] hadiSaleh opened #365 "Parent Referencing"
The EO paper proposes the following realization of parent references in the language:
Since the same object may be bound to more than one attribute, the parent ρ may
depend on where the object is bound.
This definition is erroneous and should be considered carefully and cautiously. Let’s have a look
at the following example:

[code]

Here, we have attribute att1 of the obj1 object. This attribute

[2021-10-10 21:08] hadiSaleh opened #366 "Memory"
Once a programming language has recursion, it has everything. Nevertheless, the memory
object might be handy for newcomers with previous imperative background. For now, the
memory object is able to contain data values, and not complex objects. Since that, the following
example would break:
[code]

Here, we are trying to rewrite memory value based on the previous state of the memory. This
is not po

[2021-10-11 03:17] yegor256 opened #367 ".xmir extension instead of .eo.xml"

[2021-10-11 03:19] yegor256 commented on #366
@hadiSaleh we already gave up on the idea of "dataized" object: https://github.com/cqfn/eo/issues/354

[2021-10-11 03:19] #366 closed

[2021-10-11 03:29] #367 closed

[2021-10-11 03:34] yegor256 opened #368 ""unresolve" target for maven"
Now "prepack" is doing two things. Let's decompose.

[2021-10-11 06:05] 0crat commented on #368
Job `gh:cqfn/eo#368` is not assigned, can't get performer

[2021-10-11 06:53] yegor256 opened #369 ""extend" and "place" goals"

[2021-10-11 06:54] yegor256 commented on #369
@rultor release, tag is `0.11.0`

[2021-10-11 07:09] rultor commented on #369
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25170-939737103) (took me 13min)

[2021-10-11 11:11] yegor256 opened #370 "rename "prepack" to "unspile""

[2021-10-11 11:15] #370 closed

[2021-10-11 11:44] yegor256 opened #371 "publish plugin website to plugin.eolang.org"

[2021-10-12 03:39] yegor256 commented on #370
@rultor release, tag is `0.12.0`

[2021-10-12 03:40] rultor commented on #370
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25174-940626995)

[2021-10-12 03:54] rultor commented on #370
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25174-940626995) (took me 13min)

[2021-10-12 17:39] yegor256 opened #372 ""bytes" object"

[2021-10-12 17:44] IngeniariusSoftware opened #373 "The memory is not yet written"
code example

[code]

## Expectation

Printing value of g.g_intVar01. In our case "0"

## Result

Error of memory initializing

![image](https://user-images.githubusercontent.com/33983579/137003917-4ad79023-41ac-4e1a-8898-8ed4aa705103.png)

[2021-10-13 03:51] yegor256 opened #374 "as-float, as-string, as-int"

[2021-10-13 09:58] rultor commented on #374
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25178-942130778)

[2021-10-13 10:18] #374 closed, assigned to nobody

[2021-10-13 14:40] yegor256 opened #375 "broken IMPORT in Java"

[2021-10-13 16:30] eyihluyc opened #376 "Meaning of `^`"
The [paper](https://www.eolang.org/eolang-paper.pdf) states that the parent depends on 'where the object is bound', however, the following example shows the contrary.

Here, an object is copied inside some other object. The question is what is the parent of this copy: where object was copied, or where the original object was created.

[code]
This program is dataized to `19`, implying that `b.n.^ =

[2021-10-13 22:55] IngeniariusSoftware opened #378 "possible duplicate computation"
Some example of EO code and the C equivalent

<table>
<tr>
<th>EO</th>
<th>C</th>
</tr>
<tr>
<td><pre lang=\"java\"><code>
+package sandbox
&nbsp;
+alias org.eolang.io.stdout
+alias org.eolang.txt.sprintf
&nbsp;
[args] > complexReturnC
&nbsp;
&nbsp;&nbsp;[a] > f
&nbsp;&nbsp;&nbsp;&nbsp;memory > result
&nbsp;&nbsp;&nbsp;&nbsp;memory > isReturn
&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;if. > @
&nbsp;&nbsp;&nbs

[2021-10-14 04:14] yegor256 opened #379 "filter out when placing"

[2021-10-14 04:17] #379 closed

[2021-10-14 05:08] yegor256 opened #380 "memory.is-empty"

[2021-10-14 05:35] rultor commented on #380
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25180-942960937) (took me 9min)

[2021-10-14 05:49] 0crat commented on #379
Job `gh:cqfn/eo#379` is not assigned, can't get performer

[2021-10-14 21:11] IngeniariusSoftware opened #381 "% instead Math.floorMod"
Perhaps we should use % instead of Math.floorMod.
Math.floorMod is logical to use in specific tasks. Its results differ from standard ones if the signs of the operands are different.

https://github.com/cqfn/eo/blob/c67ec050ef00cada8d0575dbf2dad1bc4b7d49ad/eo-runtime/src/main/java/EOorg/EOeolang/EOint%24EOmod.java#L40-L53

[2021-10-14 21:13] #265 closed

[2021-10-14 21:13] #264 closed

[2021-10-17 21:39] #373 closed

[2021-10-19 09:48] IngeniariusSoftware opened #383 "Does the special syntax for arrays work?"
## EO code

[code]

## Expectation

## Result

![image](https://user-images.githubusercontent.com/33983579/137885885-855339f3-81a3-4cb3-881a-bbf1c019713f.png)

[2021-10-20 13:23] IngeniariusSoftware opened #384 "Varargs don't work together with another attributes"
## EO code

[code]

## Expectation

## Result

![image](https://user-images.githubusercontent.com/33983579/138101082-69618a8a-b87c-443c-878f-34f3320ab049.png)

[2021-10-20 13:23] IngeniariusSoftware commented on #384
if the attribute is removed the result will be correct

[2021-10-21 10:17] IngeniariusSoftware opened #385 "bound array to named attribute"
## EO code

[code]

## Expectation

## Result

![image](https://user-images.githubusercontent.com/33983579/138258378-6ffb8d24-8b8e-4b55-9c20-06dfbc6604f7.png)

[2021-10-21 10:35] IngeniariusSoftware opened #386 "Is it possible to implement support for an array as an argument in sprintf?"
### to make possible something like this:

## EO code

[code]

[2021-10-21 10:38] IngeniariusSoftware commented on #345
@yegor256 in some cases this is a useful feature to visually differentiate large objects from each other

[2021-10-22 16:28] IngeniariusSoftware opened #388 ""as-int" attribute for float atom"
3.57.as-int

I will create PR for this task

[2021-10-22 16:30] IngeniariusSoftware opened #389 ""abs" attribute for int atom"
-3.abs 0.abs 3.abs

I create PR for this task

[2021-10-23 17:09] #372 closed, assigned to nobody

[2021-10-23 17:23] yegor256 opened #390 "code duplication inside Program.g4"
This block contains duplicated code: https://github.com/cqfn/eo/blob/master/eo-parser/src/main/antlr4/org/eolang/parser/Program.g4#L131-L180 Would be great to get rid of duplication. I made it like this, after the discussion: https://stackoverflow.com/questions/64635366/how-to-make-antlr-consume-all-available-elements-using-recursion

[2021-10-23 18:47] #381 closed, assigned to nobody

[2021-10-24 14:51] #388 closed, assigned to nobody

[2021-10-24 15:04] yegor256 opened #392 "bytes.as-string"

[2021-10-24 15:08] #392 closed, assigned to yegor256

[2021-10-24 15:38] yegor256 opened #393 "seq must return the value of the last object in line"

[2021-10-24 15:47] #393 closed, assigned to yegor256

[2021-10-24 17:41] andreoss opened #395 "new line at EOF"
<pre>
1 > x
# no new line here
</pre>

This code fails to be parsed with
[code]

[2021-10-24 21:02] yegor256 opened #396 "JSON tojos"
Let's create `org.eolang.tojos.Json` class implementing `Mono`. Let's make it possible to configure `SafeMojo` to use JSON instead of CSV.

[2021-10-25 05:08] #389 closed, assigned to nobody

[2021-10-25 06:48] yegor256 opened #397 "XSL warning in wrap-method-calls.xsl"
I'm getting these warnings in logs:

[code]

They don't affect the functionality but are pretty annoying. Let's fix the code to get rid of them.

[2021-10-25 07:19] yegor256 opened #398 "placement of binaries misses .class files"

[2021-10-25 07:31] #398 closed, assigned to nobody

[2021-10-28 04:48] #396 closed, assigned to andreoss

[2021-10-29 08:08] IngeniariusSoftware opened #402 "github actions disabled"
![image](https://user-images.githubusercontent.com/33983579/139399235-b102262c-cfe6-41d1-bf42-b6d19eaee1a8.png)

[2021-10-29 08:10] IngeniariusSoftware opened #403 "update canonical dir"
https://github.com/cqfn/eo/tree/master/sandbox/canonical

pom with 0.16.1

![image](https://user-images.githubusercontent.com/33983579/139399426-f7f8ded2-419e-403a-892d-28fefe0f7697.png)

pom with 0.16.2

![image](https://user-images.githubusercontent.com/33983579/139399482-e0acc69e-e779-4844-88b4-3f0480f03528.png)

[2021-10-29 20:42] andreoss opened #404 "jcabi-maven-plugin throws java.lang.ClassNotFoundException"
[code]

[2021-10-30 12:30] yegor256 commented on #376
@rultor release, tag is `0.16.4`

[2021-10-30 12:32] rultor commented on #376
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25228-955201522)

[2021-10-30 12:41] rultor commented on #376
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25228-955201522) (took me 9min)

[2021-10-30 18:06] yegor256 commented on #376
@rultor release, tag is `0.16.5`

[2021-10-30 18:08] rultor commented on #376
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25228-955571289)

[2021-10-30 18:18] rultor commented on #376
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25228-955571289) (took me 10min)

[2021-10-30 19:10] yegor256 commented on #404
@andreoss I know. I tried to fix the plugin, but no luck :( Interested in fixing it?

[2021-10-30 19:36] yegor256 commented on #376
@rultor release, tag is `0.16.6`

[2021-10-30 19:37] rultor commented on #376
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25228-955581946)

[2021-10-30 19:47] rultor commented on #376
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25228-955581946) (took me 9min)

[2021-10-30 20:15] yegor256 commented on #403
@IngeniariusSoftware try the latest version 0.16.6, it works OK

[2021-10-30 20:15] #403 closed

[2021-10-30 20:21] yegor256 commented on #402
@IngeniariusSoftware yes, we know, trying to fix it asap

[2021-10-30 20:21] #402 closed

[2021-10-31 09:04] yegor256 commented on #376
@eyihluyc your code example is correct and the paper was wrong. I tried to make necessary changes in the paper, here 09c8239b. I will try to explain more soon.

[2021-10-31 09:04] #376 closed

[2021-11-01 16:12] yegor256 opened #406 "floating point exception syntax is not supported"
Try to add this code to `full-syntax.yaml`:

[code]

It should be parsed as a float, but it fails.

We should support Java floating-point numbers format.

[2021-11-01 16:13] yegor256 commented on #406
@andreoss please, fix this, the budget is 0.5h

[2021-11-01 16:15] yegor256 opened #407 "unicode-char syntax is not supported"
Try to add this to `full-syntax.yaml`:

[code]

It should work (as a single "char"), but it fails

[2021-11-01 16:15] yegor256 commented on #407
@andreoss please, fix this, the budget is 0.5h

[2021-11-01 16:37] andreoss commented on #345
@yegor256 Done. Please close it

[2021-11-01 16:48] andreoss commented on #268
@yegor256 This is not yet complete

The following PMD checks still don't pass:

 1) 112  Only field initialization or call to other constructors in a constructor. (ConstructorOnlyInitializesOrCallOtherConstructors)
The code heavily relies on having non-initialization logic in ctors.
For example
https://github.com/cqfn/eo/blob/master/eo-runtime/src/main/java/EOorg/EOeolang/EOarray%24EOget.java#L41-

[2021-11-01 16:48] yegor256 commented on #345
@andreoss thanks!

[2021-11-01 16:48] #345 closed

[2021-11-01 16:50] yegor256 commented on #268
@andreoss let's do this, with a budget of 0.5h

[2021-11-02 23:21] andreoss opened #410 "remove license from grammar"
Let's remove license from grammar and ignore all comments completely

https://github.com/cqfn/eo/blob/master/eo-parser/src/main/antlr4/org/eolang/parser/Program.g4#L44
https://github.com/cqfn/eo/blob/master/eo-parser/src/main/antlr4/org/eolang/parser/Program.g4#L77

[2021-11-02 23:24] andreoss commented on #407
[code]
@yegor256 is '`' (backtick) intentional here?

[2021-11-02 23:25] andreoss commented on #397
@yegor256 Done. Please, close

[2021-11-03 07:48] yegor256 commented on #410
@andreoss we don't want people to have comments inside objects, only outside and only for abstract ones:

[code]

[2021-11-03 07:49] yegor256 commented on #407
@andreoss no, it's a typo, sorry. Should be `'\u5BB6'`.

[2021-11-03 07:49] yegor256 commented on #397
@andreoss thanks!

[2021-11-03 07:49] #397 closed

[2021-11-03 07:51] yegor256 commented on #207
@nlchar we have it already, for example:

[code]

[2021-11-03 07:51] #207 closed

[2021-11-03 12:31] yegor256 opened #411 "atoms must be volatile, calculated many times"
This test should pass:

[code]

Not it doesn't.

[2021-11-03 12:34] yegor256 commented on #411
@rultor release, tag is `0.16.7`

[2021-11-03 12:35] rultor commented on #411
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25235-958990131)

[2021-11-03 12:52] rultor commented on #411
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25235-958990131) (took me 17min)

[2021-11-03 12:54] #411 closed

[2021-11-03 13:44] IamMaxim opened #412 "Mutable objects in EO"
We are currently trying to create mappings from Java to EO. Consider this snippet in Java:
[code]

The only mechanism for storing mutable data in EO is `memory`, which can only store primitive data.
This prevents us from straightforward conversion. What idiomatic EO approach do you suggest to apply in this case?

[2021-11-03 13:51] yegor256 commented on #412
@IamMaxim why can't you make it like this:

[code]

[2021-11-03 14:21] IamMaxim opened #413 "Error generating Java code"
After trying to compile the following EO code:
[code]
in canonical sandbox using latest master and command
[code]
Compiler fails with the following error:
[code]

The generated Java code produced by the compiler is truncated:
[code]

No prior errors are produced, thus, there is no way to understand what went wrong. I think expected behavior is getting readable error pointing at the mistake.

[2021-11-03 14:23] yegor256 commented on #413
@IamMaxim try to add EOL at the end of the file, see https://github.com/cqfn/eo/issues/395

[2021-11-03 14:29] IamMaxim commented on #412
The problem is mostly about `main` method, which creates A instances. Consider this example, which dynamically changes instance of A:
[code]

[2021-11-03 14:52] yegor256 commented on #412
@IamMaxim I still don't see a problem here. Just make a new object `A` and that's it.

[2021-11-03 17:18] yegor256 commented on #412
@IamMaxim let's discuss it in c2eo project

[2021-11-03 17:18] #412 closed

[2021-11-03 17:21] yegor256 commented on #413
@IamMaxim the problem is at this part:

[code]

it's a bug in the compiler. let me try to fix it.

[2021-11-04 23:41] dours opened #414 "Simple code with varargs fails with exception"
The test:
[code]
leads to "You can't overwrite X'

[2021-11-04 23:45] dours opened #415 "Fail to call an array element"
This test fails:
[code]

[2021-11-05 19:48] dours commented on #414
Looks very similar to #384

[2021-11-05 20:50] dours opened #416 "Argument name shadows return field name: is this a feature?"
First, a concrete failing test: one cannot store an object with field "i" in an array, because it is impossible to read the field back (because the first argument of array.get is also called "i", so (arr.get 0).i returns 0, not 11):
[code]
Same test with "j" instead of "i" passes (as expected).

Second, a more general test (also fails for a similar reason: (f z).x equals z for all z):
[code]

Is t

[2021-11-06 16:47] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#307](https://github.com/cqfn/eo/issues/307); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-06 17:35] 0crat commented on #328
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#328](https://github.com/cqfn/eo/issues/328); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-06 19:26] 0crat commented on #360
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#360](https://github.com/cqfn/eo/issues/360); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-07 21:28] dours opened #417 "Laziness vs. assignment: exponential run time of a linear code!"
I've generated a purely functional/immutable test, which runs in exponential time with the EO translator "as is", but in linear time with memoization in the runtime library (see commit https://github.com/dours/eo/commit/3dfcf237514c8ddf0c02405ea127196842e20168 for details).

The memoization breaks mutable code (memory and random), so I do not do a pull request. I need some suggestions on how to pr

[2021-11-09 18:50] IngeniariusSoftware commented on #386
@yegor256 , yes I tried this again, but unfortunately I got this error:
![image](https://user-images.githubusercontent.com/33983579/140986079-8f53d3dd-2c33-4273-b308-f2348ce3d937.png)

[2021-11-09 18:57] IngeniariusSoftware opened #418 "multiple paths for eo dirs"
Can we make it possible to specify several directories with eo-files or make our libraries as org.eolang

![image](https://user-images.githubusercontent.com/33983579/140986750-ae098b7b-2f7e-463b-8ca3-025c5812f42a.png)

[2021-11-09 18:59] IngeniariusSoftware opened #419 "implementation or support uint64"
it needs for support c type uint64

[2021-11-10 15:45] yegor256 commented on #418
@IngeniariusSoftware you want something like this?

[code]

[2021-11-10 15:46] 0crat commented on #418
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.55.1](https://github.com/zerocracy/farm): Issue: cqfn/eo#418, Action: `created`

[2021-11-10 15:49] yegor256 commented on #417
@dours very good point, let me investigate

[2021-11-10 15:52] yegor256 commented on #416
@dours this definitely is a feature. This is how decoration works. What's in the object is more important vs. what's in the decoratee.

[2021-11-10 15:52] #416 closed

[2021-11-10 15:53] yegor256 commented on #415
@dours looks like a bug, thanks for reporting, let me investigate

[2021-11-10 15:54] yegor256 commented on #414
@dours looks like a bug, thanks! let me investigate

[2021-11-10 15:54] IngeniariusSoftware commented on #418
@yegor256, yes something like this

[2021-11-10 16:12] yegor256 commented on #418
@IngeniariusSoftware I will try to implement it. In the meantime, you can use `<includes>` for the same purpose:

[code]

[2021-11-10 16:18] yegor256 commented on #417
@dours the problem is in the duplicate calculation while "getting" attributes. This test should pass, but it fails:

[code]

The EO code would be this:

[code]

Instead of two calculations, we should have only one. I think we should "cache" the calculation that happens when we traverse through the "@" attribute.

Maybe you can fix it?

[2021-11-10 17:03] IngeniariusSoftware commented on #418
@yegor256, thank you, I didn't know about this function

[2021-11-11 04:54] yegor256 commented on #417
@dours I meant fixing the test I suggested. It doesn't pass now, but it should. We should not calculate an atom twice. But now we do. In the `AtDecoratedTest` example above, we calculate it first time in order to get the `neg` atom from the number, and the second time when the `neg` atom gets the get the number from the parent. This duplication leads to the problem you mentioned in this ticket, I

[2021-11-14 04:08] yegor256 commented on #418
@IngeniariusSoftware I suggest we use this `includes` feature and don't change the functionality of `sourceDir`

[2021-11-14 04:08] #418 closed

[2021-11-15 05:50] yegor256 opened #420 "check date/time of files at OptimizeMojo"
`OptimizeMojo` does this:

[code]

Instead, it should also check the date/time of the XMIR2 file. If it exists by is older than the source, we should optimize.

Let's not forget to unit-test this.

[2021-11-15 05:51] yegor256 commented on #420
@andreoss please, help us with this (budget is 30)

[2021-11-15 05:53] yegor256 opened #421 "check date/time of files in TranspilerCanonical"
`TranspilerCanonical` does this:

[code]

Instead, it should also check the date/time of the target file. If it's older than the source, we should transpile.

Let's not forget to unit-test this.

[2021-11-15 05:53] yegor256 commented on #421
@andreoss please, help us with this (budget is 30)

[2021-11-15 08:47] IngeniariusSoftware opened #422 "as-ascii-char for int atom"
We need something like this to support the char type from the c language

[2021-11-15 08:47] IngeniariusSoftware opened #423 "as-ascii-int for char atom"
We need something like this to support the char type from the c language

[2021-11-15 08:59] IngeniariusSoftware opened #424 "too-many-attributes"
This code doesn't compile:

[code]

Error:

![image](https://user-images.githubusercontent.com/33983579/141752110-9ca43d49-8d75-408c-a443-0890c5f041a6.png)

[2021-11-15 11:10] yegor256 commented on #422
@IngeniariusSoftware I think it won't make sense, since `int` has 8 bytes. I suggest to do it this way:

[code]

as-char will take the first byte and make it a char. If there are more than one byte, it will return `[]` (an exception)

[2021-11-15 11:11] yegor256 commented on #423
@IngeniariusSoftware why `ascii`? I would just make `char.as-int`.

[2021-11-15 11:16] IngeniariusSoftware commented on #423
@yegor256 , ok, thanks

[2021-11-15 11:17] IngeniariusSoftware commented on #422
@yegor256, ok, I will try to check this

[2021-11-15 11:36] yegor256 opened #425 "test-many-free-attributes.eo is wrongly placed"
This test belongs to `eo-parser` module. I suggest moving it to where all other `.yaml` test files are, where `PacksTest` finds them.

[2021-11-15 11:36] yegor256 commented on #425
@dours can you please do this?

[2021-11-15 12:37] yegor256 commented on #417
@dours what do you think will `x` be equal to, instead of one:

[code]

The answer is 14, which is wrong, I believe. I'm thinking about how to fix this...

[2021-11-15 12:54] someilay opened #426 "Bug with while"
I have the following code from readme.
[code]

Exception during runtime:
2x2 = 4
3x3 = 9
4x4 = 16
5x5 = 25
Exception in thread "main" java.lang.ClassCastException: Cannot cast java.lang.Long to java.lang.Boolean
        at java.base/java.lang.Class.cast(Class.java:3818)
        at org.eolang.Dataized.take(Dataized.java:82)
        at org.eolang.Main.exec(Main.java:86)
        at org.eolang.Main.ma

[2021-11-15 15:10] yegor256 commented on #423
@IngeniariusSoftware you are welcome to submit a pull request

[2021-11-15 15:10] yegor256 commented on #422
@IngeniariusSoftware you are welcome to submit a PR

[2021-11-15 15:12] yegor256 commented on #426
@someilay I fixed the doc in fd8c2b80, thanks for reporting!

[2021-11-15 15:12] #426 closed

[2021-11-15 18:46] yegor256 opened #427 "--verbose option for runtime"

[2021-11-15 18:55] yegor256 commented on #427
@rultor release, tag is `0.16.8`

[2021-11-15 19:04] rultor commented on #427
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25256-969216020) (spent 8min)

[code]

[2021-11-15 19:07] yegor256 commented on #427
@rultor release, tag is `0.16.8`

[2021-11-15 19:07] rultor commented on #427
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25256-969226387)

[2021-11-15 19:26] rultor commented on #427
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25256-969226387) (took me 18min)

[2021-11-15 19:26] #427 closed

[2021-11-15 19:30] dours commented on #417
@yegor256 well, I believe, mixing laziness and assignments must be fun anyway. In other words, I need to investigate...

[2021-11-16 02:45] yegor256 opened #428 "non-class resources are not placed"

[2021-11-16 02:52] yegor256 commented on #428
@rultor release, tag is `0.16.9`

[2021-11-16 02:53] rultor commented on #428
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25257-969742612)

[2021-11-16 03:11] rultor commented on #428
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25257-969742612) (took me 18min)

[2021-11-16 03:24] #428 closed

[2021-11-16 03:41] yegor256 commented on #413
@IamMaxim it's fixed. Try again with the latest version please.

[2021-11-16 03:41] #413 closed

[2021-11-16 03:42] yegor256 commented on #378
@IngeniariusSoftware yes, indeed, we have duplication evaluation problem now, see #417

[2021-11-16 03:42] #378 closed

[2021-11-16 03:43] yegor256 commented on #385
@IngeniariusSoftware I believe it was a problem in your code, I'm closing

[2021-11-16 03:43] #385 closed

[2021-11-16 03:44] yegor256 commented on #424
@IngeniariusSoftware this is by design. We don't want to have objects with too many free attributes, it's a bad practice.

[2021-11-16 03:44] #424 closed

[2021-11-16 03:48] yegor256 commented on #410
@andreoss so, it's by design, I'm closing

[2021-11-16 03:48] #410 closed

[2021-11-16 03:49] #324 closed

[2021-11-16 03:54] yegor256 opened #429 "JUL to SLF4J logging doesn't work not for eo-runtime"
JUL is being used in `Dataized` in order to log dataization messages. However, we don't see them in the log, because JUL-to-SLF4J bridge is not turned on in the `eo-runtime` module. This is how it should be turned on, somewhere _before_ all tests start:

[code]

We should find a way how to do this. Maybe this one will be helpful: https://stackoverflow.com/questions/43282798/in-junit-5-how-to-run-c

[2021-11-16 03:54] yegor256 commented on #429
@marceloamadeu please help us here

[2021-11-16 10:20] yegor256 opened #430 ".@ must calculate only once"

[2021-11-16 10:20] yegor256 commented on #430
@rultor release, tag is `0.16.10`

[2021-11-16 10:22] rultor commented on #430
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25258-970126462)

[2021-11-16 10:35] rultor commented on #430
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25258-970126462) (took me 13min)

[2021-11-16 10:51] #430 closed

[2021-11-16 18:17] yegor256 opened #431 "too many atoms"
I believe the following atoms are redundant. We can implement their functionality in EO, instead of Java. Let's remove them and implement them in EO.

  * `array.empty` (let's rename to `array.is-empty`)
  * `float.geq` (the same as `eq + or + greater`)
  * `float.leq` (same as `less or eq`)
  * `float.less` (same as `not greater and not eq`)
  * `float.neg` (same as `mul -1`)
  * `float.neq` (sam

[2021-11-17 06:24] yegor256 opened #432 "dataization logging doesn't work"

[2021-11-17 07:39] yegor256 commented on #432
@rultor release, tag is `0.16.11`

[2021-11-17 07:40] rultor commented on #432
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25259-971315621)

[2021-11-17 08:00] rultor commented on #432
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25259-971315621) (took me 19min)

[2021-11-17 08:00] #432 closed

[2021-11-17 16:33] egorklementev opened #433 "Windows 10 illegal characters"
When trying to compile `mvn clean compile` on Windows 10 the following errors arise:
[code]

Full report:
https://github.com/egorklementev/j2eo/runs/4240664886?check_suite_focus=true

[2021-11-18 04:56] yegor256 commented on #433
@egorklementev thanks for reporting, can you fix it?

[2021-11-18 12:44] egorklementev commented on #433
It seems like in the following generated Java code `\` symbol (in a `source` string) is not liked by Java on Windows. Even my Vim extension is not happy with that.
[code]

And, unfortunately, I don't know how to fix it.

[2021-11-18 12:48] IamMaxim opened #434 "Canonical sandbox is broken"
On the latest `master` branch `--version` argument is added to `sandbox/canonical/run.sh` file, which breaks execution of the code and only prints version instead. This argument should be removed to make `run.sh` work again.

[2021-11-18 12:50] yegor256 commented on #434
@IamMaxim fixed in efcdf7a1, thanks!

[2021-11-18 12:50] #434 closed

[2021-11-18 12:52] yegor256 commented on #433
@egorklementev it's a bug in `to-java.xsl`: this is where we generate this code. We should replace all `\` symbols with `\\`. Shouldn't be hard to do.

[2021-11-18 13:29] IamMaxim opened #435 "Add support for storing objects in memory"
At the last meeting it was decided to add ability to store objects in `memory` to ease the burden of translator developers. Mutable EO code will be converted to immutable EO code during separate step, covering all translators.

I created this task to track progress on that.

[2021-11-18 14:34] yegor256 opened #436 ""cage" object"
We need an object that would allow us to store objects.

[2021-11-18 18:45] yegor256 opened #437 ""\n" is not parseable in a string"
This will not print two lines:

[code]

But it should. The symbol `\n` should be parsed as `\u000a`.

Also, we should parse `\t`, `\r`, and others, which are used in Java.

I believe, we should make the necessary changes in `XeListener`. Also, let's not forget to test it, making a new YAML for `PacksTest`

[2021-11-18 21:36] dours commented on #414
Just moving an .eo file is not enough, so I currently expect help of @PetrB09 here

[2021-11-18 22:56] dours opened #439 "return object from mutable code: should it be possible?"
A test below fails, because seq dataizes all its arguments. This prohibits to return an object from a function. A possible workaround is to pass a return cage to assign return result to as an argument.
But maybe it's ok to also add a gray object like seqReturn, which dataizes all its arguments except the last one?
[code]

[2021-11-18 23:43] marceloamadeu commented on #429
@yegor256 It was very useful.

The following links also helped a lot:

- [Extension Model](https://junit.org/junit5/docs/current/user-guide/#extensions)
- [Configuration Parameters](https://junit.org/junit5/docs/snapshot/user-guide/#running-tests-build-maven-config-params)
- [Automatic Extension Registration](https://junit.org/junit5/docs/current/user-guide/#extensions-registration-automatic)

[2021-11-19 11:05] yegor256 commented on #437
@marceloamadeu  please help us with this one

[2021-11-19 12:17] yegor256 commented on #439
@dours maybe let's just make `seq` return the object? It will dataize it and then return the object, not the data. WDYT?

[2021-11-19 12:46] dours commented on #439
@yegor256 it shouldn't help with my example, because a is not dataizable => the first step (dataize it) leads to exception and the second (return the object) never happens

[2021-11-20 15:56] 0crat commented on #204
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#204](https://github.com/cqfn/eo/issues/204); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-20 16:29] 0crat commented on #214
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#214](https://github.com/cqfn/eo/issues/214); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-20 16:32] 0crat commented on #328
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#328](https://github.com/cqfn/eo/issues/328); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-20 16:34] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#307](https://github.com/cqfn/eo/issues/307); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-21 10:54] yegor256 commented on #436
@rultor release, tag is `0.16.12`

[2021-11-21 10:55] rultor commented on #436
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25266-974794081)

[2021-11-21 11:09] rultor commented on #436
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25266-974794081) (took me 13min)

[2021-11-21 11:09] #436 closed

[2021-11-21 11:19] yegor256 commented on #429
@marceloamadeu still doesn't work, after the merge of your PR

[2021-11-21 14:31] 0crat commented on #436
Job `gh:cqfn/eo#436` is not assigned, can't get performer

[2021-11-21 16:33] IngeniariusSoftware opened #440 "stack overflow exception"
on version 0.16.11 it runs good, but now it throws stack overflow exception

[code]

error:

![image](https://user-images.githubusercontent.com/33983579/142770572-a7e3468c-52c9-430b-8aa6-ebcc86dc1657.png)

[2021-11-21 17:24] yegor256 commented on #440
@IngeniariusSoftware try to remove `.@`

[2021-11-21 18:07] IngeniariusSoftware commented on #440
@yegor256 , I tried, but it doesn't work

[2021-11-22 02:50] marceloamadeu commented on #429
@yegor256 sorry i will check...

[2021-11-22 04:34] 0crat commented on #207
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#207](https://github.com/cqfn/eo/issues/207); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-22 05:19] yegor256 commented on #440
@IngeniariusSoftware can you simplify the code snippet above? Now it contains a lot of code lines, which are not relevant to the problem you mention. It will be harder to fix it.

[2021-11-22 09:25] IngeniariusSoftware commented on #440
@yegor256, I simplified the code

[2021-11-22 11:21] yegor256 commented on #440
@IngeniariusSoftware it's still pretty big. I will have to minimize it step by step before I find where the bug is. It would be better if you post exactly the snippet that causes the problem, not your entire program :) Do your home work.

[2021-11-22 11:23] yegor256 commented on #440
@IngeniariusSoftware it seems that you have endless recursion here. `write` calls `@`, where `write` is called again.

[2021-11-22 11:39] IngeniariusSoftware commented on #440
@yegor256
I changed the name 'write' to 'assign' to avoid misunderstandings
Are you sure? What order I guess

g_x.assign ->
[value] > assign ->
mem.write

Can I get endless recursion here?

[2021-11-22 11:41] yegor256 commented on #440
@IngeniariusSoftware here is the flow of execution:

[code]

[2021-11-22 11:49] IngeniariusSoftware commented on #440
@yegor256 , ok, how we can fix it? Why it works earlier?

[2021-11-22 12:32] yegor256 commented on #440
@IngeniariusSoftware maybe this way:

[code]

[2021-11-22 12:33] yegor256 commented on #440
@IngeniariusSoftware maybe it was a bug in the previous version of the compiler

[2021-11-22 12:38] IngeniariusSoftware commented on #440
@yegor256 ok, thanks

[2021-11-22 12:38] #440 closed

[2021-11-22 12:39] yegor256 opened #443 "empty byte array syntax"
Empty byte array should be spelled as `-`, for example:

[code]

This is not supported now. Let's fix and test using `full-syntax.yaml` and `PacksTest`.

[2021-11-22 13:42] 0crat commented on #440
Job `gh:cqfn/eo#440` is not assigned, can't get performer

[2021-11-22 14:22] yegor256 commented on #443
@andreoss please, fix this

[2021-11-22 16:42] 0crat commented on #443
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#443](https://github.com/cqfn/eo/issues/443); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-22 16:57] yegor256 commented on #417
@dours try version 0.16.12

[2021-11-22 16:58] yegor256 commented on #435
@IamMaxim implemented in #436

[2021-11-22 16:58] #435 closed

[2021-11-22 17:34] #425 closed

[2021-11-22 19:28] 0crat commented on #425
Job `gh:cqfn/eo#425` is not assigned, can't get performer

[2021-11-22 19:43] yegor256 commented on #433
@egorklementev this bug is fixed (but something else is still broken, please create a new ticket)

[2021-11-22 19:43] #433 closed

[2021-11-22 20:22] marceloamadeu commented on #437
@yegor256 I'm not able to simulate the error here... Any tips on how I can do this?
Tks

[2021-11-22 20:23] yegor256 commented on #437
@marceloamadeu I would create a new YAML test for `PackTest`, which would just parse EO to XML. Then, with XPath assertions I would check that the right content is placed in XML

[2021-11-22 20:31] 0crat commented on #433
Job `gh:cqfn/eo#433` is not assigned, can't get performer

[2021-11-23 00:51] dours opened #445 "Recursive update exception"
[code]

Also this way
[code]

[2021-11-23 04:11] yegor256 commented on #445
@dours well, of course, this leads to endless recursion. Why it surprises you?

[2021-11-23 04:27] yegor256 opened #446 ""goto" atom"
Let's make this possible:

[code]

This is equivalent to this code in C:

[code]

[2021-11-23 05:14] yegor256 commented on #446
@rultor release, tag is `0.17.0`

[2021-11-23 05:14] rultor commented on #446
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25272-976174247)

[2021-11-23 05:31] rultor commented on #446
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25272-976174247) (took me 16min)

[2021-11-23 05:31] #446 closed

[2021-11-23 07:52] 0crat commented on #446
Job `gh:cqfn/eo#446` is not assigned, can't get performer

[2021-11-23 11:50] dours commented on #445
@yegor256 in line `f1.write (f2)` dataization of f2 is called before assigment to f1, so f1 should store data `1`. Why then the dataization leads to recursion?

[2021-11-23 12:03] IamMaxim commented on #439
@yegor256 reminder about returning last object without dataization

[2021-11-23 18:39] yegor256 opened #447 "int and float to bytes and backward"

[2021-11-23 22:55] dours commented on #445
@yegor256 It leads to recursion, because dataization of `f2` in line `f1.write (f2)` creates a copy of object `((f0).add (f1))` with new rho, that is add.rho becomes f2, not f0. So, it calculates f2+f1 instead of f0+f1, which is indeed an endless recursion. This behavior  still does surprise me.

I hacked EOcage.java: `return object.copy(object.attr("ρ").get());` on line 56 instead of `return obje

[2021-11-24 05:21] yegor256 commented on #445
@dours nice catch! Please, submit a PR with the change at the line 56, I'll merge it. BTW, I suggest making the same change in the `EOmemory` class.

[2021-11-24 05:25] yegor256 commented on #439
@dours @IamMaxim I believe it's fixed in 4470f4df

[2021-11-24 05:25] #439 closed

[2021-11-24 05:25] yegor256 commented on #439
@rultor release, tag is `0.17.1`

[2021-11-24 05:25] rultor commented on #439
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25273-977544758)

[2021-11-24 05:32] rultor commented on #439
@dours @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25273-977544758) (spent 7min)

[code]

[2021-11-24 05:49] yegor256 commented on #439
@rultor release, tag is `0.17.1`

[2021-11-24 05:50] rultor commented on #439
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25273-977554023)

[2021-11-24 06:01] 0crat commented on #439
Job `gh:cqfn/eo#439` is not assigned, can't get performer

[2021-11-24 06:02] 0crat commented on #445
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#445](https://github.com/cqfn/eo/issues/445); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-24 06:07] rultor commented on #439
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25273-977554023) (took me 16min)

[2021-11-24 06:24] #447 closed

[2021-11-24 06:57] 0crat commented on #447
Job `gh:cqfn/eo#447` is not assigned, can't get performer

[2021-11-24 18:47] dours commented on #445
@yegor256 alright, I'll do it. But still, it looks like a hack to me: it looks that there are 2 objects here: an abstract object `add` (which has rho equal to f0) and an object application `add f1`, which may have a different rho (f2 for example). If this is only one object, then I don't understand why, for example, in this code
[code]
`(f0.add f1).rho` does not become equal to `o1`, while this is

[2021-11-24 19:15] dours opened #449 "Modelling double-linked list with cage fails"
Here is a simplified model of a double-linked list with the help of object references (cage). First points to last and last points to first. It fails with "You can't overwrite static expression".
[code]

[2021-11-24 19:41] dours commented on #449
oops, the test is wrong, `pair (last 1)` instead of `pair last 1`

[2021-11-24 19:41] #449 closed

[2021-11-24 21:46] 0crat commented on #449
Job `gh:cqfn/eo#449` is not assigned, can't get performer

[2021-11-25 12:19] yegor256 opened #450 "goto.forward must accept an argument"

[2021-11-25 12:21] IngeniariusSoftware opened #451 "adding bitwise operations"
Implementation of bitwise operations for int atom (bit_or, bit_and, bit_xor, bit_not, shift_left, shift_right)

@yegor256 , what do you think about adding these operations?

[2021-11-25 14:25] #445 closed, assigned to nobody

[2021-11-25 14:35] yegor256 commented on #450
@rultor release, tag is `0.17.2`

[2021-11-25 14:36] rultor commented on #450
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25278-979265456)

[2021-11-25 14:52] rultor commented on #450
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25278-979265456) (took me 15min)

[2021-11-25 15:42] 0crat commented on #445
Job `gh:cqfn/eo#445` is not assigned, can't get performer

[2021-11-25 17:02] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#307](https://github.com/cqfn/eo/issues/307); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-25 17:55] #450 closed

[2021-11-25 17:56] yegor256 commented on #451
@IngeniariusSoftware good idea. I would call them this way:

[code]

[2021-11-25 17:56] yegor256 commented on #451
@IngeniariusSoftware you are welcome to submit a PR

[2021-11-25 19:33] 0crat commented on #450
Job `gh:cqfn/eo#450` is not assigned, can't get performer

[2021-11-26 06:50] andreoss commented on #420
@yegor256 Done in #442. Please close

[2021-11-26 07:16] andreoss opened #455 "MainTest is flaky"
1) Fails on Windows
https://github.com/cqfn/eo/runs/4331203668?check_suite_focus=true
2) Fails in presence of `_JAVA_OPTIONS` or `_JAVA_TOOL_OPTIONS`

[2021-11-26 11:14] IngeniariusSoftware commented on #451
@yegor256, done https://github.com/cqfn/eo/pull/456

[2021-11-26 14:17] andreoss commented on #421
@yegor256 Done in https://github.com/cqfn/eo/pull/453. Please close

[2021-11-26 16:37] yegor256 commented on #421
@andreoss thanks!

[2021-11-26 16:37] #421 closed

[2021-11-26 16:40] yegor256 commented on #451
@IngeniariusSoftware it's "done" when PR is merged :)

[2021-11-26 16:42] yegor256 commented on #455
@andreoss do you know how to fix this?

[2021-11-26 16:46] #451 closed

[2021-11-26 16:46] yegor256 commented on #451
@IngeniariusSoftware thanks!

[2021-11-26 16:49] yegor256 opened #457 "bitwise operations are wrongly placed"
@IngeniariusSoftware I believe, we made a mistake in #452. These operators should be in `bytes`, not in `int`. In order to do `left` on `int` we should do:

[code]

I suggest we fix this.

[2021-11-26 16:49] yegor256 commented on #457
@IngeniariusSoftware can you move them?

[2021-11-26 17:11] IngeniariusSoftware commented on #457
@yegor256 , ok I'll do it

[2021-11-26 17:30] 0crat commented on #451
Job `gh:cqfn/eo#451` is not assigned, can't get performer

[2021-11-26 17:30] 0crat commented on #421
Job `gh:cqfn/eo#421` is not assigned, can't get performer

[2021-11-26 18:01] andreoss commented on #455
@yegor256 I don't see a point in running a new java process in order to test Main.
`Main` can be refactored to be testable (now it consists only of static methods)`
Otherwise the tests can be less strict, i.e 1) do not use unicode 2) match only last line in order to avoid jvm initialization output

[2021-11-26 18:32] 0crat commented on #455
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#455](https://github.com/cqfn/eo/issues/455); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-26 21:27] IngeniariusSoftware commented on #457
@yegor256 https://github.com/cqfn/eo/pull/458

[2021-11-27 15:46] 0crat commented on #443
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#443](https://github.com/cqfn/eo/issues/443); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-11-28 08:37] yegor256 commented on #455
@andreoss we are using a new JVM instance on purpose: to let `Main` configure logging. If you test it inside the same JVM, it's hard to guarantee the isolation of a test. As for the testability of `Main`, I agree, would be great to refactor it so that there is only one static method `main()`.

[2021-11-28 09:53] IngeniariusSoftware opened #459 "support for bytes.as-int less than 8 bytes"
because such operations become inconsistent

[code]

will be error because .not return only one byte

[2021-11-29 07:56] yegor256 commented on #457
@IngeniariusSoftware thanks! you can close this ticket, it's yours.

[2021-11-29 07:56] yegor256 commented on #457
@IngeniariusSoftware thanks!

[2021-11-29 07:56] #457 closed

[2021-11-29 08:31] 0crat commented on #457
Job `gh:cqfn/eo#457` is not assigned, can't get performer

[2021-11-29 10:38] yegor256 opened #460 ""identical" atom"
I'm thinking about introducing a new atom identical, which will accept two arguments and will become TRUE if they both are identical objects, maybe assigned to different attributes:

[code]

[2021-11-29 10:47] IngeniariusSoftware commented on #459
@yegor256 what do you think about it? implementation https://github.com/cqfn/eo/pull/461

[2021-11-29 10:50] #384 closed

[2021-11-29 18:18] dours opened #462 "Recursive update exception: assignment to a cage with lazy right hand side is a problem!"
[code]
fails.

Of course: `x.write (x.add 1)` is implemented basically as `x := (lambda nothing -> x + 1)`. Any attempt to calculate `x` leads to endless recursion.

[2021-11-29 18:20] dours commented on #462
The previous eaxmple only uses dataizable objects, so it does not need `cage`. But here is an example, which is not implementable with `memory`:
[code]

[2021-11-30 02:13] marceloamadeu opened #463 "Fix the examples link in README.md"
The `More examples` link in the `README.md` file is incorrect.

[here](https://github.com/cqfn/eo/tree/master/eo-maven-plugin/src/it)

When I click, github error `404` is displayed.

[2021-11-30 17:36] #459 closed

[2021-11-30 22:02] marceloamadeu commented on #437
@yegor256 I did some tests with `\n` and also with `\\u000a`.

With `\n` the result was:

`<![CDATA[ Hello friend ]]>`

**Tests with \n**
[code]

**escape-sequences-tests.xmir**
[code]

**EOescape_sequencesTest.xml**
[code]

----------------------------------------------------------------------------------------------------------------------
**Tests with \\u000a**
[code]
**escape-sequences-tests.x

[2021-12-01 04:22] yegor256 commented on #437
@marceloamadeu yes, this is wrong. This is what is expected:

[code]

[2021-12-01 04:31] yegor256 commented on #463
@marceloamadeu fixed, thanks!

[2021-12-01 04:31] #463 closed

[2021-12-01 04:35] yegor256 commented on #462
@dours it seems that we should get back to the "dataized" idea, which was abandoned some time ago: https://github.com/cqfn/eo/issues/354 Your code would be:

[code]

Will this work?

[2021-12-01 04:41] yegor256 commented on #462
@dours on second thought, it seems that this won't help, since `dataized` would be yet another object in the recursion chain...

[2021-12-01 04:58] yegor256 commented on #462
@dours another option is this:

[code]

[2021-12-01 09:04] yegor256 commented on #462
@dours or this one:

[code]

[2021-12-01 12:53] dours commented on #462
@yegor256 what does `.@` mean? Does it also call dataization?

What about the second example, `infinite-loop-2`?
[code]
does not work (StillAbstract exception)

[2021-12-01 18:22] yegor256 commented on #462
@dours yes, `.@` is basically a dataization. For example, `random.@ > x` means: "`x` is the object which is decorated by `random`". In order to find out who it is, we have to ask `random` this question. And the answer will be, for example, `0.4738383`. We will not ask `random` again. We will assign `x` to it.

[2021-12-01 18:26] yegor256 commented on #462
@dours try this:

[code]

Maybe it's a syntax problem. But I doubt it. Please, post your entire stack trace.

[2021-12-01 19:03] dours commented on #462
@yegor256 I don't think that it is a syntax problem. I just don't want to dataize the right hand side of assignment in this example, because it is not dataizable. I try to express a list as a pair of head (the first element of a list) and tail (the rest of the list, which is a list itself).

I construct a list with two elements by adding a head to a list with one element  (`lst.write (addHead 2 ls

[2021-12-01 19:32] 0crat commented on #455
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#455](https://github.com/cqfn/eo/issues/455); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-12-02 04:34] yegor256 commented on #462
@dours you understand the error message? It says that it can't find `eq` in the object. Thus, `lst.second.second` is `pair`. Does this information help?

[2021-12-02 17:54] 0crat commented on #443
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#443](https://github.com/cqfn/eo/issues/443); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-12-03 08:32] yegor256 opened #465 "build is broken on Windows"
There are some issues with encoding. Let's fix.

[2021-12-03 10:40] 0crat commented on #465
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#465](https://github.com/cqfn/eo/issues/465); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-12-03 10:46] JuptaCore commented on #465
Acctualy i don't understand how it's work but anyway i try to help.
What i am did?
1) Clone repository of EO
2) Try run command "mvn clean install -Pqulice' in cmd
3) Get erorr "is not recognized as an internal or external command, operable program or batch file"

maybe i do something wrong?

[2021-12-03 10:52] yegor256 commented on #465
@yegor256 you need to install Java 11+ and Maven 3.2+ first.

[2021-12-03 11:44] JuptaCore commented on #465
I am download java and maven and trying to run this command ''mvn clean install -Pqulice"
and got this error

![image](https://user-images.githubusercontent.com/87895348/144597005-a24f771e-fe18-4a64-8ef7-40d8e21dd27f.png)

[2021-12-03 11:48] JuptaCore commented on #465
next command "mvn clean install -Pqulice -e -X" added -e and -X
and got this
![image](https://user-images.githubusercontent.com/87895348/144597579-e6736dc4-5598-4b39-856f-4aa3e5e9fc4f.png)
![image](https://user-images.githubusercontent.com/87895348/144597653-501050f5-868b-4d37-af9e-2af48ac80d61.png)

[2021-12-03 12:32] JuptaCore commented on #465
I followed in https://cwiki.apache.org/confluence/display/MAVEN/MissingProjectException
where does it say that i am missed pom.xml

![image](https://user-images.githubusercontent.com/87895348/144602922-b6653729-36e0-4d72-91a2-8ab3136eab24.png)

[2021-12-03 13:28] yegor256 commented on #465
@JuptaCore you have to run `mvn` while staying in the code base you just cloned from GitHub

[2021-12-03 14:15] JuptaCore commented on #465
got this error
![image](https://user-images.githubusercontent.com/87895348/144616946-d724d5fd-5f5c-418a-92d2-4fc26cdbed43.png)

and this
![image](https://user-images.githubusercontent.com/87895348/144616746-130cbfac-e2c7-4f47-8991-39e25e691da0.png)
![image](https://user-images.githubusercontent.com/87895348/144616792-bb283ce9-7dfd-4cd8-9350-30f47aa86b69.png)

[2021-12-03 14:25] yegor256 commented on #465
@JuptaCore this is the bug we want to fix

[2021-12-03 15:34] yegor256 commented on #460
@rultor release, tag is `0.18.0`

[2021-12-03 15:35] rultor commented on #460
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25290-985616158)

[2021-12-03 15:39] yegor256 commented on #460
@rultor stop

[2021-12-03 15:39] rultor commented on #460
@yegor256 OK, I'll try to stop current task.

[2021-12-03 15:40] rultor commented on #460
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25290-985619605) (spent 4min)

[code]

[2021-12-03 15:42] yegor256 commented on #460
@rultor release, tag is `0.18.0`

[2021-12-03 15:43] rultor commented on #460
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25290-985622180)

[2021-12-03 16:02] rultor commented on #460
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25290-985622180) (took me 18min)

[2021-12-03 16:04] #460 closed

[2021-12-03 17:05] 0crat commented on #460
Job `gh:cqfn/eo#460` is not assigned, can't get performer

[2021-12-05 08:08] yegor256 opened #466 ""heap" atom"
Let's create `heap` atom, which would simulate a piece of random-access memory (RAM).

[2021-12-05 13:50] yegor256 opened #467 ""try" atom"
Let's implement `try` atom to simulate `try/catch/finally` in Java/C++/Python/others

[2021-12-05 14:00] #466 closed

[2021-12-05 15:56] 0crat commented on #466
Job `gh:cqfn/eo#466` is not assigned, can't get performer

[2021-12-05 19:08] IngeniariusSoftware opened #468 "recursive update exception"
code
[code]

exception

![image](https://user-images.githubusercontent.com/33983579/144760093-f058e78b-64ab-4cdf-9163-7acb564d08bb.png)

[2021-12-06 05:34] yegor256 opened #469 "duplicate compilation of .xmir files during tests"

[2021-12-06 06:58] #469 closed

[2021-12-06 06:59] yegor256 commented on #467
@rultor release, tag is `0.19.0`

[2021-12-06 07:00] rultor commented on #467
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25291-986491186)

[2021-12-06 07:19] rultor commented on #467
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25291-986491186) (took me 19min)

[2021-12-06 07:30] #467 closed

[2021-12-06 07:31] yegor256 commented on #468
@IngeniariusSoftware definitely a bug, thanks for reporting

[2021-12-06 09:00] 0crat commented on #467
Job `gh:cqfn/eo#467` is not assigned, can't get performer

[2021-12-06 16:49] dours opened #470 "StackOverflow because of dubious caching in CachedPhi"
[code]

leads to stack overflow exception, but the exception does not happen if I disable caching in CachedPhi. The problem is that the result of `allFuns.get 1` is cached and is returned even if `allFuns.get 0` is called. Maybe this has something to do with the mechanism of calling functions by using `.put` to set values of abstract attributes. That is, the cache does not notice that attribute va

[2021-12-06 20:32] #417 closed

[2021-12-06 22:29] 0crat commented on #455
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#455](https://github.com/cqfn/eo/issues/455); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-12-07 07:10] yegor256 commented on #470
@dours thanks for reporting, this may be related to #468

[2021-12-07 08:21] yegor256 commented on #468
@IngeniariusSoftware this code works:

[code]

Pay attention, I replaced `func` with `^.func`. I'm trying to investigate why...

[2021-12-07 08:30] yegor256 opened #471 "catch unused aliases"
Let's create an additional XSL check in eo-parser, which will catch unused aliases. For example, in this code the alias `stdout` is unused and has to be removed:

[code]

[2021-12-07 11:00] yegor256 commented on #468
@IngeniariusSoftware it seems that this not a bug, but a feature. You do this (I'm simplifying):

[code]

Here, the third line is `new func(func)`. You make an new copy of the abstract object `func`, setting its parent to... itself. Of course, it leads to endless recursion later.

On the other hand:

[code]

Here, you take the attribute `func`  from the object `app`. This object already exists and

[2021-12-07 11:00] #468 closed

[2021-12-07 11:14] rultor commented on #468
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25292-987825620)

[2021-12-07 11:32] rultor commented on #468
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25292-987825620) (took me 17min)

[2021-12-07 12:11] yegor256 opened #472 "multi-line string literals"
Let's add this syntax:

[code]

This should be printed:

[code]

[2021-12-07 12:34] yegor256 commented on #470
@dours can you please try version 0.19.1 and confirm that you still have a bug

[2021-12-07 13:10] IngeniariusSoftware opened #473 "compilation problem"
code
[code]
`mvn clean coompile`

result: `SOME`

after that change "SOME" in code on "SOMETHING"
code
[code]
`mvn compile`

result still: `SOME`

[2021-12-07 17:50] 0crat commented on #443
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#443](https://github.com/cqfn/eo/issues/443); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-12-08 08:44] andreoss commented on #473
@IngeniariusSoftware It have been introduce by https://github.com/cqfn/eo/pull/453. `mvn clean compile` works as expected?

[2021-12-08 09:41] andreoss commented on #472
@yegor256 Ready to take this

[2021-12-08 09:48] andreoss commented on #420
@yegor256 It's still open

[2021-12-08 11:36] IngeniariusSoftware commented on #473
@andreoss yes, `mvn clean compile` works correctly, but I expect that after modifying eo file and run command `mvn compile` I got new result, but in reality I got the same

[2021-12-08 15:19] andreoss commented on #443
@yegor256 Can we use `--` instead for empty byte array? (Which makes more sense to me, because byte is two symbols currently).
Using `-` causing problems with negative `INT` and `FLOAT`, but I guess this can be solved by handling `-` as a separate token

[2021-12-08 16:32] admin1475963 opened #476 "Build failure of example in README"
`mvn clean test` failed in example [https://github.com/cqfn/eo#quick-start](url).
Here is log:
[log.txt](https://github.com/cqfn/eo/files/7677484/log.txt)

[2021-12-08 17:54] andreoss commented on #395
@yegor256 Done. Please close it.

[2021-12-08 18:32] yegor256 commented on #472
@andreoss sure, go ahead

[2021-12-09 08:13] yegor256 commented on #462
@rultor release, tag is `0.20.0`

[2021-12-09 08:14] rultor commented on #462
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25297-989611634)

[2021-12-09 08:16] yegor256 commented on #473
@IngeniariusSoftware it's fixed, try version 0.20.0

[2021-12-09 08:16] #473 closed

[2021-12-09 08:40] rultor commented on #462
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25297-989611634) (took me 25min)

[2021-12-09 08:40] yegor256 commented on #462
@dours I believe this problem is fixed in version `0.20.0`. Try this code:

[code]

The new syntax introduced is `x'` -- it explicitly makes a copy of an object. Also, in order to make sure the copy is ready _before_ the `write` is happening, we do this:

[code]

This line, when being dataized by `seq`, makes sure the `copy` is alive. More tests here: https://github.com/cqfn/eo/blob/master/eo-runt

[2021-12-09 08:41] #462 closed

[2021-12-09 09:00] 0crat commented on #473
Job `gh:cqfn/eo#473` is not assigned, can't get performer

[2021-12-09 09:18] yegor256 commented on #395
@andreoss thanks!

[2021-12-09 09:18] #395 closed

[2021-12-09 09:21] #420 closed

[2021-12-09 09:22] yegor256 commented on #443
@andreoss yes, `--` looks like a good idea!

[2021-12-09 11:52] dours commented on #470
@yegor256 I don't have the bug in 0.19.1 neither in 0.20.0, thank you.

[2021-12-09 11:52] #470 closed

[2021-12-09 11:53] 0crat commented on #395
Job `gh:cqfn/eo#395` is not assigned, can't get performer

[2021-12-09 12:32] dours opened #479 "It is not possible to use previous versions of EO, because runtime version is hardcoded in library .eo files"
eo-maven-plugin of any version loads library .eo files from objectionary. These files have runtime version hardcoded in them, and it is the latest version of runtime. Thus, I cannot use EO complier version, say, 0.19 with runtime 0.19, I must use it with the latest runtime, which may be incompatible with the desired version of compiler, or it may have new bugs, which I want to avoid until they are

[2021-12-09 13:46] 0crat commented on #470
Job `gh:cqfn/eo#470` is not assigned, can't get performer

[2021-12-09 14:29] 0crat commented on #462
Job `gh:cqfn/eo#462` is not assigned, can't get performer

[2021-12-09 22:16] andreoss opened #480 "Escape sequences in strings"
Grammar does not handle escape sequences in strings
Bot `"\"` and `"\\"` allowed, only the second one compiles to java

`"\"\""` is not parsed correctly

[code]

[2021-12-10 13:28] andreoss commented on #443
@yegor256 Done in https://github.com/cqfn/eo/pull/478
Please close.

[2021-12-10 13:29] andreoss commented on #431
@yegor256 Done in two parts. Please close.

1) https://github.com/cqfn/eo/pull/452
2) https://github.com/cqfn/eo/pull/477

[2021-12-10 14:34] yegor256 commented on #480
@andreoss please, fix this

[2021-12-10 18:31] andreoss commented on #480
@yegor256 Please assign to me (cannot self-assign).
EO string should be grammatically identical to Java syntax?

[2021-12-10 18:47] andreoss commented on #455
Closed in favor of https://github.com/cqfn/eo/issues/465

[2021-12-10 18:47] #455 closed

[2021-12-10 20:02] IamMaxim opened #481 "Problem when using cage with nested memory"
I'm trying to implement basic class with mutable variable in EO. The code is:

[code]

While `this.i.write` works fine in `run_constructor`, it fails in `a.f` with output:

[code]

I played with this code for several hours, but couldn't find a way to bypass it.

[2021-12-11 20:46] 0crat commented on #455
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#455](https://github.com/cqfn/eo/issues/455); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-12-12 05:53] andreoss commented on #407
@yegor256 will be done as part of #480. This one can be closed.

[2021-12-12 05:58] andreoss commented on #437
@yegor256 I guess, it can be closed in favor of #480.

[2021-12-12 06:00] yegor256 commented on #480
@andreoss yes, in strings we should fully support Java syntax

[2021-12-12 12:45] 0crat commented on #470
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#470](https://github.com/cqfn/eo/issues/470); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-12-12 15:36] IngeniariusSoftware opened #483 "how use the heap?"
I tried using the heap but something went wrong
code
[code]

result
![image](https://user-images.githubusercontent.com/33983579/145718672-691c6a96-c827-46fa-8905-f874698f7845.png)

[2021-12-12 15:44] yegor256 commented on #483
@IngeniariusSoftware you can't write int to block. You have to write bytes:

[code]

Pay attention to `int_b.write 5.as-bytes`.

[2021-12-12 15:44] #483 closed

[2021-12-12 15:47] yegor256 commented on #481
@IamMaxim it seems that the problem is related to this: https://github.com/cqfn/eo/issues/462 I believe, you should do `a'` instead of `a` when you call `a.f` with itself. Read #462, it should help.

[2021-12-12 15:56] yegor256 commented on #483
@IngeniariusSoftware I added verification of types: fa40c17b

[2021-12-12 16:00] IngeniariusSoftware commented on #483
@yegor256, thanks!

[2021-12-12 16:06] IngeniariusSoftware commented on #483
@yegor256 then maybe there is a typo in 216

![image](https://user-images.githubusercontent.com/33983579/145719821-561cfd05-906d-4400-bf40-6505dd7b3173.png)

[2021-12-12 16:20] marceloamadeu commented on #437
@andreoss Thanks for helping.

@yegor256 Sorry for the delay. I hope I can help in the next issues

[2021-12-12 18:16] yegor256 opened #484 "stronger type checking"

[2021-12-12 18:18] #484 closed

[2021-12-12 19:04] yegor256 commented on #479
@rultor release, tag is `0.20.1`

[2021-12-12 19:05] rultor commented on #479
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25303-991952718)

[2021-12-12 19:24] rultor commented on #479
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25303-991952718) (took me 17min)

[2021-12-12 19:30] yegor256 commented on #479
@dours try version 0.20.1. Now you can specify `hash` in `pom.xml`, which you find here: https://github.com/yegor256/objectionary/commits/master

[2021-12-12 19:30] #479 closed

[2021-12-12 19:30] yegor256 commented on #437
@andreoss @marceloamadeu thanks!

[2021-12-12 19:30] #437 closed

[2021-12-12 19:30] yegor256 commented on #431
@andreoss thanks!

[2021-12-12 19:30] #431 closed

[2021-12-12 19:35] yegor256 commented on #476
@admin1475963 fixed in bc7f733e thanks for reporting!

[2021-12-12 19:35] #476 closed

[2021-12-12 19:36] yegor256 commented on #471
@andreoss can you fix this?

[2021-12-12 19:37] yegor256 opened #485 "catch redundant brackets"
I suggest we create a new XSL checker for eo-parser, which will prohibit the usage of redundant brackets, for example, this code should not parse:

[code]

This one should be expected instead:

[code]

[2021-12-12 19:38] yegor256 commented on #485
@andreoss what do you think?

[2021-12-12 19:46] yegor256 commented on #407
@andreoss thanks!

[2021-12-12 19:46] #407 closed

[2021-12-12 19:47] yegor256 commented on #365
@hadiSaleh we have a new special attributes `&` which does exactly what you are looking for!

[2021-12-12 19:47] #365 closed

[2021-12-12 19:48] yegor256 commented on #268
@andreoss I think we should enable duplicate strings in Java classes in eo-runtime. With private static attributes classes only look longer and uglier.

[2021-12-12 19:51] yegor256 commented on #326
@kreofil это еще актуально?

[2021-12-12 19:52] yegor256 commented on #189
@g4s8 we'll do it here: https://github.com/yegor256/objectionary/issues/16

[2021-12-12 19:52] #189 closed

[2021-12-12 19:55] yegor256 commented on #190
@g4s8 we'll do it here: https://github.com/yegor256/objectionary/issues/8

[2021-12-12 19:55] #190 closed

[2021-12-12 19:55] yegor256 commented on #187
@g4s8 we'll do it here: https://github.com/yegor256/objectionary/issues/7

[2021-12-12 19:55] #187 closed

[2021-12-12 19:56] yegor256 commented on #71
@pchmielowski @nlchar when ready, submit a new ticket with a solution :) I'm closing this one.

[2021-12-12 19:56] #71 closed

[2021-12-12 19:57] yegor256 commented on #113
@pchmielowski it seems that in current EO syntax mocking is no different from any other object construction, I'm closing this one

[2021-12-12 19:57] #113 closed

[2021-12-12 19:57] yegor256 commented on #429
@andreoss can you take a look?

[2021-12-12 19:57] yegor256 commented on #443
@andreoss thanks!

[2021-12-12 19:57] #443 closed

[2021-12-12 19:59] 0crat commented on #484
Job `gh:cqfn/eo#484` is not assigned, can't get performer

[2021-12-12 20:33] 0crat commented on #476
Job `gh:cqfn/eo#476` is not assigned, can't get performer

[2021-12-12 20:33] 0crat commented on #479
Job `gh:cqfn/eo#479` is not assigned, can't get performer

[2021-12-12 20:33] 0crat commented on #190
Job `gh:cqfn/eo#190` is not assigned, can't get performer

[2021-12-12 20:33] 0crat commented on #443
Job `gh:cqfn/eo#443` is not assigned, can't get performer

[2021-12-12 20:33] 0crat commented on #71
Job `gh:cqfn/eo#71` is not assigned, can't get performer

[2021-12-12 20:44] 0crat commented on #187
Job `gh:cqfn/eo#187` is not assigned, can't get performer

[2021-12-12 21:07] 0crat commented on #365
Job `gh:cqfn/eo#365` is not assigned, can't get performer

[2021-12-12 21:20] 0crat commented on #189
Job `gh:cqfn/eo#189` is not assigned, can't get performer

[2021-12-12 21:23] 0crat commented on #437
Job `gh:cqfn/eo#437` is not assigned, can't get performer

[2021-12-12 22:05] andreoss commented on #268
@yegor256 To to my knowledge, qulice does not allow disabling a certain rule, without using annotations.
There was a similar problem in cactoos https://github.com/yegor256/qulice/issues/1075

[2021-12-12 22:15] andreoss commented on #485
@yegor256 Please, assign to me.
Are you positive that it should be XSL?
It seems that it would be easier to count and discard extra parenthesis in `XeListener`.

[2021-12-12 22:19] andreoss commented on #471
@yegor256 Taken

[2021-12-12 22:26] 0crat commented on #407
Job `gh:cqfn/eo#407` is not assigned, can't get performer

[2021-12-12 22:28] 0crat commented on #113
Job `gh:cqfn/eo#113` is not assigned, can't get performer

[2021-12-12 22:28] 0crat commented on #431
Job `gh:cqfn/eo#431` is not assigned, can't get performer

[2021-12-13 03:18] andreoss opened #486 "alias syntax clarification"
These lines produce different XML
[code]

The produce different XML code
1)
[code]
2)
[code]

Proposal:
XML outputs should be identical

[2021-12-13 04:33] yegor256 commented on #485
@andreoss I'm not sure about XSL. I actually don't know how this can be implemented at all :) You go ahead.

[2021-12-13 04:35] yegor256 commented on #486
@andreoss well, the parsing step should not improvise and change the code. It should produce XMIR as was EO sources presented. Later, we can introduce an additional XSL transformation, which would do the optimization of aliases and unify them.

[2021-12-13 04:39] yegor256 commented on #465
@andreoss do you have Windows platform? Can you fix this please?

[2021-12-13 04:39] yegor256 commented on #350
@fizruk I believe it's fixed already, I'm closing

[2021-12-13 04:39] #350 closed

[2021-12-13 04:40] yegor256 commented on #337
@kreofil закрываю. Если ошибка повторится, откройте пожалуйста новый тикет.

[2021-12-13 04:40] #337 closed

[2021-12-13 04:41] yegor256 commented on #188
@g4s8 we already have it here: https://github.com/yegor256/eo-files

[2021-12-13 04:41] #188 closed

[2021-12-13 04:55] andreoss commented on #486
@yegor256
Actually `expand-aliases` and `resolve-aliases` already do what I had in mind.

[2021-12-13 04:55] #486 closed

[2021-12-13 05:26] 0crat commented on #350
Job `gh:cqfn/eo#350` is not assigned, can't get performer

[2021-12-13 05:39] 0crat commented on #337
Job `gh:cqfn/eo#337` is not assigned, can't get performer

[2021-12-13 06:49] 0crat commented on #486
Job `gh:cqfn/eo#486` is not assigned, can't get performer

[2021-12-13 07:57] yegor256 commented on #386
@rultor release, tag is `0.21.0`

[2021-12-13 07:58] rultor commented on #386
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25305-992199328)

[2021-12-13 08:27] rultor commented on #386
@ingeniariussoftware @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25305-992199328) (spent 28min)

[code]

[2021-12-13 08:38] yegor256 commented on #386
@rultor release, tag is `0.21.0`

[2021-12-13 08:39] rultor commented on #386
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25305-992229271)

[2021-12-13 08:55] 0crat commented on #188
Job `gh:cqfn/eo#188` is not assigned, can't get performer

[2021-12-13 08:57] rultor commented on #386
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25305-992229271) (took me 18min)

[2021-12-13 09:11] yegor256 commented on #386
This is how it works, since version 0.21.0:

[code]

The prefix `...` turns an array into vararg.

[2021-12-13 09:11] #386 closed

[2021-12-13 20:29] yegor256 commented on #268
@andreoss this is my suggestion: let's use annotations inside classes. It's better than making their code uglier.

[2021-12-13 23:55] andreoss opened #488 "ci build should run xcop"
rultor runs xcop on merge, so should CI build

Also, it would be nice to slip tests and linters in two separate jobs, as it was done in cactoos
https://github.com/yegor256/cactoos/blob/master/.github/workflows/build.yml#L30-35

[2021-12-14 15:19] IngeniariusSoftware opened #489 "error when using prefix ... converts array to vararg"
code
[code]

result
![image](https://user-images.githubusercontent.com/33983579/146026458-c1289395-bb0c-4c2f-990f-cd7952581896.png)

[2021-12-15 04:43] yegor256 commented on #489
@IngeniariusSoftware try again, should work now (I deployed version 0.21.0 to objectionary)

[2021-12-15 04:43] #489 closed

[2021-12-15 04:44] yegor256 commented on #488
@andreoss can you do this?

[2021-12-15 07:11] 0crat commented on #489
Job `gh:cqfn/eo#489` is not assigned, can't get performer

[2021-12-15 20:26] andreoss commented on #480
@yegor256 Done. Please close.

[2021-12-15 20:26] andreoss commented on #488
@yegor256 Yes, please assign to me.

[2021-12-15 20:27] andreoss commented on #465
@yegor256 Don't have a Win machine to debug this.

[2021-12-15 23:56] dours opened #490 "EO compiler does not work without internet access"
(because files like seq.eo are downloaded each time)

[2021-12-16 00:04] dours opened #491 "The cage is empty, can't read it"
[code]

[2021-12-16 03:47] yegor256 commented on #480
@andreoss thanks!

[2021-12-16 03:47] #480 closed

[2021-12-16 05:53] 0crat commented on #480
Job `gh:cqfn/eo#480` is not assigned, can't get performer

[2021-12-16 09:41] IngeniariusSoftware opened #492 "stack overflow exception with `heap`"
code
[code]

error
![image](https://user-images.githubusercontent.com/33983579/146346983-222f98c6-4312-467b-87d6-33e49e317f70.png)

[2021-12-16 11:59] yegor256 opened #493 "test broken syntax"

[2021-12-16 12:29] #493 closed

[2021-12-16 12:30] yegor256 opened #494 "empty lines inside "methods" must be prohibited"
If I add this `yaml` file to `TyposTest` my test fails:

[code]

The empty line here must lead to parsing error, but it doesn't.

[2021-12-16 12:30] yegor256 commented on #494
@andreoss can you fix?

[2021-12-16 14:07] yegor256 commented on #492
@rultor release, tag is `0.21.1`

[2021-12-16 14:09] rultor commented on #492
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25319-995849481)

[2021-12-16 14:18] rultor commented on #492
@ingeniariussoftware @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25319-995849481) (spent 9min)

[code]

[2021-12-16 15:46] someilay opened #495 "Problems with access to parent's objects"
Code:
[code]

Error during runtime:
[code]

It seems like EO think that ^.i belongs object "new", but by grammar it must reference to parent's object.
What's going wrong?

[2021-12-16 17:38] yegor256 opened #496 "as-phi"
Let's add a new object, which will print phi-term of any object:

[code]

[2021-12-17 02:45] andreoss commented on #471
@yegor256 Done. Please, close

[2021-12-17 03:20] andreoss commented on #429
@yegor256 Yes, please assign

[2021-12-17 05:22] #496 closed

[2021-12-17 06:02] yegor256 commented on #491
@dours this test fails, that's why your code doesn't work either:

[code]

I'm trying to find out whether it's a bug or a feature...

[2021-12-17 06:30] yegor256 commented on #491
@dours it was a bug. Fixed in ccf0e2a7

[2021-12-17 06:30] yegor256 commented on #491
@rultor release, tag is `0.21.1`

[2021-12-17 06:31] rultor commented on #491
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25325-996471906)

[2021-12-17 06:35] yegor256 commented on #495
@someilay I suggest you replace `^` with `&` and try again.

[2021-12-17 06:56] yegor256 commented on #490
@dours good point. I think we should implement a local cache of `.eo` objects, similar to what we have in `~/.m2/repository` directory. Maybe it should be `~/.eo` directory.

[2021-12-17 06:56] rultor commented on #491
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25325-996471906) (took me 25min)

[2021-12-17 06:57] yegor256 commented on #490
@andreoss can you implement this? I think the only class this should affect is the `PullMojo`. It will try the local cache first and if the `.eo` file is not found, it should go to Objectionary. Maybe we can just create a decorator for `Objectionary` object, which will do this type of caching.

[2021-12-17 06:57] #491 closed

[2021-12-17 06:57] yegor256 commented on #492
@IngeniariusSoftware it was a bug. fixed in 0e02e83. Try version 0.21.1, should work.

[2021-12-17 06:57] #492 closed

[2021-12-17 06:58] yegor256 commented on #471
@andreoss thanks!

[2021-12-17 06:58] #471 closed

[2021-12-17 06:58] yegor256 commented on #429
@andreoss yours, go ahead pls

[2021-12-17 06:59] yegor256 commented on #481
[code]

[2021-12-17 06:59] #481 closed

[2021-12-17 07:13] yegor256 commented on #415
@dours even this one fails:

[code]

It interprets `((foo 1) 2)` as `foo 1 2`. It's a bug in EO to XMIR parsing.

[2021-12-17 07:15] 0crat commented on #496
Job `gh:cqfn/eo#496` is not assigned, can't get performer

[2021-12-17 07:33] yegor256 commented on #415
@dours this is how we parse `(((foo x) y) z) > a` now:

[code]

It seems that we should do this instead, introducing two synthetic attributes `a1` and `a2`:

[code]

[2021-12-17 07:36] yegor256 commented on #415
@andreoss can you fix this? I think, it's a bug in the parser at the level of ANTLR. Would be great to reproduce it first with `PacksTest`.

[2021-12-17 07:38] yegor256 commented on #423
@IngeniariusSoftware still working on this?

[2021-12-17 07:39] yegor256 commented on #422
@IngeniariusSoftware still working on this?

[2021-12-17 07:40] yegor256 commented on #40
@OneWingedShark we won't have this feature, even though the idea is good.

[2021-12-17 07:40] #40 closed

[2021-12-17 07:41] yegor256 commented on #490
@andreoss also, would be great to listen to the `--force` option of Maven and if it's provided, enforce from-Internet downloading. I'm not sure whether it's possible though.

[2021-12-17 07:46] yegor256 commented on #419
I think this object belongs to c2eo project, not to the core runtime of EO

[2021-12-17 07:46] #419 closed

[2021-12-17 07:46] #326 closed

[2021-12-17 08:20] 0crat commented on #492
Job `gh:cqfn/eo#492` is not assigned, can't get performer

[2021-12-17 08:23] IngeniariusSoftware commented on #422
@yegor256 not yet

[2021-12-17 08:23] #422 closed

[2021-12-17 08:24] IngeniariusSoftware commented on #423
@yegor256 not yet

[2021-12-17 08:24] #423 closed

[2021-12-17 09:13] 0crat commented on #419
Job `gh:cqfn/eo#419` is not assigned, can't get performer

[2021-12-17 09:29] 0crat commented on #481
Job `gh:cqfn/eo#481` is not assigned, can't get performer

[2021-12-17 09:29] 0crat commented on #422
Job `gh:cqfn/eo#422` is not assigned, can't get performer

[2021-12-17 09:32] 0crat commented on #40
Job `gh:cqfn/eo#40` is not assigned, can't get performer

[2021-12-17 11:25] someilay commented on #495
What does & mean?

[2021-12-17 11:57] 0crat commented on #491
Job `gh:cqfn/eo#491` is not assigned, can't get performer

[2021-12-17 12:33] yegor256 commented on #495
@someilay check [the paper](https://arxiv.org/abs/2111.13384), it's explained there in section 2.13

[2021-12-17 13:44] someilay commented on #495
It references to i which belongs to object "new", but I need i which belong object "this"

[2021-12-17 14:39] someilay opened #498 "Copying object in seq"
Code 1:
[code]
Code 2:
[code]

Code 1 runs without any errors.
Code 2 produces following error:
[code]

Why does it happen?

[2021-12-17 14:46] andreoss opened #499 "Objects with the same name in the same package"
`duplicated-names` does not check across files within a package.

[code]

Problem in the current code:
https://github.com/cqfn/eo/blob/master/eo-runtime/src/test/eo/org/eolang/float-tests.eo#L206
https://github.com/cqfn/eo/blob/master/eo-runtime/src/test/eo/org/eolang/int-tests.eo#L203

[2021-12-17 15:39] yegor256 commented on #498
@someilay you can't dataize `test`, it doesn't have `@`. In the first snippet you don't dataize it, you only dataize the `write` object, which returns TRUE

[2021-12-17 15:39] #498 closed

[2021-12-17 15:44] yegor256 commented on #499
@andreoss definitely a bug. I think we need an additional XSL checker for this type of error.

[2021-12-17 15:44] yegor256 commented on #499
@andreoss please, fix this

[2021-12-17 17:01] yegor256 commented on #495
@someilay try to make your example shorter. Now it's too long and takes too much brain power to understand it. Make it 4-5 lines, so that it will be clear exactly what problem you refer to do.

[2021-12-17 18:58] andreoss commented on #494
@yegor256 Please, assign. Where is `TyposTest`?

[2021-12-17 19:09] 0crat commented on #498
Job `gh:cqfn/eo#498` is not assigned, can't get performer

[2021-12-17 19:13] yegor256 commented on #494
@andreoss in eo-parse, just search. It relies on yaml files.

[2021-12-17 23:01] dours opened #501 "quadratic file name size"
Names of some of the generated files are N^2, where N is the number of hierarchy levels, for example, this error

EOobject1Test.java:[128,14] error while writing EOorg.EOeolang.EOobject1Test.EOobject1Test$EOobject2.EOobject1Test$EOobject2$EOobject3.EOobject1Test$EOobject2$EOobject3$EOobject4.EOobject1Test$EOobject2$EOobject3$EOobject4$EOobject5.EOobject1Test$EOobject2$EOobject3$EOobject4$EOobject5

[2021-12-18 17:55] dours commented on #491
@yegor256 Thank you. Could you also add the .eo files to the objectionary? The test now works ok in the master of EO, but plugin version 0.21.1 still downloads .eo files 0.21.0. They fail the test in a standalone maven run.

[2021-12-18 18:43] 0crat commented on #465
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#465](https://github.com/cqfn/eo/issues/465); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-12-18 21:05] dours opened #502 "fail to assign a function to a field, then call it: "You can't overwrite static expression""
[code]

[2021-12-19 04:10] yegor256 commented on #491
@dours done, here: https://github.com/yegor256/objectionary/commit/110574a3b38742e0c0e41dcd20c76cd478358467

[2021-12-19 05:52] andreoss commented on #494
@yegor256 So, this makes single empty line only allowed on top level?
Therefore, this is illegal?
[code]

[2021-12-19 05:55] andreoss commented on #488
@yegor256 Done.

[2021-12-19 05:55] #488 closed

[2021-12-19 05:56] andreoss commented on #472
@yegor256 Done, please close

[2021-12-19 05:59] andreoss commented on #217
@yegor256 Ready to take this.

[2021-12-19 10:25] yegor256 opened #504 "Turn atoms int.eq, string.eq, float.eq, bool.eq, and char.eq into objects"
All these atoms (int.eq, string.eq, float.eq, bool.eq, char.eq) but become objects and should use `as-bytes.eq`. For example, `int.eq` may be implemented as:

[code]

"Type" information will be lost. Thus, this will be true:

[code]

And this:

[code]

[2021-12-19 10:25] yegor256 commented on #504
@andreoss I'm sure you can do this, please

[2021-12-19 10:54] yegor256 opened #505 "object "ram" and refactoring of "heap""
Let's introduce a new object `ram`, which will have just two sub-atoms:

[code]

It should be possible to create a block of random-access byte array and then write a few bytes there and read them back:

[code]

And then refactor the object `heap` so that it doesn't have any atoms, but only encapsulate this new `ram`.

[2021-12-19 10:56] yegor256 commented on #505
@andreoss what do you think about this?

[2021-12-19 12:35] yegor256 opened #506 "too much logging in 0.21.1"

[2021-12-19 12:37] yegor256 commented on #506
@rultor release, tag is `0.21.2`

[2021-12-19 12:37] rultor commented on #506
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25339-997385138)

[2021-12-19 12:40] yegor256 opened #507 "SnippetTest logs too much"
At the moment `SnippetTest` logs everything directly to console, paying no attention to `log4j.properties` configuration. Something is wrong with the way we use `VerboseProcess` in the `exec()` method. Let's fix and make sure logging happens through Log4j.

[2021-12-19 12:40] yegor256 commented on #507
@andreoss maybe you can fix this

[2021-12-19 12:56] rultor commented on #506
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25339-997385138) (spent 19min)

[code]

[2021-12-19 13:25] yegor256 commented on #507
@andreoss I'm wrong, no bug here

[2021-12-19 13:25] #507 closed

[2021-12-19 16:45] yegor256 commented on #217
@andreoss go ahead. But I suggest you start slowly, it's a complex task and it would be great to discuss design decisions before implementing them.

[2021-12-19 16:46] yegor256 commented on #472
@andreoss thanks!

[2021-12-19 16:46] #472 closed

[2021-12-19 16:46] yegor256 commented on #488
@andreoss thanks!

[2021-12-19 16:46] yegor256 commented on #465
@baudoliver7 please help us here

[2021-12-19 16:49] baudoliver7 commented on #465
@yegor256 Ok :)

[2021-12-19 18:23] 0crat commented on #507
@andreoss[/z](https://www.0crat.com/u/andreoss) resigned from [#507](https://github.com/cqfn/eo/issues/507), since the job is not in scope anymore

[2021-12-19 23:48] dours opened #508 "Parser/resolver problem"
This parses ok:
[code]

This fails, because it wants to download foreign objects `a` and `b`. What's the difference?
[code]

[2021-12-20 02:04] i582 opened #509 "Failed download `yegor256/objectionary/../sprintf.eo`"
I am trying to compile a simple program following the instructions from the readme, after running the command `mvn clean test` I get the following error:

[code]

Apparently the file `sprintf.eo` was moved from the root to the `txt` folder and the plugin cannot find it when building.

[2021-12-20 03:25] i582 commented on #490
Why not make the environment variable `EOPATH` (for example) in which to store the path to the folder in which to store the runtime `.eo` files and the compiled `eo-runtime-vX.Y.Z.jar`?

Then we don't need to download anything every time, and the files along the `EOPATH` will be managed by the `eo.jar` part (for example).

It will be able to download the required runtime version and compile it int

[2021-12-20 05:16] yegor256 commented on #506
@rultor release, tag is `0.21.2`

[2021-12-20 05:16] rultor commented on #506
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25339-997604237)

[2021-12-20 05:29] rultor commented on #506
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25339-997604237) (spent 13min)

[code]

[2021-12-20 06:01] yegor256 commented on #506
@rultor release, tag is `0.21.2`

[2021-12-20 06:01] rultor commented on #506
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25339-997621139)

[2021-12-20 06:02] yegor256 commented on #509
@i582 you just forgot to do `+alias org.eolang.txt.sprintf` at the top of your program, I believe

[2021-12-20 06:17] rultor commented on #506
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25339-997621139) (took me 15min)

[2021-12-20 06:37] #506 closed

[2021-12-20 06:42] yegor256 commented on #494
@andreoss empty lines are legal ONLY in front of abstract objects. So, your example is legit.

[2021-12-20 06:43] yegor256 commented on #490
@andreoss I like the idea of `EOPATH`, which should be `~/.eo` by default. Keeping `.jar` files there is also a good idea, on top of keeping there `.eo` files. Maybe like this:

[code]

[2021-12-20 07:08] i582 commented on #509
Oh, it seems really so, thanks. In the first example in the readme it seems necessary to add a line with alias as well.

[2021-12-20 07:18] yegor256 commented on #509
@i582 fixed in e56caa50 thanks!

[2021-12-20 07:18] #509 closed

[2021-12-20 07:46] i582 opened #510 "`+package` after `+alias` is valid"
I looked at the grammar and at this point it is possible to write an alias first and then package.

[code]

It seems wrong to allow such code. It might be valid if we consider these metas at the same level, but in other languages the package name always comes first.

By the way, as I understand it, it is not necessary to include the package name, did you think to make it mandatory, as in Java or K

[2021-12-20 09:11] yegor256 commented on #510
@i582 I agree that multiple `package` metas should definitely be a bug, let's fix it. As for the location of the meta -- in EO this should not matter, they all are at the same level of semantics.

[2021-12-20 09:16] yegor256 commented on #510
@i582 as for the mandatory usage of `package`, I suggest you create a new ticket. In general, try to report only ONE problem per issue.

[2021-12-20 09:16] yegor256 commented on #510
@i582 btw, maybe you want to fix this and submit a pull request? :)

[2021-12-20 09:27] i582 commented on #510
Yep, I will create a separate issue, I wanted to clarify in this issue that it makes sense so as not to produce unnecessary issues.

[2021-12-20 09:32] i582 opened #511 "Make `+package` meta mandatory?"
In Java, Kotlin, and Golang, you must always specify package for the file.
Perhaps in EO this can be made mandatory as well.

This will make the structure of the program more uniform.

[2021-12-20 09:45] i582 commented on #510
However, existence for them at the same level of semantics does not provide any advantages, but will only confuse people who come to the language and see the code in which aliases go first, and only then the package (although this language is able to confuse the person who previously wrote on common languages ​​like C++ or Golang 😄).

What's more important, if we take the package out of the meta a

[2021-12-20 09:46] yegor256 commented on #501
@dours I can't reproduce this bug. Need more information...

[2021-12-20 09:54] yegor256 commented on #510
@i582 OK, you convinced me. Let's add a rule that will allow `+package` to be only the first meta.

[2021-12-20 10:00] yegor256 commented on #501
@dours reproduced. let me try to fix it.

[2021-12-20 14:26] dours opened #512 "Cannot extract object copying to a function: is this a feature?"
This example (it exchanges values of `b` and `c` using `a` as a temporary variable) works:
[code]

Let's refactor it, let's extract object copying to a function `mkCopy`. Now the next example leads to StackOverflow. Why is it different at all? I explicitly dataize each call to `mkCopy` in order to force the computation and get the copy in order, but still...
[code]

[2021-12-20 16:21] yegor256 commented on #511
@i582 you are welcome to submit a PR

[2021-12-20 22:24] dours commented on #508
the problem is with the vars-float-up pass, the workaround is to give names everywhere, so the following code compiles:
[code]

[2021-12-20 22:50] dours commented on #508
not at all, this one fails to parse with the same error as well:
[code]

[2021-12-21 07:14] yegor256 commented on #501
@dours fixed in 1bf13699

[2021-12-21 12:40] dours commented on #501
@yegor256 just changing hash in pom.xml does not help (cannot download stdout.eo). Tests of the master pass locally, so the bug is definitely fixed.

[2021-12-21 12:40] #501 closed

[2021-12-21 19:14] yegor256 commented on #508
@dours I see the problem, will fix now

[2021-12-21 19:26] yegor256 commented on #508
@rultor release, tag is `0.21.3`

[2021-12-21 19:28] rultor commented on #508
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25343-999036547)

[2021-12-21 19:44] rultor commented on #508
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25343-999036547) (took me 16min)

[2021-12-21 21:44] yegor256 commented on #508
@dours I believe it's fixed, try version 0.21.3

[2021-12-21 21:44] #508 closed

[2021-12-21 21:45] yegor256 commented on #501
@dours I believe it's fixed, try version 0.21.3

[2021-12-21 21:55] #465 closed

[2021-12-21 22:02] dours opened #514 "Another parser problem, similar to #508"
Similar to #508: This one still does not compile with 0.21.3 (tries to download `tmp1`)
[code]

[2021-12-21 23:50] dours commented on #508
This example also does not work. Moreover, I don't see any commits with fixes. Have you forgotten to commit?
[code]

[2021-12-21 23:50] dours commented on #508
@yegor256  This example also does not work. Moreover, I don't see any commits with fixes. Have you forgotten to commit?
[code]

[2021-12-22 00:22] baudoliver7 commented on #414
@yegor256 ready to take this.

[2021-12-22 04:42] yegor256 commented on #514
@dours I forgot to push changes in #508 :( Now they are here, you should try version 0.21.4

[2021-12-22 04:42] yegor256 commented on #514
@rultor release, tag is `0.21.4`

[2021-12-22 04:42] #514 closed

[2021-12-22 04:43] rultor commented on #514
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25346-999282394)

[2021-12-22 04:59] rultor commented on #514
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25346-999282394) (took me 15min)

[2021-12-22 05:08] yegor256 commented on #502
You have to do it this way:

[code]

I just added a test, which passes: 06d12264

[2021-12-22 05:08] #502 closed

[2021-12-22 05:28] yegor256 commented on #512
@dours keep in mind that `copy.<` is NOT an "explicit dataization". It just making a copy of an object explicitly.

[2021-12-22 05:32] yegor256 commented on #512
@dours this:

[code]

the parser reads as:

[code]

You better do this:

[code]

[2021-12-22 06:40] yegor256 commented on #414
@baudoliver7 go ahead!

[2021-12-22 11:21] baudoliver7 commented on #414
@yegor256 command line `mvn clean compile` under `sandbox/hse` doesn't work for me.
I got this :
[code]
What am I missing ? (`mvn clean install` works well under `eo` project).

[2021-12-22 13:22] AndrewG0R opened #516 "Fail during working with several source directories in pom.xml."
I tried to use such construction in my pom.xml:
[code]

but I got such error trace:
[code]

all info about such construction I got from docs and from [this file](https://github.com/cqfn/eo/blob/1bf136995679cc9bb7348378d97dda4320add15e/eo-maven-plugin/src/main/java/org/eolang/maven/RegisterMojo.java#L55). Attaching also my plugin general view:

![image](https://user-images.githubusercontent.com/698

[2021-12-22 13:24] yegor256 commented on #516
@AndrewG0R I suspect it's Windows-only problem. @baudoliver7 do you think you can reproduce it and fix?

[2021-12-22 13:27] AndrewG0R commented on #516
I'm working with [this repo](https://github.com/polystat/py2eo) maybe it will be useful during error reproducing.

[2021-12-22 13:38] baudoliver7 commented on #516
Let's me reproduce it and fix it.

[2021-12-22 13:47] baudoliver7 commented on #516
Well noted.

[2021-12-22 16:43] baudoliver7 commented on #516
@AndrewG0R you should use this configuration for your plugin :
[code]
With that, you will be able to detect `eo` files copied in `genCageEO` like this :
[code]

[2021-12-22 16:46] AndrewG0R commented on #516
Yes I saw such type of several directories usage, but then I was given some EO docs with posted pom fields sample) that is why I used them. I will try your variant :)

[2021-12-22 16:54] baudoliver7 commented on #516
@AndrewG0R There is the issue : in the `goal` `register`, maven fails to look in the directory `${project.parent.basedir}/src/test/resources/org/polystat/py2eo/genCageEO/*` (to register some `eo` files) because it doesn't exist.

[2021-12-22 16:59] yegor256 commented on #414
@baudoliver7 how is this related to the bug reported above?

[2021-12-22 17:07] baudoliver7 commented on #414
@yegor256 I just want to run the code sample to note the bug.

[2021-12-22 17:12] AndrewG0R commented on #516
but how I can put several sourcesDir-s in such manner? I had such config which you posted above but that variant is for one directory, but how I can use some more?

[2021-12-22 17:25] AndrewG0R commented on #516
the first variant of this pom.xml is [here](https://github.com/polystat/py2eo/blob/master/runEO/pom.xml)

[2021-12-22 17:33] baudoliver7 commented on #516
@AndrewG0R You are right. It doesn't work. It is a bug.
Please, let me fix that.

[2021-12-22 17:35] AndrewG0R commented on #516
Thank you for feedback, will look for the upd

[2021-12-22 18:39] baudoliver7 commented on #516
@AndrewG0R After investigating, I show you how to use this feature.

Firstly, you should choose a source directory that will contain all your `eo` files and on which maven have read permissions. For example :
[code]
Then, you can indicate specific directories (by filters) where to look within this sources directory (not outside) like this :
[code]

You might also want to exclude only some director

[2021-12-22 19:25] baudoliver7 opened #517 "Error when Maven find other types of files than eo files as sources"
I got this error :
[code]
When using this configuration in plugin `eo-maven-plugin` :
[code]
Here is the file causing the error :
[code]
We are therefore obliged to add extension `.eo` to filters as in the following configuration to fix it :
[code]
IMO, I think we should simply ignore all files that aren't `eo` files.

[2021-12-22 19:37] yegor256 commented on #414
@baudoliver7 run it using `sandbox/canonical`

[2021-12-22 19:40] baudoliver7 commented on #414
@yegor256 Yes, I'm already using it. Thx :)

[2021-12-22 19:47] yegor256 commented on #517
@baudoliver7 ignoring everything except .eo will look like an unexpected behavior. Glob doesn't work this way. `**/*` means all files, not only `.eo`.

[2021-12-22 19:47] #517 closed

[2021-12-22 19:59] baudoliver7 commented on #517
@yegor256 But the matter here is that Maven expect that the file found respect the `eo` file format. Which is not the case when it finds for example a `.DStore` file.
For me, when we say all files by `**/*`, in this context, it means all `eo` files. And It shouldn't make an error when it finds another type of file.

[2021-12-23 01:16] dours opened #518 "write to a cage fails"
This test fails
[code]

This works
[code]

This also fails, btw
[code]

[2021-12-23 04:13] yegor256 commented on #517
@baudoliver7 the message we print to the log is informative enough: `Failed to parse /Users/baudoliver7/Documents/projects/polystat/py2eo/test/genCageEO2/.DS_Store:`

[2021-12-23 04:17] yegor256 opened #519 "let's report jacoco aggregate"
Now we only report coverage of eo-parser module to codecov (see `codecov.yml`). Let's report an aggregate report, as explained here: https://github.com/jacoco/jacoco/wiki/MavenMultiModule

[2021-12-23 04:18] yegor256 commented on #519
@andreoss please help us here

[2021-12-23 05:17] yegor256 commented on #518
@dours reproduced and fixed, thanks!

[2021-12-23 05:19] yegor256 commented on #518
@rultor release, tag is `0.21.5`

[2021-12-23 05:20] rultor commented on #518
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25347-1000050357)

[2021-12-23 05:21] AndrewG0R commented on #516
@baudoliver7 as I know such sample only with `<sourcesDir>/</sourcesDir>` is posted in documentation. I tried also yours one:
` <sourcesDir>C:\Users\angor\keus\py2eo</sourcesDir>` <---- direct path to the project folder

added one dir:
[code]

and final config looks in such way:
[code]

and then after running it I didn't receive any crash, but such scope doesn't override  default path with eo, I r

[2021-12-23 05:35] rultor commented on #518
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25347-1000050357) (took me 15min)

[2021-12-23 05:45] #518 closed

[2021-12-23 09:41] baudoliver7 commented on #516
@AndrewG0R
Firstly, be sure that the absolute path `C:\Users\angor\keus\py2eo` really exists.
Secondly, be sure that the relative path `src/test/resources/org/polystat/py2eo/genCageEO/` exists within `C:\Users\angor\keus\py2eo` (directly or by one of its sub directories).

[2021-12-23 09:51] AndrewG0R commented on #516
maybe I'm wrong but as I see all is correct:

![image](https://user-images.githubusercontent.com/69813637/147222459-c14ec699-9d21-4dc1-b711-75bfa2ea2d66.png)

or I made a mistake somewhere in my pom.xml with paths?

[2021-12-23 10:01] baudoliver7 commented on #516
@AndrewG0R Ok. Let's me have the same configuration on my windows pc.

[2021-12-23 10:23] andreoss opened #520 "makes-deep-object-recursively crashes JVM"
this test exhausts all heap and crashes jvm

https://github.com/cqfn/eo/runs/4616635006?check_suite_focus=true

[code]

[2021-12-23 10:39] baudoliver7 commented on #516
@AndrewG0R It's about the filter.
When you write this :
[code]
`eo-maven-plugin` expecting `src/test/resources/org/polystat/py2eo/genCageEO/` to be at least a directory of one of the subdirectory of sources dir (`C:\Users\angor\keus\py2eo`).
`src/test/resources/org/polystat/py2eo/genCageEO/` being a direct subdirectory, `eo-maven-plugin` accepts this :
[code]

[2021-12-23 10:48] AndrewG0R commented on #516
yes, in general it works with setting certain directory, and .eo was parsed, but then how to use project directory, without setting dir path? I tried to set `<sourcesDir>${project.basedir}</sourcesDir>` and received such error:

`Failed to execute goal org.eolang:eo-maven-plugin:0.21.1:register (compile) on project test: Execution compile of goal org.eolang:eo-maven-plugin:0.21.1:register failed:

[2021-12-23 10:59] dours opened #522 "Lazy semantics difference"
The first test passes, the second does not. Is it because of some implicit copying of `a`?
[code]

[code]

[2021-12-23 11:05] andreoss commented on #519
@yegor256 `aggregated-report` seems to be a too convoluted way (having an extra module to do aggregation). For codecov it's enough to read jacoco reports for each module separately, without creating one aggregated report

[2021-12-23 11:28] andreoss commented on #510
@i582 Lack of `+package` should be interpreted as unnamed package (https://docs.oracle.com/javase/specs/jls/se17/html/jls-7.html#jls-7.4.2)
@yegor256
Can package be different from file location? If not,  why `+package` is needed at all? It will always be the same a path relative to compilation root.

[2021-12-23 11:29] baudoliver7 commented on #516
@AndrewG0R This error occurs when sources dir is project base directory (here, it is the directory where you execute maven command line, not necessarily `py2eo`). If you set this directory explicitly (for me it's `D:\projects\polystat\py2eo\test`), you will notice the same error. For example, `${project.parent.basedir}` doesn't fail in error.
Let's me fix this.

[2021-12-23 11:30] AndrewG0R commented on #516
yes sure, I have managed to fix it via -  `<sourcesDir>${project.baseDir}/../../</sourcesDir>` it works as I see

[2021-12-23 12:39] yegor256 commented on #510
@andreoss I agree, let's get rid of `+package` all together

[2021-12-23 12:40] yegor256 commented on #519
@andreoss let's do it the way you propose, I agree

[2021-12-23 12:55] baudoliver7 commented on #516
@AndrewG0R It has been fixed [here](https://github.com/cqfn/eo/pull/523). It will be available in the next release.

[2021-12-23 12:58] baudoliver7 commented on #516
@AndrewG0R The issue has been resolved ? If yes, please close the ticket.

[2021-12-23 13:37] andreoss opened #524 "char should by 2 bytes, not 8"
currently `char` is being converted to 8 bytes,
[code]

[2021-12-23 13:46] andreoss commented on #505
@yegor256 Please, assing

[2021-12-23 15:01] i582 commented on #510
@yegor256 But why? Explicit definition is better than implicit one. I cannot give significant examples, they are all more about convenience. What is the general advantage of removing the explicit definition? This does not make the language easier, as the concept remains.

[2021-12-23 17:07] baudoliver7 commented on #414
@dours @yegor256
It's not because of `varags`. The code below also fails with the same message when assigning value to `a` :
[code]

[2021-12-23 19:53] yegor256 commented on #510
@i582 I believe it's a duplication of information. On one hand, you specify the package in `+package`, on the other hand you place your `.eo` file into a directory with the name of a package. Which information is right? Your `+package` or the directory? Duplication is bad.

[2021-12-23 21:03] i582 commented on #510
@yegor256 Let's first decide which information is main, the location of the file relative to the root folder, or the package name that is defined in the file.

Let's start with the package name inside the file: a package definition is a language construct that is described in its grammar and is directly part of the language. The package name defines the package name in the generated Java file.

Th

[2021-12-23 21:24] i582 commented on #510
The implicitness is even worse.

Let's say I have a big project with many files, what package do I need to import to include this class?

<img width="771" alt="Снимок экрана 2021-12-24 в 00 10 14" src="https://user-images.githubusercontent.com/51853996/147291682-5b89c747-ba4e-459f-becf-bb17a1030ebf.png">

Due to the fact that at the beginning of the file there is a package name, there are no probl

[2021-12-23 21:54] baudoliver7 opened #526 "Enable some tests on Windows"
To continue on increasing portability of the project on Windows, we should enable :
- `SnippetTest`
- `PlaceTest`
- `UnplaceTest`

[2021-12-23 23:51] andreoss commented on #510
@i582 Having a big project with many files is the problem, packages in your example don't convey any information, but rather provide already redundant taxonomy (i.e *Filters go to 'filters' package, *Actions go to 'action' package).

Using FS as a namespace abstraction gives other advantages as well:
- refactoring is easier (rename package = rename directory)
- consistency among compilation steps

[2021-12-24 00:47] i582 commented on #510
@andreoss Perhaps I put it wrong somewhere and you think that I think the idea of ​​matching the names of packages and paths where files are located in the filesystem is bad. This is not true. I am only trying to show the inconvenience that can be encountered if you remove the explicit declarations of package names.

About the first benefit that you described. Let's say you have a project and you

[2021-12-24 04:32] yegor256 commented on #510
@andreoss @i582 one of the main ideas behind EO is that objects are unique and their entire catalog is in the objectionary.com. Thus, any object is not so much a file in a directory, but mostly a text resource with a URL. Like this one: https://github.com/yegor256/objectionary/blob/master/objects/org/eolang/io/stdout.eo So, when you open this URL you will see the package into in the URL _and_ insi

[2021-12-24 04:44] yegor256 commented on #520
@andreoss please, fix it if you can

[2021-12-24 04:51] #524 closed

[2021-12-24 05:00] i582 commented on #510
@yegor256 But what about user objects? Not all objects will be taken from objectionary.com. For them there is no URL with the package name.

[2021-12-24 05:07] yegor256 opened #528 "move to tojos"

[2021-12-24 05:22] i582 opened #529 "Too long compilation time for a simple script"
This issue was created to track compilation speed.

At the moment, compiling a simple script takes about 20 seconds, while, for example, compiling a small Java file takes less 1 second. It is very sad when for every small change you have to wait 20 seconds.

[2021-12-24 05:25] #528 closed

[2021-12-24 05:26] yegor256 commented on #529
@i582 yes, this indeed is a problem

[2021-12-24 05:26] yegor256 commented on #526
@baudoliver7 can you do this?

[2021-12-24 06:13] yegor256 commented on #510
@i582 they are more like exceptions and for them we treat directory paths as URLs

[2021-12-24 07:10] 0crat commented on #524
Job `gh:cqfn/eo#524` is not assigned, can't get performer

[2021-12-24 07:47] yegor256 commented on #490
@andreoss you take this?

[2021-12-24 07:49] yegor256 commented on #406
@andreoss I will assign this to someone else, ignore this task please

[2021-12-24 07:49] yegor256 commented on #406
@Graur can you please try to help us here?

[2021-12-24 07:49] yegor256 commented on #404
@andreoss I believe it's fixed?

[2021-12-24 07:50] yegor256 commented on #343
@Graur maybe you can help here?

[2021-12-24 07:55] Graur commented on #406
Sure, I will try to help here, thanks!

[2021-12-24 08:01] yegor256 commented on #508
@dours yes, forgot to push :(

[2021-12-24 08:08] yegor256 commented on #522
@dours they both should NOT pass, I believe. let me check.

[2021-12-24 08:08] baudoliver7 commented on #526
@yegor256 Sure, I will do it :)

[2021-12-24 08:10] baudoliver7 commented on #516
@AndrewG0R please close this task if there is nothing more to solve.

[2021-12-24 08:45] yegor256 commented on #522
@dours I tried to reproduce, but no luck: https://github.com/cqfn/eo/commit/825b6cf98e0d5a995b25615f1268ae04b0cb06f2

[2021-12-24 08:47] yegor256 commented on #522
@dours are you sure your first test passes? I just ran it and it fails.

[2021-12-24 08:47] #522 closed

[2021-12-24 09:36] yegor256 opened #531 "slash notation for aliases"
At the moment it works like this:

[code]

It seems to be confusing with the dot notation we use for objects. I suggest changing it to:

[code]

This way, it's an absolute path of the object.

[2021-12-24 11:53] AndrewG0R commented on #516
@baudoliver7, @yegor256  thank you for your help

[2021-12-24 11:53] #516 closed

[2021-12-24 12:52] 0crat commented on #522
Job `gh:cqfn/eo#522` is not assigned, can't get performer

[2021-12-24 14:07] andreoss opened #533 "bytes.as-array"
Proposal:
Add an atom to convert `bytes` to an array of chars (?).

[2021-12-24 14:39] yegor256 commented on #533
@andreoss hm... good idea, but we can't convert to char, since char is not a single-byte entity. Maybe let's convert to array of `bytes`, where each element will contain one byte?

[2021-12-24 16:38] 0crat commented on #516
Job `gh:cqfn/eo#516` is not assigned, can't get performer

[2021-12-24 16:42] #414 closed

[2021-12-24 16:42] 0pdd opened #534 "EODataizeAppCallsVarargsFuncTest.java:46-50: Fix bug EO..."
The puzzle `414-78631059` from #414 has to be resolved:

https://github.com/cqfn/eo/blob/2c0047c25774494530df2a2067d5a58acbd29e19/eo-runtime/src/test/java/EOorg/EOeolang/EODataizeAppCallsVarargsFuncTest.java#L46-L50

The puzzle was created by @baudoliver7 on 23-Dec-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2021-12-24 16:42] 0pdd opened #535 "DataizedTest.java:82-85: Fix bug execute an EO program..."
The puzzle `414-aa62591c` from #414 has to be resolved:

https://github.com/cqfn/eo/blob/2c0047c25774494530df2a2067d5a58acbd29e19/eo-runtime/src/test/java/org/eolang/DataizedTest.java#L82-L85

The puzzle was created by @baudoliver7 on 23-Dec-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2021-12-24 16:42] 0pdd commented on #414
@dours 2 puzzles [#534](https://github.com/cqfn/eo/issues/534), [#535](https://github.com/cqfn/eo/issues/535) are still not solved.

[2021-12-24 17:36] baudoliver7 commented on #534
@yegor256 let's me take this

[2021-12-24 21:37] andreoss commented on #404
@yegor256 yes, should be closed

El 24 de diciembre de 2021 4:50:04 a. m. GMT-03:00, Yegor Bugayenko ***@***.***> escribió:
***@***.*** I believe it's fixed?

[2021-12-24 22:50] #404 closed

[2021-12-24 23:12] andreoss opened #536 "parameters for char"
char recieves parameter `data` which is unneeded

https://github.com/cqfn/eo/blob/master/eo-runtime/src/main/eo/org/eolang/char.eo#L27-28

[2021-12-25 03:01] i582 opened #537 "Is it forbidden to use an object by FQN?"
I am trying to compile a small script:

[code]

But I get the error:

[code]

It turns out that I cannot use the object by its FQN? That is, I always need to write `+alias ...` at the beginning if it is an object not from the current package?

Also, if you write FQN in the first identifier for the alias:

[code]

And then try to use it, you will get the same error.

I think it's worth adding this

[2021-12-25 04:18] yegor256 commented on #534
@baudoliver7 go ahead

[2021-12-25 04:21] yegor256 commented on #537
@i582 once we fix #531, it will be possible to do this:

[code]

[2021-12-25 04:26] yegor256 commented on #531
@andreoss can you do this? Could be a big piece of work though...

[2021-12-25 05:02] yegor256 commented on #531
@andreoss on a second thought, I believe it's not a good idea. We introduce a new "hierarchy" of objects, which is redundant. We better stay with the dot notation everywhere and assume that `org.eolang.io.stdout` is an object `stdout` taken from the object `org.eolang.io`, which is a child of `org.eolang`, which is a child of `org`, which is a child of `Φ`

[2021-12-25 05:02] #531 closed

[2021-12-25 05:03] yegor256 commented on #537
@i582 I closed #531, it was a wrong idea, it seems (thanks to your ticket, which provoked thinking). It will work like this instead:

[code]

Here, `/` is the root object Φ.

[2021-12-25 05:06] yegor256 opened #538 "tojos 0.8.1"

[2021-12-25 05:08] #538 closed

[2021-12-25 05:08] yegor256 commented on #536
@andreoss fixed, thanks

[2021-12-25 05:08] #536 closed

[2021-12-25 05:17] i582 commented on #537
@yegor256 By the way, the use of FQN there can introduce some ambiguity:

For example:

[code]

Can we determine at the parsing stage that `property-name` is just a property, and not an object inside the package `/.org.eolang.some-object-with-property.property-name`? It seems that at the parsing stage this is impossible, but it seems that later it will be possible to determine this when all the sy

[2021-12-25 05:22] i582 commented on #537
@yegor256 In general, I don't see much point in allowing FQN to be used in such places, if the user wants to use the object, they must first import it explicitly.

If this is described in a formal description, then, it seems to me, everything will be fine.

[2021-12-25 05:54] yegor256 commented on #537
@i582 we have to make "packages" also objects. Thus, `/.org.eolang` will be an object, and `/.org` also an object.

[2021-12-25 15:51] andreoss commented on #429
@yegor256 This can be closed.Tthough for now logging can cause problems like
https://github.com/cqfn/eo/issues/520

[2021-12-26 00:45] 0crat commented on #511
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#511](https://github.com/cqfn/eo/issues/511); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2021-12-26 04:15] yegor256 commented on #429
@andreoss thanks!

[2021-12-26 04:15] #429 closed

[2021-12-26 22:17] andreoss opened #541 "non-fragment lexer rule BYTES can match the empty string"
https://github.com/jcabi/jcabi-parent/issues/131

[code]

[2021-12-26 23:22] andreoss opened #544 "Duplication between Param & Dataized"
`Param` & `Dataized` & `Data.ToPhi` do similar operations
`Dataized` almost not used directly.
`ToPhi` always consumes results of `Param`
Proposal:
1) Join `Param` and `Dataized`
2) Make `Dataized` implement `Phi` as a smart-class with extra methods
So instead of
[code]
we could write
[code]

[2021-12-27 01:28] andreoss commented on #505
@yegor256 Should there be one more parameter indication the length for read?
[code]

[2021-12-27 02:40] baudoliver7 opened #545 "Path slashes are removed on Windows"
We noticed since `tojos` have been moved in separate project, that back slashes vanished from file paths on Windows.

[2021-12-27 02:41] baudoliver7 commented on #545
@yegor256 please, assign me this task.

[2021-12-27 05:18] yegor256 commented on #545
@baudoliver7 go ahead

[2021-12-27 05:18] yegor256 commented on #505
@andreoss yes, you are right

[2021-12-27 13:10] andreoss commented on #415
@yegor256 Yes, please assign.

[2021-12-27 14:35] #504 closed

[2021-12-27 15:25] andreoss commented on #541
@yegor256 Done in #542

[2021-12-27 15:25] #541 closed

[2021-12-27 15:58] dours commented on #522
@yegor256 I also cannot reproduce it with 0.21.5

[2021-12-27 16:00] dours commented on #512
@yegor256 Why does `a.write ((mkCopy c).@)` force dataization? Shouldn't `.@` be evaluated lazily?

[2021-12-27 19:02] #545 closed

[2021-12-27 20:59] yegor256 commented on #512
@dours I think this question is moving us away from the topic of this ticket. you better open a new one.

[2021-12-27 20:59] #512 closed

[2021-12-27 23:50] egorklementev opened #547 "Windows illegal character '\u201e'"
When trying to compile a raw sandbox sample from this repository on Windows 10 the following errors arise:
[code]
in this generated Java code:
[code]
The exact illegal symbol is the "two commas" symbol here: `new EOarray$EOmap$EOП„1$EO_1` .
Google says it is a "double low-9 quotation mark" symbol.

[2021-12-28 00:22] baudoliver7 commented on #547
@egorklementev Please, add this to properties tag of `canonical` pom.xml :
[code]
and try to compile again.

[2021-12-28 00:34] andreoss commented on #490
@yegor256 Yes.

[2021-12-28 09:00] #526 closed

[2021-12-28 09:10] yegor256 commented on #526
@baudoliver7 thanks!

[2021-12-28 10:58] 0pdd opened #550 "SnippetTest.java:69-71: Enable PlaceTest and UnplaceTest..."
The puzzle `526-1315d399` from #526 has to be resolved:

https://github.com/cqfn/eo/blob/b2b8dac2c97071920f068a74aba30ff575bf7f23/eo-maven-plugin/src/test/java/org/eolang/maven/SnippetTest.java#L69-L71

The puzzle was created by @baudoliver7 on 28-Dec-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2021-12-28 10:58] 0pdd commented on #526
@baudoliver7 the puzzle [#550](https://github.com/cqfn/eo/issues/550) is still not solved.

[2021-12-28 11:00] baudoliver7 commented on #550
@yegor256 please, assign

[2021-12-28 11:05] baudoliver7 commented on #547
@egorklementev Everything is ok now ?
I suggest you to update your branch to have latest modifications.

[2021-12-28 11:38] yegor256 opened #551 "multi-line bytes"
Would be great to have an ability to specify multi-line `bytes`:

[code]

[2021-12-28 12:03] yegor256 commented on #547
@rultor release, tag is `0.21.6`

[2021-12-28 12:05] rultor commented on #547
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25377-1002059758)

[2021-12-28 12:17] egorklementev commented on #547
@baudoliver7 Now everything is okay on `0.21.5` (on Windows).

[2021-12-28 12:22] baudoliver7 commented on #547
@egorklementev Good !
Please, close the ticket since everything is solved.

[2021-12-28 12:24] rultor commented on #547
@egorklementev @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25377-1002059758) (spent 19min)

[code]

[2021-12-28 12:31] baudoliver7 commented on #547
@yegor256 According to `rultor` logs, release failed because of the latest commit you made while releasing.
Could you release again ?

[2021-12-28 14:13] yegor256 commented on #547
@egorklementev try version 0.21.6, it's released to Maven Central

[2021-12-28 14:13] #547 closed

[2021-12-28 14:22] #550 closed

[2021-12-28 14:22] 0pdd commented on #526
@baudoliver7 the only puzzle [#550](https://github.com/cqfn/eo/issues/550) is solved here.

[2021-12-28 15:29] yegor256 opened #553 "EoTest must be in runtime path"

[2021-12-28 15:45] yegor256 commented on #553
@rultor release, tag is `0.21.7`

[2021-12-28 15:45] rultor commented on #553
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25379-1002166224)

[2021-12-28 15:50] yegor256 opened #554 "redirect JUL calls to SLF4J only in eo-runtime"
In #553 I just deleted `EoTest`, which we added earlier in #500. It was a wrong idea: we should not make our unit tests use SLF4J by default. We should configure ONLY eo-runtime module to catch JUL calls our code makes and forward them to SLF4J.

[2021-12-28 15:51] yegor256 commented on #554
@andreoss can you fix this somehow?

[2021-12-28 16:02] rultor commented on #553
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25379-1002166224) (took me 16min)

[2021-12-28 16:07] #553 closed

[2021-12-28 16:10] yegor256 commented on #544
@andreoss I added some explanation at bff11216

[2021-12-28 18:56] dours opened #555 "Why it is only possible to copy an identifier, not a field or any expression?"
both do not compile (with different errors):
[code]
[code]

[2021-12-28 19:20] yegor256 opened #556 "load XSL with sid"

[2021-12-28 19:33] yegor256 commented on #556
@rultor release, tag is `0.21.8`

[2021-12-28 19:34] rultor commented on #556
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25383-1002252482)

[2021-12-28 19:51] rultor commented on #556
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25383-1002252482) (took me 16min)

[2021-12-28 20:01] #556 closed

[2021-12-28 22:38] baudoliver7 commented on #534
@yegor256 To simplify, here is the root of the problem : looking at the generated code, I noticed that we apply dataization multiple times on an abstract object which owns a free varargs attribute while we call it.
Let's me explain that. If you have this EO abstract object :
[code]

And you call it here :
[code]
You dataize abstract object `f`, 2 times. That's because the generated code of `app` i

[2021-12-29 11:56] andreoss commented on #217
@yegor256 Instead of dividing methods into `static` or `instance`, we could treat `new` as a method.

[code]

Same would go for fields,
[code]

Over all the object would look like this
[code]

could be more readble, if instead of quoted string, some `symbol` type would be used.
[code]

[2021-12-29 12:04] andreoss commented on #415
@yegor256 These synthetic attributes will be on the same level? How can they have a limited scope?
[code]
Or nested like that?

[code]

[2021-12-30 04:44] yegor256 commented on #415
@andreoss we should get this structrure:

[code]

[2021-12-30 04:47] yegor256 commented on #217
@andreoss I think would be convenient if we make EO objects already with "methods" as in Java:

[code]

Isn't it possible?

[2021-12-30 06:53] baudoliver7 commented on #534
@yegor256 WDYT ?

[2021-12-30 19:19] Graur commented on #406
I think that I can reproduce this error now. This happens with stacktrace:
[code]

[2021-12-30 19:38] Graur commented on #406
I noticed a broken link at the end of the "Quik start" part in the main README.md file.
I think it can be changed from https://github.com/cqfn/eo/tree/master/eo-maven-plugin/src/it to https://github.com/cqfn/eo/tree/master/eo-maven-plugin/src/it-disabled. Or something else.
@yegor256 Is it right?

[2021-12-31 06:10] yegor256 commented on #406
@yegor256 you better report such questions in separate tickets

[2021-12-31 06:13] yegor256 commented on #534
@baudoliver7 how will you understand during Java code generation that you have to provide a list a arguments to PhWith instead of one argument?

[2021-12-31 08:15] yegor256 commented on #555
@dours this is by design. If we allow to use apostrophe is any place, we will end up with pretty messy structure of XMIR (I just tried). That's why, just an object can be explicitly copied, by its name.

[2021-12-31 08:15] #555 closed

[2021-12-31 15:04] baudoliver7 commented on #534
@yegor256 For that, we need another parser before java code generation that will include `xmir` of each object (if it is not present yet) called with its free arguments only. So, we will therefore consider `varargs` as `array` according to what you said in `arXiv.2111.13384v1.pdf` section `2.5`.
For java code generation, I would suggest rather to use this code (that avoids us to modify `PWith` cla

[2021-12-31 17:19] andreoss commented on #217
@yegor256 Should there be some mechanism which intersects calls to missing attributes? Like `method_missing`
[code]

[2022-01-01 08:59] yegor256 commented on #217
@andreoss but you know what attributes are there in Java, you have this information when you construct an object at `new.φ`:

[code]

[2022-01-01 09:01] yegor256 commented on #534
@baudoliver7 we don't know during Java code generation what is the "type" of the argument: is it "vararg" or just an "int".

[2022-01-01 11:08] baudoliver7 commented on #534
@yegor256 You are right. Currently we are not able to know it. So I will introduce this feature :-)

[2022-01-01 11:18] baudoliver7 commented on #534
@yegor256 Not to know the type of argument, but just to know if it is a simple argument or a `vararg`. That's all we need to know to fix this ticket :)

[2022-01-01 11:40] yegor256 commented on #534
@baudoliver7 it's not possible. The sources of the object may not be available for us:

[code]

Here, you don't know that the second argument of `sprintf` is vararg. The sources of `sprintf` are not available.

[2022-01-01 11:46] baudoliver7 commented on #534
@yegor256 Ok, we will discuss that in the PR, the time for me to express my idea of how to know it.

[2022-01-02 06:06] 0pdd opened #561 "PullMojo.java:40-43: Enable Objectionary caching in..."
The puzzle `490-f28eb43a` from #490 has to be resolved:

https://github.com/cqfn/eo/blob/16f840437832445f7b8602b6e63291a07f1feb84/eo-maven-plugin/src/main/java/org/eolang/maven/PullMojo.java#L40-L43

The puzzle was created by @andreoss on 29-Dec-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2022-01-02 06:06] 0pdd opened #562 "RemoteObjectionary.java:59-62: Resolve abbreviated hash..."
The puzzle `490-82991e51` from #490 has to be resolved:

https://github.com/cqfn/eo/blob/16f840437832445f7b8602b6e63291a07f1feb84/eo-maven-plugin/src/main/java/org/eolang/maven/RemoteObjectionary.java#L59-L62

The puzzle was created by @andreoss on 29-Dec-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2022-01-02 06:06] 0pdd commented on #490
@dours 2 puzzles [#561](https://github.com/cqfn/eo/issues/561), [#562](https://github.com/cqfn/eo/issues/562) are still not solved.

[2022-01-02 12:42] andreoss commented on #551
@yegor256 This is done, please close

[2022-01-02 18:11] yegor256 commented on #551
@andreoss thanks!

[2022-01-02 18:11] #551 closed

[2022-01-03 19:05] marceloamadeu commented on #561
@yegor256 Can I try to solve this issue?

[2022-01-03 23:50] andreoss opened #564 "one space is legal as indentation"
The leading space is getting ignored but legal as indentation
[code]

[2022-01-04 05:50] yegor256 commented on #561
@marceloamadeu yes, go ahead

[2022-01-05 13:17] 0pdd opened #567 "EoLexer.java:42-46: Remove EoLexer.action method. Having..."
The puzzle `430-42a96944` from #430 has to be resolved:

https://github.com/cqfn/eo/blob/5375ceda855a51b7bc9acdba715a60279e80d9a4/eo-parser/src/main/java/org/eolang/parser/EoLexer.java#L42-L46

The puzzle was created by @andreoss on 03-Jan-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2022-01-05 13:17] 0pdd commented on #430
@yegor256 the puzzle [#567](https://github.com/cqfn/eo/issues/567) is still not solved.

[2022-01-05 15:24] andreoss commented on #567
Correction: Actual parent task is #390

[2022-01-05 17:40] br4ch1st0chr0n3 opened #568 "Grammar improvement"
Hello, @yegor256.
I noticed that swapping list of abstract attributes with the attribute name and moving down attribute definition can improve code readability. Compare `#1` and `#2`
![image](https://user-images.githubusercontent.com/48378098/148277451-d06b2340-f4cc-486b-94cd-3aa95842657d.png)
Now, in `#2`, attribute names of an object are all indented with exactly 2 more spaces than their parent

[2022-01-05 19:11] yegor256 commented on #568
@br4ch1st0chr0n3 the idea is to always start a line with an object, because it is the first-class citizen here. Not the name of it, which is a secondary thing. In your second snippet we have both objects and names at the first position -- this is confusing.

[2022-01-06 00:14] andreoss commented on #567
@yegor256 I can take this.

[2022-01-06 02:58] andreoss commented on #415
@yegor256 How should this be represented by `XeListener` ?
[code]
As I understand, it should end up exactly the same as
[code]
, but the final XML for this relays on `wrap-methods` , whereas the code without `method` calls requires only plain substitutions as in https://github.com/cqfn/eo/issues/415#issuecomment-1002871532

[2022-01-06 04:05] andreoss commented on #520
@yegor256 phi-term strings are getting too large and consume entire heap, there is a lot of redundant information being produced from `φTerm` method. Should it be really there? For example, the entire list of attributes will be put in such string multiple times.
The possible solution is to add a special type for the return value of `φTerm` which will eventually produce String, but will not create

[2022-01-06 04:05] andreoss commented on #564
@yegor256 Done in #565

[2022-01-06 04:05] #564 closed

[2022-01-06 04:06] yegor256 commented on #564
@andreoss thanks!

[2022-01-06 04:08] yegor256 commented on #520
@andreoss I think this only happens when we have endless recursion of objects. The `φTerm` of `PhDefault` is designed to detect such recursion, but maybe the detection mechanism doesn't work?

[2022-01-06 04:12] yegor256 commented on #415
@andreoss I say "yes" to the first part of your question, but I didn't understand the second part.

[2022-01-06 04:13] yegor256 commented on #567
@andreoss go ahead

[2022-01-06 04:22] #567 closed

[2022-01-06 04:22] 0pdd commented on #430
@yegor256 the only puzzle [#567](https://github.com/cqfn/eo/issues/567) is solved here.

[2022-01-06 04:31] andreoss commented on #415
@yegor256
To get https://github.com/cqfn/eo/issues/415#issuecomment-1002871532 this structure it's enough to generate aliases inside `XeListener`.
 But this won't work with `((1.bar 2).foo (3.bar 4))`, because objects will/should be rearranged by `wrap-methods`.
Doing aliases after `wrap-methods` would be to late, because original expression is lost.

Q: How to handle `(foo x)` and `(foo.x 1)` in

[2022-01-06 04:59] yegor256 commented on #415
`(foo x)` goes to:

[code]

while `(foo.x 1)` goes to:

[code]

what is the problem?

[2022-01-06 05:00] yegor256 commented on #415
@andreoss we just need to generate the structure I suggested above, with synthetic attributes. Just suggest a solution :) If you think our current code base has a problem, submit a bug.

[2022-01-06 05:17] andreoss commented on #415
@yegor256 Clarified my question a little bit,

This is produced by `XeListener` alone,

But that requires `wrap-method-calls`, the raw output of `XeListener` would be
[code]

These two structures are two different to apply the same logic for alliasing to them.
May be they should be more similar in some intermediate xml form?
I.e
[code]

[2022-01-06 05:25] yegor256 commented on #415
@andreoss I'm not sure what is "aliasing", but I think what you are suggesting may break a lot of code we already have.

[2022-01-06 05:26] yegor256 commented on #415
@andreoss in other words, I don't understand what what exactly is the proposal and why do you ask a question here instead of just making a pull request?

[2022-01-06 05:27] yegor256 commented on #415
@andreoss we try NOT to use GitHub issues as discussion boards. You either suggest a bug and we fix it, or you suggest a fix and we accept it. What is the bug here?

[2022-01-06 07:39] br4ch1st0chr0n3 commented on #568
@yegor256, there should be no confusion due to a context. If a name is followed by an arrow, it's an attribute name. Otherwise, it's an object.

From my point of view, if an operation starts, it should continue until its leaf terms if read up-down left-right.  In `line 3`,

[2022-01-06 07:39] #568 closed

[2022-01-07 01:28] marceloamadeu opened #571 "Link - eolang-paper.pdf"
@yegor256 In the https://www.yegor256.com/2021/10/21/objectionary.html there is an incorrect link in the phrase

- You can read its more or less formal description [**here**](https://www.eolang.org/eolang-paper.pdf)
and
- If you wonder what this XML means, read [**this document**](https://www.eolang.org/eolang-paper.pdf): there is a section about XMIR.

Can we fix this?

Thanks

[2022-01-07 04:05] marceloamadeu commented on #561
@yegor256 and @andreoss

For **"Add a parameter to bypass/overwrite cache"** can be used the parameter **overWrite**? Or is it necessary to create another parameter (i.e. overWriteCache)?

    @Parameter(required = true, defaultValue = "false")
    private boolean overWrite;

Tks

[2022-01-07 04:16] yegor256 commented on #561
@marceloamadeu I suggest to try to rely on [`-U`](https://stackoverflow.com/a/9697970/187141) parameter of Maven, if it's possible to get access to it from the plugin

[2022-01-07 04:18] yegor256 commented on #519
@andreoss I believe it's fixed, I'm closing. Thanks!

[2022-01-07 04:18] #519 closed

[2022-01-07 08:06] yegor256 commented on #571
@marceloamadeu fixed and deployed, thanks: https://github.com/yegor256/blog/commit/66f9c611c6410ba843f9a6f153b330179fd2740d

[2022-01-07 08:06] #571 closed

[2022-01-07 12:45] br4ch1st0chr0n3 opened #572 "Can't simply run command in the How to Contribute section of README"
On Ubuntu 20.04, before executing `./mvnw clean install -Pqulice` I needed to:
- set `$JAVA_HOME` variable
- run `chmod +x mvnw`
- [produce jar](https://stackoverflow.com/a/50105966) (ignored in `.gitignore`)

[2022-01-10 09:14] yegor256 commented on #572
@br4ch1st0chr0n3 I removed this stuff. Just use `mvn clean install -Pqulice` and you'll be fine.

[2022-01-10 09:14] #572 closed

[2022-01-10 21:46] andreoss commented on #562
@yegor256 Maybe instead of doing that, we could only use tags & master?
Using sha-hashes won't help with caching a lot, `EOPATH` will end up polluted.
It's also an option to clone `objectionary` to `EOPATH`, and avoid doing http requests completely .

[2022-01-11 04:10] yegor256 commented on #562
@andreoss we rely on hashes in Objectionary, not tags. There won't be many of them -- I wouldn't worry about this. Also, if we have the problem of "too many files in the cache", we can always introduce a feature for deleting the oldest ones.

[2022-01-13 13:00] IngeniariusSoftware opened #574 "commented-out tests"
It seems to me that commented-out code, especially tests, is not a very good practice

https://github.com/cqfn/eo/blob/4cbdec00974193e653a5e6d800295d0dedd5474b/eo-runtime/src/test/eo/org/eolang/runtime-tests.eo#L78-L87

https://github.com/cqfn/eo/blob/4cbdec00974193e653a5e6d800295d0dedd5474b/eo-runtime/src/test/eo/org/eolang/runtime-tests.eo#L212-L223

[2022-01-13 15:15] IngeniariusSoftware opened #575 "endless while cycle"
code
[code]

result
![image](https://user-images.githubusercontent.com/33983579/149355374-08fc62f1-244a-4362-9b7d-7212537c7c4e.png)

[2022-01-13 15:24] IngeniariusSoftware opened #576 "replacing "-" with "_""
replacing "-" in the package name in the final file with "_" is this correct behavior?

`+package c2eo.src.main-while-while01` ->

in target dir

![image](https://user-images.githubusercontent.com/33983579/149358241-6c5f68f7-ade8-49e6-a615-c7924f033bf5.png)

[2022-01-16 18:55] 0crat commented on #488
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#488](https://github.com/cqfn/eo/issues/488); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-01-16 18:55] 0crat commented on #465
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#465](https://github.com/cqfn/eo/issues/465); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-01-16 18:55] 0crat commented on #511
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#511](https://github.com/cqfn/eo/issues/511); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-01-16 18:55] 0crat commented on #490
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#490](https://github.com/cqfn/eo/issues/490); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-01-16 18:55] 0crat commented on #472
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#472](https://github.com/cqfn/eo/issues/472); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-01-16 18:55] 0crat commented on #501
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#501](https://github.com/cqfn/eo/issues/501); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-01-16 18:55] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#307](https://github.com/cqfn/eo/issues/307); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-01-16 18:55] 0crat commented on #545
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#545](https://github.com/cqfn/eo/issues/545); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-01-17 00:22] 0crat commented on #504
@andreoss[/z](https://www.0crat.com/u/andreoss) resigned from [#504](https://github.com/cqfn/eo/issues/504), since the job is not in scope anymore

[2022-01-17 23:29] andreoss commented on #576
@IngeniariusSoftware This looks correct, `-` would be illegal as a package name in JVM.

[2022-01-18 06:10] #576 closed

[2022-01-18 07:22] yegor256 commented on #575
@IngeniariusSoftware can you make this code shorter? Are you sure that ALL lines in your example are relevant to the bug you report?

[2022-01-18 07:24] yegor256 commented on #574
@IngeniariusSoftware yes, indeed, it's a bad practice, but that's the best we can do, until we have this lib: https://github.com/yegor256/objectionary/issues/6

[2022-01-18 07:24] #574 closed

[2022-01-18 15:14] IngeniariusSoftware opened #578 "`pointer.add` returns `int` not a `pointer`"
As expected
[code]

In reality
[code]

[2022-01-20 05:38] yegor256 commented on #578
@IngeniariusSoftware definitely a bug, thanks for reporting

[2022-01-20 05:53] yegor256 commented on #578
@rultor release, tag is `0.21.9`

[2022-01-20 05:53] rultor commented on #578
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25448-1017143424)

[2022-01-20 06:10] rultor commented on #578
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25448-1017143424) (took me 16min)

[2022-01-20 08:13] yegor256 commented on #578
@IngeniariusSoftware should be fine now, try version 0.21.9

[2022-01-20 08:13] #578 closed

[2022-01-20 20:12] Graur commented on #406
Pull request number is [#548](https://github.com/cqfn/eo/pull/548)

[2022-01-23 06:41] yegor256 commented on #406
@Graur thanks!

[2022-01-23 06:41] #406 closed

[2022-01-25 19:36] marceloamadeu commented on #562
@yegor256 Can I try to solve this issue?

[2022-01-26 09:12] IngeniariusSoftware opened #581 "`as-bool` for `bytes`"
We have the attribute `as-bytes` in `bool`, but there is no `as-bool` in `bytes`

[2022-01-27 18:30] Graur commented on #343
Can anyone help me clarify these questions:
1. Do I need to implement stdin here?
2. Do I need to implement something like this: https://docs.python.org/3/library/curses.html#curses.window.getstr?

[2022-01-27 18:40] Graur opened #582 "Broken link in README.md file"
I have noticed the broken link at the end of the "Quik start" part in the main README.md file.
I think we can change it from
https://github.com/cqfn/eo/tree/master/eo-maven-plugin/src/it
to
https://github.com/cqfn/eo/tree/master/sandbox/canonical.

[2022-01-27 19:04] Graur opened #583 "Remove --verbose argument from canonical sandbox run.sh script"
There was a bug fix change in #434, when `--version`  was changed to `--verbose`  in  `sandbox/canonical/run.sh`.
Maybe we need to remove this argument for default behavior to clear console output from a large amount of text (according to the #434 issue)?

[2022-01-28 04:59] yegor256 commented on #343
@Graur yes, we are looking for `stdin` object. I think it should work like this: when you dataize it, it read everything that it can from the console, until there is nothing left, and returns as a `string`. That's it.

[2022-01-30 10:44] nikololiahim opened #584 "Single-line abstraction syntax fails to parse"
### eo-parser version: 0.21.8
### Problematic Code (example from [paper](https://arxiv.org/pdf/2111.13384.pdf), section 2.9)
[code]
### Parser Error Message:
[code]

[2022-02-01 15:02] marceloamadeu commented on #561
Thanks @andreoss  and @baudoliver7  for the help... ;-)

@yegor256 Please close this issue

[2022-02-02 04:12] marceloamadeu commented on #583
@Graur I also think it would be better to clear the console output.

We can change to `sandbox/canonical/run.sh --verbose`?

So `--verbose` is not required

@Graur and @yegor256 What do you think?

[2022-02-02 06:54] Graur commented on #583
@marceloamadeu I agree. It took me a while to figure out what was going wrong when I ran this script for the first time.

[2022-02-02 09:00] yegor256 commented on #583
@Graur done in 0196d63e thanks!

[2022-02-02 09:00] #583 closed

[2022-02-02 09:00] #561 closed

[2022-02-02 09:00] 0pdd commented on #561
The puzzle `490-f28eb43a` has disappeared from the source code, that's why I closed this issue.

[2022-02-02 09:00] 0pdd opened #586 "PullMojo.java:41-45: Add a parameter to bypass/overwrite..."
The puzzle `561-7c029343` from #561 has to be resolved:

https://github.com/cqfn/eo/blob/0196d63e747cbb3fb43fa2b9d9fcf36c2fe42529/eo-maven-plugin/src/main/java/org/eolang/maven/PullMojo.java#L41-L45

The puzzle was created by @yegor256 on 02-Feb-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2022-02-02 09:01] 0pdd commented on #490
@dours 2 puzzles [#562](https://github.com/cqfn/eo/issues/562), [#586](https://github.com/cqfn/eo/issues/586) are still not solved; solved: [#561](https://github.com/cqfn/eo/issues/561).

[2022-02-04 12:01] IngeniariusSoftware commented on #575
@yegor256, I made it shorter

[2022-02-12 09:19] IngeniariusSoftware commented on #575
@yegor256, to be more precise, the whole problem is in this chain of calculations ` (((m.greater 0).if 1 0).eq 0).if FALSE TRUE`

[2022-02-13 19:53] IngeniariusSoftware opened #587 "infinite code execution"
[code]

[2022-02-16 10:19] bugdea1er opened #588 "Missing attribute `Δ`"
Object `Float` has the following definition:
[code]
Test with the following line reports error about missing attribute `Δ` on an object Float:
[code]
But if we substitute the definition of `add` attribute explicitly, then somehow the test starts to pass:
[code]

[2022-02-19 23:37] dours opened #589 "cannot store a function to `cage` and then call it"
("You can't overwrite static expression")
[code]

[2022-02-20 07:28] 0crat commented on #511
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#511](https://github.com/cqfn/eo/issues/511); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-02-20 08:43] 0crat commented on #490
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#490](https://github.com/cqfn/eo/issues/490); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-02-20 09:19] 0crat commented on #545
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#545](https://github.com/cqfn/eo/issues/545); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-02-20 09:37] 0crat commented on #472
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#472](https://github.com/cqfn/eo/issues/472); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-02-20 10:20] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#307](https://github.com/cqfn/eo/issues/307); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-02-20 15:10] dours commented on #589
@yegor256 , please, note. The trick above would help me with implementation of classes.

[2022-02-20 23:13] dours commented on #589
oops, the example above also has an attribute without a name, I guess (but it still compiles and reports the error I mentioned).
Anyway, this example is more correct, but also leads to the same error
[code]

[2022-02-21 15:55] andreoss commented on #584
@yegor256 Ready to take that.

[2022-02-22 02:34] yegor256 commented on #584
@andreoss please, go ahead

[2022-02-24 14:42] someilay opened #592 "Bitwise AND does not work"
Code:

[code]

Execution output:
[code]

[2022-02-24 14:49] yegor256 commented on #592
@andreoss can you take a look, please?

[2022-02-24 16:20] andreoss commented on #592
@yegor256 Yes.

[2022-02-25 08:48] 0crat commented on #490
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#490](https://github.com/cqfn/eo/issues/490); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-02-25 15:07] someilay opened #593 "While loop still does not work"
Code:
[code]

Execution result:
[code]

[2022-02-27 05:51] 0crat commented on #584
@andreoss[/z](https://www.0crat.com/u/andreoss) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2022-03-02 10:01] 0crat commented on #511
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#511](https://github.com/cqfn/eo/issues/511); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-03-07 18:00] br4ch1st0chr0n3 opened #594 "Add more examples of syntactic constructions"
Please add an example for `inverse dot` notation into [full-syntax](https://github.com/cqfn/eo/blob/master/eo-parser%2Fsrc%2Ftest%2Fresources%2Forg%2Feolang%2Fparser%2Fpacks%2Ffull-syntax.yaml)

[2022-03-10 14:33] yegor256 commented on #593
@someilay try replacing `and` with `seq`:

[code]

[2022-03-11 06:57] yegor256 commented on #594
@br4ch1st0chr0n3 added a bit: b9ffc976 Enough or you meant something more specific?

[2022-03-11 07:02] #593 closed

[2022-03-11 07:41] yegor256 commented on #588
@bugdea1er interesting... definitely a bug

[2022-03-11 18:27] maxonfjvipon opened #597 "Is there a necessity of math operations like sin, cos?"
[This ticket](https://github.com/yegor256/objectionary/issues/10) is about that there are must be wrappers for floats/ints.
I would start to create some of them (for example `sin`, `cos`, `tan`, etc)

[2022-03-11 18:54] maxonfjvipon opened #599 "It seems there is a mistake in phi-calculus paper"
<img width="475" alt="image" src="https://user-images.githubusercontent.com/37025995/157933349-737bc46c-ccce-4111-8988-dcadd2e98947.png">

Paragraph 3.5. `x.y.z = x` does not have any sense. It seem there is should be `x.y.𝜌 = x`

UPD: [#600 closed](https://github.com/cqfn/eo/pull/600)

[2022-03-12 10:02] 0crat commented on #490
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#490](https://github.com/cqfn/eo/issues/490); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-03-12 10:03] 0crat commented on #511
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#511](https://github.com/cqfn/eo/issues/511); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-03-17 11:27] 0crat commented on #490
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#490](https://github.com/cqfn/eo/issues/490); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-03-17 13:45] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#307](https://github.com/cqfn/eo/issues/307); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-03-20 18:33] someilay opened #602 "While loop still does not work."
While loop still does not work.

closed #593

[2022-03-22 04:06] yegor256 commented on #593
@someilay this should work:

[code]

It is expected that `main` dataizes to a boolean data.

[2022-03-22 04:06] yegor256 commented on #602
@someilay see https://github.com/cqfn/eo/issues/593#issuecomment-1074702912

[2022-03-22 04:06] #602 closed

[2022-03-22 04:08] yegor256 commented on #597
@maxonfjvipon yes, we definitely need them, but as objects of `float`, I believe:

[code]

[2022-03-22 04:09] yegor256 commented on #594
@br4ch1st0chr0n3 I'm closing. If you need more, open another ticket please.

[2022-03-22 04:09] #594 closed

[2022-03-22 04:09] yegor256 commented on #592
@rultor release, tag is `0.21.10`

[2022-03-22 04:11] rultor commented on #592
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25607-1074704456)

[2022-03-22 04:22] yegor256 commented on #589
@dours this code can't work. This one can, though:

[code]

`c 1` means making a copy of `cage` with a new argument `1`. Of course, doesn't work, since there is no "free" attributes in the cage. We should take what's inside by using `@` first, and then deal with it. See 5406f436

[2022-03-22 04:22] #589 closed

[2022-03-22 04:26] rultor commented on #592
@someilay @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25607-1074704456) (spent 15min)

[code]

[2022-03-22 09:20] #599 closed

[2022-03-22 10:54] 0crat commented on #599
Job `gh:cqfn/eo#599` is not assigned, can't get performer

[2022-03-22 11:09] yegor256 commented on #592
@someilay try version 0.21.10, should work

[2022-03-22 11:09] #592 closed

[2022-03-22 11:11] yegor256 commented on #597
@maxonfjvipon only float. If you want to calculate a sin of an int, you do this:

[code]

Why not a standalone object? Because the only "type" of its first argument is `float`. That's why we ship it together with `float`.

[2022-03-22 14:46] 0crat commented on #490
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#490](https://github.com/cqfn/eo/issues/490); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-03-23 12:22] yegor256 commented on #588
@bugdea1er can you make this sample somehow smaller? Now it's pretty hard to understand where is the bug.

[2022-03-23 13:58] yegor256 commented on #584
@nikololiahim this seems to be fixed. If not, open a new issue pls.

[2022-03-23 13:58] #584 closed

[2022-03-23 13:58] #582 closed

[2022-03-23 13:59] yegor256 commented on #581
@IngeniariusSoftware it's fixed, thanks

[2022-03-23 13:59] #581 closed

[2022-03-23 15:49] 0crat commented on #581
Job [#581](https://github.com/cqfn/eo/issues/581) is not in the agenda of @andreoss[/z](https://www.0crat.com/u/andreoss), can't set title

[2022-03-24 16:10] yegor256 opened #603 "better error logging"

[2022-03-24 18:27] 0pdd opened #604 "SyntaxTest.java:75-78: This test doesn't work, because..."
The puzzle `603-524ef27e` from #603 has to be resolved:

https://github.com/cqfn/eo/blob/85bbeb4d8f4e90866d170cbd5d2d8864cc9e9f85/eo-parser/src/test/java/org/eolang/parser/SyntaxTest.java#L75-L78

The puzzle was created by @yegor256 on 24-Mar-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2022-03-24 18:27] 0pdd commented on #603
@yegor256 the puzzle [#604](https://github.com/cqfn/eo/issues/604) is still not solved.

[2022-03-24 18:27] yegor256 commented on #604
@andreoss interesting bug, can you try to fix?

[2022-03-25 09:59] yegor256 commented on #533
@andreoss it's done, I believe

[2022-03-25 09:59] #533 closed

[2022-03-25 10:49] yegor256 commented on #603
@rultor release, tag is `0.21.11`

[2022-03-25 10:51] rultor commented on #603
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25620-1078897671)

[2022-03-25 10:51] rultor commented on #603
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25620-1078897671) (spent 3s)

[code]

[2022-03-25 10:52] yegor256 commented on #603
@rultor release, tag is `0.21.11`

[2022-03-25 10:53] rultor commented on #603
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25620-1078899375)

[2022-03-25 11:06] rultor commented on #603
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25620-1078899375) (took me 12min)

[2022-03-25 11:43] #603 closed

[2022-03-25 12:03] yegor256 commented on #597
@maxonfjvipon let's add `ln` and `log`?

[2022-03-25 13:23] maxonfjvipon commented on #597
No problem. What about `tan` (sin/cos), `ctan`(1/tan)?

[2022-03-25 19:07] IngeniariusSoftware opened #605 "`int.as-bytes` is broken"
[code]

output
[code]

It seems to be related to https://github.com/cqfn/eo/commit/cdfa8f0426d7aa8ec8768c4a9fe9b33b358e9c74 and I assume that this is due to the fact that `BigInteger` does not use all 8 bytes to write Long, but the minimum required

[2022-03-26 03:01] yegor256 commented on #605
@andreoss can you please here please?

[2022-03-26 04:23] andreoss commented on #605
@IngeniariusSoftware
There was an inconsistency before https://github.com/cqfn/eo/commit/cdfa8f0426d7aa8ec8768c4a9fe9b33b358e9c74,  bytes were treated as `Long` and as `BigInteger`, now it's only `BigInteger`.

 `BigInteger` seemed to be preferable because
1) it's platform independent (always big-endian) and
2) defines shift operations we need.
i.e `int.as-bytes.not.as-int` produces an expected re

[2022-03-26 04:49] yegor256 commented on #605
@andreoss `int.as-bytes` should always return an array of 8 bytes.

[2022-03-26 07:02] yegor256 commented on #537
@rultor release, tag is `0.22.0`

[2022-03-26 07:03] rultor commented on #537
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25628-1079625715)

[2022-03-26 07:18] rultor commented on #537
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25628-1079625715) (took me 15min)

[2022-03-26 08:30] #537 closed

[2022-03-26 08:35] yegor256 commented on #537
@i582 now it's possible to do this:

[code]

[2022-03-26 12:37] yegor256 commented on #597
@maxonfjvipon yes, `tan`/`ctan` are good candidates, but I believe they can be implemented in pure EO, without Java. right?

[2022-03-26 12:54] yegor256 commented on #587
@IngeniariusSoftware I'm getting `The cage is empty, can't read it` error, which is what I would expect. What do you get?

[2022-03-26 13:02] maxonfjvipon commented on #597
@yegor256 definitely yes

[2022-03-26 13:19] yegor256 commented on #597
@maxonfjvipon like this (to avoid division by zero):

[code]

Here, we either return `[]` or divide 42 by `a`. Returning `[]` means an errors, since any attempt to dataize it will lead to exception. You can add a message to it:

[code]

[2022-03-26 14:51] IngeniariusSoftware commented on #587
@yegor256, thanks, I got this, but it was very slow

[2022-03-26 14:51] #587 closed

[2022-03-26 15:24] yegor256 opened #606 "cactoos 0.50"
let's upgrade

[2022-03-26 16:29] yegor256 commented on #606
@rultor release, tag is `0.22.1`

[2022-03-26 16:30] rultor commented on #606
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25631-1079727598)

[2022-03-26 16:36] yegor256 commented on #575
@IngeniariusSoftware you are right, reopening

[2022-03-26 16:46] rultor commented on #606
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25631-1079727598) (took me 15min)

[2022-03-27 03:38] #606 closed

[2022-03-27 16:01] maxonfjvipon commented on #597
@yegor256 there are some questions about trigonometry:
1. According to trigonometry circle, `tan` of `pi/2` does not exist because lines are parallel
1. In Java `tan` of `pi/2` exists and it equals to `1.633123935319537E16` (which `Integer.MAX_VALUE`) and there is no any exceptions
1. Same story about `ctan`
1. If we will define `tan` as `sin/cos` t

So, what I'm gonna do in that case? Should EO b

[2022-03-27 20:42] andreoss opened #607 "`bytes.size` enters inifinte looop"
This code never terminates

<pre>
+junit
[] > main
  ram 1024 > r
  3.as-bytes > b
  r.write 0 b > w
  and. > @
    w.eq TRUE
    (r.read 0 <b>b.size</b>).as-int.eq 3
</pre>

Meanwhile, this works

<pre>

[] > main
  ram 1024 > r
  3.as-bytes > b
  r.write 0 b > w
  and. > @
    w.eq TRUE
    (r.read 0 <b>(b.size)</b>).as-int.eq 3

</pre>

[2022-03-28 05:03] yegor256 commented on #607
@andreoss this is because the first snippet read as such:

[code]

[2022-03-28 05:04] #607 closed

[2022-03-28 05:14] yegor256 commented on #597
@maxonfjvipon I suggest we introduce `org.eolang.math.nan` object, as per [IEEE 754](https://en.wikipedia.org/wiki/IEEE_754). Then, we'll be able to return `nan` from `tan`, when the input is `pi/2`. Also, I agree with you, let's create object `org.eolang.math.pi`.

[2022-03-28 05:17] yegor256 commented on #597
@maxonfjvipon also, maybe we should make another object `angle`, where all `sin`, `cos`, `tan`, etc. methods will move? Then, we use it like this:

[code]

[2022-03-28 05:44] yegor256 commented on #575
@IngeniariusSoftware it's reproduced and fixed in 7d86e635

[2022-03-28 05:44] yegor256 commented on #575
@rultor release, tag is `0.22.2`

[2022-03-28 05:45] rultor commented on #575
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25639-1080218170)

[2022-03-28 06:01] rultor commented on #575
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25639-1080218170) (took me 15min)

[2022-03-28 06:15] yegor256 commented on #575
@IngeniariusSoftware try version 0.22.2, it should work

[2022-03-28 06:15] #575 closed

[2022-03-28 06:28] yegor256 commented on #605
@IngeniariusSoftware @andreoss version 0.22.2 release, which includes these changes. Maybe you can try it out?

[2022-03-28 07:06] maxonfjvipon commented on #597
I like the idea about `nan` but should it be a decorator of `1.633123E16`? `Not a number` is a decorator of big number. Or it's just for making it behave like float?

[2022-03-28 07:09] yegor256 commented on #597
@maxonfjvipon indeed, `nan` has to "be" a `float`, but with some behavior changed. That's why the decoration.

[2022-03-28 07:28] #604 closed

[2022-03-28 07:28] 0pdd commented on #604
The puzzle `603-524ef27e` has disappeared from the source code, that's why I closed this issue.

[2022-03-28 07:28] 0pdd commented on #603
@yegor256 the only puzzle [#604](https://github.com/cqfn/eo/issues/604) is solved here.

[2022-03-29 03:56] 0crat commented on #584
@andreoss[/z](https://www.0crat.com/u/andreoss) resigned from [#584](https://github.com/cqfn/eo/issues/584), since the job is not in scope anymore

[2022-04-02 03:41] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#307](https://github.com/cqfn/eo/issues/307); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-04-04 10:09] #605 closed

[2022-04-11 11:37] nikololiahim opened #612 "Equivalent abstraction syntax yields different XMIR output"
The following two pieces of code should be syntactically equivalent:
`singleline.eo`
[code]
`multiline.eo`
[code]

However, the xmir produced by `singleline.eo` (this one is **wrong**, because `.walk` comes from `(dir "string")`):
`singleline.xml`
[code]
is different from the xmir produced by `multiline.eo` (this one is correct)
[code]

[2022-04-12 05:26] yegor256 opened #613 "xsline"

[2022-04-19 20:33] nikololiahim opened #614 "Different XMIR outputs for equivalent EO code: priority of SPACE is higher than of DOT in ANTLR grammar"
### Parser Version - v0.22.2
## Description
There are 3 files.
`horizontal.eo`
[code]
`vertical.eo`
[code]
`horizontal_parenthesized.eo`
[code]

They are supposed to be equivalent, however they produce (what I think are) incorrect outputs when run through EO parser:
1. `horizontal.xml`
[code]
The XMIR corresponds (I think?) to the following EO code:
[code]
2. `vertical.xml`
[code]
This is closer,

[2022-04-19 21:19] proxzi opened #615 "Build error"
I moved to the root of the EO folder
i did this command: `mvn clean install -Pqulice `and got this error:
![photo_2022-04-20_00-12-52](https://user-images.githubusercontent.com/33073543/164102836-b47eb88e-6ace-478d-a3d9-52f257ce7004.jpg)

[2022-04-20 13:40] yegor256 commented on #614
@nikololiahim this code

[code]

reads as

[code]

I do agree that it doesn't look usual... let's change this to:

[code]

you are welcome to submit a PR. can you?

[2022-04-20 14:43] nikololiahim commented on #614
@yegor256 I can try

[2022-04-20 18:14] dours opened #616 ""it's internal bug" error"
`[ERROR] #error(): Duplicate names inside "", the base is "@" at the line # pointing to &lt;o/&gt; at line #15, &lt;o/&gt; at line #22; it's internal bug`
[code]

[2022-04-21 10:17] dours opened #617 "seems like a boolean value fails to dataize"
[code]

leads to `Can't get(), attribute "as-bytes" is absent among other 4 attrs (result, ρ, res, σ) and φ is absent` after `A` is printed

[2022-04-21 11:32] dours opened #618 "Memo: implementation of break and exceptions in python with goto in EO"
Consider this python code
[code]
We can translate it this way
[code]

Now consider this:
[code]
From [this section](https://docs.python.org/3/reference/compound_stmts.html#the-try-statement) we know that "When a [return](https://docs.python.org/3/reference/simple_stmts.html#return), [break](https://docs.python.org/3/reference/simple_stmts.html#break) or [continue](https://docs.python.org/3/referen

[2022-04-22 17:17] yegor256 commented on #615
@proxzi we need more information about those stacktraces. Run `mvn -e` and post here again.

[2022-04-22 17:19] yegor256 commented on #617
@dours I believe it's normal behavior, since `xmyC` can't be dataized, because it's `return ...`, which doesn't have `@`

[2022-04-22 17:19] #617 closed

[2022-04-22 17:19] #613 closed

[2022-04-24 09:38] dours commented on #617
@yegor256  which line tries to dataize `xmyC`? Only `xmyC.result` is dataized, I think, which is a boolean!

[2022-04-24 20:45] proxzi commented on #615
i solved this problem.
I installed jdk instead of jre and it worked

[2022-04-27 13:21] dours opened #619 "5.eq 5 fails to calculate in this context"
This one fails
[code]

BUT the following passes
[code]

[2022-05-01 23:04] 0crat commented on #511
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#511](https://github.com/cqfn/eo/issues/511); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-05-01 23:07] 0crat commented on #581
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#581](https://github.com/cqfn/eo/issues/581); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-05-01 23:08] 0crat commented on #490
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#490](https://github.com/cqfn/eo/issues/490); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-05-01 23:08] 0crat commented on #604
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#604](https://github.com/cqfn/eo/issues/604); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-05-01 23:09] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#307](https://github.com/cqfn/eo/issues/307); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-05-06 21:22] EugeneDar opened #620 "How to implement new classes from Java?"
I'm trying to connect a new class from java (HashMap). But when I use the PhNamed function, the third argument must be of Phi type, how to bring the new class to Phi type?

Here is the code where I try to do this, but I can't use Data.ToPhi(...) because inside this method checks if our type is a primitive.

[code]

Are there ways around this?

[2022-05-06 23:54] 0crat commented on #581
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#581](https://github.com/cqfn/eo/issues/581); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-05-06 23:54] 0crat commented on #604
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#604](https://github.com/cqfn/eo/issues/604); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-05-06 23:54] 0crat commented on #490
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#490](https://github.com/cqfn/eo/issues/490); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-05-06 23:54] 0crat commented on #511
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#511](https://github.com/cqfn/eo/issues/511); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2022-05-08 14:10] dours opened #621 "An attempt to dataize the delegate (but not always!)"
This test fails because of an attempt to dataize the `return` object
[code]

But these further attempts to minimize the test do not fail:
[code]

[code]

[code]

[code]

[2022-05-09 08:29] 0pdd opened #622 "EODataizeAppCallsVarargsFuncTest.java:46-50: Fix bug EO..."
The puzzle `414-78631059` from #414 has to be resolved:

https://github.com/objectionary/eo/blob/fc50206199f6755fa41df9e6df198127ddf10a09/eo-runtime/src/test/java/EOorg/EOeolang/EODataizeAppCallsVarargsFuncTest.java#L46-L50

The puzzle was created by @yegor256 on 09-May-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task w

[2022-05-09 08:30] 0pdd opened #623 "DataizedTest.java:82-85: Fix bug execute an EO program..."
The puzzle `414-aa62591c` from #414 has to be resolved:

https://github.com/objectionary/eo/blob/fc50206199f6755fa41df9e6df198127ddf10a09/eo-runtime/src/test/java/org/eolang/DataizedTest.java#L82-L85

The puzzle was created by @yegor256 on 09-May-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2022-05-09 08:30] 0pdd opened #624 "PullMojo.java:41-45: Add a parameter to bypass/overwrite..."
The puzzle `561-386b5824` from #561 has to be resolved:

https://github.com/objectionary/eo/blob/fc50206199f6755fa41df9e6df198127ddf10a09/eo-maven-plugin/src/main/java/org/eolang/maven/PullMojo.java#L41-L45

The puzzle was created by @yegor256 on 09-May-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2022-05-09 08:30] 0pdd opened #625 "OyRemote.java:59-62: Resolve abbreviated hash to a proper..."
The puzzle `490-82991e51` from #490 has to be resolved:

https://github.com/objectionary/eo/blob/fc50206199f6755fa41df9e6df198127ddf10a09/eo-maven-plugin/src/main/java/org/eolang/maven/OyRemote.java#L59-L62

The puzzle was created by @yegor256 on 09-May-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2022-05-09 08:30] 0pdd commented on #414
@dours 2 puzzles [#622](https://github.com/objectionary/eo/issues/622), [#623](https://github.com/objectionary/eo/issues/623) are still not solved.

[2022-05-09 08:30] 0pdd commented on #561
@0pdd the puzzle [#624](https://github.com/objectionary/eo/issues/624) is still not solved.

[2022-05-09 08:30] 0pdd commented on #490
@dours the puzzle [#625](https://github.com/objectionary/eo/issues/625) is still not solved.

[2022-05-09 08:38] #534 closed

[2022-05-09 08:38] #535 closed

[2022-05-09 08:38] #562 closed

[2022-05-09 08:38] #586 closed

[2022-05-09 08:39] yegor256 opened #626 "new location of objectionary"

[2022-05-09 08:39] yegor256 commented on #626
@rultor release, tag is `0.23.0`

[2022-05-09 08:40] rultor commented on #626
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25862-1120813374)

[2022-05-09 08:52] rultor commented on #626
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25862-1120813374) (spent 11min)

[code]

[2022-05-09 09:02] yegor256 commented on #626
@rultor release, tag is `0.23.0`

[2022-05-09 09:02] rultor commented on #626
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25862-1120836526)

[2022-05-09 09:16] rultor commented on #626
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25862-1120836526) (took me 13min)

[2022-05-09 09:22] #626 closed

[2022-05-09 11:59] dours commented on #621
@yegor256 another example for the same problem:
[code]
Here I also cannot remove `seq`, nor change `*.length` to, say, `0`.

[2022-05-09 16:59] yegor256 opened #627 "remove non-canonical transpiler"

[2022-05-12 12:38] EugeneDar commented on #620
Yes, you're right. I'll add a few more details.

The code below does compile.
[code]

But, if you want to get the data from your object (map.eo in my case), this code doesn't compile.
[code]

[2022-05-12 15:39] Graur opened #628 "array.equal object needed"
Do we need to compare arrays?

e.g.
[code]

I want to add  `[] > eq` to `array.eo`

[2022-05-13 15:37] EugeneDar opened #629 "We need have as-hash method for primitives"
In the future, we should have as-hash method for hash-table class

[2022-05-13 18:50] yegor256 commented on #629
@EugeneDar I agree

[2022-05-13 18:54] yegor256 commented on #628
@Graur good idea, let's add it. You are welcome to submit a PR

[2022-05-14 09:21] vhula opened #631 "new issue"

[2022-05-14 09:24] IngeniariusSoftware opened #632 "`bytes.as-int`"
https://github.com/objectionary/eo/blob/f9bf9be84e0303a888028297a11eab5da25616ad/eo-runtime/src/main/java/org/eolang/Param.java#L117-L131

the current implementation of as-bytes gives us incorrect results for bytes:

[code]

[2022-05-14 14:03] yegor256 commented on #632
@andreoss what do you think?

[2022-05-14 14:07] #631 closed

[2022-05-15 00:25] andreoss commented on #632
@yegor256 @IngeniariusSoftware
Looks like the expected behaviour to me.
If you want to convert to `int` you should use 8 bytes, or the value will get padded to 8 bytes (keeping the first byte in order to preserve the sign)

https://github.com/objectionary/eo/pull/608

[2022-05-15 04:41] yegor256 commented on #632
@andreoss @IngeniariusSoftware I think `01-00.as-int` should lead to an error instead of returning some number. Indeed, `bytes.as-int` should expect exactly eight bytes.

[2022-05-15 09:26] IngeniariusSoftware commented on #632
@andreoss, is this really the expected behavior? I looked at how bytes are converted to numbers in different languages, and there, expressed in our logic, bytes are placed at the end of the array without transferring the first byte to the beginning. If necessary, completing the sign:
Input|EO|Others
---|---|---
01-00|01-00-00-00-00-00-00-00|00-00-00-00-00-00-00-01
FF-FF|FF-00-00-00-00-00-00-FF|FF-

[2022-05-15 19:51] EugeneDar opened #633 "Can't implement eo methods in java"
When I try to implement some eo method in java code, I get an error.

For example if I create a function is-true for bool.eo, I get an error when I implement the function in the java code (EObool$EOis_true.java). If I implement everything only in eo, there is no error.

This may have happened after the last kernel update in the main project repository. If I am wrong, please correct me.

[2022-05-15 20:09] proxzi opened #634 "How can I target my local eo"
I want to make sure that local sources are pulled for my project, and not from the official github.
Can this be done somehow?

[2022-05-16 06:36] yegor256 commented on #634
@proxzi this is relevant to #490, which is not yet fully implemented

[2022-05-16 06:37] yegor256 commented on #633
@EugeneDar what is the error? Can you post stacktrace here please?

[2022-05-16 06:45] yegor256 commented on #632
@IngeniariusSoftware the design of EO is "explicit". This means that we don't make any assumptions, which are not visible to a programmer. Instead, we "fail fast" when the input doesn't look exactly as we expect it. It must be the responsibility of a programmer: to prepare the data the way we expect it to look like. That's why I suggest `as-int` to fail if anything except eight bytes is provided.

[2022-05-16 08:15] EugeneDar commented on #633
@yegor256 this problem is similar to the one @proxzi wrote in https://github.com/objectionary/eo/pull/630.

[2022-05-16 08:29] EugeneDar commented on #633
stacktrace is here https://pastebin.com/QJ8NTCQs

[2022-05-16 10:26] Graur commented on #633
@EugeneDar  I've dot the same issue.

I think the main reason is in the SnippetTest.java. According to it's description:

[code]

So, @EugeneDar , I think if you add `@Disabled` annotation above this test, it could solve current issue.

Or above method name, e.g.:
[code]

[2022-05-16 11:37] proxzi commented on #633
@Graur This solves the problem, but is it the right thing to do?

[2022-05-16 11:45] EugeneDar commented on #633
@yegor256 can I use Graur's idea to solve this problem?

[2022-05-16 11:46] Graur commented on #633
I think it's like a defense mechanism. But you better ask @yegor256 about it

[2022-05-16 15:33] yegor256 commented on #633
@proxzi @Graur yes, you should disable the test by adding `@Disabled` annotation to the class

[2022-05-16 17:11] proxzi opened #635 "cage.is-empty error"
I have a problem with checking for is-empty
my code:
[code]
i get this error:
`EOtest_cageTest.testWorks:41->PhDefault.attr:227->PhDefault.attr:226 » ClassCast
`

[2022-05-16 18:21] andreoss commented on #632
@yegor256 Please, assign

[2022-05-16 18:25] yegor256 opened #636 "properties for Maven plugin"
Let's define them

[2022-05-16 19:21] yegor256 commented on #632
@andreoss go ahead please

[2022-05-16 19:43] Graur opened #637 "to change the behavior of the EO junit test to provide return text in addition to FALSE value"
It would be very convenient for[ eo-hamcrest](https://github.com/Graur/eo-hamcrest) to make it possible in tests to return text, in addition to the value of `TRUE` or `FALSE`.

I mean, if you are trying to run this test:
[code]
You will get the class cast exception output.
And i suggest output like this:  `readable message`, and then return `FALSE`

[2022-05-16 21:28] #633 closed

[2022-05-16 21:34] proxzi opened #639 "array.append bug"
if i write like this:

[code]
or like this:
[code]
it works.

but if i write like this:
[code]
this doesn't work.

[2022-05-16 23:56] 0pdd opened #640 "RegisterMojo.java:80-85: Here, the "property" attribute..."
The puzzle `636-57a3ebdc` from #636 has to be resolved:

https://github.com/objectionary/eo/blob/59079f6a983651efc77280ec322a1a011a92b936/eo-maven-plugin/src/main/java/org/eolang/maven/RegisterMojo.java#L80-L85

The puzzle was created by @yegor256 on 16-May-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2022-05-16 23:56] 0pdd commented on #636
@yegor256 the puzzle [#640](https://github.com/objectionary/eo/issues/640) is still not solved.

[2022-05-16 23:58] yegor256 commented on #635
@proxzi there is no such attribute as `is-empty` in `cage`, see: https://github.com/objectionary/home/blob/master/objects/org/eolang/gray/cage.eo

[2022-05-16 23:58] #635 closed

[2022-05-16 23:59] yegor256 commented on #639
@proxzi what is the error you are getting?

[2022-05-17 00:09] #627 closed

[2022-05-17 00:20] yegor256 opened #641 "int.mod replace with EO code"
At the moment `int.mod` attribute is an atom. I believe we can implement it in EO code, instead of Java. Let's try.

[2022-05-17 00:21] yegor256 commented on #641
@Graur can you try to help?

[2022-05-17 00:23] yegor256 opened #642 "int.pow implement in EO"
At the moment `int.pow` is implemented in Java as an atom. I believe, we can implement it in EO.

[2022-05-17 00:23] yegor256 commented on #642
@Graur can you try to help?

[2022-05-17 00:39] yegor256 opened #643 "get rid of CHAR object"
Let's get rid of `char` object:

  * `'\t'` and `'\n'` and `'\07'` should mean object `bytes` of one byte
  * update `data.xsl` (remove char from there)
  * update `xmir-to-eo.xsl`
  * `"\u0123 hello"` should parse as Unicode string (it works like this now)
  * delete `string.char-at` attribute
  * delete `char.eo` file
  * delete `bytes.as-char` attribute

[2022-05-17 00:40] yegor256 commented on #643
@andreoss can you please help?

[2022-05-17 00:42] yegor256 commented on #636
@rultor release, tag is `0.23.1`

[2022-05-17 00:43] rultor commented on #636
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25878-1128279573)

[2022-05-17 00:45] yegor256 opened #644 "array.is-empty doesn't need to be an atom"
It seems that `array.is-empty` can be implemented in EO, just by using `array.length`. Let's get rid of the atom here.

[2022-05-17 00:45] yegor256 commented on #644
@EugeneDar can you please help here?

[2022-05-17 00:46] yegor256 opened #645 "bool.not doesn't need to be an atom"
It seems that `bool.not` can easily be implement through `bool.if`. Let's get rid of the atom here.

[2022-05-17 00:47] yegor256 commented on #645
@EugeneDar can you please help here?

[2022-05-17 00:53] rultor commented on #636
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25878-1128279573) (spent 10min)

[code]

[2022-05-17 01:01] proxzi commented on #639
@yegor256 there is no error. Just endless waiting.

[2022-05-17 06:51] Graur commented on #628
@yegor256  I will do it

[2022-05-17 06:51] Graur commented on #641
@yegor256 Sure, I will do it

[2022-05-17 06:52] Graur commented on #642
@yegor256 Sure, I will do it

[2022-05-17 08:33] EugeneDar commented on #645
@yegor256 sure, I'll do it.

[2022-05-17 08:37] EugeneDar commented on #644
@yegor256 sure, I'll do it.

[2022-05-17 13:22] Graur commented on #641
Do we need to implement this function in Java way or in more math way?

e.g. in Java: `-5 % 3` return `-2`
[code]

[2022-05-17 13:24] yegor256 commented on #641
@Graur let's do the Java way

[2022-05-17 16:10] EugeneDar opened #650 "Can't use as-hash method"
When I try to use as-hash I see error:
[code]

[2022-05-17 16:12] EugeneDar commented on #650
full stacktrace is here https://pastebin.com/hPCJgEnE

[2022-05-17 16:57] proxzi opened #651 "Does memory.write work correctly?"
I have the following code:
[code]

k is 4, not 3, why?

[2022-05-17 16:58] yegor256 commented on #628
@Graur I think your `eq` method should just assume that the argument provided is an array. what happens if it's not, should not bother you.

[2022-05-17 16:59] proxzi commented on #651
Or perhaps the bug is contained in seq?

[2022-05-18 07:24] Graur commented on #650
@EugeneDar I think it's because this feature hasn't been released yet

[2022-05-18 18:28] Graur commented on #628
done by #647

[2022-05-18 18:28] #628 closed

[2022-05-18 18:29] yegor256 commented on #650
@EugeneDar try version 0.23.2. should work.

[2022-05-18 18:29] #650 closed

[2022-05-19 15:08] yegor256 commented on #637
@Graur you can submit a PR with this change. Should be pretty straight forward, I believe.

[2022-05-19 16:06] yegor256 commented on #621
@dours this is expected behavior. Consider this code:

[code]

First, when we do `a.x`, we get an object, which is `z`. What's important is that `z.^` points to `a`, not to `return`.

Then, we do `z.eq 1` (remember, the `^` is `a`) and we get `a.eq 1`, which lead to `return.eq 1`.

Dataization of which is an error.

[2022-05-19 19:18] Graur opened #652 "array.eq does not work properly"
I found a bug in *.eq object, **when**:

[code]

**then** you got `true`, because the last element is not checked.

@yegor256 Please assign to me, I will fix it before next release

[2022-05-19 23:08] proxzi opened #653 "Does the language allow you to do something similar?"
i want to do something like this:

[code]

[2022-05-20 08:16] yegor256 commented on #653
@proxzi yes, should work

[2022-05-20 09:05] Graur opened #654 "reduce with index"
Do we need to implement array `.reduce` with index object? And call it `reducei` same as `mapi`

e.g.

[code]

[2022-05-20 09:41] yegor256 commented on #621
@rultor release, tag is `0.23.3`

[2022-05-20 09:42] yegor256 commented on #621
@dours fixed, please wait for 0.23.3 release and use it.

[2022-05-20 09:43] rultor commented on #621
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25898-1132696667)

[2022-05-20 09:54] rultor commented on #621
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25898-1132696667) (took me 10min)

[2022-05-20 10:18] #621 closed

[2022-05-20 10:31] yegor256 commented on #652
@Graur go ahead

[2022-05-20 10:34] yegor256 commented on #651
@proxzi can you make the code shorter? Read this: https://www.yegor256.com/2022/03/29/bugs-occam-razor.html

[2022-05-20 10:34] yegor256 commented on #645
@EugeneDar what is the status?

[2022-05-20 10:34] yegor256 commented on #644
@EugeneDar what is the status?

[2022-05-20 10:38] Graur commented on #654
Ok, I see that the idea is good and my PR has merged. So now I can close this issue.

[2022-05-20 10:38] #654 closed

[2022-05-20 10:41] yegor256 commented on #639
@proxzi I tried to reproduce the bug in a test, but it passes: 6f0e26b8 please, suggest a better test.

[2022-05-20 10:42] yegor256 commented on #629
@EugeneDar when a problem is solved, it's the responsibility of a bug reporter -- to close the ticket.

[2022-05-20 10:43] yegor256 commented on #619
@dours I believe, it should work now, in version 0.23.3. please check.

[2022-05-20 10:44] yegor256 commented on #620
@EugeneDar do you still need a solution here or we can close this ticket?

[2022-05-20 10:45] yegor256 commented on #597
@maxonfjvipon I'm closing this one in favor of https://github.com/maxonfjvipon/eo-math

[2022-05-20 10:45] #597 closed

[2022-05-20 10:48] #634 closed

[2022-05-20 10:56] dours commented on #619
@yegor256 it does

[2022-05-20 10:56] #619 closed

[2022-05-20 11:45] proxzi commented on #653
@yegor256 yes, it works. thanks!

[2022-05-20 11:45] #653 closed

[2022-05-20 13:50] proxzi commented on #639
@yegor256 I'm expecting an array, not a boolean, because the documentation says that append returns a new array with the element added, which emphasizes the immutability of this array
<img width="401" alt="Снимок экрана 2022-05-20 в 16 50 09" src="https://user-images.githubusercontent.com/33073543/169542270-c63847fd-565f-4e3c-978b-18b03e763883.png">
.

[2022-05-20 13:59] #639 closed

[2022-05-20 14:32] proxzi commented on #651
@ yegor256 it doesn't work that way

[code]

it will work if i write like this:
[code]
but it won't work if I write like this:
[code]

[2022-05-20 15:57] Graur commented on #642
@yegor256 Do we need to implement the entire Math.pow() function? Or without much optimisation and then iteratively adding new features?

[2022-05-20 17:35] yegor256 commented on #642
@Graur it's always better to go iteratively, leaving some PDD puzzles where necessary

[2022-05-20 18:43] Graur commented on #652
done

[2022-05-20 18:43] #652 closed

[2022-05-22 17:45] Graur commented on #641
@yegor256 I think we can close this issue, because #657 was merged. Can you help to do it? I don't have such button.

[2022-05-22 18:15] dours opened #658 "ClassCastException: Cannot cast org.eolang.AtPhiSensitive to EOorg.EOeolang.EOgray.AtCage"
This one leads to `java.lang.ClassCastException: Cannot cast org.eolang.AtPhiSensitive to EOorg.EOeolang.EOgray.AtCage`:
[code]

Also like this if you prefer
[code]

[2022-05-23 07:26] Graur commented on #637
I decided  to call Assertions.fail() method, because we don't need to return false and message simultaneously.

[2022-05-23 07:32] yegor256 commented on #641
@Graur read this: https://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2022-05-23 07:32] #641 closed

[2022-05-23 07:47] #637 closed

[2022-05-23 09:08] yegor256 commented on #658
@dours should be fixed in 0.23.4, please try it out

[2022-05-23 09:08] rultor commented on #658
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25913-1134396886)

[2022-05-23 09:09] Graur opened #660 "apply eo-hamcrest to `.eo` tests"
Since [eo-hamcrest](https://github.com/objectionary/eo-hamcrest) was released (v0.1.5), we need to redo all `.eo` tests to make failed output more readable.

e.g. was:
[code]

become:
[code]

[2022-05-23 09:18] rultor commented on #658
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25913-1134396886) (took me 9min)

[2022-05-23 09:41] Graur commented on #660
Should I test `int.leq`:
[code]
like this:
[code]
or like this:
[code]
If I use `assert-that` object to test that `-200` is less than or equal to `-100`, we skip the process of testing the `int.leq` object. Otherwise we have lost the understandable output message.
@yegor256 WDYT ?

[2022-05-23 09:47] yegor256 commented on #660
@Graur in this case we should test the `leq` object, not the integer -200, that's why your first option is right.

[2022-05-23 10:52] yegor256 opened #661 "rename array methods"
Let's rename `array.append` to `array.with`. Also, let's add `array.without x`, which should return a new array, but without the i-th element.

[2022-05-23 10:52] yegor256 opened #662 "implement array.mapi in EO"
I have a strong feeling that `array.mapi` can be implemented in EO (instead of Java), with the help of `reducei`.

[2022-05-23 10:52] yegor256 commented on #662
@Graur please, try to help

[2022-05-23 10:53] yegor256 commented on #661
@Graur please, help with this

[2022-05-23 12:03] Graur commented on #661
@yegor256 Sure, I will do it. Should I implement `array.without x` by Java or by EO?