[2022-08-24 09:28] 0pdd opened #1086 "XeListener.java:52-57: Avoid using Java types in XSLT..."
The puzzle `348-be1aef9e` from #348 has to be resolved:

https://github.com/objectionary/eo/blob/301c65bcd5c561eb8acd81305acc8405ffa4f120/eo-parser/src/main/java/org/eolang/parser/XeListener.java#L52-L57

The puzzle was created by @rultor on 24-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2022-08-24 09:28] 0pdd commented on #348
@yegor256 3 puzzles [#1084](https://github.com/objectionary/eo/issues/1084), [#1085](https://github.com/objectionary/eo/issues/1085), [#1086](https://github.com/objectionary/eo/issues/1086) are still not solved.

[2022-08-24 09:31] yegor256 commented on #1085
@andreoss please, fix this. @Graur FYI

[2022-08-24 09:31] yegor256 commented on #1086
@andreoss please, fix this. @Graur FYI

[2022-08-24 09:31] yegor256 commented on #1084
@andreoss please, fix this. @Graur FYI

[2022-08-24 09:45] 0pdd opened #1087 "array.eo:29-32: The method .empty is not nessesary. Make..."
The puzzle `1060-a52cb0e4` from #1060 has to be resolved:

https://github.com/objectionary/eo/blob/a13b15c64b8827a22d4e739098b7948faa061596/eo-runtime/src/main/eo/org/eolang/array.eo#L29-L32

The puzzle was created by @rultor on 24-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2022-08-24 09:45] 0pdd opened #1088 "_datas.xsl:36-39: Avoid duplication with a better..."
The puzzle `1060-769da541` from #1060 has to be resolved:

https://github.com/objectionary/eo/blob/a13b15c64b8827a22d4e739098b7948faa061596/eo-parser/src/main/resources/org/eolang/parser/_datas.xsl#L36-L39

The puzzle was created by @rultor on 24-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-08-24 09:46] 0pdd commented on #1060
@yegor256 2 puzzles [#1087](https://github.com/objectionary/eo/issues/1087), [#1088](https://github.com/objectionary/eo/issues/1088) are still not solved.

[2022-08-24 09:59] yegor256 commented on #1088
@andreoss please, take this one. @Graur FYI

[2022-08-24 09:59] yegor256 commented on #1087
@Graur please, deal with this one

[2022-08-24 12:07] mximp commented on #887
@l3r8yJ can you please advise if the work is still in progress?

[2022-08-24 12:08] mximp commented on #888
@yasamprom please check if anything left here

[2022-08-24 12:10] mximp commented on #877
@l3r8yJ is there anything to fix?

[2022-08-24 12:29] yasamprom commented on #935
@yegor256  let's close

[2022-08-24 12:33] yegor256 commented on #935
@yasamprom thanks!

[2022-08-24 12:33] #935 closed

[2022-08-24 12:43] yasamprom commented on #888
@mximp We don't have problems with checkstyle warnings anymore

[2022-08-24 14:12] levBagryansky commented on #930
@yegor256 can you transfer this ticket to eo-strings please

[2022-08-24 14:22] MikhailLipanin opened #1089 "Fix "EOorg.EOeolang.EObool$EOif""
Need to allow only THEN branch to be passed to the ".if" object:
[code]
Now it prints this Error:
[code]

[2022-08-24 14:48] yegor256 commented on #1089
@Graur please, take care of this

[2022-08-24 15:14] #888 closed

[2022-08-24 15:58] mximp commented on #1015
@yegor256 all is done. The task can be closed.

[2022-08-24 16:00] yegor256 commented on #1015
@mximp @OlesiaSub thanks!

[2022-08-24 16:00] #1015 closed

[2022-08-24 16:00] Graur commented on #1089
@tanmaysharma2001 please, help us here

[2022-08-24 16:05] mximp commented on #1077
@dours Can you please provide example of Java name the parser is trying to produce?

[2022-08-24 21:00] dours commented on #618
@yegor256 It is not a question. It is an answer to you suggestion: you asked to describe how break and exception are implemented with the help of `goto` in py2eo as an issue.

[2022-08-25 10:23] ivan-egorov42 opened #1095 "Compile program without dataization"
Why I can't compile program like this:
[code]
Code
[code]
It fails. I don't want to dataize program. I need only XMIR file.
Here is [log.txt](https://github.com/objectionary/eo/files/9423788/log.txt)

[2022-08-25 10:51] dours commented on #1077
@mximp , yes:
[code]

[2022-08-25 11:48] Graur commented on #1087
@levBagryansky please, help us here

[2022-08-25 11:56] mximp commented on #1079
@OlesiaSub please have a look

[2022-08-25 13:22] mximp commented on #307
@yegor256 @Sitiritis reminder

[2022-08-25 13:26] ivan-egorov42 commented on #1095
@mximp please, can you help?

[2022-08-25 13:36] yegor256 commented on #307
@Sitiritis I'm closing. if any more similar issues, please open a new ticket

[2022-08-25 13:36] #307 closed

[2022-08-25 13:41] yegor256 opened #1096 "Malformed input or input contains unmappable"
[code]

see https://github.com/objectionary/eo-sys/pull/7#issuecomment-1227273990

[2022-08-25 13:41] yegor256 commented on #1096
@mximp please, help here

[2022-08-25 13:42] ivan-egorov42 commented on #1095
@mximp ok, I meant that I can not get the binary via `eoc link` because it fails. Did you get it?

[2022-08-25 13:53] mximp commented on #1095
@ivan-egorov42 can you please try to run `eoc` with `--verbose` and attach the log?

[2022-08-25 14:01] OlesiaSub commented on #1079
@yegor256 @IngeniariusSoftware
If you look at the stack trace (below) you will see that the method `optimize` of `OptimizeMojo` calls `transformInto`, which calls `TransformerFactory factory = TransformerFactory.newInstance();`

Here is the beginning of `transformInto` method if you need it:
[code]

As far as I understand the root of the problem is here. A new transformer factory is created every

[2022-08-25 14:19] yegor256 commented on #1079
@OlesiaSub it seems that you are right... let me think about it for a minute

[2022-08-25 16:26] levBagryansky opened #1097 "Java classes hierarchy"
@yegor256 @Graur
Does the project have a paper describing classes hierarchy? It would be helpful in understanding the dataization procces.

[2022-08-25 18:08] andreoss commented on #390
@yegor256 The structural duplication between `application` and `htail` remains, but many improvements had been done.
In #570, #611, #567, #563, which are PRs for this issue.

So this issue can be closed with a new one

[2022-08-25 18:14] yegor256 commented on #1079
@OlesiaSub I [released](https://github.com/jcabi/jcabi-xml/issues/172) jcabi-xml 0.25.3, which caches `Transformer`. now, our Maven plugin works faster. on my Macbook instead of 6 minutes the entire build completes in 3 minutes. @IngeniariusSoftware many thanks for the hint!

[2022-08-25 18:14] yegor256 commented on #1079
@rultor release, tag is `0.27.2`

[2022-08-25 18:15] rultor commented on #1079
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26595-1227607953)

[2022-08-25 18:26] rultor commented on #1079
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26595-1227607953) (took me 10min)

[2022-08-25 18:26] #1079 closed

[2022-08-26 05:24] #632 closed

[2022-08-26 07:51] #1084 closed

[2022-08-26 07:51] 0pdd commented on #1084
The puzzle `348-ddaf0eaa` has disappeared from the source code, that's why I closed this issue.

[2022-08-26 07:51] 0pdd commented on #348
@yegor256 2 puzzles [#1085](https://github.com/objectionary/eo/issues/1085), [#1086](https://github.com/objectionary/eo/issues/1086) are still not solved; solved: [#1084](https://github.com/objectionary/eo/issues/1084).

[2022-08-26 07:55] yegor256 commented on #1097
@levBagryansky we have javadoc published: https://www.javadoc.io/doc/org.eolang/eo-runtime/latest/index.html If you need more specific information on some classes, make separate tickets please

[2022-08-26 07:55] #1097 closed

[2022-08-26 07:55] yegor256 commented on #1095
@ivan-egorov42 I think, this bug belongs to eoc repository

[2022-08-26 07:59] #1088 closed

[2022-08-26 07:59] 0pdd commented on #1088
The puzzle `1060-769da541` has disappeared from the source code, that's why I closed this issue.

[2022-08-26 08:00] 0pdd commented on #1060
@yegor256 the puzzle [#1087](https://github.com/objectionary/eo/issues/1087) is still not solved; solved: [#1088](https://github.com/objectionary/eo/issues/1088).

[2022-08-26 08:08] 0pdd commented on #1086
The puzzle `348-be1aef9e` has disappeared from the source code, that's why I closed this issue.

[2022-08-26 08:08] #1086 closed

[2022-08-26 08:08] 0pdd commented on #348
@yegor256 the puzzle [#1085](https://github.com/objectionary/eo/issues/1085) is still not solved; solved: [#1084](https://github.com/objectionary/eo/issues/1084), [#1086](https://github.com/objectionary/eo/issues/1086).

[2022-08-26 08:16] 0pdd opened #1099 "xmir-to-eo.xsl:30-32: Add conversion from 'bytes'..."
The puzzle `1085-cfcc3336` from #1085 has to be resolved:

https://github.com/objectionary/eo/blob/a1258dafc21572fdc7e3699f3d13bb234bb87640/eo-parser/src/main/resources/org/eolang/parser/xmir-to-eo.xsl#L30-L32

The puzzle was created by @rultor on 26-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2022-08-26 08:16] 0pdd commented on #348
@yegor256 2 puzzles [#1085](https://github.com/objectionary/eo/issues/1085), [#1099](https://github.com/objectionary/eo/issues/1099) are still not solved; solved: [#1084](https://github.com/objectionary/eo/issues/1084), [#1086](https://github.com/objectionary/eo/issues/1086).

[2022-08-26 08:16] 0pdd commented on #1085
@0pdd the puzzle [#1099](https://github.com/objectionary/eo/issues/1099) is still not solved.

[2022-08-26 08:46] potatmen commented on #1064
@mximp I can't find in what place we trying to access `~/.eo/sources` directory, at least in `objectionary/eo` repo. Can you let me know please, where I can find files that create and use this directory in order to rename them.

[2022-08-26 09:00] mximp commented on #1064
@potatmen Please check `org.eolang.maven.OyCaching#get`

[2022-08-26 16:14] MikhailLipanin commented on #1089
Sorry, not a bug.

[2022-08-26 16:14] #1089 closed

[2022-08-26 18:16] andreoss commented on #1099
@yegor256
What's the point of xmir-to-eo.xsl? It's not being used by `eo-maven-plugin`.

[2022-08-27 04:07] yegor256 commented on #1099
@andreoss we need it for `XMIR` class, where we convert XML into EO sources. This is needed by a few fellow projects.

[2022-08-27 04:11] yegor256 commented on #1099
@andreoss it's yours @Graur FYI

[2022-08-27 04:21] 0pdd commented on #1099
The puzzle `1085-cfcc3336` has disappeared from the source code, that's why I closed this issue.

[2022-08-27 04:21] #1099 closed

[2022-08-27 04:21] 0pdd opened #1103 "xmir-to-eo.xsl:30-33: Current bytes to string conversion..."
The puzzle `1099-4eccfaec` from #1099 has to be resolved:

https://github.com/objectionary/eo/blob/991c8250b50373b5daf01651dfd55a51bd80e170/eo-parser/src/main/resources/org/eolang/parser/xmir-to-eo.xsl#L30-L33

The puzzle was created by @rultor on 27-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2022-08-27 04:21] 0pdd opened #1104 "xmir-to-eo.xsl:34-36: Add conversion from 'bytes'..."
The puzzle `1099-7e313f8a` from #1099 has to be resolved:

https://github.com/objectionary/eo/blob/991c8250b50373b5daf01651dfd55a51bd80e170/eo-parser/src/main/resources/org/eolang/parser/xmir-to-eo.xsl#L34-L36

The puzzle was created by @rultor on 27-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2022-08-27 04:21] 0pdd commented on #348
@yegor256 3 puzzles [#1085](https://github.com/objectionary/eo/issues/1085), [#1103](https://github.com/objectionary/eo/issues/1103), [#1104](https://github.com/objectionary/eo/issues/1104) are still not solved; solved: [#1084](https://github.com/objectionary/eo/issues/1084), [#1086](https://github.com/objectionary/eo/issues/1086), [#1099](https://github.com/objectionary/eo/issues/1099).

[2022-08-27 04:21] 0pdd commented on #1085
@0pdd 2 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1104](https://github.com/objectionary/eo/issues/1104) are still not solved; solved: [#1099](https://github.com/objectionary/eo/issues/1099).

[2022-08-27 04:21] 0pdd commented on #1099
@0pdd 2 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1104](https://github.com/objectionary/eo/issues/1104) are still not solved.

[2022-08-27 07:46] yegor256 opened #1105 "rename files while saving to remove Unicode characters"
We introduced a check for this situation in https://github.com/objectionary/eo/pull/1101 However, the problem is still there. If system encoding is not UTF-8, our compiler will break, because it won't be able to save files on disk. I suggest introducing a new object 'Disk' with two methods:

[code]

Then, redirect ALL read/write file operations to this class. Instead of using `java.nio.Files.write

[2022-08-27 07:46] yegor256 commented on #1105
@Graur please, help

[2022-08-27 15:16] l3r8yJ commented on #887
@mximp my work was temporarily interrupted by circumstances, but now I am back at it

[2022-08-27 15:24] l3r8yJ commented on #877
@mximp my work was temporarily interrupted by circumstances, but now I am back at it

[2022-08-27 23:06] andreoss opened #1107 "MainTest does not respect java.home and JAVA_HOME"
MainTest uses a default JDK, instead of the one used by maven

[2022-08-29 04:18] andreoss commented on #490
@yegor256 I believe this one can be closed

[2022-08-29 07:45] mximp commented on #1096
Exception description is extended.

[2022-08-29 07:45] #1096 closed

[2022-08-29 07:45] 0pdd opened #1109 "SnippetTest.java:69-71: Method `jdkExecutable` is..."
The puzzle `1107-eeae8c2b` from #1107 has to be resolved:

https://github.com/objectionary/eo/blob/e21f9fc226cbd44e182275dfe83ddc44af9768f2/eo-maven-plugin/src/test/java/org/eolang/maven/SnippetTest.java#L69-L71

The puzzle was created by rultor on 29-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2022-08-29 07:45] 0pdd commented on #1107
@andreoss the puzzle [#1109](https://github.com/objectionary/eo/issues/1109) is still not solved.

[2022-08-29 07:47] yegor256 commented on #1107
@andreoss it's yours. As a general rule, please, work with an issue only after it's assigned to you. We need this for tracking purposes. Just ask in the issue (to me or @Graur) that you want to be the assignee and we will assign it to you.

[2022-08-29 07:48] yegor256 commented on #1109
@Graur please, resolve this. I suggest making a new class inside `src/test/java`

[2022-08-29 07:53] #1104 closed

[2022-08-29 07:53] 0pdd commented on #1104
The puzzle `1099-7e313f8a` has disappeared from the source code, that's why I closed this issue.

[2022-08-29 07:53] 0pdd opened #1110 "xmir-to-eo.xsl:34-36: Add conversion from 'bytes'..."
The puzzle `1104-7e313f8a` from #1104 has to be resolved:

https://github.com/objectionary/eo/blob/31138081b224666d5790908db65df659d4aeafd9/eo-parser/src/main/resources/org/eolang/parser/xmir-to-eo.xsl#L34-L36

The puzzle was created by @rultor on 29-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2022-08-29 07:53] 0pdd opened #1111 "data.xsl:26-29: This code tests for both org.eolang.TYPE..."
The puzzle `1104-f29eb2d4` from #1104 has to be resolved:

https://github.com/objectionary/eo/blob/31138081b224666d5790908db65df659d4aeafd9/eo-maven-plugin/src/main/resources/org/eolang/maven/pre/data.xsl#L26-L29

The puzzle was created by @rultor on 29-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2022-08-29 07:53] 0pdd commented on #348
@yegor256 4 puzzles [#1085](https://github.com/objectionary/eo/issues/1085), [#1103](https://github.com/objectionary/eo/issues/1103), [#1110](https://github.com/objectionary/eo/issues/1110), [#1111](https://github.com/objectionary/eo/issues/1111) are still not solved; solved: [#1084](https://github.com/objectionary/eo/issues/1084), [#1086](https://github.com/objectionary/eo/issues/1086), [#1099](h

[2022-08-29 07:53] 0pdd commented on #1085
@0pdd 3 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1110](https://github.com/objectionary/eo/issues/1110), [#1111](https://github.com/objectionary/eo/issues/1111) are still not solved; solved: [#1099](https://github.com/objectionary/eo/issues/1099), [#1104](https://github.com/objectionary/eo/issues/1104).

[2022-08-29 07:53] 0pdd commented on #1099
@0pdd 3 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1110](https://github.com/objectionary/eo/issues/1110), [#1111](https://github.com/objectionary/eo/issues/1111) are still not solved; solved: [#1104](https://github.com/objectionary/eo/issues/1104).

[2022-08-29 07:53] 0pdd commented on #1104
@0pdd 2 puzzles [#1110](https://github.com/objectionary/eo/issues/1110), [#1111](https://github.com/objectionary/eo/issues/1111) are still not solved.

[2022-08-29 07:55] yegor256 commented on #1110
@andreoss please, take care of this @Graur FYI

[2022-08-29 07:55] yegor256 commented on #1111
@mximp please, help us resolve this

[2022-08-29 07:56] yegor256 commented on #1103
@mximp please, help

[2022-08-29 08:01] andreoss commented on #1008
Related to https://github.com/objectionary/eo/issues/1109

[2022-08-29 08:08] yegor256 commented on #490
@dours indeed, I'm closing this. We keep `.eo` files in `~/.eo` directory. They won't be downloaded again, if Internet access is lost. Of course, for the first time you will have to have Internet access to download them.

[2022-08-29 08:08] #490 closed

[2022-08-29 08:12] mximp commented on #1111
@OlesiaSub could you please have a look

[2022-08-29 08:14] mximp commented on #886
@yasamprom any luck?

[2022-08-29 08:24] yasamprom commented on #886
@mximp Sorry, forgot to comment. Yes, we can close issue.

[2022-08-29 08:45] levBagryansky commented on #1087
@Graur it seems I can't do it yet since `array` is a data object. I get these errors:
[code]

[2022-08-29 08:51] levBagryansky commented on #1087
@Graur it seems I can't do it yet, since array is a data object. I get these errors:
[code]

[2022-08-29 08:51] yegor256 opened #1112 "Groovy test for XSL @id checking"
Let's create a new Groovy test in `src/test/groovy` directory. Let's configure `org.codehaus.groovy.maven:gmaven-plugin` in `pom.xml` to execute them all in this directory. This particular test will find all `.xsl` files in the entire project and make sure that `xsl:stylesheet/@id` attribute is equal to the name of the file without the `.xsl` extension.

[2022-08-29 08:52] yegor256 commented on #1112
@mximp please, take care of this

[2022-08-29 09:43] #886 closed

[2022-08-29 09:45] mximp commented on #1112
@yegor256 why can't we do the same in plain Java unit test?

[2022-08-29 09:53] yegor256 commented on #1112
@mximp which module will this unit test belong to and what will be the name of it?

[2022-08-29 11:02] Graur commented on #1087
@levBagryansky So, this is the task. Maybe [this](https://github.com/objectionary/eo/issues/1060) will clear things up

[2022-08-29 11:07] mximp commented on #1112
@yegor256 It can be called `TransformValidation` and have various `@Test`'s for specific validations including this one. Why do we need another tool here?

[2022-08-29 11:10] yegor256 commented on #1112
@mximp which module it will belong to? Also, it's a good practice to have exactly one test per production file: `ParseMojo -> ParseMojoTest`, etc.

[2022-08-29 11:11] yegor256 commented on #1112
@mximp as a second Groovy test I would make one that would check that each `*Test.java` have a corresponding `*.java` file

[2022-08-29 16:36] mximp commented on #1112
@yegor256 I'm fine with that - it's just with Groovy you would do the same things with separate tool. The same questions will arise. JUnit tests can be used for this as well.

[2022-08-29 16:59] yegor256 commented on #1112
@mximp Groovy scripts will stay in the parent module, which is of type `pom` and that's why can't have any Java code. Also, Groovy scripts will check the entire repository, not one module. That's why the best location for such tests is in Groovy scripts, I believe. Also, Groovy is much simpler than Java :)

[2022-08-29 23:13] andreoss commented on #217
@yegor256 Is it still in scope?

[2022-08-30 03:54] #1110 closed

[2022-08-30 03:54] 0pdd commented on #1110
The puzzle `1104-7e313f8a` has disappeared from the source code, that's why I closed this issue.

[2022-08-30 03:54] 0pdd opened #1114 "xmir-to-eo.xsl:34-36: Add conversion from 'bytes'..."
The puzzle `1110-7e313f8a` from #1110 has to be resolved:

https://github.com/objectionary/eo/blob/1966067e38151610d43df1060700d59b468ae19a/eo-parser/src/main/resources/org/eolang/parser/xmir-to-eo.xsl#L34-L36

The puzzle was created by @andreoss on 29-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2022-08-30 03:54] 0pdd opened #1115 "xmir-to-eo.xsl:37-41: Add XST transformation to convert..."
The puzzle `1110-82c0e078` from #1110 has to be resolved:

https://github.com/objectionary/eo/blob/1966067e38151610d43df1060700d59b468ae19a/eo-parser/src/main/resources/org/eolang/parser/xmir-to-eo.xsl#L37-L41

The puzzle was created by @andreoss on 29-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2022-08-30 03:54] 0pdd opened #1116 "_funcs.xsl:26-29: Implement eo:bytes-to-int which will..."
The puzzle `1110-e2869e1b` from #1110 has to be resolved:

https://github.com/objectionary/eo/blob/1966067e38151610d43df1060700d59b468ae19a/eo-parser/src/main/resources/org/eolang/parser/_funcs.xsl#L26-L29

The puzzle was created by @andreoss on 29-Aug-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-08-30 03:54] 0pdd commented on #348
@yegor256 6 puzzles [#1085](https://github.com/objectionary/eo/issues/1085), [#1103](https://github.com/objectionary/eo/issues/1103), [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1116](https://github.com/objectionary/eo/issues/1116) are still not solved; solved: [#1084](h

[2022-08-30 03:54] 0pdd commented on #1085
@0pdd 5 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1116](https://github.com/objectionary/eo/issues/1116) are still not solved; solved: [#1099](https://github.com/objectionary/eo/issues/1099), [#1104](https

[2022-08-30 03:54] 0pdd commented on #1099
@0pdd 5 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1116](https://github.com/objectionary/eo/issues/1116) are still not solved; solved: [#1104](https://github.com/objectionary/eo/issues/1104), [#1110](https

[2022-08-30 03:55] 0pdd commented on #1104
@0pdd 4 puzzles [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1116](https://github.com/objectionary/eo/issues/1116) are still not solved; solved: [#1110](https://github.com/objectionary/eo/issues/1110).

[2022-08-30 03:55] 0pdd commented on #1110
@0pdd 3 puzzles [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1116](https://github.com/objectionary/eo/issues/1116) are still not solved.

[2022-08-30 06:43] andreoss commented on #1116
@yegor256 Ready to take this

[2022-08-30 07:06] andreoss opened #1119 "AtFree is not thread safe"
When being accessed from multiple threads `AtFree` thows this
[code]

[2022-08-30 07:23] mximp commented on #1061
@OlesiaSub please have a look.
Same approach as in #1064 can be leveraged.

[2022-08-30 07:41] mximp commented on #1103
@Karina5005 please take a look

[2022-08-30 07:43] OlesiaSub opened #1120 "ParsingTrain usage"
I want to use ParsingTrain class in my own project to perform some transformations to my xmir files.
`.xsl` files with transformations are defined in my project.

This is where I'd like to use ParsingTrain.
[code]

Can you please help me with it?

[2022-08-30 07:43] andreoss commented on #1119
@yegor256 Can i take this?

[2022-08-30 07:45] OlesiaSub commented on #1120
@yegor256 please have a look

[2022-08-30 07:45] mximp commented on #1120
@OlesiaSub what help do you need?

[2022-08-30 07:54] yegor256 commented on #1119
@andreoss please, go ahead @Graur FYI

[2022-08-30 08:07] OlesiaSub commented on #1120
I can't understand how to use ParsingTrain as an external dependency. How to launch it correctly, how to pass values to it, etc

But actually we've just discussed it with @yegor256 so I think he will understand my question

[2022-08-30 08:38] yegor256 commented on #1120
@OlesiaSub I'll take care of this

[2022-08-30 11:07] MikhailLipanin opened #1121 "Implementation of EObool$EOwhile.java"
Now, object "while." returns count of iterations of the loop as a result of dataization.
I think is will be more correctly to return dataization of last iteration as a result.

So, after this change, this code will be correct:

[code]

[2022-08-30 11:08] yegor256 commented on #1120
@OlesiaSub check this out, should help: https://news.eolang.org/2022-08-30-parser-external-usage.html

[2022-08-30 11:08] #1120 closed

[2022-08-30 14:09] ivan-egorov42 opened #1123 "Can't dataize integer or float"
I think it's necessary to notify users of EO that we can't dataize integer or float like this:
[code]
Here is output after `eoc dataize app`:
[code]
Or maybe I do smth wrong?

[2022-08-30 14:18] yegor256 commented on #1123
@mximp currently, in `org.eolang.Main` we have this code:

[code]

In other words, we expect the object being dataized to become a `Boolean`. In the example above, it becomes a `Long`, that's why the exception. Let's change `Main` so that it doesn't fail, but instead print the result of dataization.

[2022-08-30 14:19] yegor256 commented on #1116
@andreoss go ahead. @Graur FYI

[2022-08-30 14:20] yegor256 commented on #1115
@andreoss please help. @Graur FYI

[2022-08-30 14:20] yegor256 commented on #1114
@Graur please, help with this one

[2022-08-30 14:40] levBagryansky commented on #1087
@andreoss is it ok I  cannot implement this `@todo ` within only eo-files?
So must I change `array` from Data object to ordinary?
[code]

[2022-08-30 14:51] MikhailLipanin opened #1124 "List of SHEETS in ParsingTrain.java"
Now, list of XSL-transformations are 'private'.
Since many other projects use this class, it would be very helpful to add the ability to modify this list.
For example make "setter" to remove some of this SHEETS.
@yegor256 , what do you think?

[2022-08-30 18:45] andreoss commented on #1087
@levBagryansky do you have the latest master?

[2022-08-30 21:47] dours opened #1127 "A new value is not saved by cage"
[code]

[2022-08-31 06:30] 0pdd commented on #1116
The puzzle `1110-e2869e1b` has disappeared from the source code, that's why I closed this issue.

[2022-08-31 06:30] #1116 closed

[2022-08-31 06:30] 0pdd commented on #348
@yegor256 5 puzzles [#1085](https://github.com/objectionary/eo/issues/1085), [#1103](https://github.com/objectionary/eo/issues/1103), [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115) are still not solved; solved: [#1084](https://github.com/objectionary/eo/issues/1084), [#1086](h

[2022-08-31 06:30] 0pdd commented on #1085
@0pdd 4 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115) are still not solved; solved: [#1099](https://github.com/objectionary/eo/issues/1099), [#1104](https://github.com/objectionary/eo/issues/1104), [#1110](https

[2022-08-31 06:30] 0pdd commented on #1099
@0pdd 4 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115) are still not solved; solved: [#1104](https://github.com/objectionary/eo/issues/1104), [#1110](https://github.com/objectionary/eo/issues/1110), [#1116](https

[2022-08-31 06:30] 0pdd commented on #1104
@0pdd 3 puzzles [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115) are still not solved; solved: [#1110](https://github.com/objectionary/eo/issues/1110), [#1116](https://github.com/objectionary/eo/issues/1116).

[2022-08-31 06:30] 0pdd commented on #1110
@0pdd 2 puzzles [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115) are still not solved; solved: [#1116](https://github.com/objectionary/eo/issues/1116).

[2022-08-31 08:09] levBagryansky commented on #1087
@andreoss yes

[2022-08-31 08:41] Graur commented on #1087
@levBagryansky don't you mind I give this ticket to @andreoss ?

[2022-08-31 08:45] levBagryansky commented on #1087
@Graur I don't mind

[2022-08-31 09:21] Graur commented on #1087
@andreoss Can you help us here. please? The budget is 30 min

[2022-08-31 09:41] OlesiaSub commented on #1111
I have an explanation but I don't have a good solution yet.
@yegor256 @mximp please have a look.

Let's take a look at this piece of code located in your `bool.eo` file
[code]
We are particularly interested in usage of `FALSE`.
In transpiled `.xmir` `FALSE` will look like this:
[code]
Note that it has a `ref` attribute because it's abstract object `bool` is located in the same file (bool.eo).
But

[2022-08-31 10:34] Graur commented on #796
@levBagryansky please, help to improve README.md file

[2022-08-31 10:42] Graur commented on #1121
@MikhailLipanin  @yegor256 What should we return if the while condition is false from the beginning of the loop? I suggest `TRUE`

[2022-08-31 10:44] mximp commented on #796
@levBagryansky It would nice to have description of `target/eo` folder structure as well as what files are consumed/produced by each compilation step.

[2022-08-31 11:07] mximp commented on #1111
@yegor256 @OlesiaSub This corresponds to the the description in `add-default-package.xsl`:
[code]
So it looks like current behaviour is in line with common logic.
I can't think of any solution for fixing it rather than hardcode specific logic for data types in `add-default-package.xsl`, but I don't think it's worth to do.
I suggest to keep it as is.

[2022-08-31 11:10] yegor256 commented on #1010
@Graur @MikhailLipanin what's up with this one? it's blocking a few other issues

[2022-08-31 11:11] yegor256 commented on #1124
@MikhailLipanin what is your use case? The array you are referring to is immutable. Making it public won't give you the ability to modify it. You can reuse the "train" as explained here: https://news.eolang.org/2022-08-30-parser-external-usage.html

[2022-08-31 11:12] yegor256 commented on #1127
@mximp can you try?

[2022-08-31 11:32] MikhailLipanin commented on #1121
May be `TRUE`, or I remember that there was a question, how to implement 'empy' (null) object, if it is done, may be we can use it

[2022-08-31 11:44] MikhailLipanin commented on #1121
I figured out, that this empty object would be only in Polystat (not in EO). So it doesn't fit. `TRUE` is a good solution

[2022-08-31 11:47] MikhailLipanin commented on #1010
@yegor256 Okay, I'll start doing it.

[2022-08-31 11:59] MikhailLipanin commented on #1124
@yegor256 , In my case, I need to split this default XSL transformations, i.e. for example I apply first 10 transformations from `ParsingTrain`, then I'm doing my own custom XSL-transformations and finally I apply other transformations from `ParsingTrain`

[2022-08-31 12:01] yegor256 commented on #1124
@MikhailLipanin you should build the list of transformations from scratch. This is the only right way, as explained here: https://news.eolang.org/2022-08-30-parser-external-usage.html

[2022-08-31 12:01] #1124 closed

[2022-08-31 12:28] #1121 closed

[2022-08-31 12:32] ivan-egorov42 opened #1129 "Can't run program with &-symbol"
I tried to compile this simple piece of code and it fails with this [log.txt](https://github.com/objectionary/eo/files/9461508/log.txt)
[code]
But code like this I can compile:
[code]
P.S. I just wanted to get binary so it is full code.

[2022-08-31 12:37] Karina5005 opened #1130 "Cannot find cached files"
I wanted to test the case where the build happens first and then the tests run without clearing the cache. But I get a compilation error in module `eo-runtime`.
I run:
[code]
Result:
[code]

[2022-08-31 15:14] yegor256 commented on #1130
@Karina5005 definitely a bug, will take care of this

[2022-08-31 15:15] yegor256 commented on #1129
@ivan-egorov42 if the error log is reasonably small, it's better to post it right here. Otherwise, we have to download it and open -- it's annoying.

[2022-08-31 15:18] yegor256 commented on #1129
@ivan-egorov42 neither `&` nor `$` may be part of an expression, they may only start it. This is the limitation of our current grammar and semantic too. It's impossible to refer to "home" or "itself" when you are outside of abstract object context.

[2022-08-31 15:18] #1129 closed

[2022-08-31 15:31] Graur commented on #1121
@MikhailLipanin short description is here https://news.eolang.org/2022-08-31-new-while-dataization-result.html

[2022-08-31 15:53] levBagryansky commented on #796
@mximp so I need to imrove README.md in eo/eo-parser? How can I understand what is going on there?

[2022-08-31 17:10] ivan-egorov42 commented on #1129
@yegor256 thanks

[2022-08-31 18:03] ivan-egorov42 opened #1132 "Unexpected error 'null'"
@mximp @Graur  do not know how to fix this error. What could you advise?
[code]
Running with `eoc dataize test`

[2022-08-31 18:19] levBagryansky commented on #715
@Graur done

[2022-08-31 18:57] includealex opened #1133 "Codacy problem with packages with upper case characters"
If user tries to add a new file with package to some of directories in objectionary/eo, unexpected problems will be shown. For example, if it is written
[code]
An error will occur:
[code]
Example of such a case is [here](https://app.codacy.com/gh/objectionary/eo/pullRequest?prid=9993279).
@mximp @Graur what do you think about it?

[2022-08-31 20:15] Graur commented on #715
@levBagryansky Thanks!

[2022-08-31 20:15] #715 closed

[2022-09-01 07:36] mximp commented on #1111
@yegor256 Can we remove the puzzle and close it as "won't fix?"

[2022-09-01 07:40] mximp commented on #1133
@includealex who throws this error/warning? What steps do you perform?

[2022-09-01 07:40] yegor256 commented on #1111
@mximp sure, we just need to submit a pull request that removes the puzzle

[2022-09-01 07:42] mximp commented on #1111
@OlesiaSub please do

[2022-09-01 07:43] mximp commented on #1132
@ivan-egorov42 What is the exact exception? What are the steps to reproduce?

[2022-09-01 07:43] includealex commented on #1133
@mximp  this error is thrown by Codacy Static Code Analysis in CI checks.

[2022-09-01 07:46] mximp commented on #796
@levBagryansky I'd say `eo-maven-plugin/readme.md`. You could run compilation, check `target/eo/` and find how it's populated/used in the plugin code.

[2022-09-01 07:58] mximp commented on #1127
@dours What is the result of dataization?
Is the snippet above valid? I don't get what would be the result of dataization for:
[code]
It has no `@`.

[2022-09-01 08:05] Karina5005 commented on #1027
@mximp Do I understand correctly that when I do a transpile, I have to store the filenames in `target/eo/transpiled.csv.` The next time I want to transpile a file and it is in the `target/eo/transpiled.csv.`, that means I must first remove the java files generated from that file.

[2022-09-01 08:17] mximp commented on #1133
@includealex can you post a link to failed CI build.

[2022-09-01 08:37] includealex commented on #1133
@mximp sure
[link to the pull request with failing CI](https://github.com/objectionary/eo/pull/1051)

[2022-09-01 08:55] mximp commented on #1027
@Karina5005 `transpiled.csv` is supposed to contain generated Java file names per EO program (`.eo` file). When transpiling a program you first check `transpiled.csv` and remove all files listed there for this program.
And yes all newly generated files for a program you add to `transpiled.csv`

[2022-09-01 09:04] mximp commented on #1133
@yegor256 Is Codacy check something we have configured? Or it's standard Github check?
Do we pay attention to this?

[2022-09-01 10:35] MikhailLipanin commented on #1010
@yegor256, `classifier` should be a required parameter for dependency ?
i.e. always we should point it out ?
or if it is absent there will be an empty space? : `+rt jvm org.eolang:eo-sys::0.0.0`

[2022-09-01 10:57] yegor256 commented on #1010
@MikhailLipanin not really. We may use either format:

[code]

Both are valid.
[code]

[2022-09-01 11:03] yegor256 commented on #1133
@mximp we don't care much about Codacy, it's not part of our build/release/merge pipelines

[2022-09-01 11:34] ivan-egorov42 commented on #1132
@mximp sorry, actually forgot to attach error:
[code]
Got this when I tried to dataize test. No problems with building, I get error in running program.

[2022-09-01 12:15] dours commented on #1127
@mximp  The snippet above is written as an EO test. So, a result of dataization of the whole snippet should be boolean TRUE. It is in fact boolean FALSE. Which means that the snippet is dataizable, though the result is incorrect (IMHO).

The `wrapper` object is not dataizable. But it is never dataized. It is used as a trivial container for other objects. For integers in this case. An integer is wr

[2022-09-01 12:47] MikhailLipanin opened #1136 "Windows build failed"
I run `mvn clean install` at `objectionary/eo` and `eo-runtime` module fails
with error:
[code]

full log:
https://pastebin.com/jGwP0vhk

[2022-09-01 13:19] dours commented on #1077
@mximp Do you have an estimate on how long will it take to fix this one? Is it complicated? It currently blocks around 5 tests in the py2eo translator, I would like to know if I need to think about a workaround.

[2022-09-01 14:32] mximp commented on #1133
Thanks!
@includealex this can be ignored.

[2022-09-01 14:36] Graur commented on #934
@l3r8yJ Please, read about transitive dependencies here: https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#:~:text=System%20Dependencies-,Transitive%20Dependencies,from%20the%20remote%20repositories%20specified.

[2022-09-01 14:37] includealex commented on #1133
@mximp got it.

[2022-09-01 14:37] #1133 closed

[2022-09-01 14:38] mximp commented on #1077
@dours should be finished by tomorrow

[2022-09-01 15:38] Graur commented on #1132
@ivan-egorov42 This example is too big. Please, make it more compact and readable

[2022-09-01 15:52] ivan-egorov42 commented on #1132
@Graur I've already tried. Ok, I'll try to shorten more.

[2022-09-02 09:39] IngeniariusSoftware opened #1137 "take last byte in "%c""
It is possible to use the last byte when printing char?
It will require less extra code and work more logically, like the number mod 255

current realization if I want to print character with code 100:

[code]

will be:

[code]

[2022-09-02 12:36] yegor256 commented on #1136
@Graur please, check. I'm not sure there is a bug, since GitHub Actions don't complain about Windows build

[2022-09-02 12:36] yegor256 commented on #1137
@Graur I agree with this, let's modify our current implementation

[2022-09-02 12:37] Graur commented on #1136
@MikhailLipanin Are you sure you are using clean `master` branch?

[2022-09-02 12:41] Graur commented on #1137
@yegor256 Can we move this issue to [eo-strings](https://github.com/objectionary/eo-strings)?

[2022-09-03 01:06] andreoss commented on #217
@yegor256 @Graur
I want to continue to work on this issue, any objections?

[2022-09-03 01:39] andreoss commented on #499
@yegor256 Yes, it can be closed now

[2022-09-03 01:39] #499 closed

[2022-09-03 03:33] yegor256 commented on #217
@andreoss sure, but 1) we should move this feature to a separate package/repository, I believe, and 2) how will it work if EO is compiled to Rust and then to binaries, for example?

[2022-09-03 03:47] 0pdd commented on #1046
The puzzle `632-74990ab1` has disappeared from the source code, that's why I closed this issue.

[2022-09-03 03:47] #1046 closed

[2022-09-03 03:47] 0pdd opened #1142 "BytesOf.java:34-37: Use this class for operations on..."
The puzzle `1046-b55b5a37` from #1046 has to be resolved:

https://github.com/objectionary/eo/blob/0f785b1ad0c45729a3b2c42b289922d775d3166a/eo-runtime/src/main/java/org/eolang/BytesOf.java#L34-L37

The puzzle was created by @rultor on 03-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2022-09-03 03:47] 0pdd commented on #632
@IngeniariusSoftware the puzzle [#1142](https://github.com/objectionary/eo/issues/1142) is still not solved; solved: [#1043](https://github.com/objectionary/eo/issues/1043), [#1046](https://github.com/objectionary/eo/issues/1046).

[2022-09-03 03:47] 0pdd commented on #1046
@0pdd the puzzle [#1142](https://github.com/objectionary/eo/issues/1142) is still not solved.

[2022-09-03 04:08] andreoss opened #1143 "xcop does not check *.xsl files"
[xcop](https://github.com/objectionary/eo/blob/master/.github/workflows/xcop.yml) workflow does not check `*.xsl`

[2022-09-03 04:19] 0pdd opened #1144 "constant-folding.xsl:26-30: Add conversions for other..."
The puzzle `1115-1b7e31b1` from #1115 has to be resolved:

https://github.com/objectionary/eo/blob/98832d208399dfeb0434dba350acc77a0326f5a6/eo-parser/src/main/resources/org/eolang/parser/optimize/constant-folding.xsl#L26-L30

The puzzle was created by @rultor on 03-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2022-09-03 04:19] 0pdd commented on #348
@yegor256 6 puzzles [#1085](https://github.com/objectionary/eo/issues/1085), [#1103](https://github.com/objectionary/eo/issues/1103), [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1144](https://github.com/objectionary/eo/issues/1144) are still not solved; solved: [#1084](h

[2022-09-03 04:19] 0pdd commented on #1085
@0pdd 5 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1144](https://github.com/objectionary/eo/issues/1144) are still not solved; solved: [#1099](https://github.com/objectionary/eo/issues/1099), [#1104](https

[2022-09-03 04:19] 0pdd commented on #1099
@0pdd 5 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1144](https://github.com/objectionary/eo/issues/1144) are still not solved; solved: [#1104](https://github.com/objectionary/eo/issues/1104), [#1110](https

[2022-09-03 04:19] 0pdd commented on #1104
@0pdd 4 puzzles [#1111](https://github.com/objectionary/eo/issues/1111), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1144](https://github.com/objectionary/eo/issues/1144) are still not solved; solved: [#1110](https://github.com/objectionary/eo/issues/1110), [#1116](https://github.com/objectionary/eo/issues/1116).

[2022-09-03 04:19] 0pdd commented on #1110
@0pdd 3 puzzles [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1144](https://github.com/objectionary/eo/issues/1144) are still not solved; solved: [#1116](https://github.com/objectionary/eo/issues/1116).

[2022-09-03 04:19] 0pdd commented on #1115
@0pdd the puzzle [#1144](https://github.com/objectionary/eo/issues/1144) is still not solved.

[2022-09-03 04:23] yegor256 commented on #1143
@andreoss waiting for https://github.com/g4s8/xcop-action/issues/3

[2022-09-03 04:24] yegor256 commented on #1144
@Graur please, help

[2022-09-03 04:24] yegor256 commented on #1142
@andreoss please, go ahead with this one. @Graur

[2022-09-03 05:29] 0pdd opened #1145 "PacksTest.java:40-44: Test case synthetic-attributes.yaml..."
The puzzle `415-3d65bb62` from #415 has to be resolved:

https://github.com/objectionary/eo/blob/15622488f9847aa83bc9e376ef20642662ea0bab/eo-parser/src/test/java/org/eolang/parser/PacksTest.java#L40-L44

The puzzle was created by @rultor on 03-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2022-09-03 05:29] 0pdd commented on #415
@dours the puzzle [#1145](https://github.com/objectionary/eo/issues/1145) is still not solved.

[2022-09-03 05:44] yegor256 commented on #1145
@andreoss please, help @Graur FYI

[2022-09-03 06:45] yegor256 opened #1146 "GMI to .dot files"

[2022-09-03 07:28] andreoss commented on #1119
@yegor256 This is fixed

[2022-09-03 07:28] #1119 closed

[2022-09-03 12:52] MikhailLipanin commented on #1136
@Graur Yes, right now I cloned the repository again, launched it and got this log:
https://pastebin.com/Rd72Daug

[2022-09-03 14:00] l3r8yJ commented on #934
@Graur I'm trying to create a method anologue to `checkConflicts()`, is it true that `checkConflicts()` checks for **the same dependencies of different versions**?

[2022-09-03 14:48] yegor256 opened #1149 "protected attributes in SafeMojo"
We have two `protected` attributes in `SafeMojo`. This is a mistake. We _never_ use the word `protected` in Java, unless we are absolutely forced to do this. Let's fix this.

[2022-09-03 14:48] yegor256 commented on #1149
@mximp please, help

[2022-09-03 17:28] l3r8yJ commented on #877
@mximp there are only 2 warnings left, but I don't really see how I can change them since they affect most of the project.
[code]
If I change `protected` to `private` the descendants cannot use it or can the implementation of the inheritors also be changed?

[2022-09-03 19:08] 0pdd opened #1150 "GmiMojo.java:189-192: At the moment we don't support..."
The puzzle `1146-f869e4b8` from #1146 has to be resolved:

https://github.com/objectionary/eo/blob/312b50400be79aa7bcc5f0909706ddb44a246424/eo-maven-plugin/src/main/java/org/eolang/maven/GmiMojo.java#L189-L192

The puzzle was created by Yegor Bugayenko on 03-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2022-09-03 19:08] 0pdd commented on #1146
@yegor256 the puzzle [#1150](https://github.com/objectionary/eo/issues/1150) is still not solved.

[2022-09-03 19:09] #1146 closed

[2022-09-04 05:55] yegor256 commented on #1150
@mximp please, handle this

[2022-09-04 05:56] renovate[bot] opened #1154 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency org.eolang:eo-runtime to v0.28.0
 - [ ] Update actions/cache action to v3
 - [ ] Update acti

[2022-09-04 08:53] Graur commented on #934
@l3r8yJ Yes, it is true

[2022-09-04 14:45] yegor256 opened #1161 "New object org.eolang.rust"
Let's create a new object `org.eolang.rust`:

[code]

Also, let's create a new Maven goal for our plugin: `binarize`. It will extract all Rust programs from XMIRs and compile them into `.so` objects, placing them into `target/classes/eo-binaries` (they will be packaged into the JAR too).

Dataization of `rust` object will find the necessary `.so` object in classpath and execute it, passing Java im

[2022-09-04 14:57] yegor256 commented on #1161
@andreoss what do you think about this? Interested in starting?

[2022-09-05 02:13] andreoss commented on #1161
@yegor256 Yes, please assign.

In order to call a dynamic library from JVM there should be a java class with a method mapped to the one in binary. In your case
[code]
So we have to know a method name, a return type, and parameter types to generate a class like that.

[2022-09-05 03:28] andreoss opened #1165 "CI is broken"
[code]

https://github.com/objectionary/eo/runs/8181574278?check_suite_focus=true

[2022-09-05 03:32] yegor256 commented on #1161
@andreoss the Rust function will always have the same signature, of course

[2022-09-05 06:27] 0pdd commented on #1145
The puzzle `415-3d65bb62` has disappeared from the source code, that's why I closed this issue.

[2022-09-05 06:27] #1145 closed

[2022-09-05 06:27] 0pdd opened #1167 "synthetic-references.xsl:28-34: This stylesheet just..."
The puzzle `1145-0cc8cffc` from #1145 has to be resolved:

https://github.com/objectionary/eo/blob/f4945ed5e68942823cf5e96a283f53517fdecaba/eo-parser/src/main/resources/org/eolang/parser/synthetic-references.xsl#L28-L34

The puzzle was created by @rultor on 05-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2022-09-05 06:27] 0pdd commented on #415
@dours the puzzle [#1167](https://github.com/objectionary/eo/issues/1167) is still not solved; solved: [#1145](https://github.com/objectionary/eo/issues/1145).

[2022-09-05 06:27] 0pdd commented on #1145
@0pdd the puzzle [#1167](https://github.com/objectionary/eo/issues/1167) is still not solved.

[2022-09-05 06:29] yegor256 commented on #1165
@andreoss this bug is fixed, but we have another one now..

[2022-09-05 06:29] #1165 closed

[2022-09-05 06:29] yegor256 commented on #1167
@andreoss go ahead. @Graur FYI

[2022-09-05 07:58] Graur commented on #761
@MCJOHN974 What about the progress of this task? Do you need some help?

[2022-09-05 07:58] Graur commented on #684
@MCJOHN974 What about the progress of this task? Do you need some help?

[2022-09-05 08:15] Graur opened #1168 "to get rid of txt directory"
After merging this: https://github.com/objectionary/home/pull/67 we need to remove `txt` directory

[2022-09-05 09:33] mximp commented on #877
@l3r8yJ `VTX` probably can be made private and new method exposed `PhDefault.vertecies`.

[2022-09-05 09:44] #1168 closed

[2022-09-05 09:44] 0pdd commented on #1049
@IngeniariusSoftware the only puzzle [#1076](https://github.com/objectionary/eo/issues/1076) is solved here.

[2022-09-05 10:09] MCJOHN974 opened #1171 "Setup problem"
I have a new ubuntu, just installed maven and clone this repository. ``mvn clean test`` fails with the next message:
[code]

Maven version:
[code]
Java version:
[code]

Should I install something or this test fail is ok ?

[2022-09-05 10:13] MCJOHN974 commented on #1171
@Graur can you help please ?

[2022-09-05 10:13] Karina5005 opened #1172 "TranspileMojoTest is not working"
Inside the TranspileMojo, java files are updated anyway, even if there is no recompilation.
That's why the recompilesIfExpired test doesn't check anything now.

Now test looks like:
[code]

But even if I comment the main line of this test, it will pass:
[code]
But in debug I can check, that in first case there is recompilation and in second there is not.
![image](https://user-images.githubusercont

[2022-09-05 10:23] Karina5005 commented on #1172
@yegor256 I think I know how to fix it. Can I solve this problem?

[2022-09-05 10:36] l3r8yJ commented on #877
@mximp yes, already did it in `
630cfc3`

[2022-09-05 10:49] yegor256 commented on #1172
@Karina5005 sure, go ahead

[2022-09-05 11:00] Graur commented on #1171
@MCJOHN974 Maybe [this](https://stackoverflow.com/questions/67391845/exception-java-lang-unsatisfiedlinkerror-when-trying-to-open-allure-reports-in-w) will help

[2022-09-05 11:08] MCJOHN974 commented on #1171
Thanks

[2022-09-05 11:08] #1171 closed

[2022-09-05 11:21] mximp commented on #877
@l3r8yJ what is pull request for the changes?

[2022-09-05 11:38] mximp opened #1174 "Make HashOfTag testable without accessing web"
We need to be able to populate tags with custom values rather than always download it from the web.

[2022-09-05 12:12] MCJOHN974 opened #1175 "EO codestyle"
I wrote some code in eo and find that first capital letter is forbidden in global objects. Is it a bug or it is requirements of EO codestyle. If it is codestyle maybe it will be good to make a blog post with all requirements of codestyle and explanations why they was chosen ?

[2022-09-05 13:33] yegor256 commented on #1146
@rultor release, tag is `0.28.1`

[2022-09-05 13:34] rultor commented on #1146
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26716-1237038543)

[2022-09-05 13:44] rultor commented on #1146
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26716-1237038543) (took me 10min)

[2022-09-05 13:46] yegor256 commented on #1174
@mximp it's hard to imagine how we can make it testable _alone_, since it's used in `PullMojo` by `new`. Maybe it's better to introduce new option for `PullMojo`, something like: `-DofflineHash=*.*.*:a1b2c3d`. Here, `*.*.*` means "for any version" and `a1b2c3d` is the version that it has to return. Then, we just create a fake implementation of `HashOfTag`, which is created if this `offlineHash` op

[2022-09-05 14:28] mximp commented on #1174
@yegor256 great idea. The only thing I would make this property to contain a list of such mappings: `-DofflineHash="0.2.7:abc2sd3,0.2.8:s4se2fe"`

[2022-09-05 14:31] yegor256 commented on #1174
@mximp yes, a list sounds like a good idea. A file too:

[code]

[2022-09-05 14:34] yegor256 commented on #1174
@mximp I suggest assigning this to someone

[2022-09-05 14:50] mximp commented on #1174
@Nypiaka please assist with the implementation

[2022-09-05 14:55] mximp commented on #1123
@Nypiaka please have a look

[2022-09-05 15:05] mximp commented on #1150
@OlesiaSub please assist with this.

[2022-09-05 16:55] includealex opened #1178 "Assertion error in fibonacci\pom.xml"
When running CI, maven plugin on windows gives such an error
[code]
example of such a failure is [here](https://github.com/objectionary/eo/runs/8193325208?check_suite_focus=true).

[2022-09-05 17:40] yegor256 opened #1179 "GmiMojoTest#bigSlowTest() is very very slow"
The test `GmiMojoTest#bigSlowTest()` is very slow. I can't find out exactly why. Let's try to investigate and suggest some solution.

[2022-09-05 17:40] yegor256 commented on #1179
@Graur please, help

[2022-09-05 17:41] yegor256 commented on #1178
@mximp please, help us here

[2022-09-06 08:37] mximp commented on #1178
@potatmen please take this one.

[2022-09-06 09:02] potatmen commented on #1064
@yegor256 https://github.com/objectionary/eo/pull/1100 please check this merged PR, it solves the issue

[2022-09-06 09:56] #1172 closed

[2022-09-06 11:38] MCJOHN974 opened #1180 "Not actual syntax in README"
I runned this code from README:
[code]
And it fails in runtime with the next error message:
[code]

[2022-09-06 11:39] MCJOHN974 commented on #1180
I suggest change ``x.pow 2`` to ``x.mul x``

[2022-09-06 14:31] MCJOHN974 commented on #1180
@Graur is it really deprecated syntax or I am wrong ?

[2022-09-06 14:38] yasamprom commented on #1105
@yegor256 Why do we need `Disk`? May be we can just modify [`Save`](https://github.com/objectionary/eo/blob/master/eo-maven-plugin/src/main/java/org/eolang/maven/Save.java) ?

[2022-09-06 15:23] Graur commented on #1024
@MikhailLipanin Please, help us here

[2022-09-06 15:54] MCJOHN974 commented on #1136
@Graur I have same problem in #1182. I sync my fork and then pulled before I started change the code. Changes are only in README

[2022-09-06 15:58] MCJOHN974 commented on #1136
Btw we have several PRs that fails only on windows test

[2022-09-06 17:42] yasamprom commented on #1105
@yegor256 In current implementation we catch `IOException` in `Save`, but now we want to use `Input` and I guess we will need to use `Input.stream()` that throws `Exception`. It is bad style to catch `Exception`. So should we always rethrow it? Or is it problem of implementation of `Input`?

[2022-09-06 17:46] yegor256 commented on #1064
@potatmen thanks!

[2022-09-06 17:46] #1064 closed

[2022-09-06 18:00] yegor256 commented on #1105
@yasamprom you can use `org.cactoos.io.IoChecked` decorator inside `Save`

[2022-09-07 04:57] #1142 closed

[2022-09-07 04:57] 0pdd commented on #1142
The puzzle `1046-b55b5a37` has disappeared from the source code, that's why I closed this issue.

[2022-09-07 04:57] 0pdd opened #1183 "bytes.eo:31-35: Long now can only be represented as an..."
The puzzle `1142-64c12a8f` from #1142 has to be resolved:

https://github.com/objectionary/eo/blob/c8913ee47d818a32ed988e3e93890d286aade56c/eo-runtime/src/main/eo/org/eolang/bytes.eo#L31-L35

The puzzle was created by rultor on 07-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2022-09-07 04:57] 0pdd opened #1184 "EObytes$EOright.java:43-46: This object can be..."
The puzzle `1142-c462e1ca` from #1142 has to be resolved:

https://github.com/objectionary/eo/blob/c8913ee47d818a32ed988e3e93890d286aade56c/eo-runtime/src/main/java/EOorg/EOeolang/EObytes$EOright.java#L43-L46

The puzzle was created by rultor on 07-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-09-07 04:57] 0pdd opened #1185 "BytesOf.java:34-37: Bytes should be easily convertible to..."
The puzzle `1142-e53246c0` from #1142 has to be resolved:

https://github.com/objectionary/eo/blob/c8913ee47d818a32ed988e3e93890d286aade56c/eo-runtime/src/main/java/org/eolang/BytesOf.java#L34-L37

The puzzle was created by rultor on 07-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2022-09-07 04:57] 0pdd commented on #632
@IngeniariusSoftware 3 puzzles [#1183](https://github.com/objectionary/eo/issues/1183), [#1184](https://github.com/objectionary/eo/issues/1184), [#1185](https://github.com/objectionary/eo/issues/1185) are still not solved; solved: [#1043](https://github.com/objectionary/eo/issues/1043), [#1046](https://github.com/objectionary/eo/issues/1046), [#1142](https://github.com/objectionary/eo/issues/1142)

[2022-09-07 04:57] 0pdd commented on #1046
@0pdd 3 puzzles [#1183](https://github.com/objectionary/eo/issues/1183), [#1184](https://github.com/objectionary/eo/issues/1184), [#1185](https://github.com/objectionary/eo/issues/1185) are still not solved; solved: [#1142](https://github.com/objectionary/eo/issues/1142).

[2022-09-07 04:57] 0pdd commented on #1142
@0pdd 3 puzzles [#1183](https://github.com/objectionary/eo/issues/1183), [#1184](https://github.com/objectionary/eo/issues/1184), [#1185](https://github.com/objectionary/eo/issues/1185) are still not solved.

[2022-09-07 06:24] yegor256 commented on #1183
@andreoss take this one please @Graur FYI

[2022-09-07 06:25] yegor256 commented on #1184
@Graur please, dispatch this one

[2022-09-07 06:25] yegor256 commented on #1185
@andreoss take care of this please. @Graur FYI

[2022-09-07 07:40] Graur commented on #1184
@levBagryansky take this task, please

[2022-09-07 09:31] yegor256 opened #1187 "Let's add a comment to .gmi files we generate in GmiMojo"
We add information about the version of Maven plugin into `.java` files we generate in `TranspileMojo`. Let's do the same with `.gmi` files that we generate in `GmiMojo`. We can use a similar text in the comment.

[2022-09-07 09:36] yegor256 opened #1188 "Remove Q and QQ from final XMIR"
At the moment, if I write this code:

[code]

It produces the following, after all optimizations of `OptimizeMojo`:

[code]

Let's create a new XSL transformation, which will remove this `QQ` base and replace it with `Q.org.eolang`.

[2022-09-07 09:36] yegor256 commented on #1188
@mximp please, take care of this

[2022-09-07 09:45] IngeniariusSoftware opened #1189 "eo runtime conflicting dependencies"
I tried to compile eo project with hash version `0.28.1`:

[code]

 and got such result
[code]

[2022-09-07 10:05] Karina5005 commented on #1103
@mximp I have a question:
I found that all primitive types in xmir should be save as byte, but than I tried use double-qouted string after parsing it is still have type string. Am I doing something wrong?
In .eo:
`"a" > a`
In .xmir I got:
`<o base="string" data="string" name="a">a</o>`

[2022-09-07 10:12] mximp commented on #1077
@dours fixed. please check & close

[2022-09-07 10:47] mximp commented on #1103
@Karina5005 Is that after some changes or as it works now? What about other primitives?

[2022-09-07 10:49] mximp commented on #1188
@yegor256 What do we have `Q` in `Q.org.eolang` for?

[2022-09-07 10:50] yegor256 commented on #1188
@mximp it means "root object"

[2022-09-07 10:56] Karina5005 commented on #1103
@mximp As it works now. It works for bool, int, so they are saved as bytes.
The issue about save all primitives in byte is not closed yet. Maybe for string this is simply not implemented yet. But in that case, the part of this issue about double-quoted string can't be done yet.

[2022-09-07 11:09] Graur commented on #1137
@yasamprom please, take this task
@yegor256 please, move this ticket to [eo-strings](https://github.com/objectionary/eo-strings)

[2022-09-07 12:13] yegor256 commented on #1077
@rultor release, tag is `0.28.2`

[2022-09-07 12:14] rultor commented on #1077
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26754-1239310003)

[2022-09-07 12:15] yegor256 commented on #1189
@IngeniariusSoftware I believe we fixed this bug yesterday. Try to remove your `~/.eo` directory and try again.

[2022-09-07 12:18] rultor commented on #1077
@dours @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26754-1239310003) (spent 3min)

[code]

[2022-09-07 12:36] yegor256 commented on #1077
@rultor release, tag is `0.28.2`

[2022-09-07 12:37] rultor commented on #1077
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26754-1239334152)

[2022-09-07 12:49] rultor commented on #1077
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26754-1239334152) (took me 11min)

[2022-09-07 14:23] dours commented on #1077
@mximp I tried 0.28.2, but still get
[code]
the file is [for_break_continue_nested.eo.txt](https://github.com/objectionary/eo/files/9507006/for_break_continue_nested.eo.txt)

[2022-09-07 14:25] dours commented on #1077
(and the pom is)
[pom.xml.txt](https://github.com/objectionary/eo/files/9507024/pom.xml.txt)

[2022-09-07 14:40] MikhailLipanin opened #1323 "Not stable behaviour of "stdout" + "sprintf""
I have a simple program:
[code]
then I run:
[code]
and I get the following error:
[code]
BUT, if I run `eoc clean` again, and adding aliases to my code, so the code will looks like:
[code]
and then `eoc dataize fff`  -> All is working OK.
@yegor256 , I think there is something wrong with uploading objects

[2022-09-07 15:22] MikhailLipanin opened #1192 "Strange return of "while." object"
I have a simple program:
[code]
which works good and as a result, it will return the following string:
[code]
BUT, if i remove `!` symbol from name `remind` of object `while.`, result of dataization of object `while.` becomes `boolean` object.
So, for this code:
[code]
Output appears as:
[code]

Based on documentation of new dataization of object `while.`, it returns `false` only if it's condition

[2022-09-07 15:29] Graur commented on #1192
@MikhailLipanin Maybe it could be a double dataization of `remind` object

[2022-09-07 15:32] MikhailLipanin commented on #1192
@Graur, but when we have any object with 'name', and it was already been dataized,
is it right, that in this case we only get result of dataization via its `name` and not dataize this object again?

[2022-09-07 18:05] yegor256 commented on #1192
@MikhailLipanin in the second snippet, `seq` first dataizes the object `remind` and _then_ dataizes the object `stdout`, which of course _again_ dataizes the `remind`

[2022-09-08 05:38] #1184 closed

[2022-09-08 05:38] 0pdd commented on #1184
The puzzle `1142-c462e1ca` has disappeared from the source code, that's why I closed this issue.

[2022-09-08 05:38] 0pdd commented on #632
@IngeniariusSoftware 2 puzzles [#1183](https://github.com/objectionary/eo/issues/1183), [#1185](https://github.com/objectionary/eo/issues/1185) are still not solved; solved: [#1043](https://github.com/objectionary/eo/issues/1043), [#1046](https://github.com/objectionary/eo/issues/1046), [#1142](https://github.com/objectionary/eo/issues/1142), [#1184](https://github.com/objectionary/eo/issues/1184)

[2022-09-08 05:38] 0pdd commented on #1046
@0pdd 2 puzzles [#1183](https://github.com/objectionary/eo/issues/1183), [#1185](https://github.com/objectionary/eo/issues/1185) are still not solved; solved: [#1142](https://github.com/objectionary/eo/issues/1142), [#1184](https://github.com/objectionary/eo/issues/1184).

[2022-09-08 05:38] 0pdd commented on #1142
@0pdd 2 puzzles [#1183](https://github.com/objectionary/eo/issues/1183), [#1185](https://github.com/objectionary/eo/issues/1185) are still not solved; solved: [#1184](https://github.com/objectionary/eo/issues/1184).

[2022-09-08 07:09] yegor256 opened #1197 "New Maven goal for our plugin: ddr"
Let's add `DdrMojo` to our Maven plugin, make it use this tool: https://github.com/objectionary/ddr

[2022-09-08 09:15] levBagryansky opened #1198 "InterruptedException"
@yegor256 we need to handle case of `InterruptedException` in `get` method of `AtComposite.java` in order to interrupt threads

[2022-09-08 12:03] potatmen opened #1200 "Problem with nested atoms called by QQ"
There are two same programs:
[code]
and

[code]
In first case program compiled and runs successfully, but the second problem compiled successfully and then after running returns this error `EOorg.EOeolang.EOstringν12="Error at "EOorg.EOeolang.EOio.EOstdout#text" attribute; caused by Can't #copy() package object 'org.eolang.txt.sprintf'"SF`

The same is happening if we do like this:

[code]

And th

[2022-09-08 12:33] potatmen commented on #1178
@Graur sure

[2022-09-08 15:12] #1178 closed

[2022-09-08 15:13] yegor256 commented on #1198
@Graur please, dispatch this one

[2022-09-08 15:13] yegor256 commented on #1189
@IngeniariusSoftware my mistake, the bug was still there. Now it's fixed.

[2022-09-08 15:13] #1189 closed

[2022-09-08 15:17] yegor256 commented on #736
@Graur please, try to investigate and help

[2022-09-08 15:34] yegor256 commented on #717
@Graur pls, dispatch this one

[2022-09-08 15:36] yegor256 commented on #914
@Graur please, check this one

[2022-09-08 15:59] Graur commented on #1198
@levBagryansky can you solve this?

[2022-09-08 15:59] levBagryansky commented on #1198
@Graur ok

[2022-09-08 16:08] Graur commented on #717
@includealex Can you check if this example still doesn't work?

[2022-09-08 20:23] yasamprom opened #1201 "mvn clean install failed"
I cloned [last](https://github.com/objectionary/eo/commit/088630d923b6ef649b1209ddfdf5abe6c41d2166) version of eo and `mvn clean install` failed with this [log.txt](https://github.com/objectionary/eo/files/9530360/log.txt)
Am I wrong or it is a bug?

[code]

[2022-09-09 03:43] yegor256 commented on #1201
@yasamprom please, put the log into the body of the ticket. Downloading `.txt` file is **not** convenient for a reader.

[2022-09-09 07:59] Graur commented on #1180
@MCJOHN974 Can we close this ticket?

[2022-09-09 08:01] #1180 closed

[2022-09-09 08:28] Graur commented on #793
@mnj2kk Please, help us here

[2022-09-09 08:29] Graur commented on #1200
@mnj2kk please, help us to investigate this

[2022-09-09 10:56] yasamprom commented on #1201
@Graur Could you please see? It seems something is wrong with `/eo/eo-maven-plugin/target/it/fibonacci/target/eo/04-pull/org/eolang/collections/list.eo`. The file is not correct, but I don't understand why. It looks like this:
[code]

[2022-09-09 11:11] Graur commented on #1201
@yasamprom You can try to  `rm -rf ~/.eo` folder or `maven-compiler-plugin` in `.m2` folder and try to build it again again

[2022-09-09 11:51] yasamprom commented on #1201
I deleted `/.eo` and `/.m2` (`ls -a` from /.m2 didn't print `maven-compiler-plugin`). However, it didn't help

[2022-09-09 12:56] #588 closed

[2022-09-09 13:28] Graur commented on #736
This problem is still here. I tried to simplify this test and it printed `1` twice:
[code]
@yegor256 Should `first.value` dataize `first` and only after call `value` method? Or it is ok, that `first.value` just call `value` from `first` and that's it?

[2022-09-09 14:19] yegor256 commented on #736
@Graur if `.value` is found, `first.@` won't be dataized. If `.value` is absent, `first.@` will be dataized.

[2022-09-09 14:48] Graur commented on #736
@yegor256 Thanks! So the next step is to figure out should `.value` be dataized in this cases twice? Now it happens only once

[2022-09-09 16:07] Graur commented on #1105
@yegor256 Can the `Disk` object behave like a global object?
e.g.
[code]

[2022-09-09 19:19] #914 closed

[2022-09-09 19:19] yegor256 commented on #1105
@yasamprom I didn't understand the question. How the attributes are used in your code and why they are there if all methods are static?

[2022-09-09 19:22] yegor256 commented on #736
@Graur yes, should print twice. I suggest to try to make this code snippet smaller, to narrow the area of the bug.

[2022-09-09 19:23] Graur commented on #1105
@yegor256 My bad, I forgot to remove them) But I think I got the idea.

[2022-09-09 19:30] Graur commented on #736
@yegor256 @someilay If it's not a bug, let's close this ticket

[2022-09-09 19:47] yegor256 commented on #1201
@yasamprom the file is correct in Objectionary: https://github.com/objectionary/home/blob/master/objects/org/eolang/collections/list.eo Something is wrong with the downloading. However, GitHub action is clean now. Strange...

[2022-09-10 03:50] yegor256 opened #1205 "org.eolang.cti"
Let's create a new object `org.eolang.cti` (Compile Time Instruction):

[code]

In runtime this object doesn't do anything special, just transparently dataizes its _first_ argument.

Then, we create a new XSL, which will be applied after all other transformations and optimizations. It will try to find all visible "paths" from all `<o>` in XMIR to the object `foo.@`. When found, it will do what the

[2022-09-10 03:51] yegor256 commented on #1205
@mximp please, help us here

[2022-09-10 04:11] yegor256 commented on #1130
@mximp maybe you can help? The problem is related to `UnplaceMojo` and `TranspileMojo`. At `mvn install` phase we unplace some `*.class` files. Then, at `mvn test` we don't compile them again. Maybe this will be fixed by #1172 (or related to it).

[2022-09-10 06:22] yegor256 opened #1206 "LatexMojo"
Let's create a new `LatexMojo`, which will take `.xmir` files from `target/eo/03-optimize` and generate `.tex` files for each of them in `target/eo/latex`. Each `.tex` file should be a standalone compilable document. Also, let's generate a summary `target/eo/universe.tex`, which includes all objects.

[2022-09-10 06:22] yegor256 commented on #1206
@Graur can you handle this?

[2022-09-10 11:57] #1150 closed

[2022-09-10 11:57] 0pdd commented on #1150
The puzzle `1146-f869e4b8` has disappeared from the source code, that's why I closed this issue.

[2022-09-10 11:57] 0pdd commented on #1146
@yegor256 the only puzzle [#1150](https://github.com/objectionary/eo/issues/1150) is solved here.

[2022-09-11 07:25] #1185 closed

[2022-09-11 07:25] 0pdd commented on #1185
The puzzle `1142-e53246c0` has disappeared from the source code, that's why I closed this issue.

[2022-09-11 07:25] 0pdd opened #1207 "EObytes$EOor.java:46-49: This object is almost identical..."
The puzzle `1184-826d9a05` from #1184 has to be resolved:

https://github.com/objectionary/eo/blob/54fa4965adc43f9d48ddcdb34020f28ffbf06add/eo-runtime/src/main/java/EOorg/EOeolang/EObytes$EOor.java#L46-L49

The puzzle was created by @rultor on 11-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-09-11 07:25] 0pdd commented on #632
@IngeniariusSoftware 2 puzzles [#1183](https://github.com/objectionary/eo/issues/1183), [#1207](https://github.com/objectionary/eo/issues/1207) are still not solved; solved: [#1043](https://github.com/objectionary/eo/issues/1043), [#1046](https://github.com/objectionary/eo/issues/1046), [#1142](https://github.com/objectionary/eo/issues/1142), [#1184](https://github.com/objectionary/eo/issues/1184)

[2022-09-11 07:25] 0pdd commented on #1046
@0pdd 2 puzzles [#1183](https://github.com/objectionary/eo/issues/1183), [#1207](https://github.com/objectionary/eo/issues/1207) are still not solved; solved: [#1142](https://github.com/objectionary/eo/issues/1142), [#1184](https://github.com/objectionary/eo/issues/1184), [#1185](https://github.com/objectionary/eo/issues/1185).

[2022-09-11 07:25] 0pdd commented on #1142
@0pdd 2 puzzles [#1183](https://github.com/objectionary/eo/issues/1183), [#1207](https://github.com/objectionary/eo/issues/1207) are still not solved; solved: [#1184](https://github.com/objectionary/eo/issues/1184), [#1185](https://github.com/objectionary/eo/issues/1185).

[2022-09-11 07:25] 0pdd commented on #1184
@0pdd the puzzle [#1207](https://github.com/objectionary/eo/issues/1207) is still not solved.

[2022-09-11 07:59] mximp commented on #1010
@yegor256 is it ready to be closed?

[2022-09-11 08:01] yegor256 commented on #1010
@mximp yes, thanks!

[2022-09-11 08:01] #1010 closed

[2022-09-11 13:24] yegor256 opened #1209 "OptimizeMojo doesn't fail on errors in XMIR"
I may be wrong, but it seems that in its current version `OptimizeMojo` doesn't throw runtime errors if XMIR contains `/program/errors/error` after all optimizations. This is definitely wrong. I think it would be nice to 1) create a unit test confirming my suspicion, and 2) change the implementation of the Mojo. Let's add one more `if`, similar to the one inside `optimize()` method:

[code]

[2022-09-11 13:24] yegor256 commented on #1209
@mximp please help us here

[2022-09-11 18:55] andreoss commented on #1207
@yegor256 Please, assign to me

[2022-09-11 18:57] yegor256 commented on #1207
@andreoss go ahead

[2022-09-12 08:22] mximp commented on #1077
@dours can you confirm initial case from the description works fine on your machine?

Could you please also try to save the file manually:
`EOfor_break_continue_nestedTest$EOω1ap$EOω2φ$EOω3t43$EOt1$EOa1$EOω4ap$EOω5φ$EOω6t55$EOt28$EOt1$EOa0$EOω7t4$EOt0$EOt1$EOa0$EOω8t1$EOt0$EOa1$EOω9t2$EOt0$EOt1$EOa0$EOω10t2$EOt15$EOt1$EOa0$EOω11t4$EOt0$EOt1$EOa0$EOω12t1$EOt0$EOa1$EOω13t2$EOt0$EOt1$EOa0.class`
Max

[2022-09-12 14:57] yegor256 opened #1212 "Why memory.write returns TRUE?"
Maybe it would be better to return the object it just stored?

[2022-09-12 14:57] yegor256 commented on #1212
@Graur please, check this one

[2022-09-12 15:31] Graur commented on #1212
@yegor256 Sure, I'll fix it

[2022-09-13 07:58] Graur commented on #1206
@potatmen Can you help us here?

[2022-09-13 08:01] potatmen commented on #1206
@Graur sure

[2022-09-13 10:45] levBagryansky opened #1214 "Can't use ' for object.attr"
@yegor256 @Graur is it ok I cannot explicily copy an atrribut using `'` like here?
[code]
Here I get an error
[code]
 I think it is bug, because I can code this:
[code]
and it will means the same. So when we need to copy object that is attribute of smth, we need to do the step above.

[2022-09-13 11:32] potatmen commented on #1206
@Graur I want to elaborate on this issue. So, we have many `.xmir` files inside given directory and I need to add some program which will take all files, put all generated text from them to corresponding `.tex` files right?

[2022-09-13 11:32] yegor256 commented on #1214
@levBagryansky this is a bug in the parser

[2022-09-13 11:38] Graur commented on #1206
@potatmen Right, and don't forget about summary `target/eo/universe.tex` file

[2022-09-13 15:01] ivan-egorov42 opened #1265 "ANTLR version"
@yegor256
Here is output after `eoc gmi`. Is it important to have 4.10.1 version of ANTLR? If it is, maybe need to add this to the readme?
[code]

[2022-09-14 07:16] #1111 closed

[2022-09-14 07:16] 0pdd commented on #1111
The puzzle `1104-f29eb2d4` has disappeared from the source code, that's why I closed this issue.

[2022-09-14 07:16] 0pdd commented on #348
@yegor256 5 puzzles [#1085](https://github.com/objectionary/eo/issues/1085), [#1103](https://github.com/objectionary/eo/issues/1103), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1144](https://github.com/objectionary/eo/issues/1144) are still not solved; solved: [#1084](https://github.com/objectionary/eo/issues/1084), [#1086](h

[2022-09-14 07:16] 0pdd commented on #1085
@0pdd 4 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1144](https://github.com/objectionary/eo/issues/1144) are still not solved; solved: [#1099](https://github.com/objectionary/eo/issues/1099), [#1104](https://github.com/objectionary/eo/issues/1104), [#1110](https

[2022-09-14 07:16] 0pdd commented on #1099
@0pdd 4 puzzles [#1103](https://github.com/objectionary/eo/issues/1103), [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1144](https://github.com/objectionary/eo/issues/1144) are still not solved; solved: [#1104](https://github.com/objectionary/eo/issues/1104), [#1110](https://github.com/objectionary/eo/issues/1110), [#1111](https

[2022-09-14 07:16] 0pdd commented on #1104
@0pdd 3 puzzles [#1114](https://github.com/objectionary/eo/issues/1114), [#1115](https://github.com/objectionary/eo/issues/1115), [#1144](https://github.com/objectionary/eo/issues/1144) are still not solved; solved: [#1110](https://github.com/objectionary/eo/issues/1110), [#1111](https://github.com/objectionary/eo/issues/1111), [#1116](https://github.com/objectionary/eo/issues/1116).

[2022-09-14 10:47] potatmen commented on #1206
@Graur please take a look at the resulted `.pdf` file which is successfully compiled from generated `.tex` file
[Result.pdf](https://github.com/objectionary/eo/files/9565607/Basic_Template__1_.pdf)

[2022-09-14 10:48] potatmen commented on #1206
@Graur Now I see only one problem, it's related to page breaking. Is it important or not?

[2022-09-14 11:28] Graur commented on #1206
@potatmen Looks good to me!

@potatmen Do you have a solution?

[2022-09-14 11:39] potatmen commented on #1206
@Graur well, I got one, but it's too complex for this kind of problem

[2022-09-14 11:44] Graur commented on #1206
@potatmen I think it is necessary, but maybe @yegor256 have another opinion

[2022-09-14 12:14] #1214 closed

[2022-09-14 13:37] Graur commented on #992
@kerelape What's up with this task?

[2022-09-15 09:37] 0pdd opened #1222 "MarkMojo.java:80-83: The mojo doesn't update program..."
The puzzle `1062-6d8a2439` from #1062 has to be resolved:

https://github.com/objectionary/eo/blob/2bb6d7d2680d2e526e80f0d87a79e6a6cdedcd8d/eo-maven-plugin/src/main/java/org/eolang/maven/MarkMojo.java#L80-L83

The puzzle was created by rultor on 15-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-09-15 09:37] 0pdd commented on #1062
@yegor256 the puzzle [#1222](https://github.com/objectionary/eo/issues/1222) is still not solved.

[2022-09-15 09:44] kerelape commented on #992
@Graur maven does not understand `-W`

[2022-09-15 09:51] yegor256 opened #1223 "Let's cache optimized XMIR files in ~/.eo/optimized"
Similar to #1062

Let's keep resulting XMIR files produced by `OptimizeMojo` in `~/.eo/optimized` directory

[2022-09-15 09:51] yegor256 commented on #1223
@mximp please, help

[2022-09-15 11:08] Graur commented on #992
@kerelape Did you try to rise up java version to 18?

[2022-09-15 12:22] kerelape commented on #992
@Graur yes... It is openjdk 18, macos 1.13.6. Maybe I miss something? I have only updated the jdk and ran `mvn ...`, is there something else I need to do?

[2022-09-15 12:30] mximp commented on #1222
@yegor256 any objection on the tasks?

[2022-09-15 12:39] yegor256 commented on #1222
@mximp no objections, let's do it

[2022-09-15 12:40] Graur commented on #992
@kerelape Did you try to do this:

?

[2022-09-15 12:50] mximp commented on #1222
@OlesiaSub Please assist with this

[2022-09-15 12:51] mximp commented on #1223
@potatmen please take this one

[2022-09-15 12:52] mximp commented on #1062
@yegor256 this one can be closed

[2022-09-15 13:31] kerelape commented on #992
I did make that. But I cannot check if it works because without that it works too.

[2022-09-15 13:40] Graur commented on #992
@kerelape If so, just send us a pull request with `mvn.yml` changes and that's it

[2022-09-15 13:48] Graur opened #1224 "heap.malloc returns pointer without its length"
When we allocate a memory, the result of this dataization is `pointer`, but there are no `length` object provided to this object.
e.g. when I run this:

[code]
I got this:
[code]

[2022-09-15 13:59] includealex commented on #717
@Graur this example still doesn't work

[2022-09-15 14:03] Graur commented on #717
@includealex what is the output message?

[2022-09-15 14:11] includealex commented on #717
@Graur
first example gives this error
[code]
and second gives this one
[code]

each test was started from the 201 line.

[2022-09-15 14:27] kerelape commented on #992
I am sorry, I will do so now

[2022-09-15 14:28] #1198 closed

[2022-09-15 15:54] yegor256 commented on #1062
@mximp thanks!

[2022-09-15 15:59] yegor256 opened #1226 "Footprint doesn't care about EO version"
Right now `Footprint` only cares about the hash of Objectionary. I think we should add one more parameter to it: version of EO maven plugin. Different versions may produce different files. We should not mix them. Also, if the version is `*-SNAPSHOT` we should not cache.

Maybe we should create a factory: `Footprints`, which will create a `Footprint` according to the hash, the version, etc.

[2022-09-15 15:59] yegor256 commented on #1226
@mximp please, help us here

[2022-09-16 07:43] mximp commented on #1112
@yegor256 it seems that running groovy plugin from parent module will cause some issues. The major one is that parent project is built before children (see [here](https://stackoverflow.com/questions/39027585/maven-multi-module-project-execute-parent-after-child)) hence plugin will run before children are built.
Also plugins from parent are propagated into children modules and we will need to creat

[2022-09-16 08:38] Graur commented on #1136
@MikhailLipanin Please, make a change your java version from 18 to 17

[2022-09-16 09:05] mximp commented on #1077
@dours please check

[2022-09-16 09:06] yegor256 commented on #1112
@mximp why this is a problem?

[2022-09-16 09:46] mximp commented on #1112
@yegor256 it's not an issue for this particular check... But if we want to verify generated files in the future we won't be able to do this

[2022-09-16 11:28] MikhailLipanin commented on #1136
@Graur with JDK 17, the same problem. May be I haven't change it somewhere else?
![image](https://user-images.githubusercontent.com/95661085/190629074-28a5b36c-0aad-40e9-b521-b83c6f8263ef.png)
![image](https://user-images.githubusercontent.com/95661085/190629116-98b5d2a3-e16b-4287-90d9-dc994d527fa2.png)

[2022-09-16 11:35] Graur commented on #1136
@MikhailLipanin This is your IDE java version, but what if you type: `java -version` in your terminal?

[2022-09-16 15:55] includealex commented on #1016
@ivan-egorov42 now it works. Please, close the issue.

[2022-09-16 17:18] dours commented on #1077
@mximp sorry for the delay. I've made a workaround for this bug, so it currently prevents me from executing only 1 test ([for_break_continue_nested](https://github.com/objectionary/eo/files/9507006/for_break_continue_nested.eo.txt) ) .

I can create the file manually. The initial case also passes. BUT! If add `+junit` to the .eo file of the initial case, then it fails with error
[code]

Checked ev

[2022-09-16 17:48] yegor256 opened #1228 "content of 06-resolve is not in line with Maven classifiers"

[2022-09-16 18:01] yegor256 commented on #1228
@rultor release, tag is `0.28.3`

[2022-09-16 18:02] rultor commented on #1228
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26868-1249652052)

[2022-09-16 18:18] rultor commented on #1228
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26868-1249652052) (took me 15min)

[2022-09-16 20:37] #1228 closed

[2022-09-16 21:19] yegor256 opened #1230 "ParseMojo in parallel threads"
Let's make it parse in parallel threads. Total number of threads should be configured via `maxThreads` parameter.

[2022-09-16 21:20] yegor256 commented on #1230
@mximp please, take care of this

[2022-09-17 11:39] levBagryansky opened #1231 "same names in different objects"
@yegor256 @Graur is it ok the code below cause error?
[code]
Error:
[code]

[2022-09-17 14:59] kerelape opened #1232 "Test failure"
`mvn clean install -Pqulice` fails on `eo-maven-plugin`. I didn't change any code, it's master branch

OS: MacOS 10.13.6
JDK: java version "18.0.2" 2022-07-19

[code]

[2022-09-17 19:44] MikhailLipanin commented on #1136
@Graur My bad. Yes, changing JDK version to 17 solved the problem, thanks!

[2022-09-17 19:44] #1136 closed

[2022-09-18 03:51] yegor256 commented on #1232
@mximp please, take a look

[2022-09-18 04:02] yegor256 commented on #1231
@levBagryansky yes, this is by design. Your code actually says:

[code]

Obviously, it's a mistake.

[2022-09-18 04:02] #1231 closed

[2022-09-18 04:07] yegor256 opened #1233 "include all binaries"

[2022-09-18 06:41] 0pdd commented on #1207
The puzzle `1184-826d9a05` has disappeared from the source code, that's why I closed this issue.

[2022-09-18 06:41] #1207 closed

[2022-09-18 06:41] 0pdd commented on #632
@IngeniariusSoftware the puzzle [#1183](https://github.com/objectionary/eo/issues/1183) is still not solved; solved: [#1043](https://github.com/objectionary/eo/issues/1043), [#1046](https://github.com/objectionary/eo/issues/1046), [#1142](https://github.com/objectionary/eo/issues/1142), [#1184](https://github.com/objectionary/eo/issues/1184), [#1185](https://github.com/objectionary/eo/issues/1185)

[2022-09-18 06:41] 0pdd commented on #1046
@0pdd the puzzle [#1183](https://github.com/objectionary/eo/issues/1183) is still not solved; solved: [#1142](https://github.com/objectionary/eo/issues/1142), [#1184](https://github.com/objectionary/eo/issues/1184), [#1185](https://github.com/objectionary/eo/issues/1185), [#1207](https://github.com/objectionary/eo/issues/1207).

[2022-09-18 06:41] 0pdd commented on #1142
@0pdd the puzzle [#1183](https://github.com/objectionary/eo/issues/1183) is still not solved; solved: [#1184](https://github.com/objectionary/eo/issues/1184), [#1185](https://github.com/objectionary/eo/issues/1185), [#1207](https://github.com/objectionary/eo/issues/1207).

[2022-09-18 06:41] 0pdd commented on #1184
@0pdd the only puzzle [#1207](https://github.com/objectionary/eo/issues/1207) is solved here.

[2022-09-18 07:55] yegor256 commented on #1233
@rultor release, tag is `0.28.4`

[2022-09-18 07:55] rultor commented on #1233
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26878-1250214961)

[2022-09-18 08:14] rultor commented on #1233
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26878-1250214961) (took me 18min)

[2022-09-18 08:16] #1233 closed

[2022-09-18 18:48] OlesiaSub opened #1238 "Build fails"
Here is console log after `eoc dataize app` command. (I did `eoc clean` right before it)
[code]

Code in the app.eo is primitive:
[code]

[2022-09-19 09:30] mximp commented on #1232
@kerelape Can you please add the log of the `TranspileMojoTest.recompileIfModified` test: any errors or warnings in it?
I didn't manage to reproduce it with my MacOS/JDK18

[2022-09-19 10:09] Graur commented on #1109
@l3r8yJ Please, help us here

[2022-09-19 10:14] OlesiaSub commented on #1222
@mximp could you please give me a quick overview of what is going on in foreign catalog?
And what exactly "program version" is? I thought is it +version meta, but apparently it is something else. Maybe you can tell me where I can find an example to reproduce this issue?

[2022-09-19 11:42] #1224 closed

[2022-09-19 11:45] yegor256 opened #1240 "faster compilation due to new Tojos 0.13.0"

[2022-09-19 11:47] yegor256 commented on #1240
@rultor release, tag is `0.28.5`

[2022-09-19 11:48] Graur commented on #1201
@yasamprom Did you find a solution?

[2022-09-19 11:48] rultor commented on #1240
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26899-1250912860)

[2022-09-19 12:04] rultor commented on #1240
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26899-1250912860) (took me 15min)

[2022-09-19 12:10] l3r8yJ commented on #1109
@Graur this method is implemented in two modules, which one would be better to place the new class in `eo-runtime/src/test/java` or `eo-maven-plugin/src/test/java`?

[2022-09-19 12:10] #1240 closed

[2022-09-19 12:20] Graur commented on #1114
@l3r8yJ Can you check this task?

[2022-09-19 12:23] l3r8yJ commented on #1114
@Graur sure

[2022-09-19 12:37] l3r8yJ commented on #1114
@Graur we have these unresolved issues:

- [ #1144 ]
- [ #1115 ]

[2022-09-19 12:42] Graur commented on #1063
@l3r8yJ Can you help us here?

[2022-09-19 12:46] l3r8yJ commented on #1063
@Graur yeah

[2022-09-19 13:17] yasamprom commented on #1201
I removed `.eo` one more time and tried again. It worked

[2022-09-19 13:43] Graur commented on #1201
@yasamprom Good! So, can you close this issue?

[2022-09-19 13:43] l3r8yJ commented on #1063
@Graur

[code]
can i use try with resource in this way?

[2022-09-19 13:44] #1201 closed

[2022-09-19 13:45] Graur commented on #1063
@l3r8yJ Sure

[2022-09-19 13:49] l3r8yJ commented on #1063
@Graur what should I write in the javadoc tag `@since x.x.x` instead of `x.x.x`?

[2022-09-19 13:58] Graur commented on #1063
@l3r8yJ The next EO version

[2022-09-19 14:02] l3r8yJ commented on #1063
@Graur 0.28.6, right?

[2022-09-19 14:06] Graur commented on #1063
@l3r8yJ Yep, `0.28.6`

[2022-09-19 14:17] l3r8yJ commented on #1063
@Graur  In `AssembleMojo` i should put my `CleanMojo` to
[code]

[2022-09-19 14:27] Graur commented on #1063
@l3r8yJ Maybe we don't need to put it in `AssembleMojo`. We can make this `CleanMojo` as optional configuration.
@yegor256 What do you think?

[2022-09-19 14:30] yegor256 commented on #1063
@yegor256 @Graur `eo:clean` should be a standalone command, a very simple one, just deleting `eo/target`. It has nothing to do with other commands.

[2022-09-19 14:32] l3r8yJ commented on #1063
@yegor256 got you

[2022-09-19 14:57] l3r8yJ commented on #1063
@yegor256 @Graur do we have more separate plugin commands so I can see an example of how to make it?

[2022-09-19 15:52] mximp commented on #1226
@yasamprom please have a look.
I think it can be something like this:
[code]

[2022-09-19 15:53] MikhailLipanin commented on #1238
@yegor @OlesiaSub I fixed it by updating `eoc` version,
via:
[code]

[2022-09-19 15:58] MikhailLipanin opened #1243 "As-bytes conversion to EO, does it work?"
I have a simple program:
[code]
I covert it to `xmir` using `Syntax.java`, and I get:
[code]

After that I convert it Again to `eo` via `XMIR.java` and I get the strange result instead of `-1`:
[code]

[2022-09-19 16:03] OlesiaSub commented on #1238
@MikhailLipanin it helped, thanks!

@yegor256 is it still considered a bug or I can close the issue?

[2022-09-19 18:25] yegor256 commented on #1238
@OlesiaSub it was a bug, but I fixed it in #1240

[2022-09-19 18:25] #1238 closed

[2022-09-19 18:26] yegor256 commented on #1243
@MikhailLipanin I think it's a bug in `XMIR` class. @Graur can you please take a look?

[2022-09-19 18:37] Graur commented on #1243
@yegor256 Sure, I will check it

[2022-09-19 18:46] #1175 closed

[2022-09-19 18:47] yegor256 commented on #1192
@MikhailLipanin I think it's not a bug, I'm closing

[2022-09-19 18:47] #1192 closed

[2022-09-20 05:14] #1034 closed

[2022-09-20 08:53] 0pdd opened #1246 "Home.java:44-46: create load function (it has to be able..."
The puzzle `1105-4c34ccb4` from #1105 has to be resolved:

https://github.com/objectionary/eo/blob/f037ce68a9f1d9e7f46ea638739c134400809555/eo-maven-plugin/src/main/java/org/eolang/maven/Home.java#L44-L46

The puzzle was created by @rultor on 20-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-09-20 08:53] 0pdd opened #1247 "Home.java:65-67: we need to modify function. It has to..."
The puzzle `1105-a0243dc5` from #1105 has to be resolved:

https://github.com/objectionary/eo/blob/f037ce68a9f1d9e7f46ea638739c134400809555/eo-maven-plugin/src/main/java/org/eolang/maven/Home.java#L65-L67

The puzzle was created by rultor on 20-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2022-09-20 08:53] 0pdd opened #1248 "Home.java:155-156: We should remove this function and get..."
The puzzle `1105-2b0b7358` from #1105 has to be resolved:

https://github.com/objectionary/eo/blob/f037ce68a9f1d9e7f46ea638739c134400809555/eo-maven-plugin/src/main/java/org/eolang/maven/Home.java#L155-L156

The puzzle was created by rultor on 20-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-09-20 08:53] 0pdd commented on #1105
@yegor256 3 puzzles [#1246](https://github.com/objectionary/eo/issues/1246), [#1247](https://github.com/objectionary/eo/issues/1247), [#1248](https://github.com/objectionary/eo/issues/1248) are still not solved.

[2022-09-20 08:55] kerelape commented on #1232
@mximp
[log.txt](https://github.com/objectionary/eo/files/9605883/log.txt)

[2022-09-20 09:10] yasamprom commented on #1105
@yegor256 let's close this issue. See PR objectionary/eo#1244

[2022-09-20 09:42] ivan-egorov42 commented on #1016
@includealex thanks!)

[2022-09-20 09:42] #1016 closed

[2022-09-20 09:49] yegor256 commented on #1105
@yasamprom thanks

[2022-09-20 09:49] #1105 closed

[2022-09-20 09:49] yegor256 commented on #1248
@mximp please, take care of this one

[2022-09-20 09:49] yegor256 commented on #1247
@mximp please, take care of this one

[2022-09-20 10:09] mximp commented on #1247
@yasamprom please assist

[2022-09-20 10:12] yasamprom commented on #1247
@yegor256 As I understand we want to change file path to avoid bad characters
We will probably do it in new class `Home`, but I found some assertions in our code, they save files and then check if it exists. Assertions fail. How should we deal with this? Should we write own `exists` function in `Home` and add path changing there?
Or may be we can create special function `goodPath` in `Home` and us

[2022-09-20 11:00] mximp commented on #1077
When you add `+junit` another mechanism of Java code generation is enabled. It's driven by `junit.xsl` and `rename-junit-inners.xsl`.

[2022-09-20 14:32] yegor256 commented on #1077
@mximp definitely, we need to fix such XSLs

[2022-09-20 14:49] yegor256 commented on #1247
@yasamprom I think that `Home().exists()` is the right direction

[2022-09-20 15:09] mximp opened #1249 "Generate concise Java code for tests"
When `+junit` exists in eo code separate mechanism of Java code generation is enabled. It's driven by `junit.xsl` and `rename-junit-inners.xsl`. It generates inner Java classes for each inner EO object which leads to long class names during Java compilation.
The only option is to re-design how we generate Java code for tests.
Probably we need to generate normal (not inner) Java class for each obje

[2022-09-20 15:09] mximp commented on #1249
@yegor256 please assisgn

[2022-09-20 15:09] mximp commented on #1077
#1249 is created.
@dours let's close this issue.

[2022-09-20 19:40] #736 closed

[2022-09-21 04:12] yegor256 commented on #1249
@mximp I think we can stay with inner objects, but do something with their names. Why not?

[2022-09-21 04:13] yegor256 commented on #1249
@Graur please, help with this one

[2022-09-21 04:56] mximp commented on #1249
@yegor256 The issues is that it's Java compiler who is generating the names for inner classes: it prepends inner class name with the outer classes. No matter what names we pick for them with certain level of nesting the compiler will produce long enough `.class` name to fail.
For example the following is  the result of 40 nesting classes:
[code]

[2022-09-21 05:04] yegor256 commented on #1249
@mximp got it. I like the second option: keep all classes in the same file, but reposition them to avoid nesting.

[2022-09-21 05:24] mximp commented on #1232
@kerelape It looks like environmental issue specific to your env.
There is a code in `TranspileMojoTest.recompileIfModified`:
[code]
Could you please try to debug/log the `lastModified` for `src` and `java` files right after row `Assertions.assertTrue(src.toFile().setLastModified(before + 1));` as well as after `.execute()`

I can see in you log:
[code]
which means that for some reason `setLastMod

[2022-09-21 08:07] mximp commented on #1130
I'm on it

[2022-09-21 13:47] OlesiaSub commented on #1222
@yegor256 can you please help, it is true that to solve this issue I'll have to add a `replace` method to `Tojo` in your lib or maybe there is another solution that I didn't think of?

[2022-09-21 13:48] yegor256 commented on #1222
@OlesiaSub you can simply use `Tojo#set()` method. Why not?

[2022-09-21 13:50] OlesiaSub commented on #1222
@yegor256 as you stated: "It's illegal to use #set() to change '%s' attribute" and I need to change the `version` attribute, so it won't work, right?... or am I missing smth

[2022-09-21 13:52] yegor256 commented on #1222
@OlesiaSub it's illegal to change `id` attribute

[2022-09-21 14:29] maxonfjvipon opened #1253 "Check if object is NaN or is Infinity while converting to Phi object"
In some cases we can get `NaN` or `Infinities` as a result of object dataization.
For example:
- `0.0.div 0.0` => `nan`,
- `1.0.div 0.0` => `positive-infinity`,
- `(number nan).ln` => `nan` (natural logarithm, in progress)
- etc...

NaN and Ifinities are double, so I suggest to do something like this:
[code]

And also add checking infinities here.
In that case we won't get an error when we do for

[2022-09-21 14:33] yegor256 commented on #1253
@maxonfjvipon but we don't have `EOnan` in here

[2022-09-21 14:35] maxonfjvipon commented on #1253
@yegor256 will not it be created on runtime?

[2022-09-21 14:43] yegor256 commented on #1253
@maxonfjvipon it belongs to eo-math package. We can't use objects from this package inside eo-runtime. Well, technically we can, but this would be violation of "layered architecture" principle.

[2022-09-21 14:45] Graur commented on #1253
@maxonfjvipon @yegor256  We already talk about it here: https://github.com/objectionary/eo/issues/774#issuecomment-1164312509

[2022-09-21 14:56] maxonfjvipon commented on #1253
@yegor256 yeah, I remember, but it's more complicated)
Ok, I try to figure it out, but I think eventually it must be done somehow. `0.0.div 0.0` has not to throw an exception. It should return `nan` object.

[2022-09-21 15:30] Graur commented on #612
@l3r8yJ Please, take care of this

[2022-09-21 15:38] l3r8yJ commented on #612
@Graur sure!

[2022-09-21 16:12] levBagryansky opened #1254 "How can we distinguish eo objects in java"
@yegor256 @Graur
For example we get two the same objects via  `rho.attr("ρ").get()`:
[code]
Do we have opportunity in java to understand if `phi1` and `phi2` are the same objects in eo?
Should we override `equals`  method for `Phi`?
More precisially I thonk we need smth like `==`

[2022-09-21 17:06] EugeneDar opened #1255 "Reduced doesn't work"
This code prints only `1` to console.
[code]

[2022-09-21 17:07] EugeneDar commented on #1255
@yegor256 @Graur please, check

[2022-09-21 18:11] yegor256 commented on #1254
@levBagryansky just do `phi1.hashCode() == phi2.hashCode()`

[2022-09-21 18:11] #1254 closed

[2022-09-21 21:44] maxonfjvipon commented on #774
@yegor256 I did a little research about the EO parser and I think I'm ready to try to implement this feature, but there are some things I'm not sure about...

This is the code we'll discuss.
[code]

1. EO syntax. We need to replace `<signal>` to something that will signal that instead of return `nan` we must create `float.plus` object that is implemented in java (`EOfloat$EOplus`). There is a thou

[2022-09-21 21:55] #774 closed

[2022-09-21 22:05] maxonfjvipon commented on #1253
@yegor256 I did a little research and here's what I think.
Anyway we should move `nan` and `infinities` to `eo-runtime`. I believe it's the place where they belong to. Even in Java `NaN` belong to `Double` class. In other cases we won't be able to solve this problem.

After we move them we can solve it in two ways.
1. Easy. As I described above - add extra conditions to `toPhi`. There'll be no cro

[2022-09-22 00:58] l3r8yJ commented on #612
@Graur did I understand correctly that this [class](https://github.com/objectionary/eo-files/blob/master/src/main/java/EOorg/EOeolang/EOfs/EOdir$EOwalk.java) does not work correctly?

[2022-09-22 04:11] yegor256 commented on #1253
@maxonfjvipon I have another proposal. How about we make sure `div` doesn't throw an exception but returns `float`, which is `nan` (byte wise)?

[2022-09-22 04:50] mximp commented on #1222
@OlesiaSub `Tojo::set()` is used exactly for setting foreign attribute versions. Check `MarkMojo` class: actual version is set there.

[2022-09-22 07:44] mximp commented on #1130
@yegor256 what is the point of deleting pulled classes in `UnplaceMojo`?

[2022-09-22 07:51] maxonfjvipon commented on #1253
@yegor256 so the result of `0.0.div 0.0` will be `float` object, but with bytes of `nan`.
[code]

Here we should make sure that `x` and `n` have the same amount of inner objects with the same behavior

[2022-09-22 07:51] mximp commented on #1130
@yegor256 and what is so special about these libs specified for deletion:
[code]

[2022-09-22 08:04] maxonfjvipon commented on #1253
@yegor256 It seems some objects like `float.lt|lte|gte` may not work correctly. Even `float.eq`

[code]

[2022-09-22 08:42] mximp opened #1256 "`keepBinaries` property is not respected in `UnplaceMojo`"
Within `UnplaceMojo` we have config parameter `keepBinaries` which is supposed to prevent specified compiled (placed) files from removal.
However current implementation ignore it since it calls consequently two steps:
1. `keepThem` step would remove everything but specified in `keepBinaries`
2. `killThem` step would remove everything with no respect to `keepBinaries`

Need to make `killThem` respe

[2022-09-22 08:43] mximp commented on #1256
@yegor256 any objection?

[2022-09-22 08:50] Graur commented on #612
@l3r8yJ For this ticket we don't care about any particular class. We need just to compare two `xmir` files produced from singleline EO representation and multiline

[2022-09-22 08:57] maxonfjvipon commented on #1253
@Graur 0.0 / 0.0 = nan, 1.0 / 0.0 = +inf, -1.0 / 0.0 = -inf

[2022-09-22 10:48] mximp commented on #1256
@yegor256 I believe there should be described precedence if we want to keep them both. Alternatively we might remove one of them or mandate them to be mutually exclusive.
With current implementation `keepBinaries` has no effect at all.
For now let's correct `killThem` to be aware of `keepBinaries`

[2022-09-22 10:52] maxonfjvipon commented on #1253
Also we need somehow to check `nan` here (and in some other places) in case we do `4.2.div nan`.

<img width="528" alt="image" src="https://user-images.githubusercontent.com/37025995/191725146-c39cc839-3d59-4924-b6f5-a56a7b55eec2.png">

We could do something like this: make `nan` decorated `0.0.div 0.0`
[code]
Then when we do `3.2.div nan`, in Java `nan` will be dataized to `Double.NaN` and 3.2 /

[2022-09-22 10:52] mximp commented on #1077
@dours reminder

[2022-09-22 11:27] yegor256 commented on #1256
@mximp `keepBinaries` will make sure that some files are staying for sure. Then, you can `killBinaries` some of files too. They don't contradict each other. Give me an example which is impossible to express with these two options.

[2022-09-22 11:29] #1077 closed

[2022-09-23 07:48] 0pdd commented on #1247
The puzzle `1105-a0243dc5` has disappeared from the source code, that's why I closed this issue.

[2022-09-23 07:48] #1247 closed

[2022-09-23 07:59] mximp commented on #1256
@yegor256 1) what is the expected behaviour if a file is mentioned within both `keepBinaries` and `removeBinaries`?  There must be an order of application.
2) For this task I'm just saying that with current implementation `keepBinaries` doesn't work as expected. The binaries will be deleted in any case.

[2022-09-23 08:11] mximp commented on #1149
@yegor256 in `SafeMojo` we have not two `protected` props but much more. The suggestion is to remove them all? Or do you mean some particular props?

[2022-09-23 08:17] 0pdd opened #1261 "Home.java:195-197: we need to modify function. It has to..."
The puzzle `1247-d57a5fca` from #1247 has to be resolved:

https://github.com/objectionary/eo/blob/3ee7426d44ddbc40104130d162f6bbfa899cfd0e/eo-maven-plugin/src/main/java/org/eolang/maven/Home.java#L195-L197

The puzzle was created by Stepa Strunkov on 22-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2022-09-23 08:17] 0pdd commented on #1105
@yegor256 3 puzzles [#1246](https://github.com/objectionary/eo/issues/1246), [#1248](https://github.com/objectionary/eo/issues/1248), [#1261](https://github.com/objectionary/eo/issues/1261) are still not solved; solved: [#1247](https://github.com/objectionary/eo/issues/1247).

[2022-09-23 08:17] 0pdd commented on #1247
@0pdd the puzzle [#1261](https://github.com/objectionary/eo/issues/1261) is still not solved.

[2022-09-23 08:26] yegor256 commented on #1261
@Graur please, check

[2022-09-23 08:33] yegor256 commented on #1149
@mximp this is my mistake. Indeed, we have many `protected` attributes. This is the design enforced by Maven. We can't change it.

[2022-09-23 08:33] #1149 closed

[2022-09-23 08:33] mximp commented on #1174
@yasamprom please assist

[2022-09-23 08:34] mximp commented on #1123
@yasamprom please assist

[2022-09-23 08:45] mximp commented on #1112
@yegor256 all is done. Please close the task

[2022-09-23 09:21] yegor256 commented on #1112
@mximp thanks!

[2022-09-23 09:21] #1112 closed

[2022-09-23 09:28] yegor256 opened #1262 "check that all XSL versions are 2.0"
Similar to #1112

Let's make a check that will go through all XSL files and verify that version is set to `2.0`

[2022-09-23 09:31] yegor256 commented on #1256
@mximp check 17e240eb and this: https://github.com/objectionary/news.eolang.org/commit/e31dfbab22ad60b43b172a90cd614011343eea9d

[2022-09-23 09:47] Graur commented on #1261
@includealex can you take this task?

[2022-09-23 13:09] yasamprom commented on #1246
@yegor256 Do we really need load function? I suggest implementing this by replacing all `path` with 'new Home().path(path)'. It allows us to get all files by corrected path. What do you think about this idea?

[2022-09-23 15:41] yegor256 commented on #1246
@yasamprom it seems logical to me to have `Home` class like this:

[code]

[2022-09-23 19:25] #1256 closed

[2022-09-24 11:31] levBagryansky opened #1264 "Phi.hashcode has problems with thread safety"
@yegor256 @Graur
[Here](https://github.com/objectionary/eo/issues/1254#issuecomment-1254058416) we talked how to distinguis Phi objects in java.
But the problem is this solution is not threadsafe and I can demonstrate it. Test below starts threads each of which creates new unique Phi object(EOnumber) and adds its hashcode to the map. If hashcode() gives unique number we should get size of the set

[2022-09-24 11:55] includealex commented on #1261
@Graur Do I need to get rid of non-ASCII characters?

[2022-09-24 12:00] Graur commented on #1261
@includealex According to this ticket description, we need to replace non-UTF-8 characters to UTF-8 characters

[2022-09-24 12:07] yegor256 commented on #1264
@mximp please, check

[2022-09-24 12:09] yegor256 commented on #1265
@mximp please, check

[2022-09-24 14:26] includealex commented on #1261
@Graur still don't understand you. I need to encode every path that I get to UTF-8 path, right?

[2022-09-24 15:12] levBagryansky opened #1299 "lt dataizes twice"
@Graur please take a look at this case
[code]
This code works this way
[code]
I don't guess it must work this way.

[2022-09-26 09:16] yasamprom commented on #1246
@yegor256 I still have some questions. For example, we have this code in `PlaceMojo.java`:
[code]
I guess we will have to replace `DepDirs(home)` with `DepDirs(new Home().path(home))`. Am I right? If yes, we will also have to do the same in many other places. Then I don't understand why having `load` function is better than usage of `path(path)` everywhere we use simple `path`. If we do that, we w

[2022-09-26 09:30] yegor256 opened #1270 "plain greek letters in GMI"

[2022-09-26 09:43] yegor256 commented on #1270
@rultor release, tag is `0.28.6`

[2022-09-26 10:14] rultor commented on #1270
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27118-1257772214)

[2022-09-26 10:36] mximp commented on #1262
@yegor256 this is done and can be closed

[2022-09-26 10:37] #1270 closed

[2022-09-26 10:37] yegor256 commented on #1262
@mximp thanks!

[2022-09-26 10:37] #1262 closed

[2022-09-26 17:01] yegor256 opened #1274 "duplicate edges in GMI graph"

[2022-09-26 17:05] #1274 closed

[2022-09-27 07:42] mximp commented on #1187
@potatmen Can you please handle this?

[2022-09-27 09:21] potatmen commented on #1187
@mximp Ok

[2022-09-27 13:59] potatmen commented on #1206
@Graur take a look please

[2022-09-27 15:40] EugeneDar opened #1278 "We need to increase the stack size"
A lot of tests and structures just can't be checked correctly because of StackoverFlow. We should find a way to increase stack size.

[2022-09-27 15:41] EugeneDar commented on #1278
@yegor256 @Graur what do you think?

[2022-09-27 15:42] Graur commented on #1278
@EugeneDar go ahead

[2022-09-27 15:54] EugeneDar commented on #1255
@yegor256 please, move it to eo-collections

[2022-09-27 19:54] mximp commented on #1127
If we remove first statement in `seq` the snippet works fine.
It also works fine if replace `wrapper` with plain data.

It is still not clear why it fails.
Need to more logging to understand what's happening inside.

[2022-09-28 06:17] potatmen commented on #1206
@Graur Comments fixed

[2022-09-28 07:31] Graur commented on #1206
@yegor256 Should we add this `LatexMojo` to `AssembleMojo`? Or we can just create a configuration parameter for maven-plugin

[2022-09-28 07:33] yegor256 commented on #1206
@Graur no, this is a completely standalone mojo, just like `GmiMojo`

[2022-09-28 11:46] mximp opened #1279 "Extend logging in EO runtime"
It would be good to see how attributes are retrieved during dataization.
Such logs have to be at DEBUG level and set similar to dataization logs.

[2022-09-28 12:54] MikhailLipanin commented on #1024
The task is to add one more level of `severity` in XSL `<errors>`. Now we have 2 levels: `error` and `warning`.
It is needed to Stop `SHEET` of XSL-s that applies to `XMIR`, when some Error is found, and print an error.
@yegor256 , which name it should have and what errors/warnings it should handle?
Or maybe we can make everywhere `error` severity to stop applying list of XSL-s, like it done here:

[2022-09-28 13:23] yegor256 commented on #1024
@MikhailLipanin I would use `critical` name. If it's found, we stop the pipeline. If not, we continue (even if `error`-s are present).

[2022-09-28 20:58] #1279 closed

[2022-09-29 04:01] yegor256 commented on #1279
@rultor release, tag is `0.28.7`

[2022-09-29 04:07] rultor commented on #1279
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27233-1261724479)

[2022-09-29 04:19] rultor commented on #1279
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/27233-1261724479) (took me 12min)

[2022-09-29 06:32] mximp commented on #1130
@Karina5005 this is fixed now. Please verify and close the task

[2022-09-29 08:34] mximp commented on #1265
@OlesiaSub do you think you can handle this?

[2022-09-29 14:27] mximp commented on #1188
@yegor256 this can be closed

[2022-09-29 15:32] yegor256 commented on #1188
@mximp thanks!

[2022-09-29 15:33] yegor256 commented on #1188
@mximp we still have `QQ` mentioned in `to-java.xsl`. I think, this should be removed.

[2022-09-29 15:34] yegor256 commented on #1188
@mximp also check `add-default-package.xsl` and `unknown-names.xsl`

[2022-09-29 15:54] potatmen commented on #1187
@mximp Do I correctly understand that comment about Maven plugin and compilation that is in generated `.java` files looks like this:
[code]

[2022-09-30 06:21] mximp commented on #1187
@potatmen that's correct

[2022-09-30 10:38] mximp commented on #1188
@yegor256 I believe it can be closed

[2022-09-30 11:23] yegor256 commented on #1188
@mximp thanks!

[2022-09-30 11:23] #1188 closed

[2022-09-30 11:41] #1261 closed

[2022-09-30 11:41] 0pdd commented on #1247
@0pdd the only puzzle [#1261](https://github.com/objectionary/eo/issues/1261) is solved here.

[2022-09-30 11:51] #1248 closed

[2022-09-30 11:51] 0pdd opened #1292 "SpyTrain.java:48-51: we need to implement StLambdaQuiet..."
The puzzle `1248-52399106` from #1248 has to be resolved:

https://github.com/objectionary/eo/blob/4a80878e27a1e6d41b71b4d2ab4949b741a1c51f/eo-maven-plugin/src/main/java/org/eolang/maven/SpyTrain.java#L48-L51

The puzzle was created by rultor on 30-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-09-30 11:51] 0pdd commented on #1105
@yegor256 2 puzzles [#1246](https://github.com/objectionary/eo/issues/1246), [#1292](https://github.com/objectionary/eo/issues/1292) are still not solved; solved: [#1247](https://github.com/objectionary/eo/issues/1247), [#1248](https://github.com/objectionary/eo/issues/1248), [#1261](https://github.com/objectionary/eo/issues/1261).

[2022-09-30 11:51] 0pdd commented on #1248
@0pdd the puzzle [#1292](https://github.com/objectionary/eo/issues/1292) is still not solved.

[2022-09-30 12:04] mximp commented on #1264
@levBagryansky fix is in master. Please check and close the task

[2022-09-30 12:04] yegor256 commented on #1292
@Graur please, handle this

[2022-09-30 12:41] Graur commented on #1292
@ivan-egorov42 please, take care of this ticket

[2022-09-30 16:34] yegor256 opened #1294 "get rid of COPY in GMI"

[2022-09-30 20:48] levBagryansky commented on #1264
@mximp Thanks

[2022-09-30 20:48] #1264 closed

[2022-10-01 12:04] levBagryansky opened #1296 "returning of the same object changes hashCode"
@yegor256 @Graur I have a problem with returning `Phi`  from atom. Take a look at the instance:
Let there be such an object in eo:
[code]
`my-atom.self`  just returns `my-atom`:
[code]
`my-atom.hash` returns prints `my-atom`'s hashcode and returns `TRUE`:
[code]
The problem is hashCodes of `my-atom` and `my-atom.self` are different:
[code]
shows
[code]
I think it is a bug because objects must be t

[2022-10-01 13:04] levBagryansky opened #1297 "Phi changes hashcode after seq"
@yegor256 @Graur I faced with stange behavior of `seq`. Let take the object `my-atom` such as in #1296.
This test
[code]
shows
[code]
So hashcode can be changed after `seq`.

[2022-10-01 17:59] yegor256 commented on #1297
@levBagryansky I think it's by design. `hashCode()` is the unique ID of the object. objects `my-atom` and `seq my-atom` are two different objects, that's why different IDs

[2022-10-01 18:00] yegor256 commented on #1296
@levBagryansky looks like a bug indeed

[2022-10-01 18:09] levBagryansky commented on #1297
@yegor256 I also created an atom `my-atom.hash` of `my-atom`:
[code]
and started the test
[code]
And this test passes and shows
[code]
So behavior also depends on value the atom retuns. If it's a matter of design, there's still some bug.

[2022-10-03 12:36] OlesiaSub opened #1301 "readme update"
I noticed that README description does not correspond to the actual project state.
For example, it is stated that compilation process takes place in CompileMojo class, but there is no such class.
I think somebody who is aware of the modifications needs to check README for such mistakes and update it.

[2022-10-03 12:54] OlesiaSub opened #1303 "different antlr versions used in the project"
In the project's `pom.xml` file antlr has a `4.11.1` version. However, if you take a look at the `generated-sources` directory created by `TranspileMojo` -- you'll notice, that the sources are `Generated from org/eolang/parser/Program.g4 by ANTLR 4.10.1`. The version here is different.
I believe it is the cause of #1265 and we need to fix it.

I don't know why this happens, but maybe the root of t

[2022-10-03 12:57] yegor256 commented on #1301
@mximp please, help

[2022-10-03 12:59] OlesiaSub commented on #1303
@yegor256 @mximp maybe you have any ideas what might cause the antlr version in generated sources to differ from the one that is stated in the project's pom.xml?

It really doesn't affect the execution, but it throws warnings and confuses people, which is not good either. We already have two issues mentioning those warnings.

[2022-10-03 13:49] mximp commented on #1127
After further analysis - the issue is in internal caching. In the initial example after first `c` within `seq` the `c.@` is calculated which becomes `mycage.@=value.value=0`. And it's cached.
Next time we try to calculate `c.eq` it will pick `0.eq` regardless of previous `c.write 1`.

If we change `@` to some custom attribute the code works as expected:
[code]
It also work well if we try to access

[2022-10-03 14:36] mximp commented on #1303
@OlesiaSub @yegor256 The issue is that in our parent pom we use
[code]
This version defines `<version>4.10.1</version>` for antlr4 (see https://github.com/jcabi/jcabi-parent/blob/0.62.0/pom.xml).
Hence the warning in build logs.
We need to release new version of Jacabi parent (current `master` branch contains correct ANTLR version).

[2022-10-03 14:39] OlesiaSub commented on #1303
@yegor256 @mximp pls update me when you release the fixed version and then I will update the version in EO project.

[2022-10-03 14:46] mximp commented on #1301
@OlesiaSub which README.md do you mean for this case?

[2022-10-03 15:02] mximp commented on #1265
Has the same cause as #1303

[2022-10-03 15:03] OlesiaSub commented on #1301
@mximp the one in eo maven plugin module

[2022-10-03 15:08] OlesiaSub commented on #1265
@ivan-egorov42 I checked this issue and opened another one with the description of the problem (#1303 ). When #1303 is solved - this warning will disappear. You can check the progress in #1303 now.

[2022-10-03 17:04] yegor256 commented on #1127
@mximp you are right. We have a special annotation `@Volatile` in the runtime, which is attached to `EOcage`: https://github.com/objectionary/eo/blob/0.28.7/eo-runtime/src/main/java/EOorg/EOeolang/EOcage.java#L44 Thanks to this annotation, `cage` is "volatile" and doesn't have this @-caching logic. However, if we decorate `cage`, this new object is not volatile anymore.

[2022-10-04 11:50] mximp commented on #1127
@dours So this behaviour is by design. Is it clear how to workaround the issue?

[2022-10-04 11:51] mximp commented on #1130
Closing as resolved

[2022-10-04 11:51] #1130 closed

[2022-10-04 11:52] mximp commented on #1301
@OlesiaSub this can be closed.

[2022-10-04 11:58] mximp commented on #1303
@yegor256 can we release `jacabi-parent`?

[2022-10-04 14:07] yegor256 opened #1305 "prohibit /? for objects outside of org.eolang"
Let's prohibit `/?` syntax for objects outside of `org.eolang` package. Let's do this inside `eo-parser` with a new XSL.

[2022-10-04 14:07] yegor256 commented on #1305
@mximp please, take care of this one

[2022-10-04 14:09] yegor256 opened #1306 "prohibit the usage of "org.eolang" package"
Let's make it impossible for custom packages to be called `org.eolang`. Our Maven plugin should fail compilation if such a package is met and it's not part of eo Maven reactor.

[2022-10-04 14:09] yegor256 commented on #1306
@mximp please, take care of this one

[2022-10-04 14:16] yegor256 opened #1307 "org.eolang.cage must prohibit different object "types""
The `cage` object must return an `error` if we try to `.write` an object that is not a copy of the abstract object that was saved before.

[2022-10-04 14:16] yegor256 commented on #1307
@Graur please, help

[2022-10-04 14:19] Graur commented on #934
@DmitryFullStack Please, help us here

[2022-10-04 14:25] Graur commented on #1200
@ivan-egorov42 please, help us to investigate this

[2022-10-04 14:27] yegor256 commented on #1303
@mximp 0.63.0 released

[2022-10-04 15:46] Graur commented on #1307
@yegor256 Do we need to save the type of the memoized object? Otherwise we can check its length

[2022-10-05 09:39] mximp commented on #1303
@yegor256 after https://github.com/objectionary/eo/pull/1310 is merged we need to release new version of `eo-runtime`.
One release dependency needs to be updated in `eo-maven-plugin` to eliminate the warning.

[2022-10-05 11:40] mximp commented on #1303
Waiting for `eo-runtime` release.

[2022-10-05 12:21] yegor256 commented on #1303
@rultor release, tag is `0.28.9`

[2022-10-05 12:22] rultor commented on #1303
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27352-1268364126)

[2022-10-05 12:33] rultor commented on #1303
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/27352-1268364126) (took me 10min)

[2022-10-05 18:40] levBagryansky opened #1313 "Smth wrong with last version of eo"

[2022-10-06 03:57] yegor256 commented on #1313
@mximp please, check this

[2022-10-06 07:40] includealex opened #1315 "Build fibonacci assertion fail"
Running `mvn clean install -Pqulice` in root repository throws an error. It can not find file `target/eo/foreign.csv`. Here is full log:
[code]

[2022-10-06 08:25] mximp commented on #1313
@levBagryansky can slightly narrow the scope of performance problem: maybe you can sport particular tests which take longer time?
We need to identify specific use cases which degraded.

[2022-10-06 08:52] OlesiaSub commented on #1303
@mximp the version is already updated in eo pom.xml, right?

[2022-10-06 09:26] mximp commented on #1303
@OlesiaSub it's updated for `jcabi-parent` in `eo-runtime`... but still not updated for references to `eo-runtime` in tests.

[2022-10-06 09:58] levBagryansky commented on #1313
@mximp  When I run separate test, for instance,  by
`mvn clean test EOorg.EOeolang.EOthreads.EOlock_with_threadsTest`
or
`mvn clean test EOorg.EOeolang.EOthreads.EOthread_returns_numberTest`
The time is still about 4min.
I also run it via `mvn clean test >& my_log`
And the problem still exists.

[2022-10-06 10:08] mximp commented on #1303
@OlesiaSub now all is up-to-date in master

[2022-10-06 10:29] yasamprom commented on #1246
@yegor256 what do you think?

[2022-10-06 10:39] OlesiaSub commented on #1303
@mximp great, thanks! can I close the issue now?

[2022-10-06 11:04] Graur commented on #1315
@includealex I don't have such error
Do your master branch is clear? Did you try to delete `.eo` folder?

[2022-10-06 11:11] Graur opened #1316 "home object description in paper is not clear"
Can we add a more readable example or a phi-calculus representation of home object in [paper](https://github.com/objectionary/eo/blob/master/paper/sections/syntax.tex#L646-L680)?

[2022-10-06 11:11] Graur commented on #1316
@yegor256 Can you help with this?

[2022-10-06 11:11] levBagryansky commented on #1313
@mximp I removed all using of `eo-sys` and time decreased to 1 min.
 And when I returned it the problem repeated

[2022-10-06 11:21] includealex commented on #1315
@Graur Simple running
[code]
Gives this error. I run it on Ubuntu 20.04.05 LTS. (Master branch in my forked repository is up to date)

[2022-10-06 11:34] mximp commented on #1315
@includealex It seems something is wrong with your Maven settings:
[code]

Can you check your Maven configuration?

[2022-10-06 11:48] #1315 closed

[2022-10-06 12:36] mximp opened #1317 "Remove excessive logging in `eo-maven-plugin`"
There are a lot of messages like this during EO build:
[code]
It's unnecessary to have it as warnings.
Let's move this log to DEBUG level.

[2022-10-06 12:38] MikhailLipanin commented on #1292
@Graur , this ticket equals to https://github.com/yegor256/xsline/issues/40 at Xsline, I will try to implement it

[2022-10-06 12:43] levBagryansky commented on #1313
@mximp This is the log timestamps:
[my_log.txt](https://github.com/objectionary/eo/files/9724881/my_log.txt)

[2022-10-06 12:45] Graur commented on #1292
@MikhailLipanin Sure, go ahead

[2022-10-06 14:55] #1317 closed

[2022-10-06 15:40] mximp commented on #1313
So the issue appears for dependencies with large number of classes (like in `eo-sys` which depends on JNA with 1500+ classes). In recent release we have made a change in `PlaceMojo` to fix missing classes issue for `mvn test` command. The change forces the plugin to walk through all the classes even if they were placed before (in earlier versions the plugin skipped such JARs).
The logic is governe

[2022-10-06 15:47] yegor256 commented on #1313
@mximp good idea

[2022-10-07 09:14] mximp opened #1319 "Mark unplaced files during `UnplaceMojo`"
Let's update `UnplaceMojo` so that it marks those `.class` files which were unplaced (removed). Marking should be done in `placed.csv` by setting attribute `uplaced` with the value of path to removed file. If all `.class` files for a dependency are removed then `unplaced` attribute should be set for a dependency `jar` entry as well.

[2022-10-07 09:42] mximp opened #1320 "Make `PlaceMojo` to respect 'unplaced' attributes in 'placed.csv'"
Once #1319 is implemented, `placed.csv` will contain `uplaced` attribute which mark the removed files.
During _place_ phase let's check this attribute to decide wether the file should be re-copied: if a file in `placed.csv` and there is no `unplaced` attribute set, then there is no need to copy it again.
After placing a file `unplaced` attribute should be reset to empty value.

[2022-10-07 09:43] mximp commented on #1313
Created #1319 and #1320 for placing optimisations.

[2022-10-07 09:48] mximp commented on #1319
@yegor256 any objections?

[2022-10-07 09:52] yegor256 commented on #1319
@mximp good idea

[2022-10-07 10:22] mximp commented on #1319
@OlesiaSub please assist

[2022-10-07 10:34] OlesiaSub commented on #1197
@yegor256 maybe we shall close this issue and convert corresponding pull request to draft? DDR is now paused and I don't see the reason to keep this issue opened until work on DDR is resumed.

[2022-10-07 10:49] OlesiaSub commented on #1303
@mximp it did, thanks

[2022-10-07 10:49] #1303 closed

[2022-10-07 10:52] OlesiaSub commented on #1265
@ivan-egorov42 fixes. this issue can be closed

[2022-10-07 11:35] volodya-lombrozo commented on #1200
I have the same problem with the example from the README file and version 0.28.9`.
How to reproduce:
1. Create the `app.eo` file with the next content (from `README.md`):
[code]
2. Clean the local `.eoc` folder
[code]
3. Compile and run the program:
[code]

Output:
[code]

[2022-10-07 13:37] mximp opened #1321 "`QQ` should be expanded in aliases"
In `+alias` meta we need to expand `QQ` to `org.eolang` just like we do in objects.
For example `+alias QQ.txt.sprintf` should become `+alias org.eolang.txt.sprintf`

[2022-10-07 13:37] mximp commented on #1321
@yegor256  WDT?

[2022-10-07 13:38] yegor256 commented on #1321
@mximp yes, good idea

[2022-10-07 15:12] levBagryansky opened #1322 "Unique hashcodes in parallel"
@yegor256 @mximp Now the test passes succesfully with `threads = 100` but failes when `threads = 1000`:
[code]
[code]

[2022-10-09 07:31] mximp commented on #1306
@yegor256 so we want `org.eolang` to be used only within `eo-runtime`, `eo-maven-plugin` or `eo-parser` maven modules, correct?

[2022-10-09 13:18] yegor256 commented on #1306
@mximp I believe, it would be better to add a new XSL checker into `eo-parser`, which will fail an object if it's package is `org.eolang`, but it's name doesn't belong to a "white list" of names: int, float, cage, memory, etc.

[2022-10-09 13:21] yegor256 commented on #1322
@mximp please, take a look

[2022-10-09 13:29] 0pdd opened #1326 "rust.eo:29-33: Complete implementation of this object in..."
The puzzle `1161-bdee702e` from #1161 has to be resolved:

https://github.com/objectionary/eo/blob/cd3465dfb99b6daee240c32931b87e4f60501343/eo-runtime/src/main/eo/org/eolang/rust.eo#L29-L33

The puzzle was created by rultor on 09-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2022-10-09 13:29] 0pdd opened #1327 "BinarizeMojo.java:39-42: Extract Rust code & parameters..."
The puzzle `1161-b24e6bf3` from #1161 has to be resolved:

https://github.com/objectionary/eo/blob/cd3465dfb99b6daee240c32931b87e4f60501343/eo-maven-plugin/src/main/java/org/eolang/maven/BinarizeMojo.java#L39-L42

The puzzle was created by rultor on 09-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2022-10-09 13:29] 0pdd commented on #1161
@yegor256 2 puzzles [#1326](https://github.com/objectionary/eo/issues/1326), [#1327](https://github.com/objectionary/eo/issues/1327) are still not solved.

[2022-10-09 14:30] yegor256 commented on #1327
@levBagryansky check this out

[2022-10-10 08:10] mximp commented on #1322
@levBagryansky @yegor256
Indeed there is one more concurrency flaw in the code of `Vertices.next()`:
[code]
`this.seen.size() + 1` part is not guaranteed to be executed in a thread-safe manner even for `ConcurrentHashMap` (see [specification](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ConcurrentHashMap.html#computeIfAbsent-K-java.util.function.Function-)

@yegor256 do we have a

[2022-10-10 08:30] yegor256 commented on #1322
@mximp there is no promise about numbers, they can go in any particular order

[2022-10-10 10:43] mximp commented on #1323
@yegor256 so here we have fundamental issue: there is no way to distinguish between package (or method) and object with current structure of parsing and building. It's incorporated in parser and runtime.
The limitation (or rule) may sound like this: **_we cannot reference fully qualified names of objects within EO sources unless there is `+rt` meta containing those objects_**

[2022-10-10 11:30] OlesiaSub commented on #1319
@mximp why do we need to set path to the deleted file in `unplaced` attr if the path is already available in `id` attr? Why can't I just set `unplaced` to `true` if the file was unplaced?

[2022-10-10 12:02] mximp commented on #1319
@OlesiaSub you are right.. let's populate it with `true`

[2022-10-10 12:08] mximp commented on #1265
@ivan-egorov42 please check and close

[2022-10-10 12:09] mximp commented on #1232
@kerelape any luck?

[2022-10-10 12:11] mximp commented on #1296
@levBagryansky can you please provide full sources for `EOmy_atom$EOself` and `EOmy_atom$EOprint_hash`

[2022-10-10 12:19] mximp commented on #1313
@levBagryansky upon completion of #1319 and #1320 you will be able to utilise `keepBinaries` property to make consequent runs faster. But the time of the first run will still be increased since JNA lib is large.

I guess there is nothing to do here any more. The issue can be closed.

[2022-10-10 12:47] mximp commented on #1320
@OlesiaSub please assist with this.

[2022-10-10 13:48] mximp commented on #1322
@levBagryansky fixed. can be closed.

[2022-10-10 13:56] yegor256 commented on #1322
@rultor release, tag is `0.28.10`

[2022-10-10 13:56] rultor commented on #1322
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27445-1273353222)

[2022-10-10 14:09] rultor commented on #1322
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/27445-1273353222) (took me 12min)

[2022-10-10 17:11] levBagryansky commented on #1322
@mximp thanks

[2022-10-10 17:11] #1322 closed

[2022-10-10 17:47] levBagryansky commented on #1296
@mximp sure, please check this one:
https://github.com/levBagryansky/eo/tree/my-atom
Ьore precisely sources for `EOmy_atom$EOself` and `EOmy_atom$EOprint_hash` are [here](https://github.com/levBagryansky/eo/tree/my-atom/eo-runtime/src/main/java/EOorg/EOeolang):

[2022-10-10 18:00] levBagryansky commented on #1313
@mximp can we wait for the moment when it is implemented? It would be more convinient because I would know when this issue is solved.

[2022-10-11 08:49] includealex commented on #1299
@Graur @levBagryansky I think that it works correctly. Because when we use seq, in assert-that we compare everything what is inside seq scope to the given value. That is why this program
[code]
compares the whole scope of `seq`, dataizing `stdout` which is inside. An output will be
[code]

If user wants to compare object, which is returned from the `seq`, `@` should be used. For instance, `app` gi

[2022-10-11 08:55] levBagryansky commented on #1299
@includealex Can you explain how to code this test:
[code]
?

[2022-10-11 09:00] includealex commented on #1299
@levBagryansky sure
[code]

[2022-10-11 09:08] levBagryansky commented on #1299
@includealex I don't think it is ok that
[code]
dataizes once but
[code]
May be we can edit `less-than` implementation to do this `x.@` stafff there?
Now `less-than`'s behaviour unexpecteble for users

[2022-10-11 09:25] mximp commented on #1296
@levBagryansky @yegor256 @Graur

Currently when we are retrieving attribute for an object and the attribute is not in the object itself but rather in its `φ` - then we move (i.e. change its parent) found object into current one.
So in this example:
[code]
the following mapping will be true:
`a.print-hash.ρ` = `my-atom`
`a.self.print-hash.ρ` = `self`.

Hence you see different hashes printed as `pri

[2022-10-11 10:14] includealex commented on #1299
@levBagryansky we can not edit `lt` implementation to do `x.@` staff. We have no ability to write `x.@ > y!` because attribute `ϕ` is absent.

[2022-10-11 10:14] includealex commented on #1299
@levBagryansky I think that using `stdout` in `seq` should lead to undefined number of calling `stdout` due to `seq` dataizes every time user refers to it.

[2022-10-11 10:14] mximp commented on #1321
done

[2022-10-11 10:14] #1321 closed

[2022-10-11 10:43] levBagryansky commented on #1299
There can be not just `stdout` but some important commands, that must be performed limited times.

[2022-10-11 10:46] levBagryansky commented on #1299
@includealex Does not every object have this attribute?

[2022-10-11 10:48] mximp commented on #1306
@owner-maker Please assist with this task

[2022-10-11 11:01] includealex commented on #1299
@levBagryansky  I've tried to break it. But it works correctly everywhere due to `seq` implementation. You can take a look to these [tests](https://github.com/objectionary/eo/pull/1324/files) that are working correctly.

[2022-10-11 11:58] Graur commented on #1299
@levBagryansky @includealex I think if it doesn't work for `seq` but works for everything else then it looks like a bug

[2022-10-12 15:03] mximp commented on #1209
@yegor256 completed

[2022-10-12 15:04] yegor256 commented on #1209
@mximp thanks!

[2022-10-12 15:04] #1209 closed

[2022-10-13 08:01] ivan-egorov42 commented on #1265
All is OK. Thanks!

[2022-10-13 08:01] #1265 closed

[2022-10-13 08:27] ivan-egorov42 commented on #1200
@volodya-lombrozo now this problem is being solved: objectionary/eo/issues/1323. Try to use `alias` meta and etc. for now.

[2022-10-13 08:57] levBagryansky commented on #1313
- [ ] #1319
- [ ] #1320

[2022-10-13 09:54] levBagryansky commented on #1161
@yegor256 please assign me

[2022-10-13 14:24] volodya-lombrozo commented on #1200
Yes, with `alias` it's working fine. Thank you.

[2022-10-14 03:11] yegor256 commented on #1323
@mximp let's create a new XSL, which will go through all code (before `QQ.io.stdout` gets expanded to four `<o/>` elements (`Q .org .io .stdout`) and add necessary `+alias` items to the `<head>` of XMIR. WDYT?

[2022-10-14 06:45] mximp commented on #1323
@yegor256 I guess in this case we will get exception about unused aliases. As I understand if we supply alias for an object it should be mentioned just by name within the code (not by fully qualified name). So if XSL add alias it should also leave only `stdout` part in the object itself.

[2022-10-14 07:48] mximp opened #1336 "Run OptimizeMojo in parallel threads"
Similar to #1230 let's make optimization run in parallel.

[2022-10-14 07:48] mximp commented on #1336
@yegor256 do you mind?

[2022-10-14 07:51] yegor256 commented on #1336
@mximp sure, let's do it

[2022-10-14 07:54] yegor256 commented on #1323
@mximp yes, good idea. We just strip `QQ.txt.sprintf` to `x24242` and add `+alias x24242 org.eolang.txt.sprintf`. I'm saying `x24242` to avoid collisions between aliases. Maybe there is already `sprintf`.

[2022-10-14 09:50] #1296 closed

[2022-10-14 17:27] 0pdd opened #1337 "SynchronizedTojo.java:31-34: Replace this custom {@link..."
The puzzle `1230-0c34d341` from #1230 has to be resolved:

https://github.com/objectionary/eo/blob/2fd90f407b6a33a8679a8575314d9659932d968e/eo-maven-plugin/src/main/java/org/eolang/maven/SynchronizedTojo.java#L31-L34

The puzzle was created by rultor on 14-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"d

[2022-10-14 17:27] 0pdd opened #1338 "ParseMojo.java:56-57: Make number of threads used in..."
The puzzle `1230-026e5a63` from #1230 has to be resolved:

https://github.com/objectionary/eo/blob/2fd90f407b6a33a8679a8575314d9659932d968e/eo-maven-plugin/src/main/java/org/eolang/maven/ParseMojo.java#L56-L57

The puzzle was created by rultor on 14-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2022-10-14 17:27] 0pdd commented on #1230
@yegor256 2 puzzles [#1337](https://github.com/objectionary/eo/issues/1337), [#1338](https://github.com/objectionary/eo/issues/1338) are still not solved.

[2022-10-15 14:45] 0pdd commented on #1292
The puzzle `1248-52399106` has disappeared from the source code, that's why I closed this issue.

[2022-10-15 14:45] #1292 closed

[2022-10-15 14:45] 0pdd commented on #1105
@yegor256 the puzzle [#1246](https://github.com/objectionary/eo/issues/1246) is still not solved; solved: [#1247](https://github.com/objectionary/eo/issues/1247), [#1248](https://github.com/objectionary/eo/issues/1248), [#1261](https://github.com/objectionary/eo/issues/1261), [#1292](https://github.com/objectionary/eo/issues/1292).

[2022-10-15 14:45] 0pdd commented on #1248
@0pdd the only puzzle [#1292](https://github.com/objectionary/eo/issues/1292) is solved here.

[2022-10-16 12:19] levBagryansky opened #1341 "Failed to parse ^."
@yegor256 @Graur
[code]
This test shows the error
[code]
But the same test
[code]
passes. I think there is bug in parser

[2022-10-16 14:27] yegor256 commented on #1341
@levBagryansky definitely a bug, thanks!

[2022-10-17 08:20] mximp commented on #1305
@holydrug please assist with this task.

[2022-10-17 08:36] yasamprom commented on #1246
@yegor256

[2022-10-17 10:08] mximp commented on #1338
@holydrug please assist

[2022-10-17 10:09] mximp commented on #1230
@yegor256 this can be closed.

[2022-10-17 11:14] yegor256 commented on #1230
@mximp thanks!

[2022-10-17 11:14] #1230 closed

[2022-10-17 13:41] mximp commented on #1323
@yegor256 There is a pitfall in our plan )).. There is no way we can distinguish an object reference from its attribute.
Suppose we have a reference in the source: `org.eolang.txt.super-sprintf.attr`. We cannot automatically identify what we should alias here: is `attr` an object? or `super-sprintf`?. At the moment it is solved at runtime walking though all parts  starting from `org`, `eolang`, et

[2022-10-17 13:51] holydrug commented on #1338
Should I create overloaded method to be able to pass test without parameter and create another one method with parameter?

[2022-10-17 15:21] yegor256 commented on #1323
@mximp how about this:

[code]

we turn into:

[code]

[2022-10-17 16:13] mximp commented on #1323
@yegor256 All 4 aliases will result in `unused alias` error, since we don't use any of them. They will be expanded into `org org`, `eolang org.eolang`, `io org.eolang.io`, `stdout org.eolang.io.stdout` which is never used in the code.

[2022-10-17 16:20] yegor256 commented on #1323
@mximp why can't do this:

[code]

to

[code]

[2022-10-17 16:36] yegor256 commented on #1323
@mximp how about this. We turn this code:

[code]

into this:

[code]

This `+foreign x` meta will tell `ProbeMojo` (we will create it): "please, try to find _x_ in Objectionary, if you fail, just ignore it. If you succeed, put _x_ into `foreign.csv` just like `DiscoverMojo` does."

WDYT?

[2022-10-17 17:47] OlesiaSub opened #1343 "Explanation of placed.csv usage"
We discussed it during the meeting. Would be great to have a blog post about placed.csv usage.

[2022-10-17 17:56] yegor256 commented on #1343
@mximp maybe you can help?

[2022-10-17 18:32] mximp commented on #1323
@yegor256 that might work. Let's stick with this.

[2022-10-18 14:13] mximp commented on #1246
@volodya-lombrozo please assist

[2022-10-19 09:30] volodya-lombrozo opened #1346 "Home object design"
I think (but I can be wrong there) the `org.eolang.maven.Home` object contains several design problems:
____
1. Some of the methods are declared in code, but they aren't using in other modules.

Save methods:
[code]
[code]
Load method
[code]
We can remove them without any problems.
___
2. The class itself and most of his methods declared as `public`, but we can restrict visibility to `package-priv

[2022-10-19 12:03] yegor256 commented on #1346
@volodya-lombrozo it's better to report different problems in different tickets. Try not to mix them into one. Please, split and we'll continue.

[2022-10-19 12:07] #1341 closed

[2022-10-19 12:28] 0pdd opened #1347 "OptimizeMojo.java:60-61: Make a number of threads in..."
The puzzle `1336-2df2eba5` from #1336 has to be resolved:

https://github.com/objectionary/eo/blob/4f975ace982571388678f4d918627b6d1eded428/eo-maven-plugin/src/main/java/org/eolang/maven/OptimizeMojo.java#L60-L61

The puzzle was created by rultor on 19-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2022-10-19 12:28] 0pdd opened #1348 "OptimizeMojo.java:86-89: Replace creation of new `Train`..."
The puzzle `1336-46427220` from #1336 has to be resolved:

https://github.com/objectionary/eo/blob/4f975ace982571388678f4d918627b6d1eded428/eo-maven-plugin/src/main/java/org/eolang/maven/OptimizeMojo.java#L86-L89

The puzzle was created by rultor on 19-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2022-10-19 12:28] 0pdd commented on #1336
@mximp 2 puzzles [#1347](https://github.com/objectionary/eo/issues/1347), [#1348](https://github.com/objectionary/eo/issues/1348) are still not solved.

[2022-10-19 16:38] volodya-lombrozo opened #1350 "Home object design. Unused methods"
The `org.eolang.maven.Home` object contains unused methods like:
[code]
and
[code]
We can remove them without any problems.

[2022-10-19 16:41] volodya-lombrozo opened #1351 "Home object design. Visibility modifiers."
The `org.eolang.maven.Home` object itself and most of his methods are declared as public, but we can restrict visibility to `package-private`.

[2022-10-19 16:46] volodya-lombrozo opened #1352 "Home object design. Save method design."
The `org.eolang.maven.Home` object contains several methods which have not so clear design.  Let’s take a look on `save` methods. They are static methods de facto. They don’t use inner state of the object and if we add static modifier - nothing changes.  If we assume to use exactly `Home` object, I think, the best way would be to save or to load files using relative path of the Home object itself

[2022-10-19 16:47] volodya-lombrozo commented on #1346
New issues:
1) [Home object design. Unused methods](https://github.com/objectionary/eo/issues/1350)
2) [Home object design. Visibility modifiers.](https://github.com/objectionary/eo/issues/1351)
3) [Home object design. Save method design. ](https://github.com/objectionary/eo/issues/1352)

[2022-10-19 16:47] #1346 closed

[2022-10-20 02:12] yegor256 commented on #1350
@volodya-lombrozo maybe it's better to start using them, where we use `Files.save`. This was/is the intention.

[2022-10-20 02:12] yegor256 commented on #1350
@Graur please, take care of this

[2022-10-20 02:13] yegor256 commented on #1351
@volodya-lombrozo definitely a bug. @mximp please, help

[2022-10-20 02:14] yegor256 commented on #1352
@volodya-lombrozo I agree, it's a bug. I suggest making those methods use encapsulated path for logging (for now this will be enough).

[2022-10-20 07:53] Graur commented on #1350
@includealex Please, help us here

[2022-10-20 08:48] mximp commented on #1351
@yegor256 @volodya-lombrozo I believe this issue relevant not only to `Home`: we have a number of public classes within `org.eolang.maven` used solely in it.
Need to fix all.

[2022-10-20 09:11] ivan-egorov42 opened #1353 "`!` does not avoid recall"
As it seems there is a recall of function `f` in the object `lib-obj` in this simple example:
[code]
Here is output:
[code]
As you can see program calls `f` 4 times instead of 2.
Is it OK or `!` should prevent it?

[2022-10-20 09:11] ivan-egorov42 commented on #1353
@Graur @mximp please, have a look.

[2022-10-20 09:36] #1246 closed

[2022-10-20 09:36] 0pdd commented on #1246
The puzzle `1105-4c34ccb4` has disappeared from the source code, that's why I closed this issue.

[2022-10-20 09:36] 0pdd commented on #1105
@yegor256 all 5 puzzles are solved here: [#1246](https://github.com/objectionary/eo/issues/1246), [#1247](https://github.com/objectionary/eo/issues/1247), [#1248](https://github.com/objectionary/eo/issues/1248), [#1261](https://github.com/objectionary/eo/issues/1261), [#1292](https://github.com/objectionary/eo/issues/1292).

[2022-10-20 09:38] mximp commented on #1352
@yegor256 @volodya-lombrozo I believe the idea for `Home` was to encapsulate base path and make all operations relative to that path. So the behaviour is not about logging only. All `path` arguments within methods should be considered as relative to base path.

[2022-10-20 09:40] ivan-egorov42 opened #1355 "`if` executes both blocks"
In this example of code `if` executes both blocks of code instead of one, so `seq` assignments both `a` and `b`. But I suppose there should be error instead of successful execution of the program.

Here is code:
[code]

And the output:
[code]

[2022-10-20 09:41] ivan-egorov42 commented on #1355
@Graur @mximp please, have a look.

[2022-10-20 09:49] volodya-lombrozo commented on #1352
+, it's exactly what I ment

[2022-10-20 10:11] mximp commented on #1355
@ivan-egorov42 what error do you expect here?

[2022-10-20 10:14] ivan-egorov42 commented on #1355
@mximp the `b` shouldn't be printed to console, because it shouldn't be just exist or assigned.

[2022-10-20 10:20] mximp commented on #1355
@ivan-egorov42 Attributes `a` and `b` exist regardless to dataization of previous `if`. You address attribute `a` and it can be found and equals to `5` as well as `b` can be found and evaluated to `6`.

[2022-10-20 10:41] ivan-egorov42 commented on #1355
@mximp ok, I understand it. But in any other language it leads to error. It is very unintuitive behavior.

[2022-10-20 10:53] yegor256 commented on #1352
@mximp yes, ideally this is how it should be

[2022-10-20 11:00] #1355 closed

[2022-10-20 11:54] mximp commented on #1351
@volodya-lombrozo fixed.

[2022-10-20 12:17] #1351 closed

[2022-10-20 16:29] includealex opened #1356 "Undefined behaviour with redirecting stdout."
Testing `stdout` with creating new output stream looks weird. This simple test in .java file in `eo-runtime` directory
[code]
leads to unexpected errors. If user runs `mvn clean install -Pqulice` from the root repository many times, in some cases  `message` will not be printed in captured output. And in some cases will.
That does not allow us to test what was returned in output.

[2022-10-20 16:31] includealex commented on #1356
P.S. However, the same program but fully written in java without calling EO methods works correctly.
[code]

[2022-10-20 16:40] includealex commented on #1356
@mximp @Graur can you please explain, do we have an opportunity to write test, that checks output of a eo program?

[2022-10-20 19:58] MikhailLipanin opened #1358 "need to specify "constant" in phi-calculus"
@yegor256 need to add `!` to phi-calculus in paper

[2022-10-21 09:34] volodya-lombrozo opened #1359 "Qulice check is extremely slow"
In the project we make *qulice* static analysis by using  the next command:

[code]

It’s working correctly but the execution time is quite long, on my laptop it takes around 1 minute:
[code]

In pipelines it takes around 2 minutes before we see some syntax mistakes:
[code]
[Filed pipeline example](https://github.com/objectionary/eo/actions/runs/3296150402/jobs/5435476039#step:5:1025)

The main pr

[2022-10-21 09:47] volodya-lombrozo opened #1360 "DiscoverMojo tests are absent"
I think we have to add at least some tests for `org.eolang.maven.DiscoverMojo`. It will help with unerstanding for newcomers how `DiscoverMojo` actually works. Moreover, with tests we will able to change `DiscoverMojo` design securely.

[2022-10-21 09:47] volodya-lombrozo commented on #1360
I have some tests in my local repo

[2022-10-21 10:15] mximp commented on #1359
@volodya-lombrozo For local quick checks you can run qulice plugin separately with `mvn qulice:check`

[2022-10-21 10:23] mximp commented on #1360
@volodya-lombrozo feel free to add the tests!

[2022-10-21 12:18] volodya-lombrozo commented on #1359
@mximp Thank you for suggestion! Also both commands give different results on the same branch. Using previousely mentioned maven command everything pass:
[code]

but when I'm using  `mvn qulice:check` the plugin gives me some duplicate exceptions:
[code]

I think it's because we have to use some exclusions from rom our `pom.xml`:
[code]

In order to do so we can use maven profile `-Pqulice`. In ot

[2022-10-21 12:21] volodya-lombrozo opened #1361 "Add eo-runtime dependency for all eo programs"
Issue comes from https://github.com/objectionary/eoc/issues/35

I’ve tried to run the same code in `sandbox` and using `eoc` directly:

[code]
In both cases we have the same compilation exception.
The problem remains with all EO programs where we don’t use foreign objects. For example, the next code samples will compile fine:
[code]

Or

[code]

As I mentioned above, in the first code sample we do

[2022-10-21 13:30] l3r8yJ commented on #612
@Graur did i understand correctly that I need to reproduce the code in singleline and multiline, then compare xmir and say whether the bug report is relevant or not?

[2022-10-21 13:47] Graur commented on #612
@l3r8yJ Absolutely right. But if they are different we need to fix it

[2022-10-21 13:48] l3r8yJ commented on #612
@Graur got it!

[2022-10-21 15:54] l3r8yJ commented on #612
@Graur have a look, please

Here is singleline:
[code]

Here is multiline:
[code]

in multiline we're good, but in singleline we get an error:
`The object has attribute without a name, line=5, pos=7 (noname-attributes:22)`

btw, code example were taken from pdf about eo:
![image](https://user-images.githubusercontent.com/46355873/197237850-a3cb0e17-4531-413f-9633-626671e09484.jpeg)

[2022-10-23 14:38] yegor256 commented on #1358
@MikhailLipanin implemented, thanks!

[2022-10-23 14:38] #1358 closed

[2022-10-23 21:21] #1360 closed

[2022-10-24 07:37] mximp commented on #1337
This can be implmented since https://github.com/yegor256/tojos/issues/16 is fixed.

[2022-10-24 08:37] mximp commented on #1343
@yegor256 PR is awaiting for merge: https://github.com/objectionary/news.eolang.org/pull/21

[2022-10-24 08:45] mximp commented on #1337
@volodya-lombrozo please assist

[2022-10-24 09:10] l3r8yJ commented on #612
@Graur have a look, please
Looks like
[code]
works fine, we don't need the `*` symbol before `[f]`.

also xmir is the same as multiline:
[code]

Where do I need to create an eo pdf fixing issue?

[2022-10-24 09:27] Graur commented on #612
@l3r8yJ You can find it here: https://github.com/objectionary/eo/blob/master/paper/sections/syntax.tex#L480-L506. And commit your changes just like you do it with code

[2022-10-24 11:27] l3r8yJ commented on #612
@nikololiahim have a look, please

I compared
[code]
and
[code]
here is a comparison between the correct variants
multiline:
[code]
singleline:
[code]

In comparsion, are we looking to `base` tag? If so, it looks like the same xmirs now, doesn't it?

[2022-10-24 13:04] volodya-lombrozo commented on #1337
Current issue is blocked by other [issue](https://github.com/yegor256/tojos/issues/39). We need to implement a thread safe `Mono` decorator in order to solve concurrency problem and remove `SynchronizedTojo` from `eo`.
I've just implemented the concurrency test for parsing mojo in order to prove the problem.

[2022-10-24 13:24] volodya-lombrozo opened #1366 "Common test naming rule"
I think, we have the lack of naming rule for tests. There are a lot of different tests with absolutely different namings:
[code]
[code]
[code]
[code]
[code]
and so on.
It brings some mess to the project. Moreover it's absolutely unclear which testing rule to use for new tests:

https://github.com/objectionary/eo/pull/1362#discussion_r1002730921

It's better to rewrite all tests according with the

[2022-10-24 14:12] #1063 closed

[2022-10-24 14:17] Graur commented on #934
@volodya-lombrozo Can you help us here?

[2022-10-24 15:06] yegor256 commented on #1366
@volodya-lombrozo I think it could be a pretty standalone Maven plugin: checker of test methods names using Machine Learning :) But we can start with something primitive, like checking for the presence of "s" at the end of the first word. In any case, I'm against any manual improvements of repository -- it's waste of time, since tomorrow our "cleaning" will be broken.

[2022-10-25 05:28] Graur commented on #1278
@ivan-egorov42 Sure, you are welcome to do it

[2022-10-25 08:56] mximp commented on #1338
@holydrug what's up with this?

[2022-10-25 08:57] mximp commented on #1306
@Owner-maker what's up with this?

[2022-10-25 08:57] mximp commented on #1305
@holydrug what's up with this?

[2022-10-25 08:58] mximp commented on #1174
@volodya-lombrozo please take this.

[2022-10-26 00:32] holydrug commented on #1338
@mximp It's a pity but I cannot modify Mojo to be able to pass tests

[2022-10-26 00:33] holydrug commented on #1305
@mximp I could not deal with xml

[2022-10-26 04:12] mximp commented on #1338
@holydrug Could you clarify what exactly is failing?

[2022-10-26 09:11] holydrug commented on #1338
@mximp Your question made me look into the matter. Does pull request look good? [#1338 added number of threads used in thread executor within exec() method](https://github.com/objectionary/eo/pull/1369)

[2022-10-26 13:54] MikhailLipanin commented on #1243
@Graur, Can you fix this one?
Because of this, I can't run [this](https://github.com/objectionary/dejump/blob/master/src/test/eo/org/eolang/dejump/multiple_returns.eo) test.

[2022-10-26 15:36] #1299 closed

[2022-10-26 15:36] 0pdd opened #1370 "seq-tests.eo:30-33: Implement test that will check output..."
The puzzle `1299-22a667db` from #1299 has to be resolved:

https://github.com/objectionary/eo/blob/9da4040592b22e767fced89bca2d25f06947132d/eo-runtime/src/test/eo/org/eolang/seq-tests.eo#L30-L33

The puzzle was created by @rultor on 26-Oct-22.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2022-10-26 15:36] 0pdd commented on #1299
@levBagryansky the puzzle [#1370](https://github.com/objectionary/eo/issues/1370) is still not solved.

[2022-10-27 11:05] Owner-maker commented on #1306
Hey! In progress, Was busy with work. I think I will do it within 7 days.

[2022-10-27 11:35] mximp commented on #1359
@volodya-lombrozo can this be closed?

[2022-10-27 11:38] mximp commented on #1350
@includealex please note there is quite big change for `Home` object in neighbour issue: https://github.com/objectionary/eo/pull/1367

[2022-10-27 11:42] volodya-lombrozo commented on #1359
@mximp Don't you think, that it's better to check the code before running the tests? In that case we will consume less CPU for CI runners.

[2022-10-27 11:44] mximp commented on #1187
@volodya-lombrozo please pick this up.

[2022-10-27 13:39] yegor256 commented on #1359
@volodya-lombrozo I do this: `mvn -DskipTests -Pqulice` and it skips everything until the Qulice check

[2022-10-27 14:03] mximp commented on #1359
@volodya-lombrozo I don't think we win a lot in terms of CPU on CI. Normally it should be checked locally first.

[2022-10-27 14:05] #1359 closed

[2022-10-27 17:54] ivan-egorov42 commented on #1353
Mb, it is according to #1299, but I'm not sure. The problem is still actual.

[2022-10-27 20:29] includealex commented on #1353
@ivan-egorov42 I think that it works correctly. Slight modification of your program will make your program work as you want.
[code]

[2022-10-27 20:29] includealex commented on #1353
@ivan-egorov42 Why does your program give double printage? The reason is that `seq` dataizes it's every argument. If you take a look to your code, you will find out that `seq` runs 3 steps:

1. Dataizes `acc1`, thus it prints
[code]
2. Dataizes `acc2`, prints
[code]
3. Goes to `eq` object, then it will try to find out, what do `acc1` and `acc2` are equal to. It tries to copy objects `acc1.eq` and

[2022-10-28 07:24] mximp commented on #1223
@volodya-lombrozo please pick this up

[2022-10-28 07:41] volodya-lombrozo opened #1372 "Move all Objectionary classes into a separate package"
It's better to move all `Objectionary` classes into a separate package.
For example, we can give the name `org.eolang.maven.objectionary`

[2022-10-28 07:43] volodya-lombrozo opened #1373 "Move all Footprint classes into a separate package"
It's better to move all `Footprint` classes into a separate package.
For example, we can give the name `org.eolang.maven.footprint`

[2022-10-28 08:26] 0pdd opened #1374 "CommitHash.java:30-32: It's much better to move..."
The puzzle `1174-05a7b1c3` from #1174 has to be resolved:

https://github.com/objectionary/eo/blob/a187606d59dd290fa375a4410dba6ddc0bf4a4a3/eo-maven-plugin/src/main/java/org/eolang/maven/CommitHash.java#L30-L32

The puzzle was created by volodya-lombrozo on 28-Oct-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2022-10-28 08:26] 0pdd commented on #1174
@mximp the puzzle [#1374](https://github.com/objectionary/eo/issues/1374) is still not solved.

[2022-10-28 08:35] volodya-lombrozo commented on #1374
@yegor256 I can take care of that issue

[2022-10-28 08:57] mximp commented on #1343
@OlesiaSub please check https://news.eolang.org/2022-10-19-placed-catalog.html

[2022-10-31 08:14] 0pdd opened #1376 "Home.java:47-48: Prohibit absolute paths in methods..."
The puzzle `1352-39528ceb` from #1352 has to be resolved:

https://github.com/objectionary/eo/blob/09faccc4fba201855269a0b61108053e460c21f3/eo-maven-plugin/src/main/java/org/eolang/maven/Home.java#L47-L48

The puzzle was created by rultor on 31-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2022-10-31 08:14] 0pdd opened #1377 "Home.java:161-166: Make `rel` method strictly relative to..."
The puzzle `1352-7c5eb2d2` from #1352 has to be resolved:

https://github.com/objectionary/eo/blob/09faccc4fba201855269a0b61108053e460c21f3/eo-maven-plugin/src/main/java/org/eolang/maven/Home.java#L161-L166

The puzzle was created by rultor on 31-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-10-31 08:14] 0pdd opened #1378 "Home.java:208-210: Move utility `clean` method out of..."
The puzzle `1352-5ea27325` from #1352 has to be resolved:

https://github.com/objectionary/eo/blob/09faccc4fba201855269a0b61108053e460c21f3/eo-maven-plugin/src/main/java/org/eolang/maven/Home.java#L208-L210

The puzzle was created by rultor on 31-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-10-31 08:14] 0pdd commented on #1352
@volodya-lombrozo 3 puzzles [#1376](https://github.com/objectionary/eo/issues/1376), [#1377](https://github.com/objectionary/eo/issues/1377), [#1378](https://github.com/objectionary/eo/issues/1378) are still not solved.

[2022-10-31 09:06] #934 closed

[2022-10-31 09:23] volodya-lombrozo opened #1380 "Garbage folders after tests"
1) I run: `mvn clean package`
2) All tests pass, but after I get two strange folders in working dir:
[code]
3) Expected: After tests we shouldn't leave garbage, especially in the working dir.

[2022-10-31 11:04] 0pdd opened #1381 "PullMojo.java:59-61: The wrong naming. It isn't a `hash`..."
The puzzle `1174-f084259e` from #1174 has to be resolved:

https://github.com/objectionary/eo/blob/52bb5123dd287d7aa917e5d9bd9755a383226a0b/eo-maven-plugin/src/main/java/org/eolang/maven/PullMojo.java#L59-L61

The puzzle was created by volodya-lombrozo on 31-Oct-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2022-10-31 11:04] 0pdd opened #1382 "ChRemote.java:101-103: The code duplication with ChText...."
The puzzle `1174-32383060` from #1174 has to be resolved:

https://github.com/objectionary/eo/blob/52bb5123dd287d7aa917e5d9bd9755a383226a0b/eo-maven-plugin/src/main/java/org/eolang/maven/ChRemote.java#L101-L103

The puzzle was created by volodya-lombrozo on 31-Oct-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2022-10-31 11:04] 0pdd commented on #1174
@mximp 3 puzzles [#1374](https://github.com/objectionary/eo/issues/1374), [#1381](https://github.com/objectionary/eo/issues/1381), [#1382](https://github.com/objectionary/eo/issues/1382) are still not solved.

[2022-10-31 11:10] mximp commented on #1352
@volodya-lombrozo this can be closed

[2022-10-31 11:26] #1352 closed

[2022-10-31 12:38] volodya-lombrozo opened #1383 "EOsimilar_strings_generate_similar_hashesTest.testWorks -> StackOverflow"
I've faced with the next exception during packaging `eo-maven-plugin`:
[code]
The problem happens not often. In other words, it's a _flushing_ test that happened several times on my own laptop and once during CI Pipeline: [here is it](https://github.com/objectionary/eo/actions/runs/3360717185/jobs/5570249481#step:5:3695).
To reproduce just run `mvn clean install` several times.
The full exception

[2022-10-31 14:12] yegor256 commented on #1383
@volodya-lombrozo we need to increase stack size for surefire plugin, similar to how we did it here: https://github.com/objectionary/eoc/pull/89

[2022-11-01 07:45] mximp commented on #1376
@cosmincalinescu91 please assist with this.

[2022-11-01 11:05] #1361 closed

[2022-11-01 11:05] 0pdd opened #1385 "DcsNoOneHasTransitive.java:39-40: The class without..."
The puzzle `1361-d1d958c1` from #1361 has to be resolved:

https://github.com/objectionary/eo/blob/a2a898de2060e5db1225594bd892886870e8250d/eo-maven-plugin/src/main/java/org/eolang/maven/DcsNoOneHasTransitive.java#L39-L40

The puzzle was created by rultor on 01-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2022-11-01 11:05] 0pdd opened #1386 "DcsWithRuntime.java:34-38: Hardcoded version of..."
The puzzle `1361-2e51fcf2` from #1361 has to be resolved:

https://github.com/objectionary/eo/blob/a2a898de2060e5db1225594bd892886870e8250d/eo-maven-plugin/src/main/java/org/eolang/maven/DcsWithRuntime.java#L34-L38

The puzzle was created by rultor on 01-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2022-11-01 11:05] 0pdd commented on #1361
@volodya-lombrozo 2 puzzles [#1385](https://github.com/objectionary/eo/issues/1385), [#1386](https://github.com/objectionary/eo/issues/1386) are still not solved.

[2022-11-01 11:48] Graur commented on #1380
@volodya-lombrozo Can you handle this?

[2022-11-01 12:09] 0pdd opened #1387 "ChPattern.java:34-38: Add implementation for {@link..."
The puzzle `1174-ff288657` from #1174 has to be resolved:

https://github.com/objectionary/eo/blob/bb5522f10fbacf5ad91333fd2ccd0195907514ef/eo-maven-plugin/src/main/java/org/eolang/maven/ChPattern.java#L34-L38

The puzzle was created by rultor on 01-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2022-11-01 14:53] #1255 closed

[2022-11-01 15:05] #1380 closed

[2022-11-01 15:15] #1387 closed

[2022-11-01 15:15] 0pdd commented on #1387
The puzzle `1174-ff288657` has disappeared from the source code, that's why I closed this issue.

[2022-11-01 15:15] 0pdd commented on #1174
@mximp 3 puzzles [#1374](https://github.com/objectionary/eo/issues/1374), [#1381](https://github.com/objectionary/eo/issues/1381), [#1382](https://github.com/objectionary/eo/issues/1382) are still not solved; solved: [#1387](https://github.com/objectionary/eo/issues/1387).

[2022-11-01 15:19] levBagryansky commented on #1161
@yegor256 are eo objects supposed to be used inside `rust` object via universe? So we need to create `universe` on rust at some stage.

[2022-11-02 08:44] mximp commented on #1343
@OlesiaSub reminder

[2022-11-02 08:48] mximp commented on #1305
@holydrug check https://www.w3schools.com/xml/default.asp

[2022-11-02 08:54] mximp commented on #1320
@OlesiaSub what's up with this task?

[2022-11-02 09:34] OlesiaSub commented on #1343
@mximp great, thanks!
will this blogpost be put to the javadoc on PlacedMojo as we discussed during the meeting?

[2022-11-02 13:14] mximp commented on #1343
@OlesiaSub added

[2022-11-02 14:59] 0pdd opened #1395 "AssembleMojo.java:43-47: Create `ProbeMojo` and include..."
The puzzle `1323-f376339c` from #1323 has to be resolved:

https://github.com/objectionary/eo/blob/f11eeabb70c9373128ec0d9b932b5b5564cfdca9/eo-maven-plugin/src/main/java/org/eolang/maven/AssembleMojo.java#L43-L47

The puzzle was created by rultor on 02-Nov-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2022-11-02 14:59] 0pdd commented on #1323
@MikhailLipanin the puzzle [#1395](https://github.com/objectionary/eo/issues/1395) is still not solved.

[2022-11-02 15:26] mximp commented on #1395
@MikhailLipanin can you please assist with this puzzle.

[2022-11-02 15:48] MikhailLipanin commented on #1395
@mximp Okay, I will try

[2022-11-02 15:50] ivan-egorov42 opened #1396 "eo-maven-plugin testing"
How does testing actually work? If I'm not mistaken when I run `mvn clean test` it executes the next stages: `register`, `assemble` and `transpile`. After that generated sources are executing by `java`, so I'm interested what part(classes) of `eo-maven-plugin` are responsible for this execution because I can't find it in a source code.

[2022-11-02 15:58] volodya-lombrozo commented on #1383
@yegor256 again https://github.com/objectionary/eo/actions/runs/3379047008/jobs/5610088030

[2022-11-02 16:06] #1382 closed

[2022-11-02 16:06] 0pdd opened #1397 "ChRemote.java:37-40: We definitely have to split {@link..."
The puzzle `1382-5825e083` from #1382 has to be resolved:

https://github.com/objectionary/eo/blob/06eae1d8dc3b3fdda11427e2077c34a3c4170fa2/eo-maven-plugin/src/main/java/org/eolang/maven/ChRemote.java#L37-L40

The puzzle was created by rultor on 02-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-11-02 16:06] 0pdd commented on #1174
@mximp 3 puzzles [#1374](https://github.com/objectionary/eo/issues/1374), [#1381](https://github.com/objectionary/eo/issues/1381), [#1397](https://github.com/objectionary/eo/issues/1397) are still not solved; solved: [#1382](https://github.com/objectionary/eo/issues/1382), [#1387](https://github.com/objectionary/eo/issues/1387).

[2022-11-02 16:06] 0pdd commented on #1382
@0pdd the puzzle [#1397](https://github.com/objectionary/eo/issues/1397) is still not solved.

[2022-11-02 16:07] volodya-lombrozo commented on #1397
I can solve it

[2022-11-02 17:19] yegor256 commented on #1397
@volodya-lombrozo go ahead

[2022-11-03 08:04] mximp commented on #1396
@ivan-egorov42 Tests are triggered by Maven Surefire Plugin. It configured within POM file. The plugin runs Junit 5 tests (which are methods marked with `@Test` annotation).

[2022-11-03 09:14] c71n93 opened #1398 "Comments parsing rules"
I found some problems with parsing comments in EO.

According to syntax, any comment on a new line should be recognized: **comment := '#' {`ANY`} `EOL`**

But in the fact, it doesn't work so. Here is example:
[code]

Comments depends on indent, due to nested structure of EO I guess. Also comments can be written only above abstraction.

[2022-11-03 09:26] mximp commented on #1398
@c71n93 according to [grammar definition](https://github.com/objectionary/eo/blob/master/eo-parser/src/main/antlr4/org/eolang/parser/Program.g4) comments cannot be put in a random place. It can be put as part of a license or before an object. And surely it must comply with indentation of an object.

[2022-11-03 09:58] ivan-egorov42 opened #1399 "Updating ReadMe"
I suppose it would be better to update [ReadMe](https://github.com/objectionary/eo/tree/master/eo-maven-plugin) in eo-maven-plugin.

[2022-11-03 12:09] mximp commented on #1205
@yegor256 what do you call _'all visible "paths" from all <o> in XMIR to the object foo.@'_? Does it mean that can be reached (called) during execution of a program?
What if `foo` is used in another XMIR?

[2022-11-03 12:30] MikhailLipanin opened #1404 "Weak check for TimeOut delay in `ChRemoteTest`"
[Here](https://github.com/objectionary/eo/blob/master/eo-maven-plugin/src/test/java/org/eolang/maven/ChRemoteTest.java#L43-L52)
there is a check before each Test, which depends on a constant `isReachable(1000)`.
But on two computers there is 2 different ways of executing it:
- on first computer (Mac) all test skips due to this check
- on second computer (Windows) each test starts executing, which

[2022-11-03 12:31] #1377 closed

[2022-11-03 12:32] 0pdd commented on #1352
@volodya-lombrozo 2 puzzles [#1376](https://github.com/objectionary/eo/issues/1376), [#1378](https://github.com/objectionary/eo/issues/1378) are still not solved; solved: [#1377](https://github.com/objectionary/eo/issues/1377).

[2022-11-03 13:14] c71n93 commented on #1398
@mximp I checked [grammar definition](https://github.com/objectionary/eo/blob/master/eo-parser/src/main/antlr4/org/eolang/parser/Program.g4). If I'm parse files only using this grammar, it allows me to write comments like this:
[code]

So I can write comments above any object and this comments are not sensitive to indents, as stated [here](https://github.com/objectionary/eo/blob/ec0c301594dc187b2a

[2022-11-03 13:53] c71n93 commented on #1398
@mximp Also I don't understand how to build [parser](https://github.com/objectionary/eo/tree/master/eo-parser). When I cloned this repo, I found out that there are unresolved dependencies associated with the absence of generated Java files with parser. After I generated parser and put it [here](https://github.com/objectionary/eo/tree/master/eo-parser/src/main/java/org/eolang/parser), dependencies

[2022-11-03 14:00] mximp commented on #1398
@c71n93 once repo is cloned you can generate everything needed by running Maven from parent module:
[code]
It will generate all relevant files.
I can see that eo-sandbox uses quite old EO version. Please submit an issue there to upgrade EO. Also you can try locally with recent version (update POM):
[code]

[2022-11-03 14:09] ivan-egorov42 commented on #1396
@mximp thanks

[2022-11-03 14:09] #1396 closed

[2022-11-03 14:16] ivan-egorov42 commented on #1353
@includealex thanks!)

[2022-11-03 14:16] #1353 closed

[2022-11-03 14:18] mximp opened #1406 "Incorrect probes added by `add-probes.xsl`"
If the following object is defined:
[code]
then probe is added incorrectly:
[code]
Expected:
[code]

[2022-11-03 15:26] mximp commented on #1348
[#185](https://github.com/jcabi/jcabi-xml/issues/185) is closed.
This can be proceeded.

[2022-11-03 15:27] #1406 closed

[2022-11-06 11:10] yegor256 opened #1410 "static methods/attributes in JUnit tests are evil"
We have them in a few places, it's bad

[2022-11-06 12:16] #1385 closed

[2022-11-07 08:01] #1397 closed

[2022-11-07 08:01] 0pdd commented on #1381
The puzzle `1174-f084259e` has disappeared from the source code, that's why I closed this issue.

[2022-11-07 08:01] #1381 closed

[2022-11-07 08:01] 0pdd opened #1412 "PullMojo.java:58-61: The wrong naming. It isn't a `hash`..."
The puzzle `1174-40589514` from #1174 has to be resolved:

https://github.com/objectionary/eo/blob/9ad0ce8c779a4d20b9f250800d8ffac211aa6a06/eo-maven-plugin/src/main/java/org/eolang/maven/PullMojo.java#L58-L61

The puzzle was created by rultor on 07-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-11-07 08:01] 0pdd commented on #1174
@mximp 2 puzzles [#1374](https://github.com/objectionary/eo/issues/1374), [#1412](https://github.com/objectionary/eo/issues/1412) are still not solved; solved: [#1381](https://github.com/objectionary/eo/issues/1381), [#1382](https://github.com/objectionary/eo/issues/1382), [#1387](https://github.com/objectionary/eo/issues/1387), [#1397](https://github.com/objectionary/eo/issues/1397).

[2022-11-07 08:01] 0pdd commented on #1382
@0pdd the only puzzle [#1397](https://github.com/objectionary/eo/issues/1397) is solved here.

[2022-11-07 09:16] volodya-lombrozo commented on #1383
https://github.com/objectionary/eo/actions/runs/3408728269/jobs/5669649433

[2022-11-07 09:37] #1412 closed

[2022-11-07 09:37] 0pdd commented on #1174
@mximp the puzzle [#1374](https://github.com/objectionary/eo/issues/1374) is still not solved; solved: [#1381](https://github.com/objectionary/eo/issues/1381), [#1382](https://github.com/objectionary/eo/issues/1382), [#1387](https://github.com/objectionary/eo/issues/1387), [#1397](https://github.com/objectionary/eo/issues/1397), [#1412](https://github.com/objectionary/eo/issues/1412).

[2022-11-07 09:59] MikhailLipanin commented on #1404
#1411 fixes this

[2022-11-07 09:59] #1404 closed

[2022-11-07 13:06] mximp opened #1415 "Java source are recompiled on every successive build"
Currently if we create clean build (with `mvn clean install -Pqulice --errors --batch-mode`) and then run test build (with `mvn test -pl :eo-runtime`) Maven compiler still detects changes and perform Java compilation:
[code]
Whereas expectation if nothing is change compilation doesn't happen.
It needs to be identified why java sources are recompiled and fix this.

[2022-11-07 14:51] #1338 closed

[2022-11-07 20:29] volodya-lombrozo commented on #1383
@yegor256 we have to set `-Xss` param for CI pipelines to decrease the number of failed checks

[2022-11-08 06:38] volodya-lombrozo opened #1417 "Test API for calling `Mojos`"
We are using the next test code almost in all tests that are somehow connected with `Mojos`:
[code]

or
[code]
In some test cases we even have already started to extract methods with that code, see `discover()` method above. When I write a new test, I quite often just copy that mess, add one more `new Moja` and continue (in most cases I even don't care about params for mojos). The problem with tha

[2022-11-08 06:48] volodya-lombrozo opened #1418 "The same static fields `ATTR_HASH`"
We have two identical fields in two separate classes:
`PlaceMojo.java`:
[code]
and
`AssembleMojo.java`:
[code]

They both are using in different scenarios. Is there any intention in such a division?

[2022-11-08 07:07] volodya-lombrozo opened #1419 "`OyRemote` test absent"
The test for `OyRemote` class absents. It's hard to understand how it works.

[2022-11-08 07:45] volodya-lombrozo opened #1420 "`Footprint` design. `load()` method is redundant"
The `Footprint` interface has the next declaration:
[code]
If you take a look closely, the method `load()` is used only in the class `FtCached` (that is an implementation of `Footprint`). It means we can remove method `load()` from `Footprint` class at all.

[2022-11-08 08:20] mximp commented on #1420
@volodya-lombrozo That's correct: at the moment `Footprint.load()` isn't used from client code. But that's because EO programs' files are accessed via paths directly in different build phases (e.g. `OptimizeMojo`).  The only place we are using `Footprint` now is `ParseMojo`.
The idea of `Footprint` is to provide abstraction for EO program files content. For that we need both `save` and `load` meth

[2022-11-08 08:34] volodya-lombrozo commented on #1420
@mximp what about `Home` class then? It's an abstraction for EO program files content too.

[2022-11-08 08:35] yegor256 commented on #1418
@volodya-lombrozo they are for different `.csv` files. I think it's worth adding an explanation.

[2022-11-08 08:37] yegor256 commented on #1417
@volodya-lombrozo I totally agree, but what would such an API look like?

[2022-11-08 08:47] volodya-lombrozo commented on #1419
@mximp I see several options here:
1) Mock the connection somehow
2) Make a real http request, but disable test if URL isn't available

Extending JavaDoc can be a good addition.  During reading the code I was interested in URL that we compile in that code:
[code]
Also it's hard to understand from the code - what is the `name` and it's possible values.

[2022-11-08 11:38] #1386 closed

[2022-11-08 11:39] 0pdd commented on #1361
@volodya-lombrozo the puzzle [#1385](https://github.com/objectionary/eo/issues/1385) is still not solved; solved: [#1386](https://github.com/objectionary/eo/issues/1386).

[2022-11-08 12:55] IngeniariusSoftware opened #1423 "add option `timeout` file compilation in pom.xml"
The idea is that files for which the limit was exceeded fell with a timeout exception instead of an infinite wait. Something like this setting, name, time units and log message of course at your choice.

`pom.xml:`
[code]

It is important that when the `failOnError=false`, compilation is skipped with `warning` for a specific file, and the rest continue to compile. Output log example:

[code]

[2022-11-08 12:56] IngeniariusSoftware commented on #1423
@yegor256, done

[2022-11-08 13:04] mximp commented on #1420
@volodya-lombrozo Not exactly. `Home` doesn't imply any specific content of files. Its key feature is fixed base path and then you can operate with files relative to that path.
On the other hand `Footprint` encapsulates EO program specifically. It forms paths based on program name. Moreover `Footprint` can operate on several files (e.g. cached implementation) simultaneously. I would say that `Foot

[2022-11-08 14:06] mximp commented on #1418
@volodya-lombrozo done, please close

[2022-11-08 14:07] volodya-lombrozo commented on #1420
Why then it has a name `Footprint` instead of `EoProgram`? `Footprint` is a quite confusing naming, as for me.

[2022-11-08 14:08] EugeneDar opened #1424 "Release eo"
The size of the stack has increased significantly, I want to be able to use this in third-party libraries, for this we need to make a release.

[2022-11-08 14:11] #1418 closed

[2022-11-08 14:11] EugeneDar commented on #1424
@yegor256 can you please help

[2022-11-08 14:55] volodya-lombrozo commented on #1420
@mximp your words make it clear. Thank you. Maybe we can put them into `JavaDoc`, what do you think?
As for `load()` method - we might use it or delete, because for now it's looks like overdesign.

[2022-11-08 18:08] yegor256 commented on #1424
@EugeneDar I don't think a new release will help you. You will still need to configure larger stack in your libs.

[2022-11-08 19:21] #1424 closed

[2022-11-09 08:21] volodya-lombrozo opened #1426 "global cache is not used by all Mojos, that's why slow compilation"
The code in attachments compiles around ~50min. It's important to understand where we have a bottleneck and why the compilation process takes so long time. Code:
[stress_eo_example.zip](https://github.com/objectionary/eo/files/9968863/stress_eo_example.zip)

The approximate number of `xmir` and `java` files:
[code]
Profiling results of compilation:
1) for first 10 minutes: [eo_stress_on_cpu.html.z

[2022-11-09 08:32] mximp commented on #1420
@volodya-lombrozo Currently javadoc says: "Program footprint of EO compilation process". It's a pure rephrase of what I said above.
I believe the confusion is in the meaning of word `footprint` which is not used quite often in everyday speech by non-natives. [Cambridge dictionary](https://dictionary.cambridge.org/dictionary/english/footprint) suggests good definition of it: _a measurement of the s

[2022-11-09 09:02] mximp commented on #1426
@volodya-lombrozo do you also have build log for 40 minutes compilation?

[2022-11-09 09:06] volodya-lombrozo commented on #1417
@yegor256

![TestAPI](https://user-images.githubusercontent.com/51804353/200784749-63a54bb8-9704-4fac-88e9-863cdd325089.png)
![image](https://user-images.githubusercontent.com/51804353/200784892-bd9e5ea7-cb99-40d3-a2a7-c56a490ec3d9.png)

It's just a sketch. But the Idea is to create an Object-Oriented API for each compilation step, then our tests will look like:
[code]
instead of:
[code]

In const

[2022-11-09 09:12] volodya-lombrozo commented on #1426
@mximp Yes. Here is it:
[long_compilation.log](https://github.com/objectionary/eo/files/9969321/long_compilation.log)
Also I wanted to notice that the next step spent most of time during transpilation step, from the logs:
[code]

[2022-11-09 09:14] mximp commented on #1426
@volodya-lombrozo There is compilation error within the log you've attached. Is there a successful build?

[2022-11-09 09:19] volodya-lombrozo commented on #1426
@mximp No, I don have it and I haven't tried anymore - it takes a lot of time.

[2022-11-09 09:39] mximp commented on #1417
@volodya-lombrozo We also need flexibility of choosing what mojos are executed. Ideally we want some kind of DSL which allows to specify steps (mojos) and their configurations.
In your example how would I provide a specific file for a property?

[2022-11-09 09:41] mximp commented on #1417
I believe some sort of predefined test configurations of steps might help here. It can use naming conventions for paths and file names to supply input and check output

[2022-11-09 09:42] mximp commented on #1426
@volodya-lombrozo Do I get it right you didn't manage to get the example to build successfully?

[2022-11-09 09:43] volodya-lombrozo commented on #1426
@mximp Yes

[2022-11-09 09:44] mximp commented on #1426
I also wonder if we can add timestamps into the logs.. It would allow get performance statistics by analysing the log.

[2022-11-09 09:48] volodya-lombrozo commented on #1426
@mximp It would be perfect. Actually we can use a lot of tools and approaches to investigate the problem more detailed. I can do it, if you will assign the issue to me :)

[2022-11-09 10:10] yegor256 commented on #1426
@mximp @volodya-lombrozo I suggest to finish the implementation of parallelism in `OptimizeMojo`  and `TranspileMojo`. After that, continue with this task.

[2022-11-09 10:20] volodya-lombrozo commented on #1417
@mximp

In your example how would I provide a specific file for a property?

We have OOP way to specify steps and their configurations, DSL - it's too much, as for me :)
[code]

[2022-11-09 10:24] volodya-lombrozo commented on #1417
@mximp

It's a dark magic which is hard to read and configure. But it's only my personal opinion. I can be wrong.

[2022-11-09 11:24] mximp opened #1428 "Add timestamps to EO build log (eo-maven-plugin)"
Let's add timestamps so that the log entries contain timestamps:
[code]

[2022-11-09 11:25] mximp commented on #1428
@volodya-lombrozo please assist

[2022-11-09 11:53] mximp commented on #1417
@volodya-lombrozo you still have to specify all properties. Also it's not clear how to convert  string `/tmp/test` to a `Path` object which is expected by `AssembleMojo.cache`.
In the end it will look mostly like what we have now.

[2022-11-09 12:18] volodya-lombrozo commented on #1417
Not really, In most cases we will use simple constructors without params (default properties will be set in each class inside constructors as `default presets`). As for different _types_ of properties - I don't think it's a problem, we can use maps or a separate class for settings, it's more a matter of technique :)

[2022-11-09 12:27] 0pdd commented on #1352
@volodya-lombrozo the puzzle [#1376](https://github.com/objectionary/eo/issues/1376) is still not solved; solved: [#1377](https://github.com/objectionary/eo/issues/1377), [#1378](https://github.com/objectionary/eo/issues/1378).

[2022-11-09 12:28] yegor256 commented on #1417
@mximp @volodya-lombrozo how about rewriting this test:

[code]

as such:

[code]

[2022-11-09 12:37] 0pdd opened #1431 "OptimizeMojoTest.java:140-143: Implement caching for..."
The puzzle `1223-c08eee6b` from #1223 has to be resolved:

https://github.com/objectionary/eo/blob/f3a875d7b385081c926978d98ab1ee23d3117910/eo-maven-plugin/src/test/java/org/eolang/maven/OptimizeMojoTest.java#L140-L143

The puzzle was created by rultor on 09-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2022-11-09 12:37] 0pdd commented on #1223
@yegor256 the puzzle [#1431](https://github.com/objectionary/eo/issues/1431) is still not solved.

[2022-11-09 12:47] volodya-lombrozo commented on #1417
@yegor256 as for me, that code doesn't solve the original problem:
1. It isn't an OOP approach :)
2. The complexity is still here (you can even visually compare they between each other):
2.1. Mess of parameters (of which I need only 1-2) for any test case.  I more than sure, that people will just copy that mess between tests (at least I will do).
2.2. The class `FakeMaven` or its interface is goin

[2022-11-09 12:52] yegor256 commented on #1417
@volodya-lombrozo well... 2.2) we can have defaults, 2.3) this is fake-test class, it's OK to make it large, I believe, 3) let's do this instead:

[code]

[2022-11-09 13:02] #1374 closed

[2022-11-09 13:03] 0pdd commented on #1174
@mximp all 6 puzzles are solved here: [#1374](https://github.com/objectionary/eo/issues/1374), [#1381](https://github.com/objectionary/eo/issues/1381), [#1382](https://github.com/objectionary/eo/issues/1382), [#1387](https://github.com/objectionary/eo/issues/1387), [#1397](https://github.com/objectionary/eo/issues/1397), [#1412](https://github.com/objectionary/eo/issues/1412).

[2022-11-09 13:04] volodya-lombrozo commented on #1174
@mximp we can close it

[2022-11-09 13:27] yegor256 commented on #1417
@volodya-lombrozo you are not wrong, but I don't see a mess. In most cases our code will look like this:

[code]

I don't see a mess. Keep in mind, _most_ `.with()` calls won't be needed, since we'll have defaults inside `FakeMaven`.

[2022-11-09 14:21] volodya-lombrozo commented on #1417
@yegor256 let's try. But I have one more question - can we create an objects abstractions for eo programs? In other words instead of that:
[code]
can we use something like:
[code]
 It:
1. increases readability (as for me)
2. decreases indents and lines of code
3. we can reuse such classes in a lot of other places, because, again, in most cases it isn't important to see the eo code, it's important

[2022-11-09 14:47] #1174 closed

[2022-11-09 15:06] volodya-lombrozo commented on #1431
@yegor256 assign to me, please

[2022-11-09 20:27] volodya-lombrozo commented on #1366
@yegor256 we can use the [test-naming-conventions](https://github.com/volodya-lombrozo/test-naming-conventions) plugin (I'm an author).
In order to check how it works, you can just to run the next command under the `eo/eo-maven-plugin` folder (! exactly that path, because I haven't implemented a support of maven modules yet):
[code]

[2022-11-09 21:27] maxonfjvipon opened #1433 "object `try` can't work with objects that don't decorate anything"
This test:
[code]

fails with:
Errors: [ERROR]  EOtry_infTest.testWorks:64->PhDefault.attr:256->PhDefault.attr:256->PhDefault.attr:256->PhDefault.attr:255 » Ex EOorg.EOeolang.EOstringν183="The object is at the line 68, position 8; caused by Error at "description-of.σ" attribute; caused by Error at "equal-to.x" attribute; caused by The object is at the line 158, position 15; caused by ExUnset: Erro

[2022-11-10 03:03] yegor256 commented on #1366
@volodya-lombrozo great, let's use it! can you add your plugin to our `pom.xml` and submit a PR?

[2022-11-10 07:40] dours opened #1434 "Cannot compile a file with a name starting with "." on ubuntu 20"
For example, trying to `mvn clean test` a file called `.empty.eo` with contents
[code]
leads to
`Failed while trying to save to /empty.xmir: /empty.xmir (Permission denied)`

[2022-11-10 08:07] mximp commented on #1366
@volodya-lombrozo @yegor256 Maybe we can think of writing Checkstyle check for this rule? I believe it's good to have all code style checks to be driven by Quilice. So `test-nameing-conventions` could be something more generic which provides new extension points for Checkstyle, PMD, etc. and we integrate it via Qulice configuration.

[2022-11-10 08:15] mximp commented on #1434
@dours '.' (dot) has special meaning and there is logic within EO build process which manipulates source files names.
Is there a particular reason to use dot in sources' name?

[2022-11-10 08:42] yegor256 commented on #1434
@dours I believe, a similar error would happen if you try to use `javac` with a file named this way

[2022-11-10 09:34] levBagryansky commented on #796
@mximp maybe it would be better to leave a link to the [post](https://www.yegor256.com/2021/10/21/objectionary.html#place-) to avoid repeating?

[2022-11-10 10:24] EugeneDar commented on #1278
@ivan-egorov42 thanks

[2022-11-10 10:24] #1278 closed

[2022-11-10 11:45] mximp commented on #796
@levBagryansky The post explains what the phases are but doesn't specify exact input and output. I believe some addition is required. I've tried to accumulate the info here as another blog post: https://github.com/mximp/news.eolang.org/commit/cc01abcc9a81143de3156d353aacd11db6bdce05.
But the format is not very readable. Maybe you could think of another representation.

[2022-11-10 12:34] #1399 closed

[2022-11-10 14:09] mximp commented on #1419
@volodya-lombrozo done!

[2022-11-10 14:26] #1419 closed

[2022-11-10 15:31] MikhailLipanin commented on #1024
this one done,
@yegor256 I think it can be closed

[2022-11-10 15:34] yegor256 commented on #1024
@rultor release, tag is `0.28.11`

[2022-11-10 15:41] rultor commented on #1024
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/28393-1310472258)

[2022-11-10 15:56] rultor commented on #1024
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/28393-1310472258) (took me 14min)

[2022-11-10 16:14] yegor256 commented on #1024
@IngeniariusSoftware try version 0.28.11 please

[2022-11-10 17:29] IngeniariusSoftware commented on #1024
@yegor256, I tried, but got the same build failure result. Does it really have to be a critical error that stops the pipeline?

[code]

[2022-11-10 17:34] IngeniariusSoftware commented on #1073
@yegor256, on version 0.28.11 the pipeline is also falling due to a large number, although previously there was only a warning.

[code]

[2022-11-10 19:36] MikhailLipanin commented on #1024
@IngeniariusSoftware Can you please explain more clear, what exactly is the problem?
It is failing, since there are some XSL-checks in `eo-maven-plugin`.

And can you say, what result is expected instead of the current one?

[2022-11-10 19:37] MikhailLipanin commented on #1024
Now, `critical error` stops pipeline in `eo-maven-plugin`.
"Stops Pipeline" means terminating execution of `ParsingTrain.java` --- List of XSL transformations.

[2022-11-10 19:38] MikhailLipanin commented on #1024
It will not stop the outer build, but just throw an exception if there is a `critical-error`

[2022-11-10 20:23] volodya-lombrozo opened #1437 "All builds fail because new version `0.28.11`"
@yegor256 we have the problem with all GitHub actions, because new `0.28.11` version broke one unit test.

[2022-11-10 22:55] MikhailLipanin commented on #1073
@IngeniariusSoftware I think `java.lang.NumberFormatException` is not error of EO, but of Java.
Pipeline has been failed as was expected.
What you think should be expected insead of?

[2022-11-11 04:11] #1437 closed

[2022-11-11 06:32] volodya-lombrozo opened #1441 "The problem with tests during releasing a new plugin version"
We have faced with the problem during releasing new `0.28.11` version of the plugin. It's important to implement a stable solution in order to prevent the same errors in the future.
[The problem](https://github.com/objectionary/eo/issues/1437).
[Fast fix](https://github.com/objectionary/eo/pull/1438).

[2022-11-11 07:56] Graur commented on #1073
@MikhailLipanin As I understand this issue, `failOnError` flag should swallow all exceptions to avoid build fail

[2022-11-11 09:06] yegor256 commented on #1441
@volodya-lombrozo let's make a proper fix, to avoid this in the future

[2022-11-11 09:29] #1431 closed

[2022-11-11 09:30] 0pdd opened #1442 "OptCached.java:40-43: Unit test are required. We have to..."
The puzzle `1431-4de3d363` from #1431 has to be resolved:

https://github.com/objectionary/eo/blob/1d30f508c22c72d6b4fc0ef1a13c6c3abf97eaf9/eo-maven-plugin/src/main/java/org/eolang/maven/optimization/OptCached.java#L40-L43

The puzzle was created by rultor on 11-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2022-11-11 09:30] 0pdd opened #1443 "OptimizeMojo.java:278-280: move that method..."
The puzzle `1431-d4218ffb` from #1431 has to be resolved:

https://github.com/objectionary/eo/blob/1d30f508c22c72d6b4fc0ef1a13c6c3abf97eaf9/eo-maven-plugin/src/main/java/org/eolang/maven/OptimizeMojo.java#L278-L280

The puzzle was created by rultor on 11-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2022-11-11 09:30] 0pdd commented on #1223
@yegor256 2 puzzles [#1442](https://github.com/objectionary/eo/issues/1442), [#1443](https://github.com/objectionary/eo/issues/1443) are still not solved; solved: [#1431](https://github.com/objectionary/eo/issues/1431).

[2022-11-11 09:30] 0pdd commented on #1431
@0pdd 2 puzzles [#1442](https://github.com/objectionary/eo/issues/1442), [#1443](https://github.com/objectionary/eo/issues/1443) are still not solved.

[2022-11-11 09:30] IngeniariusSoftware commented on #1024
@MikhailLipanin The idea of the `failOnError` option is that even if some file contains an incorrect eo code, we simply print a `warning` with a message about the reason for skipping the file and continue compiling the remaining files. If we get a really `critical` error, then it seems logical to stop the pipeline and complete the compilation with the status `build failure`. If there are no `criti

[2022-11-11 10:10] ivan-egorov42 commented on #1383
@volodya-lombrozo It will be available soon: https://github.com/objectionary/eo/pull/1444

[2022-11-11 10:47] mximp commented on #1441
@volodya-lombrozo can you please describe the issue?

[2022-11-11 10:57] MikhailLipanin commented on #1024
@IngeniariusSoftware or do you mean: if we have any type of errors (`error`, `warning`, `critical`) and `failOnError` flag is `false`, we should do the full build ?